<?php
/**
 *
 * @var $this Scommerce_UniversAlanalytics_Block_List
 */
?>

<?php
$helper = Mage::helper('scommerce_universalanalytics');
if (!$helper->isEnabled() || !$helper->isEnhancedEcommerceEnabled()) return; ?>

<?php
$_productCollection = $this->getProductCollection();
$_category = Mage::getModel('catalog/layer')->getCurrentCategory();
$_categoryName = '';

if ($_category)
{
    $_categoryName = $_category->getName();
}

//Zend_Debug::dump($_categoryName);

$_mode = $this->getMode();
$_productUrls = array();
$_products = array();

if ($_mode == 'category')
{
    $_impressionList = 'Category' .' - '. $this->jsQuoteEscape($_categoryName);
    $_clickLabel   = $_impressionList;//'Category';
}
elseif ($_mode == 'search')
{
    $_impressionList = 'Search Results';
    $_clickLabel   = $_impressionList;//'Results';
}

$_loop = 1;

foreach ($_productCollection as $_product)
{
    $_productUrls[] = $_product->getProductUrl();

    $_products[] = array(
        'id' => $this->jsQuoteEscape($_product->getSku()),
        'name'  => $this->jsQuoteEscape($_product->getName()),
        'category' => $this->jsQuoteEscape($_categoryName),
        'brand' => $this->jsQuoteEscape($helper->getBrand($_product)),
        'list'  => $_impressionList,
        'position' => $_loop
    );

    $_loop++;
}

$_JsProducts = json_encode($_products);
$_JsProductUrls = json_encode($_productUrls);
?>

<script type='text/javascript'>
    //<![CDATA[
    var jsProducts = <?php echo $_JsProducts ?>;
    var jsProductUrls = <?php echo $_JsProductUrls ?>;
    var jsClickLabel = '<?php echo $_clickLabel?>';
	jQuery.removeCookie("productlist", { path: '/', domain: '<?php echo $helper->getCookieDomain()?>'});
    jsProducts.each(function(product, index){
        ga('ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });
	
	ga('send', 'pageview');
	
	ga('send', 'event', 'UX', 'click', jsClickLabel, {'nonInteraction': 1});
	
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	jsProducts.each(function(product, index){
        ga('<?php echo $helper->getLinkedAccountName()?>.ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });
	ga('<?php echo $helper->getLinkedAccountName()?>.send', 'pageview');
	
	ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', jsClickLabel, {'nonInteraction': 1});
	
	<?php endif;?>

    //]]>
</script>

<script type='text/javascript'>
    //<![CDATA[
    jQuery('a').on('click', function(e){
        var product;
        var href = jQuery(this).attr('href');
        var index = jsProductUrls.indexOf(href);

        if (index != -1)
        {
            //event.preventDefault();
			
            product = jsProducts[index];
            ga('ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('ec:setAction', 'click', {list: product.list});
			
			jQuery.cookie('productlist', product.list, { path: '/', domain: '<?php echo $helper->getCookieDomain()?>'});
		
            ga('send', 'event', 'UX', 'click', 'Product - ' + product.name, {'nonInteraction': 1}, {
                'hitCallback': function() {
                    if (!(e.ctrlKey || e.which==2)){
						document.location = href;
					}
                }
            });
			<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
			product = jsProducts[index];
            ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'click', {list: product.list});
			
			ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', 'Product - ' + product.name, {'nonInteraction': 1}, {
				'hitCallback': function() {
					if (!(e.ctrlKey || e.which==2)){
						document.location = href;
					}
				}
			});
			<?php endif;?>
        }
    });
    //]]>
</script>