<?php
/**
 * @var $this Scommerce_UniversAlanalytics_Block_View
 */
?>
<?php
$helper = Mage::helper('scommerce_universalanalytics');

if (!$helper->isEnabled() || !$helper->isEnhancedEcommerceEnabled()) return;

$_product = $this->getProduct();

$_category = Mage::registry('current_category');

if ($_category)
{
    $_categoryName = $_category->getName();
}
else
{
    $_categoryName = $helper->getProductCategoryName($_product);
}

$_relatedProductIds = $_product->getRelatedProductIds();

if (count($_relatedProductIds))
{
    $_relatedProducts =  $this->getProducts($_relatedProductIds);

    $_relatedProductUrls = array();
    $_relatedProductItems = array();
    $_relatedImpressionList = 'Related Product';
    $_relatedClickLabel = 'Related';
    $_loop = 1;

    foreach ($_relatedProducts as $_relatedProduct)
    {
        $_relatedProductUrls[] = $_relatedProduct->getProductUrl();
        //$_relatedProductUrls[] = substr($_relatedProductUrl,0, strpos($_relatedProductUrl, '?'));

        $_relatedProductItems[] = array(
            'id' => $this->jsQuoteEscape($_relatedProduct->getSku()),
            'name'  => $this->jsQuoteEscape($_relatedProduct->getName()),
            'category' => $this->jsQuoteEscape($helper->getProductCategoryName($_relatedProduct)),
            'brand' => $this->jsQuoteEscape($helper->getBrand($_relatedProduct)),
            'list'  => $_relatedImpressionList,
            'position' => $_loop
        );

        $_loop++;
    }

    $_JsRelatedProducts = json_encode($_relatedProductItems);
    $_JsRelatedProductUrls = json_encode($_relatedProductUrls);
}

$_upsellProductIds = $_product->getUpSellProductIds();

if (count($_upsellProductIds))
{
    $_upsellProducts = $this->getProducts($_upsellProductIds);

    $_upsellProductUrls = array();
    $_upsellProductItems = array();
    $_upsellImpressionList = 'Upsell Product';
    $_upsellClickLabel = 'Upsell';
    $_loop = 1;

    foreach ($_upsellProducts as $_upsellProduct) {
        $_upsellProductUrls[] = $_upsellProduct->getProductUrl();
        //$_upsellProductUrls[] = substr($_upsellProductUrl, 0, strpos($_upsellProductUrl, '?'));

        $_upsellProductItems[] = array(
            'id' => $this->jsQuoteEscape($_upsellProduct->getSku()),
            'name' => $this->jsQuoteEscape($_upsellProduct->getName()),
            'category' => $this->jsQuoteEscape($helper->getProductCategoryName($_upsellProduct)),
            'brand' => $this->jsQuoteEscape($helper->getBrand($_upsellProduct)),
            'list' => $_upsellImpressionList,
            'position' => $_loop
        );

        $_loop++;
    }

    $_JsUpsellProducts = json_encode($_upsellProductItems);
    $_JsUpsellProductUrls = json_encode($_upsellProductUrls);
}
?>
<?php if (count($_relatedProductIds)) { ?>
    <script type='text/javascript'>
        //<![CDATA[
        var jsRelatedProducts = <?php echo $_JsRelatedProducts ?>;
        var jsRelatedProductUrls = <?php echo $_JsRelatedProductUrls ?>;
        var jsRelatedClickLabel = '<?php echo $_relatedClickLabel ?>';

        jsRelatedProducts.each(function(product, index){
            ga('ec:addImpression', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'list': product.list,
                'position': product.position
            });
        });
        //]]>
    </script>
<?php } ?>
<?php if (count($_upsellProductIds)) { ?>
    <script type='text/javascript'>
        //<![CDATA[
        var jsUpsellProducts = <?php echo $_JsUpsellProducts ?>;
        var jsUpsellProductUrls = <?php echo $_JsUpsellProductUrls ?>;
        var jsUpsellClickLabel = '<?php echo $_upsellClickLabel ?>';

        jsUpsellProducts.each(function(product, index){
            ga('ec:addImpression', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'list': product.list,
                'position': product.position
            });
        });
        //]]>
    </script>
<?php } ?>
<script>
    //<![CDATA[
    ga('ec:addProduct', {
        'id': '<?php echo $this->jsQuoteEscape($_product->getSku()) ?>',
        'name': '<?php echo $this->jsQuoteEscape($_product->getName()) ?>',
        'category': '<?php echo $this->jsQuoteEscape($_categoryName) ?>',
        'brand': '<?php echo $this->jsQuoteEscape($helper->getBrand($_product)) ?>'
    });

    ga('ec:setAction', 'detail');
	
	ga('send', 'pageview');
	
	ga('send', 'event', 'UX', 'click', 'Product Detail - <?php echo $this->jsQuoteEscape($_product->getName())?>', {'nonInteraction': 1});
	
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
        'id': '<?php echo $this->jsQuoteEscape($_product->getSku()) ?>',
        'name': '<?php echo $this->jsQuoteEscape($_product->getName()) ?>',
        'category': '<?php echo $_categoryName ?>',
        'brand': '<?php echo $helper->getBrand($_product) ?>'
    });

    ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'detail');
	
	ga('<?php echo $helper->getLinkedAccountName()?>.send', 'pageview');
	
	ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', 'Product Detail - <?php echo $this->jsQuoteEscape($_product->getName())?>', {'nonInteraction': 1});
	<?php endif;?>
    //]]>
</script>
<?php if (count($_relatedProductIds) || count($_upsellProductIds)) { ?>
    <script type='text/javascript'>
        //<![CDATA[
        jQuery(document).on('click', 'a:not([href$="\\.jpg"])', function(e){
            var product, index;
            var href = jQuery(this).attr('href');
			<?php if (count($_relatedProductIds)) : ?>
			if (jsRelatedProductUrls == undefined){
                index = -1;
            }
            else{
                index = jsRelatedProductUrls.indexOf(href);
            }
			
            if (index != -1){
                //event.preventDefault();
                product = jsRelatedProducts[index];
                ga('ec:addProduct', {
                    'id': product.id,
                    'name': product.name,
                    'category': product.category,
                    'brand': product.brand,
                    'position': product.position
                });

                ga('ec:setAction', 'click', {list: product.list});
				
				jQuery.cookie('productlist', product.list, { path: '/', domain: '<?php echo $helper->getCookieDomain()?>'});
		
				ga('send', 'event', 'UX', 'click', jsRelatedClickLabel + ' - ' + product.name, {
                    'hitCallback': function() {
						if (!(e.ctrlKey || e.which==2)){
							document.location = href;
						}
                    }
                });
				
				<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
				product = jsRelatedProducts[index];
                ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
                    'id': product.id,
                    'name': product.name,
                    'category': product.category,
                    'brand': product.brand,
                    'position': product.position
                });

                ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'click', {list: product.list});
			
				ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', jsRelatedClickLabel + ' - ' + product.name, {
                    'hitCallback': function() {
                        if (!(e.ctrlKey || e.which==2)){
							document.location = href;
						}
                    }
                });
				<?php endif;?>
            }
			<?php endif;?>
			<?php if (count($_upsellProductIds)) : ?>
			if (jsUpsellProductUrls == undefined){
				index = -1;
			}
			else{
				index = jsUpsellProductUrls.indexOf(href);
			}

			if (index != -1){
			   // event.preventDefault();
				product = jsUpsellProducts[index];
				ga('ec:addProduct', {
					'id': product.id,
					'name': product.name,
					'category': product.category,
					'brand': product.brand,
					'position': product.position
				});

				ga('ec:setAction', 'click', {list: product.list});
				
				<?php $cookie = Mage::getSingleton('core/cookie');?>
				jQuery.cookie('productlist', product.list, { path: '/', domain: '<?php echo $helper->getCookieDomain()?>'});
		
				ga('send', 'event', 'UX', 'click', jsUpsellClickLabel + ' - ' + product.name, {
					'hitCallback': function() {
						if (!(e.ctrlKey || e.which==2)){
							document.location = href;
						}
					}
				});
				<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
				product = jsUpsellProducts[index];
				ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
					'id': product.id,
					'name': product.name,
					'category': product.category,
					'brand': product.brand,
					'position': product.position
				});

				ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'click', {list: product.list});
				
				ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', jsUpsellClickLabel + ' - ' + product.name, {
					'hitCallback': function() {
						if (!(e.ctrlKey || e.which==2)){
							document.location = href;
						}
					}
				});
				<?php endif;?>
			}
			<?php endif;?>
        });
        //]]>
    </script>
<?php } ?>