<?php
$product_id = Mage::registry('current_product')->getId();
?>
<div class="product_option_loader_bg"><div class="product_option_loader"></div></div>
<script>
    jQuery.noConflict();
    (function($wk_jq){

        $wk_jq('.btn-cart').removeAttr('onClick');
        $wk_jq('.btn-cart').on('click',function(){

            var sizeSelectId = jQuery('.super-attribute-select-size').attr('id');
            var sizeValid = productAddToCartForm.validator.validate('super-attribute-select-size');
            if(!sizeValid) {
                sizingErrorPopup.show();
                return false;
            }

            $wk_jq('.product_option_loader').html("<img src=<?php echo $this->getSkinUrl('ajaxcart/images/ajax-loader-32.gif'); ?> >loading...");
            var product_id="<?php echo $product_id; ?>";
         
        var  cart_url = jQuery("#product_addtocart_form").attr("action")

            var validate = productAddToCartForm.validator.validate();

            setTimeout(function() {
                adjustProductDetailPosition();
            }, 10);

            if(validate){
                var initialAddToCartButtonText = jQuery("#product-addtocart-button span").text();
                jQuery("#product-addtocart-button span").text("Adding...");

                $wk_jq(".product_option_loader_bg").show();
                $wk_jq.ajax({
                    url : cart_url,
                    type : "POST",
                    data : jQuery("#product_addtocart_form").serialize(),
                    success : function(data, status, xhr){

                        /*
                        This is here as without it a button can be pressed before the product is being returned with AJAX. You can replicate this by commenting out the below, selecting size and pressing the add to cart button quickly.
                        */

                        if(typeof data !== "object" && data.indexOf("<!DOCTYPE html>") > -1) {
                            return;
                        }

    setTimeout(function() {
        jQuery("#product-addtocart-button").attr('title', initialAddToCartButtonText);
        jQuery("#product-addtocart-button span").text(initialAddToCartButtonText);
        jQuery(".product-options .super-attribute-select:eq(0)").trigger("change");
    }, 1500);

                        if(typeof data !== "object") {
                            // called when adding to basket
                            $wk_jq('.close_option_container').trigger('click');
                            $wk_jq('.option_container_bg').hide();
                            $wk_jq('.header-minicart').html(data);

                            if (jQuery("html").hasClass("uk-notouch")) {
                                $wk_jq("body").animate({
                                    scrollTop: 0
                                },2000,function(){
                                    jQuery(".skip-link").trigger("click");
                                });
                            } else {
                                window.location.href =  jQuery('.skip-link').attr('href');
                            }
                        }
                        else {
                            $wk_jq('.close_option_container').trigger('click');
                            $wk_jq('.option_container_bg').hide();
                            $wk_jq('.header-minicart').html(data.content);


                            if (jQuery("html").hasClass("uk-notouch")) {
                                $wk_jq("body").animate({
                                    scrollTop: 0
                                },2000,function(){
                                    jQuery(".skip-link").trigger("click");
                                    $wk_jq('#minicart-error-message').text(data.error).fadeIn('slow');
                                });
                            } else {
                                window.location.href =  jQuery('.skip-link').attr('href');
                            }
                        }

                    },
                    error:function(a,b,c){
                        console.log('error');
                    }
                });
            }
            else
                return false;
        });

        $wk_jq(document).on('click','.skip-link-close',function(){
            closeHeaderMiniCart();
        });
    })(jQuery);
</script>
