<?php
/**
* Magento
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* @category    Yoma
* @package     Yoma_Realex
* @copyright   Copyright (c) 2014 YOMA LIMITED (http://www.yoma.co.uk)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
?>

<style>

    html {
        height: 100%;
    }
</style>
<div class="page-inner-container exeptional-page" id="checkout-success-container">
    <div id="checkout-success">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <h2 class="sub-title"><?php echo $this->__('Thank you for your order.') ?></h2>

        <?php if ($this->getOrderId()):?>
            <?php if ($this->getCanViewOrder()) :?>
                <p><?php echo $this->__('Your order number is <span>%s</span>', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
            <?php  else :?>
                <h3><?php echo $this->__('Your order number is <span>%s</span>', $this->escapeHtml($this->getOrderId())) ?></h3>
            <?php endif;?>
            <p><?php echo $this->__('The Maison Ralph & Russo is delighted to have received your order and we look forward to serving you again in the future. For your convenience an email confirmation will be sent to you shortly.') ?></p>
            <?php if($this->getRememberToken($this->getOrderId())):?>
                <p>Card details successfully and securely stored.</p>
            <?php endif; ?>
            <?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
                <p>
                    <?php echo $this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $this->getPrintUrl()) ?>
                    <?php echo $this->getChildHtml() ?>
                </p>
            <?php endif;?>
        <?php endif;?>

        <?php if ($this->getAgreementRefId()): ?>
            <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
        <?php endif;?>

        <?php if ($profiles = $this->getRecurringProfiles()):?>
            <p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
            <ul class="disc">
                <?php foreach($profiles as $profile):?>
                    <?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
                    <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
                <?php endforeach;?>
            </ul>
        <?php endif;?>

        <div class="buttons-set">
            <button type="button" class="button btn inverted " title="<?php echo $this->__('Go back to Home Page') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
        </div>
    </div>
</div>
