#boutique img{display:block}
#boutique h3{text-align:left}
#boutique a.back-to-btn{font-size:12px;line-height:1em}
#boutique #boutique-grid .make-an-appointment-btn{display:block;margin-top:20px;max-width:250px;width:100%}
#boutique #boutique-grid .row-1{margin-bottom:40px}
#boutique #boutique-grid .row-1 .first-col .introductory-copy{padding-bottom:30px;padding-right:30px}
#boutique #boutique-grid .row-1 .first-col .introductory-copy:last-child{padding-bottom:0}
#boutique #boutique-grid .row-1 .uk-width-1-3 p{font-size:14px;margin-bottom:25px;text-align:justify}
#boutique #boutique-grid .row-1 .uk-width-1-3 p.last-child{margin-bottom:40px}
#boutique #boutique-grid .row-1 .uk-width-1-3 .divider{height:1px;width:100%;background-color:#555;margin-bottom:40px}
#boutique #boutique-grid .row-1 .uk-width-1-3 h4{font-family:DidotLTPro-Roman;font-size:20px;line-height:30px;text-align:left;margin-bottom:15px}
#boutique #boutique-grid .row-1 .uk-width-1-3 .phone-link,#boutique #boutique-grid .row-1 .uk-width-1-3 address{text-align:left}
#boutique #boutique-grid .row-1 .uk-width-1-3 .phone-link{margin-bottom:0}
#boutique .uk-grid+.uk-grid{margin-top:0}
@media (max-width:767px){#boutique .btn:not(.inverted){display:inline-block}
#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3{padding-left:0;margin-bottom:0}
#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3 .divider,#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3 p.last-child{margin-bottom:30px}
#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3 .phone-link,#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3 address,#boutique #boutique-grid .narrow-container.first .row-1 .uk-width-1-3 h3{text-align:center}
#boutique #boutique-grid .make-an-appointment-btn{margin-left:auto;margin-right:auto}
#boutique #boutique-grid .row-1 .first-col .introductory-copy{padding-right:0}
}