.main-container,body,html{height:100%}
.footer-container{margin-top:0}
.mp-pusher{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}
#main{background:#f8f8f8;margin:0 20px;width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1}
.page{display:table;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-width:932px}
#adjcartalert-unsubscribed-page .unsubscribed-message{display:block;margin:0 auto;text-align:center}
#adjcartalert-unsubscribed-page a{margin-top:30px}