@import (reference) "../common/_extendableStyles.less";

.uk-modal {

	// &#lightbox-modal {
	// 	background: @semi-transparent-grey;
	// }
	//
	.uk-modal-dialog-lightbox {
		padding: 0px;
		max-width: initial;

		.uk-close:first-child {
			top: 15px;
			right: 15px;
			.size(38px, 38px);
			background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/layout/CROSS-DESKTOP@2x.png");
			background-size: cover;
			cursor: pointer;
			display: block;

			&:after {
				content: "";
			}
		}
	}

	&.uk-open {
		.uk-lightbox-content {
			opacity: 1 !important;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
			filter: alpha(opacity=100) !important;
		}
	}

}

// @media (max-width: @mobile-media-query) {
// 	.uk-modal {
// 		margin-top: 0px;
// 	}
// }
