@import (reference) "../common/_extendableStyles.less";

.uk-modal {

	&#lightbox-modal {
		background: @semi-transparent-grey;
	}

	.uk-modal-dialog-lightbox {
		width: 100% !important;
		margin: 0px !important;
		top: 0px !important;
		max-width: 100% !important;
		height: auto !important;
		padding: 0px;
		background: @semi-transparent-grey;

		.uk-lightbox-content {
			.uk-responsive-width {
				max-width: none !important;
				width: 100% !important;

				.horizontally-centered-block-element;
			}

		}
		.uk-close:first-child {
			top: 15px;
			right: 15px;
			.size(38px, 38px);
			background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/layout/CROSS-DESKTOP@2x.png");
			background-size: cover;
			cursor: pointer;
			display: block;

			&:after {
				content: "";
			}
		}
	}

	&.uk-open {
		.uk-lightbox-content {
			opacity: 1 !important;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
			filter: alpha(opacity=100) !important;
		}
	}

}

@media (max-width: @mobile-media-query) {
	.uk-modal {
		margin-top: 0px;
	}
}
