@import (reference) "../base/_animate.less";
@import (reference) "../common/_extendableStyles.less";

@four-columns: 1545px;
@two-columns: 1000px;
@one-column: 500px;
@gold: #a87357;

#lookbook {
    margin-top: @med-spacing;

    @media(max-width: @tablet-media-query) {
        margin-top: 7px;
    }

    &.close-btn-color-dark {
        a.zoom-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 32px;
            height: 32px;
            background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DARK-DESKTOP@2x.png");
        }
    }


    .social-media-links  {
        a {
            max-width: 24px;
            width: 20%;

            @media(max-width: 775px) {
                margin-right: 10%;

                &:last-child {
                    margin-right: 0px;
                }
            }

            @media(max-width: 572px) {
                margin-right: 13%;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .small-social;
    }
}

.uk-modal .uk-close.close-btn-color-light {
    background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/lookbook/CROSS-WHITE-DESKTOP@2x.png") !important;
}

#main .lookbook-row.uk-grid {

    @media (max-width: 1220px) {
        margin-left: -2%;
    }

    @media (min-width: 1220px) {
        margin-left: -25px;
    }
}

.slick-slide a.hover-container  {
   background: rgba(255,255,255,0); // Don't set it to none/transparent, IE10 doesn't make transparent links clickable
}

// Magento pulls products to this page and shows using this block
// we need to remove the block, but this might be useful for debugging
.category-image, .page-title, .note-msg {
    display: none;
}

.lookbook-enquiries a {
    color: @gold;
}

#lookbook-grid .lookbook-pane ,
#lookbook-roller.uk-grid {
    margin: 17px 0;
    margin-left: 0px;
}

#lookbook-grid .lookbook-pane {
    margin-bottom: 10px;
}

@media (max-width: @four-columns) {
    #lookbook-grid .lookbook-pane ,
    #lookbook-roller.uk-grid {
        margin: 16px 0;
    }

    #lookbook-grid .lookbook-pane {
        margin-bottom: 8px;
    }
}

@media (max-width: @two-columns) {
    #lookbook-grid .lookbook-pane ,
    #lookbook-roller.uk-grid {
        margin: 9px 0;
    }

    #lookbook-grid .lookbook-pane {
        margin-bottom: 3px;
    }
}




#lookbook-grid {
    .lookbook-pane {
        opacity: 1;
        width: 20%;
        padding-left: 2%;
        cursor: pointer;
        -webkit-transition: opacity 0.75s;
        -moz-transition: opacity 0.75s;
        -ms-transition: opacity 0.75s;
        -o-transition: opacity 0.75s;
        transition: opacity 0.75s;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);


        @media (max-width: @four-columns) {
            width: 25%;
        }

        /* iPads (landscape) ----------- */
        //    @media only screen and (min-device-width : @tablet-media-query) and (max-device-width : 1024px) and (orientation : landscape) {
        //     width: 25%;
        // }

        @media (max-width: @two-columns) {
            width: 50%;
        }

        @media (max-width: @one-column) {
            width: 100%;
        }

        img {
            width: 100%;
        }

        &.lookbook-selected-look {
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity=50);
        }
    }
}

#lookbook-roller.uk-grid {

    padding-left: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    &.prevent-animation {
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
    }

    &.roller-hidden {
        margin: 0px;
        height: 0px !important;
    }

    &.roller-visible {
    }

    .lookbook-content {
        padding-left: 0px;
        margin: 0px;

        .uk-width-4-10, .uk-width-6-10  {
            @media (max-width: @two-columns) {
                float: left!important;
                width: 50%;
                padding-left: 2%;
            }

            @media (max-width: @one-column) {
                width: 100%;
            }
        }
    }

    .social-links-follow-us {
        display: none;
    }

    .social-media-links {
        margin-bottom: 45px;
    }
}
#lookbook-content-image-container {
    padding-left: 2%;
    position: relative;

    #lookbook-roller-image {
        width: 100%;
        display: block;
    }

    a.zoom-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 32px;
        height: 32px;
        background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DESKTOP@2x.png") no-repeat;
        background-size: contain;

        @media(max-width: @exception-desktop-media-query) {
            .size(24px, 24px);
        }
    }
}

.lookbook-roller-detail {
    text-align: center;
    letter-spacing: initial;

    .close-btn {
        margin-bottom: 30px;
        left: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: auto;
        top: auto;
    }

    p {

        margin-top: 20px;
        text-align :left;
    }

    > * {
        margin: 1% 10%;
    }

    button {
        text-transform: uppercase;
        margin: 20px auto 10px auto;
        display: block;
    }
}

#haute-couture {
    .btn, a.btn, button {
        min-width: 130px;
    }

    button.slick-prev, button.slick-next {
        min-width: 0px;
    }

    #runway-looks {
        .btn:not(.inverted) {
            @media(max-width: @mobile-media-query) {
                display: inline-block;
            }
        }
    }

    .no-products {

        .btn.inverted {
            min-width: 180px;
            display: block;
            margin: 0 auto;
        }

        #coming-soon {
            position :absolute;
            left: 50%;
            top: 40%;
            font-size: 35px !important;
            width: 360px;
            margin-left: -180px;
            padding: 10px 5px;
            padding-top: 19px;
            background: rgba(255,255,255,0.7);
            display: block;


            @media (max-width: @tablet-media-query) {
                top: 30%;
            }
            @media(max-width: @mobile-small-media-query) {
                font-size: 20px !important;
                top: 25%;
                width: 260px;
                margin-left: -130px;
            }

        }
    }


}

#backstage-story {
    .introductory-copy.narrow {
        max-width: 650px;
        padding-top: 0px;
    }

    p {
        margin-bottom: 10px;
    }
}

#lookbook-pane-modal {

    .appointment-btn {
        display: block !important;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .social-media-links {
        .small-social;
    }
}

#lookbook-roller-detail-short-description {
    display: none;
}

#make-an-enquiry-modal, #be-the-first-to-hear-modal {
    h3 {
        text-transform: initial;
    }
}


.page {
  .lookbook-preview-back-to-previous {
    display: none;
}
.breadcrumbs {
    margin-top: 0px;
}
}
