<?php
$_helper    = $this->helper('catalog/output');
$category  = $this->getCurrentCategory();
$_imgHtml   = '';

if ($_imgUrl = $category->getImageUrl()) {
	$_imgHtml = '<p class="uk-hidden-small category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($category->getName()).'" title="'.$this->escapeHtml($category->getName()).'" /></p>';

	$_imgHtmlMobile = '<p class="uk-visible-small category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($category->getName()).'" title="'.$this->escapeHtml($category->getName()).'" /></p>';

	$_imgHtml = $_helper->categoryAttribute($category, $_imgHtml . $_imgHtmlMobile , 'image');
}


if ($category->getLevel() == 2) {
	// this means it's a top-level category in Magento. Higher up is Ralph and Russo,
	// hence parent == this
	$parentCategory = $category;
	$childrenCategories = "";


} else {
	$parentCategory = $category->getParentCategory();
	$childrenCategories = $parentCategory->getChildren();
}


?>

<div id="product-page" class="info-page page-inner-container layout2-page">

	<h2> <span> <?= $parentCategory->getName() ?></span>
		<?= $category->getName() ?></h2>
		<section class="reduced-gutter">

			<?php if($_imgUrl): ?>
				<?php echo $_imgHtml ?>
			<?php endif; ?>

		</section>
		<div class="narrow-container">
			<!-- <section>
			<?php if($_description=$category->getDescription()): ?>
			<p class="introductory-copy">
			<?= $_description; ?>
		</p>
	<?php endif; ?>
</section> -->
<?php echo $this->getProductListHtml() ?>

<div class="line-separator"></div>

<section id="backstage-story">
	<?= Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($category->landing_page)->toHtml(); ?>
</section>

<?php if (count(explode(',',$childrenCategories)) > 0):


	$validCategories = [];

	foreach(explode(',',$childrenCategories) as $subCatid) {

		$cat = Mage::getModel('catalog/category')->load($subCatid);

		if ($cat->getId() == $category->getId())
			continue;

		if (stripos($cat->getName(), "preview") !== false)
			continue;

		array_push($validCategories, $cat);

	}

	if (count($validCategories) > 0):

		?>
	<div id="carousels">

		<div id="carousels-backstage">

			<h3> <span> You Might Also Like </span>
				More Styles </h3>

				<div class="box-collateral box-up-sell">
					<div id="carousels-more-shoe-styles">

						<?php
						foreach($validCategories as $cat):
							?>
						<div>
							<a href="<?= $cat->getUrl() ?>" >
								<img alt="" src="<?= $cat->getThumbnailUrl() ?>" alt="Couture">
							</a>
							<h4 class="carousel-page-header"><?= $cat->getName() ?></h4>
						</div>

					<?php endforeach; ?>

				</div>
			</div>
		</div>
	</div>

<?php endif; ?>
<?php endif; ?>


<div id="carousels" style="display: none;">

	<div id="carousels-backstage">

		<style>
			.slick-track {
				margin-left: auto;
				margin-right: auto;
			}
		</style>

		<h3> Explore </h3>
		<div class="box-collateral box-up-sell">
			<div id="carousels-more-shoe-styles">


<?php
	$globalCats = Mage::getModel('catalog/category')->load(2)->getChildren();

	foreach (explode(',',$globalCats) as $forCat) {

		$cat = Mage::getModel('catalog/category')->load($forCat);


		if($cat->getId() == 186 || $cat->getId() == 57 || $cat->getId() == 93 || $cat->getId() == 163) {
		?>
		<div>
			<a href="<?= $cat->getUrl() ?>" >
				<img alt="" src="<?= $cat->getThumbnailUrl() ?>" alt="Couture">
				<h4 class="carousel-page-header"><?= $cat->getName() ?></h4>
			</a>
		</div>
		<?php
		}
	}
?>

	</div>
</div>
	</div>
</div>

</section>
</div>
</div>

<script type="text/javascript">
	jQuery.noConflict();
	jQuery(document).ready(function(){
	// jQuery('.fancybox').fancybox(
	// 	{
	// 	   hideOnContentClick : true,
	// 	   width: 382,
	// 	   autoDimensions: true,
	//        type : 'iframe',
	// 	   showTitle: false,
	// 	   scrolling: 'no',
	// 	   onComplete: function(){
	// 		jQuery('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
	// 			jQuery('#fancybox-content').height(jQuery(this).contents().find('body').height()+30);
	// 			jQuery.fancybox.resize();
	// 		 });
	//
	// 	   }
	// 	}
	// );
});
	function showOptions(id){
		jQuery('#fancybox'+id).trigger('click');
	}
	function setAjaxData(data,iframe){
		if(data.status == 'ERROR'){
			alert(data.message);
		}else{
			alert("THIS IS GOOD")
			if(jQuery('.block-cart')){
				jQuery('.block-cart').replaceWith(data.sidebar);
			}
			if(jQuery('.header .links')){
				jQuery('.header .links').replaceWith(data.toplink);
			}
			jQuery.fancybox.close();
		}
	}
	function setLocationAjax(url,id){
		url += 'isAjax/1';
		url = url.replace("checkout/cart","ajax/index");
		jQuery('#ajax_loader'+id).show();
		try {
			jQuery.ajax( {
				url : url,
				dataType : 'json',
				success : function(data) {
					jQuery('#ajax_loader'+id).hide();
					setAjaxData(data,false);
				}
			});
		} catch (e) {
		}
	}
</script>
