@import (reference) "../../common/_extendableStyles.less";

#search-popup {
	display: none;
	position: absolute;
	z-index: 1000;
	text-align: center;
	background: @white;
	padding: 45px 0px 0px;
	border-top: 0;
	width: 100%;
	margin-top: -1px;
	left: 0px;
	opacity: 0;
	.transition(opacity 0.6s ease);

	.block1 {
		.horizontally-centered-block-element;
		text-align: center;
		width: 100%;
	}

	.form-group {
		margin-bottom: 0px;
		.horizontally-centered-block-element;
		text-align: center;
		max-width: 164px;
		padding-bottom: 50px;
		input {
			width: auto;
			vertical-align: middle;
			margin-bottom: 0px;
			border: 0px;
			padding: 0px 10px;
		}

	}

	#search_autocomplete {
		position: absolute !important;
		display: block !important;
		top: auto !important;
		left: auto !important;
		width: 100% !important;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		background: @white;
		// padding-bottom: 40px;

		#no-result {
			background: rgba(255,255,255,0.5);
			width: 100%;
			text-align: center;
			padding: 15px 0px;
			position: absolute;
			top: 0px;
		}

		ul {
			max-width: 910px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			.padded-container;
			li {
				max-width: 265px;
				display: inline-block;
				margin-bottom: 45px;

				img {
					.horizontally-centered-block-element;
					width: 100%;
				}

				.title {
					padding-top: 20px;
					max-width: 215px;
					.horizontally-centered-block-element;
				}
			}
		}
	}
}

#search-running {
	text-align: center;
	position: relative !important;
	top: auto !important;
	left: auto !important;
	.horizontally-centered-block-element;
	padding-bottom: 100px;
	padding-top: 60px;
}
