@import (reference) "../base/_variables.less";

#more-info {
    padding-bottom: 60px;
    margin-bottom: 56px;
    border-bottom: solid 1px @light-grey;

    @media (max-width:@mobile-media-query-max) {
        margin-bottom: @mobile-vertical-spacing;
        padding-bottom: @mobile-vertical-spacing;
    }
    @media (max-width:@mobile-media-query) {
        margin-bottom: @med-spacing;
        padding-bottom: 10px;
    }


    p.description {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        font-family: @font-family-second-base-italic;
        margin: 100px 0;
    }


    @media (max-width:@mobile-media-query) {
        img.mobile-large-image {
            width: 120%;
            max-width: 120%;
            margin-left: -10%;
        }

        p.description {
            margin: @extra-med-spacing 0px;
        }
    }
}
