@import (reference) "../base/_variables.less";
@import (reference) "../base/_mixins.less";

#detailed-info {

    text-align: center;
    margin-bottom: 30px;
    .transition(0.5s height);
    height: 32px;
    //
    ul {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    li {
        margin-bottom: 3px;
        margin-left: 15px;
        list-style: disc;
        font-size: 13px;
        text-align: left;

        &.detailed-nav-item:hover {
            font-weight: bold;
        }
    }

    .box-collateral  {

        line-height: 22px;

        p, a {
            font-size: 13px;
        }

        p {
            margin-bottom: 3px;
        }

    }

    .box-collateral > li, .uk-accordion-title {
        font-size: 12px;
        color: #a87357;
        font-family: @font-family-base-medium;
        text-transform: uppercase;
        list-style: none;
        margin: 0 10px;
        display: inline-block;
        cursor: pointer;

        .highlighter {
            height: 2px;
            background: #a87357;
            margin-top: 8px;
            margin-left: auto;
            margin-right: auto;
            width: 15px;
            display: block;
            opacity: 0;
            .transition(0.5s opacity);
        }

        &.active {
            color: @dark-grey;

            .highlighter {
                opacity: 1;
            }
        }
    }

    .detailed-info-pane, .uk-accordion-content {
        margin-top: 20px;
        text-align: justify;;
    }

    .detailed-info-pane {
        opacity: 0;
        width: 600px;
        left: 50%;
        margin-left: -280px;
        position: absolute;
        .transition(0.5s opacity);
        // -webkit-transition-delay: 0.1s;
        // transition-delay: 0.1;
        // -ms-transition-delay: 0.1s;
        // -o-transition-delay: 0.1s;
        &.visible {
            opacity: 1;
            z-index: 999;
        }

        ul.ul1 {

            margin-left: 15px;

            li {
                float: left;
                width: 33.33%;
                margin-left: 0;
                padding-right: @med-spacing;
            }
        }
    }
}

@media (max-width:@tablet-media-query-mini-max) {

    #detailed-info {

        height: auto !important;
        margin-bottom: 0px;

        .uk-accordion-content {

            p {
                margin-bottom: 3px;
            }
        }

        .uk-accordion-title {
            border-bottom: solid 1px #a87357;
            margin-bottom: 0px;
            display: block;
            margin: 0px;
            margin-top: 15px;
            text-align: left;
            width: 100%;

            background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/form/select-arrow-brown.png") 95% 50% no-repeat;


            &.uk-active {
                color: #565656;
                border-bottom-color: #565656;

                background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/form/select-arrow.png");
            }

            p {
                margin: 0px;
            }
        }
    }
}
