@import "../base/_variables.less";

.box-up-sell {
    margin-bottom: 60px;
    text-align: center;

    img {
        width: 100%;
    }

    h3 {
        margin-bottom: 38px;
    }

    &.carousel-with-navigation {
        h3 {
            margin-bottom: 60px;
        }
    }

    .slick-slider {
        margin-top: 0;
    }

    .product-description {
        font-family: @font-family-base-medium;
        font-size: 12px;
    }

    .price {
        font-family: @font-family-base-medium;
        margin-top: 5px;
        color: @very-light-grey;
    }

    .product-description, .product-name {
        margin: 0 20%;
    }

    @media (max-width:@mobile-media-query-max) {
        margin-bottom: @mobile-vertical-spacing;

        .slick-slide {
            margin: 0 8px;
        }

    }

}
