@import (reference) "../base/_mixins.less";

#product-main-image {

    position: relative;
    height: 100%;

    img {
        position: absolute;
        top: 25px;
        left: -1.2%;
        width: 100%;
        max-width: 725px;

        @media (max-width:@product-detail-exception-media-query) {

            bottom: 70%;
            display: block;
            left: 12%;
            margin: 0 auto;
            width: auto;
            height: 80%;

            @media (max-width:563px) {
                left: -1%;
            }

            @media (max-width:@mobile-small-media-query) {
                left: -5%;
            }
        }
    }

    .gallery-image {
        opacity: 0;

        .transition(0.5s opacity);

        &.visible {
            opacity: 1;
        }
    }

    #image-main {
        display: none;
    }

}

body.catalog-product-view {
    .page-inner-container {
        padding: 0px;
    }

}
