@import (reference) "../base/_variables.less";

#product-single-header {

    .product-name {
        font-family: @font-family-base-black;
        font-size: 20px;
        text-align: left;
        margin-bottom: 0px;
        line-height: 21px;

        @media (max-width:@mobile-small-media-query) {
            font-size: @font-size-large;
            margin-bottom: 15px;
            line-height: 27px;
        }
    }

    .short-description {
        font-family: @font-family-base-medium;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;

    }

    .price {
        font-family: @font-family-base;
        font-size: 20px;
    }

    .sizing-info {
        font-family: @font-family-base;
        display: inline-block;
    }

    .vat-note {
        font-family: @font-family-base;
        font-size: 10px;
        color: @very-light-grey;
        margin-top: 2px;
        margin-bottom: 10px;
        line-height: 14px;

        @media (max-width:@mobile-media-query-max) {
            margin-bottom: 20px;
        }
    }
}

strong {
    font-family: @font-family-base-black;
}
