@mobile-vertical-spacing: 60px;


@import "_product-single-media.less";
@import "../base/_variables.less";
@import "_product-single-typography.less";
@import "_product-single-upsell.less";
@import "_product-single-detailed-info.less";
@import "_product-single-more-info.less";
@import "_product-single-colour-options.less";
@import (reference) "../layout/_forms.less";

#main {
    // background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/catalog/single-product/header-bg.png") repeat-x;
    margin: 0px @large-small-spacing;
    width: auto;

    .page {
        padding-top: 0px;
    }

    @media (max-width:@mobile-media-query) {
        margin: 0px;
    }

    @media (max-width:@tablet-media-query-mini-max) {
        background-position-y: -180px!important;
    }

    @media (max-width:@mobile-small-media-query) {
        background-position-y: -290px!important;
    }

    .breadcrumbs {
        position: absolute;
        left: 70px;

        li {

            &, a {
                color: #cccccc;
            }

            &.product {
                color: #555555;
            }
        }
    }

    .page-inner-container.layout2-page {
        @media (max-width:@product-detail-exception-media-query) {
            #product-single-header h2.product-name {
                padding-left: 0px;
                padding-right: 0px;
            }

            .uk-grid {
                margin-left: 0px;
            }
        }

    }
}

body.catalog-product-view {
    .page-inner-container {
        padding: 0px;
    }

}



#product-single-header {
    height: 490px!important;
    margin-bottom: 40px;
    overflow: hidden;

    @media (max-width: @product-detail-exception-media-query) {
        height: auto !important;
        margin-bottom: 0px;
    }


    @media (max-width:@tablet-media-query-mini-max) {
        height: auto !important;
    }

    @media (max-width:@mobile-media-query) {
        margin-bottom: 0px;
    }

    #product-variation-name {
        text-transform: uppercase;
        margin-top: 2px;
    }

    .prod-description {
        text-transform: uppercase;
    }

    .thumb-link img {
        display: none;
    }

    #configurable_swatch_rr_color {
        display: none;
    }

    select.no-display {
        display: none;
    }

    .size-select {
        .validation-advice {
            display: none !important;
        }
    }

    // Size
    #attribute186 {
        width: 35%;
        min-width: 0px;
        margin-bottom: 10px;

        @media (max-width:@tablet-media-query-mini-max) {
            width: 45%;
            margin-bottom: 10px;
        }
    }

    .product-options {
        position: relative;
    }

    #attribute234 {
        width: 70%;

        @media (max-width:@mobile-media-query) {
            width: 100%;
        }
    }

    .form-container {

        padding-right: 25px;
        padding-left: 25px;

        @media (max-width: @product-detail-exception-media-query) {
            float: none;
            width: 100%;
            margin-bottom: 10px;
            margin-bottom: 30px;
            padding-left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0px;
        }


        form {
            margin-right: 20%;
            width: 100%;

            @media (max-width: @product-detail-exception-media-query) {
                margin: 0px auto;
                max-width: 572px;
                width: 100%;
                .border-bottom;
            }

        }
    }

    .price {
        margin-top: 10px;
        padding-bottom: 5px;
    }

    .main-image-container {

        div {
            height: 100%;
        }
      .slick-list{
        min-height: 360px;
      }

        height: 538px;

        @media (max-width: @product-detail-exception-media-query) {
            padding-left: 0px;
            float: none;
            width: 100%;
            margin-bottom: 15px;
            padding-left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }

        @media (max-width:@product-detail-exception-media-query) {
            height: 442px;
            padding-bottom: 0px;
        }

        @media (max-width: @tablet-media-query) {
            height: 442px;
            padding-bottom: 0px;
          margin-bottom: 10px!important;
        }

        @media (max-width:@mobile-small-media-query) {
            height: 272px;
            margin-bottom: @small-spacing !important;
        }

        .product-image-thumbnails {
            @media (max-width: @product-detail-exception-media-query) {
                display: none;
            }
        }

    }


    .social-links-follow-us {
        display: none;
    }

    #hidden-span {
        &:extend(form .select);
        position: absolute;
        opacity: 0px;
        z-index: -1;
        height: auto !important;

    }

    select, #hidden-span  {
        -webkit-appearance: none;
        border: none;
        border-bottom: solid 1px #555;
        background-color: none;
        display: block;
        height: 28px;
        box-shadow: none;
        background-position-x: 93%;
        width: 100%;
        border-radius: 0px;
        padding-right: 50px;
        min-width: 100px;
        margin-right: 20px;

        text-transform: uppercase;


        @media (max-width:@tablet-media-query-mini-max) {
            border: solid 1px #555;
        }

        @media (min-width:@tablet-media-query-mini-max) {
            padding-left: 0px;
        }
    }

    .add-to-cart {
        margin-top: 0px;
        overflow: hidden;
        display: table;
        width: 100%;
        padding-bottom: 7px;

        #btn-cart-container {
            display: table-cell;
            float: left;
            width: 100%;
            padding-right: 12px;

            button#product-addtocart-button {
                margin-bottom: 0px;
                margin-top: 0;
                min-width: 100px;

                @media (max-width: 1200px) {
                    padding: 0 7px;
                }

                @media (max-width:@tablet-media-query-mini-max) {
                    max-width: 100%;
                }

            }

            button#product-addtocart-button[disabled] {
                cursor: default;
                opacity: 0.8;
            }
        }
    }

    .call-us-container {
        @media (max-width:@tablet-media-query-mini-max) {
            width: 40%;
        }
    }


    .call-us-container {
        display: table-cell;
        width: 100px;
        vertical-align: top;

        // @media (max-width: 910px) and (min-width: @product-detail-exception-media-query ) {
        //     width: 49px;
        // }

        @media (max-width:@tablet-media-query-mini-max) {
            max-width: 100%;
            width: 100%;
        }

        @media (max-width:@product-detail-exception-media-query) {
            width: 42%;
        }

        a.btn.call-us-btn, a.btn.call-us-mobile-btn {
            padding-left: 5px;
            padding-right: 0;
            width: 100%;
            min-width: 0;
            letter-spacing: .7px;
            font-size: 12px;


            @media (max-width: 910px) {
                // width: 49px;
                text-align: center;
                padding-left: 0;

                img {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }

            @media (max-width:@tablet-media-query-mini-max) {
                width: 100%;
                display: block;
                text-align: center;
                padding-left: 0;

                span {
                    display: inline;
                }

            }

            @media (max-width:@product-detail-exception-media-query) {
                max-width: 400px;
                margin: 0 auto;
                padding-right: 12px;
                padding-left: 12px;

                span {
                    display: inline;
                    padding-left: 13px;
                }

            }

        }
    }

    .input-box {
        position: relative;

        .ellipsis {
            display: none;
        }

        &.with-ellipsis {

            .ellipsis {
                display: block;
                width: auto;
                display: inline;
                position: absolute;
                right: 37px;
                height: 100%;
                line-height: 28px;
            }
        }
    }

    .sizing-info {
        background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/catalog/single-product/sizing-info.png");
        background-repeat: no-repeat;
        vertical-align: top;
        line-height: 13px;
        overflow: hidden;
        padding: 4px 8px 4px 26px;
        background-position: 5px center;
        background-size: 13px;
        min-height: 0px;
        min-width: 0px;
        letter-spacing: 0.5px;
        font-size: @font-size-small;

        &:hover {
            background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/catalog/single-product/sizing-info_white.png");
        }

        @media (max-width:@tablet-media-query-mini-max) {
            float: none;
            width: auto;
            vertical-align: top;
            line-height: 13px;
            margin-top: 0px;
        }

        @media (max-width:@mobile-media-query) {
            top: 0px;
            left: auto;
            right: auto;
        }

    }

    .social-media-links {
        margin: 16px 0px 0px;

        a {

            @media (min-width:@tablet-media-query-mini-max) {
                width: 16px;
                margin-right: 10%;
            }
        }
    }

    .out-of-stock-container {
        padding-top: 0px;
        p, a {
            font-size: @font-size-small;
        }
        @media(max-width:880px) {
            p br {
                display: none;
            }
        }

        @media (max-width:@mobile-media-query) {
            p br {
                display: block;
            }
        }
        .availability.out-of-stock {
            color: @brown;
            padding: 0px;
            .h3 {
                color: @brown;
                margin-top: 0px;
                display: block;
                text-align: left;
                margin-bottom: 8px;
            }
        }

        // @media (max-width:920px) and (min-width:@tablet-media-query-mini-max){
        //     br {
        //         display: none;
        //     }
        // }
    }


    .call-us-container.out-of-stock {
        display: block !important;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;

        a.call-us-btn {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .uk-grid {
        position: relative;

        .form-container {
            @media(min-width: (@product-detail-exception-media-query + 1px)) {
                position: absolute;
                right: 0;
            }
        }

        #product-main-image {
            #image-main {
                display: block;
            }

            .product-image-gallery {
                background: url("../../images/catalog/single-product/header-bg-update.jpg") repeat-x;
              background-size: auto 100%;

                @media (max-width: @product-detail-exception-media-query) {
                    background: none;
                }

                &.mobile {
                    display: none;
                }
                &.desktop {
                    display: block;
                }

                @media (max-width: @product-detail-exception-media-query) {
                    &.mobile {
                        display: block;
                      position: relative;

                      .slick-slider{
                        margin: 0;
                      }
                        li {
                          margin-left: 0;
                          margin-right: 0;

                            &.non-styleshot {
                                background: url("../../images/catalog/single-product/header-bg-update.jpg") repeat-x;
                                background-size: auto 100%;
                            }

                            img {
                                opacity: 1;
                                position: inherit;
                                display: block;
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                                text-align: center;
                                max-width: 100%;
                                height: auto;

                                &.non-styleshot {
                                    height: auto;
                                    width: auto;
                                    margin: 20px auto 0;
                                    left: -50px;
                                    top: 0;
                                  max-height: 394px;
                                }
                            }
                        }
                      .slick-arrow{
                        width: 20px;
                        height: 45px;
                        top: 50%;
                        margin: -23px 0 0;
                        background: url(../../images/catalog/single-product/control-slider-mb.png) no-repeat;
                        background-size: auto 38px;
                        z-index: 1;
                        opacity: 0.8;
                        font-size: 0;
                        position: absolute;

                        &:before{
                          display: none;
                        }
                        &:hover{
                          opacity: 1;
                        }
                        &.prev-arrow{
                          left: 10px;
                        }
                        &.next-arrow{
                          left: auto;
                          right: 10px;
                          background-position: top right;
                        }
                      }
                    }
                    &.mobile.slick-slider {
                        margin: 0;
                    }
                    &.desktop {
                        display: none;
                    }
                }

                @media (max-width: @tablet-media-query-mini-max) {
                    &.mobile {
                        li {

                            img.non-styleshot {
                                height: auto;
                                width: auto;
                                left: -50px;
                            }
                        }

                    }
                }

              /*-- Fix height for product image center on mobile -*/
              @media (max-width:@product-detail-exception-media-query) {

                &.mobile{
                  li{
                    overflow: hidden;
                    height: 442px;

                    img{
                      &.styleshot{
                        position: relative;
                        max-width: none;
                        height: 442px;
                        max-height: none;
                        width: auto;
                        left: 50%;
                        bottom: 0;
                        top: auto;
                        right: auto;
                        transform: translate(-50%,0);
                        -webkit-transform: translate(-50%,0);
                        margin: 0;
                      }
                      &.styleshot{
                        height: 442px;
                      }
                    }
                  }
                }
              }

              @media (max-width: @tablet-media-query) {
                &.mobile{
                  .slick-list{
                    min-height: 0;
                  }
                  li{
                    height: 442px;

                    img{
                      &.styleshot{
                        height: 442px;
                      }
                    }
                  }
                }
              }
              @media screen and (max-width: 599px) and (min-width: 401px){
                &.mobile{
                  li{
                    height: 442px;

                    img.non-styleshot{
                      position: absolute;
                      bottom: 50px;
                      top: auto;
                      left: -50px;
                    }
                  }
                }
              }
              @media (max-width:@mobile-small-media-query) {
                &.mobile{
                  li{
                    height: 272px;

                    img{
                      &.styleshot{
                        height: 272px;
                      }
                      &.non-styleshot{
                        position: absolute;
                        bottom: 0;
                        top: auto;
                        left: -50px;
                      }
                    }
                  }
                }
              }
            }
            /*-- End fix height --*/


            img.styleshot {
                max-width: none;
                top: 0;
                left: 50%;
              transform: translate(-50%,0);
              -webkit-transform: translate(-50%,0);
                width: auto;
              height: 491px;
            }
        }

        .product-image-thumbnails {
            position: absolute;
            z-index: 999;
            width: 110px;
            margin-left: 20px;
            margin-top: 20px;

            .top-arrow {
                display: inline-block;
                height: 20px;
                width: 20px;
                transform: rotate(45deg);
                transform-origin: center center;
                border-top: 1px solid black;
                border-left: 1px solid black;
                margin-left: 44px;
                margin-top: 23px;
            }

            .bottom-arrow {
                display: inline-block;
                height: 20px;
                width: 20px;
                transform: rotate(45deg);
                transform-origin: center center;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                margin-left: 44px;
                margin-top: 4px;
            }

            .thumbnails-list {
                margin: -5px 0;

                li {
                    opacity: 0.5;
                    border: none;
                    padding: 0;
                    margin: 5px 15px;

                    &.slick-current {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.header-details {
    margin-right: 0px;
    opacity: 0;
    background: @white;
    padding: 20px;


    @media (max-width:@product-detail-exception-media-query) {
        margin-top: 0px !important;
        margin-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

}

.breadcrumbs {
    padding-top: 20px;
}

.product_option_loader_bg {
    display: none !important;
}

#extra-text {
    margin-top: 10px;
    display: none;
    text-transform: uppercase;;
}

@media (max-width:@tablet-media-query-mini-max) {
    .social-media-links {
        text-align: center
    }
}

// Don't show configurable product images until loaded by the dropdown
#more-info-detail-1, #more-info-detail-2 {
    .transition(0.5s opacity);
    opacity: 0;
    display: block;
}

#more-info-detail-1.visible, #more-info-detail-2.visible {
    opacity: 1;
}


//colour variations
#variations-picker {
    max-width: 705px;
    .horizontally-centered-block-element;

    .configurable-swatch-list li a img {
        max-width: 90px;
        height: auto;
        display: block;
        padding: 2px;
        width: 100%;
    }
}


//Header
#delivery-returns-short-info {
    clear: both;
    p {
        font-size: @font-size-extra-small;
        text-transform: uppercase;
        line-height: 16px;
        font-family: @font-family-base-medium;
    }
}
.size-btns {
    font-size: 0;
    display: block;
    clear: both;
    margin: 5px 0 0 0;
    margin-right: -3px;
    .inner-wrapper {
        display: inline-block;
        margin-right: 0px;
        margin-bottom: 3px;
        margin-left: 0;
        padding-right: 3px;
        float: left;
        .sizing-btn {
            color: @white;
            padding: 2px;
            width: 32px;
            border: 1px solid @grey;
            background: @grey;
            border-radius: 0;
            margin: 0;
            .transition(background ease 0.4s, color ease 0.4s;);
            display: block;
            line-height: 17px;
            text-align: center;

            @media(max-width: (@mobile-small-media-query - 1px)) {
                width: 38px;
            }
        }
        &.not-available {
            position: relative;

            .sizing-btn {
                color: @light-grey2;
                border-color: #aaa;
                background: #aaa;
                cursor: default;
            }

            &:before, &:after {
               position: absolute;
               left: 50%;
               content: ' ';
               height: 210%;
               width: 2px;
               margin-left: -3px;
               top: -12px;
               background-color: @white;
               z-index: 2;
           }

           &:before {
             .rotate(60deg);
         }
         &:after {
            .rotate(-60deg);
        }
    }

    &.selected {
        .sizing-btn {
            background: @brown;
            color: @white;
            border-color: @brown;
        }

        &.not-available {
            position: relative;

            .sizing-btn {
                color: @light-grey2;
                border-color: #aaa;
                background: #aaa;
                cursor: default;
            }
        }
    }
}

&.configurable-swatch-list:after {
    content: none;
    display: none;
    clear: none;
}
}

.uk-notouch {
    .size-btns .inner-wrapper {
        .sizing-btn {
            &:hover {
                background: transparent;
                color: @grey;
            }
        }

        &.not-available {
            .sizing-btn:hover {
                color: @light-grey2;
                border-color: #aaa;
                background: #aaa;
            }
        }

        &.selected {
            .sizing-btn {
                &:hover {
                    background: transparent;
                    color: @grey;
                    border-color: @grey;
                }
            }
            &.not-available {
                .sizing-btn {
                    &:hover {
                        color: @light-grey2;
                        border-color: #aaa;
                        background: #aaa;
                        cursor: default;
                    }
                }
            }
        }
    }
}

#detailed-info-alias {

    .inner-wrapper {
        line-height: 20px;
    }
    a {
        color: @brown;
        text-transform: uppercase;
        font-size: @font-size-small;
        font-family: @font-family-base-medium;

        &:hover {
            font-weight: 700;
        }
    }
}

#sizing-info-modal {
    h4 {
        font-family: @font-family-base;
    }
}


#out-of-stock {
    display: none;
    padding-bottom: 7px;

    .out-of-stock-container {
        display: table;
        width: 100%;

        .availability.out-of-stock {
            padding-bottom: 0px;
            vertical-align: middle;
            display: table-cell;
            width: auto;
            padding-right: 12px;
            padding-top: 9px;

            .h3 {
                text-align: left;
                margin-bottom: 0px;
                vertical-align: middle;
                line-height: normal;
                vertical-align: sub;
                font-size: @font-size-small-larger;

                @media (max-width:@mobile-small-media-query) {
                    font-size: @font-size-second-base;
                }
            }


            @media(max-width: 1154px) and (min-width: (@product-detail-exception-media-query + 1px)) {
                padding-top: 5px;
            }
        }
    }

    .call-us-container.out-of-stock {
        width: 100px;
        display: table-cell !important;
        padding-right: 0px;

        @media(max-width: @product-detail-exception-media-query) {
            width: 50%;
        }
        @media(max-width: @mobile-small-media-query) {
            width: 40%;
        }

        @media(max-width: 972px) and (min-width: (@product-detail-exception-media-query + 1px)) {
            width: 91px;
        }

        a.call-us-btn {
            padding-right: 5px;

            @media(max-width: 972px) and (min-width: (@product-detail-exception-media-query + 1px)) {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }
}


#sizing-info-modal {
    p {
        text-align: center;
    }
}
#sizing-error-popup {
    p {
        color: @brown;
        text-transform: uppercase;
    }
}


#detailed-info-Product-Care {
    p, ul li {
        text-align: left;
    }

    ul li {
        line-height: 22px;
        font-size: @font-size-base;
        list-style-type: disc;
        margin: 10px 0px;
        margin-left: @small-spacing;

        @media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
            font-size: @font-size-small;
            line-height: 18px;
        }
    }
}

@import "states/out-of-stock.less";
