
@import (reference) "../common/_extendableStyles.less";


.catalog-category-view {

    #style-options-section {

        &.grid-section {
            margin-bottom: 0px;
        }

        h4 {
            font-size: @font-size-base;
            font-family: @font-family-base-black;
            .horizontally-centered-block-element;
            line-height: 25px;
            margin-bottom: 30px;
        }
    }
}
.multiple-items-carousel, .style-listing-grid {

    &.view-all {
        overflow: hidden;
        margin-bottom: 5px;
    }

    .view-all-item {
        outline: 0;
        margin: 0 15px 30px 15px;
        position: relative;
        float: left;
        height: 100%;
        min-height: 1px;

        img {
            margin: 0 auto 15px;
            display: block;
        }

        div.price {
            text-align: center;
            font-size: 12px;
            line-height: 1em;
            text-align: left;

            span {
                padding-top: 6px;
                display: inline-block;
            }
        }

        div.order-btn {
            text-align: right;
            .btn {
                position: relative;
                top: auto;
                left: auto;
                transform: none;
                min-width: 0px;
                min-height: 0px;
                padding: 0px 5px;
            }
        }

        a.hover-container {
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            opacity: 0;
            -webkit-transition: .4s opacity;
            -moz-transition: .4s opacity;
            -o-transition: .4s opacity;
            transition: .4s opacity;
        }


        .btn {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            min-width: 115px;
        }

        &:hover {
            div.order-btn {
                .btn {
                    background: @grey;
                    color: @white;
                }
            }
        }
    }
}

.multiple-items-carousel {
    .view-all-item {
        &:hover .hover-container {
            opacity: 1;
        }
    }
}



.catalog-category-view #main .style-listing-grid {

    .view-all-item {
        margin-left: 0px;
        margin-right: 0px;
        width: 25%;
        padding-left: @grid-gutter;

        .wrapper {
            position: relative;

            &:hover .hover-container {
                opacity: 1;
            }

        }
    }


    @media(max-width: @mobile-media-query) {
        margin-left: -@grid-gutter;

        .view-all-item {
            float: left;
            width: 50%;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: @grid-gutter;
        }
    }
}

html.uk-touch {
    .catalog-category-view #main .style-listing-grid {
        .view-all-item {
            .wrapper {
                &:hover .hover-container {
                    opacity: 0;
                }
            }

        }
    }
}

@media(max-width: @mobile-media-query) {


    .catalog-category-view {

        #style-options-section {
            h4 {
                margin-bottom: 15px;
            }
        }

    }

    .style-listing-grid {
        .view-all-item {
            margin: 0 15px 25px 15px;
        }

    }

    #main .style-listing-grid  .uk-grid {
        margin-left: -10px;
        div.price, div.order-btn {
           width: 50%;
           float: left;
           padding-left: 10px;
       }

       div.order-btn {
           .btn {
             display: inline-block;
         }
     }
 }

}

@media(max-width: @mobile-small-media-query) {
   #main .style-listing-grid  .uk-grid {

      div.order-btn {
          .btn {
           padding-left: 2px;
           padding-right: 2px;
        }
    }
}
}

