<?php
    $product_id = Mage::registry('current_product')->getId();
?>
 <div class="product_option_loader_bg"><div class="product_option_loader"></div></div>
<script>
    jQuery.noConflict();
    (function($wk_jq){

        alert("OK")
        $wk_jq('.btn-cart').removeAttr('onClick');
        $wk_jq('.btn-cart').on('click',function(){

                    alert("OK")
            $wk_jq('.product_option_loader').html("<img src=<?php echo $this->getSkinUrl('ajaxcart/images/ajax-loader-32.gif'); ?> >loading...");
            var product_id="<?php echo $product_id; ?>";
            var cart_url="<?php $_product = Mage::getModel('catalog/product')->load($_productId);
                               echo $_url = Mage::helper('checkout/cart')->getAddUrl($_product); ?>";
            if(productAddToCartForm.validator.validate()){
                    $wk_jq(".product_option_loader_bg").show();
                    $wk_jq.ajax({
                        url : cart_url,
                        type : "POST",
                        data : jQuery("#product_addtocart_form").serialize(),
                        success : function(data){
                            $wk_jq('.close_option_container').trigger('click');
                            $wk_jq('.option_container_bg').hide();
                            var success = jQuery(data).find(".header-minicart").html();
                            $wk_jq('.header-minicart').html(success);
                            $wk_jq("html, body").animate({
                                scrollTop: 0
                                },2000,function(){
                                    $wk_jq('.product_option_loader_bg').hide();
                                    $wk_jq('#header-cart').addClass('skip-active');
                                });
                        },
                        error:function(a,b,c){
                            console.log('error');
                        }
                    });
            }else
            return false;
        })
        $wk_jq(document).on('click','.skip-link-close',function(){
alert(2)
                        $wk_jq('#header-cart').removeClass('skip-active');
                });
    })(jQuery);
</script>
