@import (reference) "../../common/_extendableStyles.less";


@media(min-width: @tablet-media-query) {
	#mobile-menu-trigger {
		display: none;
	}

	.mp-menu {
		display: none;
	}

	body {
		overflow: visible;
	}

	.scroller {
		display: none;
	}

}

@media(max-width: 940px) {
	#header {
		.phone {
			img {
				display: inline-block;
			}

			span {
				display: none;
			}
		}
	}

}
