@import (reference) "../../common/_extendableStyles.less";

/* ============================================ *
* Checkout - Mini cart
* ============================================ */
.header-minicart {
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    float: right;

    .top-link-cart {
        float: right;
    }
}

#header-cart {
    top: 115px;
    position: absolute;
    right: 0px;
    width: 331px;
    padding: 0px @extra-med-spacing @large-small-spacing @extra-med-spacing;
    background: @white;
    z-index: 10000;

    .product-image {
        width: 100%;
    }

    [class*=uk-width] {
        padding-left: 25px;
    }

    .uk-grid {
        margin-left: 0px;

        [class*=uk-width]:first-child {
            padding-left: 0px;
        }
    }

    #cart-sidebar {
        .uk-grid+.uk-grid {
            margin-top: @large-small-spacing;
        }
    }


    .variation {
        line-height: 18px;
        font-size: 13px;
    }

}

@media only screen and (max-width: 770px) {
    .header-minicart {
        display: block;
    }
}

.header-minicart .minicart-message {
    display: block;
    padding: 10px;
}

.header-minicart .empty {
    padding: 10px;
    text-align: center;
}

.header-minicart .minicart-wrapper {
    clear: both;
    position: relative;
}

.header-minicart .minicart-wrapper:before, .header-minicart .minicart-wrapper:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.header-minicart .minicart-wrapper:before {
    background-color: white;
    opacity: 0.8;
    z-index: 2;
}
.header-minicart .minicart-wrapper:after {
    background-image: url("@{cdn}/images/opc-ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
.header-minicart .minicart-wrapper.loading {
    position: relative;
}
.header-minicart .minicart-wrapper.loading:before, .header-minicart .minicart-wrapper.loading:after {
    display: block;
}
.header-minicart .block-cart {
    display: none;
}
.header-minicart .block-subtitle {
}

.header-minicart a.skip-link-close {
    width: 38px;
    height: 38px;
    display: block;
    margin: @large-small-spacing auto;
}
.header-minicart .close-character {
    position: relative;
    margin: auto;
    display: block;
    top:auto;
    right: auto;
}
.header-minicart .mini-products-list {
    padding: 0px;
    text-align: left;
    padding-top: 0px;
    text-transform: uppercase;

    dt, dd {
        display: inline-block;
        font-size: @font-size-extra-small;
    }

    dd {
        font-family: @font-family-base-medium;
    }

    .truncated {
        margin-top: 10px;
    }

    .remove a {
        font-size: @font-size-small;
        margin-top: 7px;
        display: block;
        padding-left: 16px;
    }

    .price {
        display: block;
        font-family: @font-family-base-black;
        margin: 10px 0;
        font-size: @font-size-small;

    }
}

#cost-summary {
    margin-top: @large-small-spacing;
    margin-bottom: @large-small-spacing;
    text-align:left;

    #cost-summary-total {

        span {
            font-family: @font-family-base-black;
        }
    }
}

 #progress-review-minicart .total.label {
     font-family: @font-family-base-black !important;
 }

.header-minicart .mini-products-list li.item {
    padding-bottom: @large-small-spacing;
    border-right: none !important;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    display: block !important;
    margin-left: 0px;

    .uk-width-1-2:first-child {
        padding-left: 0px;
    }

    &.more-items {
        margin-top: 20px;
        text-align: center;
    }

    a.more-items-link {
        font-family: @font-family-base-black;
    }

}


.header-minicart .mini-products-list li .product-details {
    position: relative;

    .item-options > div {
        margin-bottom: 4px;
    }
}
.header-minicart .product-details .product-name {
    font-size: @font-size-small;
}
.header-minicart .product-details .product-name a {
    font-family: @font-family-base-black;
}
.header-minicart .info-wrapper {
    margin-bottom: 0.5em;
}
.header-minicart .info-wrapper th {
    text-transform: uppercase;
    padding-right: 10px;
}
.header-minicart .info-wrapper td {
    color: #3399cc;
    clear: right;
}
.header-minicart .info-wrapper .qty-wrapper td {
    height: 33px;
    line-height: 33px;
}
.header-minicart .info-wrapper .qty {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
    width: 3.2em;
    text-align: center;
    height: 30px;
}
.header-minicart .info-wrapper .quantity-button {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}
.header-minicart .info-wrapper .quantity-button[disabled] {
    cursor: default;
}
.header-minicart .info-wrapper .quantity-button.visible {
    opacity: 1;
}
.header-minicart .subtotal {
    background-color: #DDDDDD;
    text-align: center;
    line-height: 2em;
}
.header-minicart .subtotal .label {
    color: white;
    text-transform: uppercase;
}
.header-minicart .subtotal .price {
    color: #3399cc;
}
.header-minicart .minicart-actions {
    padding: 0px;

    overflow: hidden;
    position: relative;
    text-align: center;

    .btn {
        margin-bottom: 20px;
        width: 100%;
    }

    a {
        color: @brown;
    }
}
.header-minicart .minicart-actions .checkout-button {
    min-width: 145px;
}
.header-minicart .minicart-actions .cart-link {
    height: 33px;
    line-height: 39px;
    text-transform: uppercase;
    font-size: @font-size-small;
}
.header-minicart .minicart-actions .paypal-logo .paypal-or {
    line-height: 1.6;
}
.header-minicart #minicart-error-message {
    text-align: center;
    color: red;
    display: none;
}
.header-minicart #minicart-success-message {
    text-align: center;
    color: green;
    display: none;
}
.header-minicart .jcarousel-control-prev,
.header-minicart .jcarousel-control-next {
    display: none;
}

// .header-minicart.skip-active .block-cart,
// .block-cart.skip-active {
//     display: block;
// }

.checkout-types.minicart {
    float: none;
    text-align: center;
}

@media only screen and (max-width: 479px) {
    .header-minicart a.skip-cart {
        z-index: 1;
    }
}
@media only screen and (max-width: 770px) {
    .header-minicart .subtotal .label {
        color: #636363;
    }
    .header-minicart .minicart-wrapper:before {
        background-color: #EDEDED;
    }
    .header-minicart .quantity-button {
        float: none;
    }
    .header-minicart .header-minicart .block-cart {
        padding: 15px;
    }
    .header-minicart .header-minicart .block-subtitle {
        padding-top: 59px;
    }
    .header-minicart .minicart-actions {
        padding-bottom: 33px;
    }
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo > a {
        display: inline;
    }
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .bml_button {
        display: inline-block;
        vertical-align: top;
    }
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or {
        width: auto;
        float: none;
        display: inline;
        margin: 0 10px 5px 10px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 740px) {
    .header-minicart .minicart-actions .cart-link {
        right: auto;
        left: 0;
        text-align: center;
        width: 100%;
    }
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or,
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-button {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    .header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or {
        line-height: 1.6;
    }
}
@media only screen and (max-width: 599px) {
    .header-minicart .minicart-actions .checkout-button {
        width: 100%;
    }
}

@import "_header-cart_mobile.less";
