@import (reference) "../../common/_extendableStyles.less";
@import "../../base/_variables.less";

#header {
	position: fixed;
	top: 0px;
	// overflow: hidden;
	background: @white;
	z-index: 1000;
	width: 100%;
	text-align: center;
	// .transition(all 0.5s);
	left: 0px;
	right: 0px;
	color: @grey;
	animation-duration: 0.5s;
	height: @header-height;
	.padded-container;

	.section-wrapper {
		border-bottom: 1px solid @light-grey2;
		padding-top: 7px;
		padding-bottom: 7px;
		// overflow: hidden;
		height: 100%;
		.horizontally-centered-block-element;
		position: relative;
		max-width: @max-width - (@large-small-spacing * 2);
	}

	a.logo {
		margin-bottom: 6px;
		margin-top: 0px;
		overflow: hidden;
		position: relative;

		img {
			display: block;
			margin: 0 auto;
			height: 100%; //to be removed later
		}

		#desktop-logo {
			opacity: 1;
		}

	}

	a.top-link-cart {
		padding-left: 21px;
		line-height: 20px;
		.size(11px, 17px);
		background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/BAG-EMPTY-DESKTOP@2x.png") no-repeat center;
		background-size: contain;


		&.items-present {
			padding-left: 21px;
			background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/BAG-FULL-DESKTOP@2x.png") no-repeat center;
			background-size: contain;
		}
	}

	.nav-container {
		#custommenu {

			div.wp-custom-menu-popup {
				background: @white;
				padding: 0px;
				padding-top: 0px;
				top: @header-height !important;
				position: fixed;
				right: 0px;
				display: none;
				box-shadow: none;
				margin-top: 0px;
				padding-bottom: 0px;
				padding-top: @extra-med-spacing;

                @media screen and (min-width: 767px){
                    max-height: calc(~"100%" - @header-height);
                    overflow-y: auto;
                }
				a {
					.transition(0s);
				}

				.custom-menu-wrapper {
					.contraint-container;
					padding: 0px;
					position: relative;

					.close-character {
						top: 0px;
						right: @large-small-spacing;
					}
				}


				.inner-container {
					padding: 0px;
					.contraint-container;
					max-width: 1010px;
					padding: 0px 5px;
					.block1 {

						.itemMenu {
							display: table;
							margin: 0 auto;
						}


						div.column {
							width: 100%;
							padding: 0px;
							position: relative;

							.itemMenuName {
								text-align: left;
								max-width: 220px;
								padding-left: 0px;
								width: 100%;
								margin: 0px @small-spacing;

                                &:nth-child(4n+1){
                                    clear: both;
                                }
                                @media screen and (max-width: 1176px){
                                    &:nth-child(4n+1){
                                      clear: none;
                                    }
                                    &:nth-child(3n+1){
                                      clear: both;
                                    }
                                }
								.custom-menu-wrapper.uk-grid {
									display: inline-block;
									padding: 0px 0px 5px 0px;
									display: block;



									.categories {
										a {
											vertical-align: top;
											display: block;
											padding: 14px 20px;
											padding-left: 0px;
											color: #FFF;
											span {
												text-align: left;
												margin-left: 64%;
											}
										}

									}

									.images {
										a {
											background: #e6e6e6;
										}
									}

									&.active {

										img {
											display: block;
										}

										a.name {
											font-weight: bold;
											color: #555;
										}

										a {
											background: #e6e6e6;
										}


										.images {
											height: 100%;
											position: absolute;
											top: 0px;
											right: 0px;

											img {
												max-width: 490px;
												padding:30px;
												padding-top: 16px;
											}
										}

									}

								}
								a.name {
									span {
										padding-top: 0px;
									}
								}

							}
						}
					}
				}


				&#popup60 {

					.inner-container {
						max-width: @custom-menu-max-width;
					}
					.inline-name {
						display: block;
						width: 33.333%;
						text-align: right;
						padding-top: 0px;
						display: block;
						text-transform: uppercase;
						font-size: @font-size-small;
						line-height: normal;
						font-family: @font-family-base-medium;
						letter-spacing: 1.5px;
						padding-bottom: 0px;
						padding-left: @small-spacing;
						padding-right: @small-spacing;

						a.archive {
							font-family: @font-family-base-oblique;
							color: @very-light-grey;
							cursor: default;

							&:hover {
								font-family: @font-family-base-oblique;
							}
						}

						a {
							font-size: @font-size-small;
							line-height: 30px;
							letter-spacing: 1.5px;

							&:hover {
								font-family: @font-family-base-black;
							}
						}
					}
				}

			}

			div.menu {
				float: none;
				display: inline-block;
				a {
					height: auto;
					padding-top: 5px;
					padding-bottom: 0px;
					font-size: @font-size-small;
					font-family: @font-family-base-medium;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding-left: 22px;
					padding-right: 22px;

					&:link, &:visited, &:hover {
						color: @grey;
						background: transparent;
						padding-left: 22px;
						padding-right: 22px;
					}

					&:hover {
						font-family: @font-family-base-black;
					}

					span {
						padding: 0px;
						padding-bottom: 3px;
						height: auto;
						border-bottom: 1px solid transparent;
						.transition(border 0.4s);
					}
				}


				&:before {
					content: "";
					width: 0;
					content: "";
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 10px solid #b2b3b5;
					vertical-align: super;
					.rotate(-180deg);
					position: absolute;
					bottom: -7px;
					left: 50%;
					z-index: 10000;
					margin-left: -6px;
					opacity: 0;
				}

				&.active {
					position: relative;
					a {
						background: transparent !important;
						font-family: @font-family-base-black;
						span {
							height: auto;
							padding-top: 0px;
							color: @grey;
						}
					}

					&:before {
						opacity: 1;
						.transition(0.4s opacity ease-in);
					}

				}
			}

			.block1 {
				.horizontally-centered-block-element;
				text-align: center;

				div.column {
					float: none;
					display: inline-block;
					width: 34%;

					.itemMenuName {

						a:after {
							clear:both;
						}
						span {
							padding-top: 10px;
							display: block;
							text-transform: uppercase;
							font-size: @font-size-small;
							line-height: 23px;
							font-family: @font-family-base-medium;
							letter-spacing: 1.5px;
							padding-bottom: 25px;
						}

						&:hover {
							background: transparent;
							color: @grey;
							font-style: normal;

							span {
								font-family: @font-family-base-black;
								font-style: normal;
							}
						}
					}

				}
			}
		}
	}

	#secondary-nav {
		left: 0px;
		right: 0px;
		position: absolute;


		a.mobile.phone {
			display: none;

			img {
				width: 20px;
				margin-top: -3px;
			}
		}

		.left-menu {

			a:not(.btn) {
				font-size: @font-size-extra-small;
				font-family: @font-family-base-medium;
				color: @grey;
				letter-spacing: 1px;
			}


			text-align: left;

			ul {
				font-size: 0px;
				text-align: left;
				li {
					display: inline-block;
					border-right: 1px solid @grey;
					line-height: normal;

					a {
						padding: 0px 15px;
						line-height: normal;
					}

					&:first-child {
						a {
							padding-left: 0px;
						}
					}

					&:last-child {
						border-right: 0px;
					}
				}
			}
		}
		ul.links {
			text-align: right;

			li {
				display: inline-block;
				margin-right: @med-spacing;
				vertical-align: middle;
				display: none;

				&:nth-child(4) {
					display: inline-block;
				}

				&:last-child {
					margin-right: 0px;
					display: inline-block;
				}
			}

		}

		.dropdown-container, #header-contact {
			display: inline-block;
		}

	}
	.wrapper {
		position: relative;
		#search-trigger {
			position: absolute;
			right: @med-spacing;
			top: 0px;
			opacity: 1;
			.transition(opacity 0.6s ease);
			display: none;
		}
	}

	.phone {
		img {
			vertical-align :middle;
			width: 13px;
			display: none;
			margin-top: -2px;
		}

		span {
			display: inline-block;
		}
	}
}

@import "states/states.less";
@import "_header_desktop.less";
@import "_header_tablet.less";
@import "_mobileMenu.less";
@import "_header_mobile.less";
@import "_header-cart.less";
