@import (reference) "../../common/_extendableStyles.less";

@media(max-width: @mobile-media-query) {
	#header {
		height: @mobile-header-height;
		border-bottom: 1px solid @light-grey2;
		padding-left: 20px;
		padding-right: 20px;

		.section-wrapper {
			border: none;
		}

		.header-minicart {
			margin-top: 2px;
			margin-right: 5px;
			// margin-right: 8px;

			a.top-link-cart.items-present {

				.size(16px, 17px);
				line-height: 17px;
				background-image: url("@{cdn}/images/cart/BAG-EMPTY-MOBILE@2x.png");
				// padding-left: 28px;
				margin-top: 14px;
				// margin-right: -11px;

				span.count {
					vertical-align: middle;
					line-height: 16px;
					display: inline-block;
					font-size: 14px;
				}

				&.items-present {
					.size(16px, 17px);
					margin-top: 0px;
					background-image: url("@{cdn}/images/cart/BAG-FULL-MOBILE@2x.png");
				}
			}

		}

		#secondary-nav {
			top: 50%;
			height: 20px;
			margin-top: -10px;

			a.mobile.phone {
				display: inline-block;
				margin-right: 14px;
			}

			.parent {
				.left-menu {
					display: none;
				}

				.last {
					width: 100%;
					text-align: right;

					ul.links {

						li {
							display: none;

							&.last {
								display: block;
								a.top-link-cart {
									padding-left: 60px;
									font-size: 30px;
									line-height: 40px;
									margin-right: 16px;
									margin-top: -14px;
									.size(32px, 37px);
									background-image: url("@{cdn}/images/cart/BAG-FULL-DESKTOP@2x.png");
								}
							}
						}
					}
				}
			}
		}
		.wrapper {
			display: none;
		}


		#desktop-logo {
			display: none;
		}

		#mobile-logo {
			display:block;
		}

		a.logo {
			margin-bottom: 0px;
			margin-top: 4px;
			height: 40px;

			img {
				top: 0px;
			}
		}
	}
}
