@import (reference) "../../common/_extendableStyles.less";

@media(max-width: @exception-media-query) {
	#header .nav-container #custommenu div.wp-custom-menu-popup {
		.close-character {
			top: @small-spacing;
			right: 55px;
		}

		.inner-container .block1 div.column .itemMenuName .custom-menu-wrapper {
			margin-left: 0px;

			img {
				right: 36px;
			}
		}
	}

}



@media(max-width: 1176px) {
	#header {
		.nav-container #custommenu div.wp-custom-menu-popup .inner-container {
			max-width: @custom-menu-max-width;

		}
	}
}


@media(max-width: 900px) {
	#header {
		.nav-container #custommenu div.wp-custom-menu-popup  {
			padding: 65px 0px 0px;
			.custom-menu-wrapper {
				.close-character {
					top: -50px;
				}
			}
		}

		.nav-container #custommenu #popup60 {
			padding: @extra-med-spacing 0px 0px;

			.inline-name a.archive {
				margin-top: 55px;
			}

			.custom-menu-wrapper {

				max-width: @custom-menu-max-width;

				.close-character {
					top: 0px;
				}
			}
		}
	}
}


