@import (reference) "../../common/_extendableStyles.less";

@media(max-width: @mobile-media-query) {

    #header-cart {
        width: 100%;
        left: 0px;
        position: fixed;
        top: @mobile-header-height;
    }

    #cart-sidebar {
        p, dl, span, div {
            text-align: left;
        }
    }

    #header #secondary-nav {
        .header-minicart .mini-products-list li.item.more-items.last {
            text-align: center;
        }
    }
}
