@import (reference) "../../common/_extendableStyles.less";
@import (reference) "../../base/_animate.less";

@media(max-width: @mobile-media-query) {
	.scroller {
		.size(28px, 23px);
		position: absolute;
		top: 50%;
		margin-top: -11px;
		right: @small-spacing;


		.scroller-inner {
			position: relative;
		}
	}

	#mobile-menu-trigger, #menu-close-btn {
		left: 0px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		top: 50%;
		outline: 0;
		display: block;
		position: absolute;
		z-index: 12;
		margin-top: -14px;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 22px;
			height: 3px;
			margin-top: -1.5px;
			background: @grey;
			font-size: 0;
			.user-select();
			margin-left: -11px;

			&:before, &:after {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: @grey;
				content: '';
			}

			&:before {
				top: -6px;
			}

			&:after {
				bottom: -6px;
			}
		}
	}

	#menu-close-btn {
		.size(30px, 30px);
		top: 33px;
		left: auto;
		right: 20px;
		span {
			background-color: transparent;
			width: 20px;

			&:before {
				.transform(translateY(0)rotate(45deg)translateZ(0));
				top: auto;
			}

			&:after {
				.transform(translateY(0)rotate(-45deg)translateZ(0));
				bottom: auto;
			}
		}
	}


	.mp-pusher {
		position: relative;
		left: 0;
		min-height: 100%;
	}

	.mp-menu {
		position: absolute; /* we can't use fixed here :( */
			top: 0;
			z-index: 10005;
			width: 100%;
			height: 100%;
			.transform(translate3d(-100%, 0, 0));
			left: 0px;
			right: auto;
			position: fixed;
			-webkit-overflow-scrolling: touch;
			overflow: scroll;
			.transition(all 0.5s);
			overflow-x: hidden;
			background: @white;
		}

		.mp-level {
			position: absolute;
			top: 0;
			left: auto;
			width: 100%;
			height: 100%;
			right: 0;
			background: @white;
			.transform(translate3d(100%, 0, 0));
			padding-top: 60px;

			ul.links {
				font-size: 0;
				margin-top: 50px;
				display: none;
				li {
					display: inline-block;
					background: @light-grey;
					width: 49.5%;

					&:first-child {
						margin-left: 1%;
						float: right;
					}

					&.last {
						display: none;
					}

					a {
						padding-left: @med-spacing;
						padding-right: @med-spacing;
						text-align: center;
						height: 50px;
						line-height: 27px;
					}
				}
			}
		}


		/* overlays for pusher and for level that gets covered */
		.mp-pusher::after,
		.mp-level::after,
		.mp-level::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			content: '';
			opacity: 0;
		}

		.mp-pusher::after,
		.mp-level::after {
			.transition(opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;);
		}

		.mp-level::after {
			z-index: -1;
		}

		.mp-pusher.mp-pushed::after,
		.mp-level.mp-level-overlay::after {
			width: 100%;
			height: 100%;
			opacity: 1;
			.transition(opacity 0.3s);
		}

		.mp-level.mp-level-overlay {
			cursor: pointer;
		}

		.mp-level.mp-level-overlay.mp-level::before {
			width: 100%;
			height: 100%;
			background: transparent;
			opacity: 1;
		}

		.mp-pusher,
		.mp-level {
			.transition(all 0.5s);
		}



		/* overlap */
		.mp-overlap .mp-level.mp-level-open {
			.transform(translate3d(-40px, 0, 0));
		}

		/* First level */
		.mp-menu > .mp-level,
		.mp-menu > .mp-level.mp-level-open,
		.mp-menu.mp-overlap > .mp-level,
		.mp-menu.mp-overlap > .mp-level.mp-level-open {
			box-shadow: none;
			.transform(translate3d(0, 0, 0));
		}

		/* cover */
		.mp-cover .mp-level.mp-level-open {
			.transform(translate3d(0, 0, 0));
		}

		.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
			.transform(translate3d(100%, 0, 0));
			overflow: hidden;
		}

		/* content style */
		.mp-menu ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				span {
					display: block;
				}
			}
		}

		.mp-menu ul li > a, .mp-back, .mp-menu ul li span, .mp-menu ul.last-child li ul li a {
			color: @grey;
			display: block;
			text-transform: uppercase;
			padding: 13px @small-spacing;
		}

		.mp-menu ul li a#span-link span {
			padding: 0px;
		}

		.mp-menu ul.first-child li > a, .mp-back, .mp-menu ul.last-child li ul li a {
			display: block;
			outline: none;
			border-bottom: 1px solid @light-grey;
		}

		.mp-menu ul.first-child li > a, .mp-menu ul.last-child li ul li a {
			&.active, &:focus {
				color: @white;
			}

			&.icon-arrow-left {
				&:focus {
					background-color: @white;
					color: @grey;
				}
			}
		}

		.mp-menu ul.last-child li > a {

			&.icon-arrow-left {
				&:focus {
					color: @grey;
				}
			}
		}

		.icon {
			background-size: 12px 18px;
			background-repeat: no-repeat;
		}

		.icon-arrow-left {
			background-image: url(/images/layout/chevrons/mobile_chevron@2x.png);
			background-position: 93% center;
			background-size: 12px 20px;
			background-repeat: no-repeat;
		}

		.mp-back {
			position: relative;
			padding-left: 50px;
			&:before {
				content: "";
				position: absolute;
				background-image: url(/images/layout/chevrons/mobile_chevron@2x.png);
				background-size: cover;
				.size(12px, 20px);
				background-repeat: no-repeat;
				.rotate(-180deg);
				background-position: center;
				left: @small-spacing;
				top: 50%;
				margin-top: -10px;
			}
		}

		.mp-back::after {
			position: absolute;
		}

		.mp-menu .mp-level.mp-level-overlay > .mp-back,
		.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
			background: transparent;
			box-shadow: none;
			color: transparent;
		}

		.mp-menu .social-media-links {
			padding: 0px @small-spacing;
			margin-top: @small-spacing;
			position: initial;
			margin-bottom: @small-spacing;
		}

		/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
		/* We'll show the first level only */
		// .no-csstransforms3d .mp-pusher,
		// .no-js .mp-pusher {
		// 	padding-left: 300px;
		// }

		.no-csstransforms3d .mp-menu .mp-level,
		.no-js .mp-menu .mp-level {
			display: none;
		}

		.no-csstransforms3d .mp-menu > .mp-level,
		.no-js .mp-menu > .mp-level {
			display: block;
		}
	}

	.menu-mobile  {
		border-top: 1px solid #b1b1b1;

		.HC-archive {
			padding: @med-spacing @med-spacing 5px @med-spacing;
			border-bottom: 1px solid #b1b1b1;
			font-family: @font-family-base-oblique;

			span {
				max-width: 480px;
				.horizontally-centered-block-element;
			}
		}
		.parentMenu {
			border-bottom: 0px;

			a, a:link, a:visited {
				margin-right: 0px;
				text-transform: uppercase;
				margin-bottom: 0px;
				position: relative;
				font-size: @font-size-medium;
				padding: 15px @med-spacing 10px @med-spacing;
				font-family: @font-family-base-medium;
				letter-spacing: 1px;
				color: @grey;
				line-height: 35px;
				.padded-container;

				&.static-link {
					color: rgba(85, 85, 85, 0.8);
				}

				&.sub-nav {

					span {
						display: block;
						position: relative;
						&:before {
							position: absolute;
							content: "";
							.size(16px, 9px);
							background: url("@{cdn}/images/layout/MENU-DROPDOWN-ARROW-MOBILE@2x.png") no-repeat center center;
							background-size: cover;
							right: 0px;
							top: 50%;
							margin-top: -4px;
						}
					}
				}

				&.open {
					background-color: @bg-light-grey;
					&:hover {
						background-color: @bg-light-grey;
					}
					span {
						color: @brown;
						font-family: @font-family-base-black;
					}

					&.sub-nav {
						span {
							&:before {
								.rotate(-180deg);
								background-image: url("@{cdn}/images/layout/MENU-DROPDOWN-ARROW-GOLD-MOBILE@2x.png");

							}
						}
					}

				}

				&:hover {
					background-color: transparent;
				}

				span, img {
					max-width: 480px;
					.horizontally-centered-block-element;
				}

				img {
					width: 100%;
				}
			}
		}
		.wp-custom-menu-submenu {
			.animated;
			.fadeIn;
			background: #f7f7f7;
			.itemMenu {
				a {
					color: @grey;
					font-size: 13px;
					span {
						padding: 10px 0px;
						padding-bottom: 0px;
					}
				}

				&:hover {
					background: transparent;
				}

				&:last-child {
					background: red;
				}
			}
		}

	}
