@import (reference) "../../../common/_extendableStyles.less";

@media(max-width: @mobile-media-query) {
	body.mobile-nav-active {

		.main-container {
			overflow: hidden;
			position: fixed;
		}

		.mp-menu {
			.transform(translate3d(0, 0, 0));
		}

	}
}
