.h1,h1,p{font-size:14px}
@font-face{font-family:DidotLTPro-Roman;src:url(fonts/2FBAA1_0_0.eot);src:url(fonts/2FBAA1_0_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_0_0.woff2) format('woff2'),url(fonts/2FBAA1_0_0.woff) format('woff'),url(fonts/2FBAA1_0_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-Roman;src:url(fonts/2FBAA1_6_0.eot);src:url(fonts/2FBAA1_6_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_6_0.woff2) format('woff2'),url(fonts/2FBAA1_6_0.woff) format('woff'),url(fonts/2FBAA1_6_0.ttf) format('truetype')}
@font-face{font-family:DidotLTPro-Headline;src:url(fonts/2FBAA1_1_0.eot);src:url(fonts/2FBAA1_1_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_1_0.woff2) format('woff2'),url(fonts/2FBAA1_1_0.woff) format('woff'),url(fonts/2FBAA1_1_0.ttf) format('truetype')}
@font-face{font-family:DidotLTPro-Italic;src:url(fonts/2FBAA1_2_0.eot);src:url(fonts/2FBAA1_2_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_2_0.woff2) format('woff2'),url(fonts/2FBAA1_2_0.woff) format('woff'),url(fonts/2FBAA1_2_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-BlackOblique;src:url(fonts/2FBAA1_3_0.eot);src:url(fonts/2FBAA1_3_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_3_0.woff2) format('woff2'),url(fonts/2FBAA1_3_0.woff) format('woff'),url(fonts/2FBAA1_3_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-Medium;src:url(fonts/2FBAA1_4_0.eot);src:url(fonts/2FBAA1_4_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_4_0.woff2) format('woff2'),url(fonts/2FBAA1_4_0.woff) format('woff'),url(fonts/2FBAA1_4_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-Oblique;src:url(fonts/2FBAA1_5_0.eot);src:url(fonts/2FBAA1_5_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_5_0.woff2) format('woff2'),url(fonts/2FBAA1_5_0.woff) format('woff'),url(fonts/2FBAA1_5_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-BookOblique;src:url(fonts/2FBAA1_7_0.eot);src:url(fonts/2FBAA1_7_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_7_0.woff2) format('woff2'),url(fonts/2FBAA1_7_0.woff) format('woff'),url(fonts/2FBAA1_7_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-Book;src:url(fonts/2FBAA1_8_0.eot);src:url(fonts/2FBAA1_8_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_8_0.woff2) format('woff2'),url(fonts/2FBAA1_8_0.woff) format('woff'),url(fonts/2FBAA1_8_0.ttf) format('truetype')}
@font-face{font-family:AvenirLTStd-Black;src:url(fonts/2FBAA1_9_0.eot);src:url(fonts/2FBAA1_9_0.eot?#iefix) format('embedded-opentype'),url(fonts/2FBAA1_9_0.woff2) format('woff2'),url(fonts/2FBAA1_9_0.woff) format('woff'),url(fonts/2FBAA1_9_0.ttf) format('truetype')}
p{line-height:22px;margin:0;letter-spacing:.7px}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin:0;padding:0;text-transform:uppercase;text-align:center;color:#565656;font-family:DidotLTPro-Roman}
.h1,h1{line-height:21px}
.h2,h2{font-size:45px;margin-bottom:50px;line-height:55px;letter-spacing:2.25px}
.h3,h3{font-size:24px;line-height:35px;margin-bottom:20px;letter-spacing:2px}
.h4,.h5,.h6,h4,h5,h6{font-size:14px;line-height:21px}