<div class="product_option_loader_bg"><div class="product_option_loader"></div></div>
<div class="option_container_bg"><div class="option_container_wrapper"></div></div>
<div class="cart_container_bg"><div class="cart_wrapper"></div></div>
<?php
    $product_id = Mage::registry('current_product')->getId();
?>
<script type="text/javascript">
    if (typeof jQuery == 'undefined'){
        document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<script>
    jQuery.noConflict();
    (function($wk_jq){

                alert("OK")
        jQuery('.btn-cart').removeAttr('onClick');
        $wk_jq('.btn-cart').on('click',function(){
            $wk_jq('.product_option_loader').html("<img src=<?php echo $this->getSkinUrl('ajaxcart/images/ajax-loader-32.gif'); ?> >loading...");
            var product_id="<?php echo $product_id; ?>";
            var cart_url="<?php $_product = Mage::getModel('catalog/product')->load($_productId);
                               echo $_url = Mage::helper('checkout/cart')->getAddUrl($_product); ?>";
            if(productAddToCartForm.validator.validate()){
                    $wk_jq(".product_option_loader_bg").show();
                    $wk_jq.ajax({
                        url : cart_url,
                        type : "POST",
                        data : jQuery("#product_addtocart_form").serialize(),
                        success : function(data){
                            $wk_jq('.product_option_loader_bg').hide();
                            $wk_jq('.option_container_bg').hide();
                            var links = $wk_jq(data).find(".links").html();
                            $wk_jq('.links').html(links);
                            var cartTable = $wk_jq(data).find("#shopping-cart-table").html();
                            var chekoutBtn = $wk_jq(data).find(".title-buttons").html();
                            var message = $wk_jq(data).find(".messages").html();
                            $wk_jq('.cart_container_bg').show();
                            if(typeof cartTable != 'undefined' && typeof chekoutBtn != 'undefined'){
                                jQuery('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><span>"+message+"</span><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");

                            jQuery('.cart_table').find('.btn-continue').removeAttr('onClick');
                            }else{
                                jQuery('.cart_wrapper').html("<span>"+message+"</span>");
                                setTimeout(function(){
                                    jQuery('.cart_container_bg').hide();
                                },1000);
                            }
                        },
                        error:function(a,b,c){
                            console.log('error');
                        }
                    });
            }else
            return false;
        })
        $wk_jq('body').on('click','.close_option_container',function(){
            $wk_jq('.product_container').remove();
            $wk_jq('.option_container_bg').hide();
            $wk_jq('.cart_table_con').remove();
            $wk_jq('.cart_container_bg').hide();
        });
    })(jQuery);

    (function($wk_jq){
        $wk_jq('body').on('click','.btn-remove',function(e){
            $wk_jq('.product_option_loader_bg').show();
            var removeItemUrl=$wk_jq(this).attr('href');
            $wk_jq(this).removeAttr('href');
            $wk_jq.ajax({
                url:removeItemUrl,
                type:'post',
                success:function(cartData){
                    $wk_jq('.product_option_loader_bg').hide();
                    var links = $wk_jq(cartData).find(".links").html();
                    $wk_jq('.links').html(links);
                    if ($wk_jq(cartData).find("#shopping-cart-table").length > 0) {
                        var cartTable = $wk_jq(cartData).find("#shopping-cart-table").html();
                        var chekoutBtn = $wk_jq(cartData).find(".title-buttons").html();
                        $wk_jq('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");
                        $wk_jq('.cart_table').find('.btn-continue').removeAttr('onClick');
                    }else{
                        // var cartTable = jQuery(cartData).find(".col-main").html();
                        $wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
                        setTimeout(function(){
                            $wk_jq('.cart_container_bg').hide();
                        },1000);
                    }
                },
                error:function(a,b,c){
                    console.log('error');
                }
            });
        });

        $wk_jq('body').on('click','#empty_cart_button',function(event){
            $wk_jq(".product_option_loader_bg").show();
            event.preventDefault();
            $wk_jq.ajax({
                url:"<?php echo  Mage::getUrl('checkout/cart/updatePost'); ?>",
                type:'post',
                data : {update_cart_action:'empty_cart',form_key:"<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>"},
                success:function(clearAllItem){
                    $wk_jq('.product_option_loader_bg').hide();
                    var links = $wk_jq(clearAllItem).find(".links").html();
                    $wk_jq('.links').html(links);
                    // var cartTable = $wk_jq(clearAllItem).find(".col-main").html();
                    $wk_jq('.cart_container_bg').show();
                    $wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
                    setTimeout(function(){
                         $wk_jq('.cart_container_bg').hide();
                    },1000);
                },
                error:function(a,b,c){
                    console.log('error');
                }
            });

        });

        $wk_jq('body').on('click','.btn-update',function(event){
            $wk_jq(".product_option_loader_bg").show();
            event.preventDefault();
            $wk_jq.ajax({
                url:"<?php echo  Mage::getUrl('checkout/cart/updatePost'); ?>",
                type:'post',
                data :$wk_jq('#cart_form').serialize(),
                success:function(updateItem){
                    $wk_jq('.product_option_loader_bg').hide();
                    var links = $wk_jq(updateItem).find(".links").html();
                    $wk_jq('.links').html(links);
                    if ($wk_jq(updateItem).find("#shopping-cart-table").length > 0) {
                        var cartTable = $wk_jq(updateItem).find("#shopping-cart-table").html();
                        var chekoutBtn = $wk_jq(updateItem).find(".title-buttons").html();
                        $wk_jq('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");
                        $wk_jq('.cart_table').find('.btn-continue').removeAttr('onClick');
                    }else{
                        // var cartTable = jQuery(updateItem).find(".col-main").html();
                        $wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
                        setTimeout(function(){
                            $wk_jq('.cart_container_bg').hide();
                        },1000);
                    }
                },
                error:function(a,b,c){
                    console.log('error');
                }
            });
        });

        $wk_jq('body').on('click','.btn-continue',function(){
            $wk_jq('.cart_container_bg').hide();
        });
    })(jQuery);
</script>
