<!--@subject Contact Message Confirmation @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
	@-->

	{{template config_path="design/email/header"}}

	<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="background-color: #f8f8f8; width: 530px; border-bottom: 1px solid #828282;">
		<tr>
			<td style="padding: 110px 0 110px 0;">
				<table width="480" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="width: 480px; background-color:#ffffff; border: 1px solid #a87357; margin: 0 25px;font-family: Verdana,Geneva,sans-serif; color: #555555; mso-line-height-rule:exactly; line-height: 22px; letter-spacing: 0.04em; font-size: 12px;">
					<tr>
						<td style="padding: 50px 20px; background-color:#ffffff;">
							<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;padding-bottom: 10px;"><strong>Dear {{var data.first-name}} {{var data.last-name}},</strong></p>
							<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">Thank you for contacting Ralph & Russo. </p>
							<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">A member of our team will respond to your enquiry within 48 hours.</p>
							<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">
								Should your enquiry be urgent, please call us on <a href="tel:+44 (0) 208 878 5399" style="text-decoration: none;color: #a87357;">+44 (0) 208 878 5399</a>. Lines are open between 9am and 6pm (GMT).
							</p>
							<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; margin-top:20px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">Yours Sincerely, <br/> Ralph & Russo
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	{{template config_path="design/email/footer"}}
