<!--@subject Ralph & Russo - Enquiry @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}

<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="background-color: #f8f8f8; width: 530px; border-bottom: 1px solid #828282;">
<tr>
	<td style="padding: 110px 0 110px 0;">

	<table width="330" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="width: 330px; background-color:#ffffff; border: 1px solid #a87357; margin: 0 100px;">
			<tr>
				<td style="padding: 50px 0 22px 0; background-color:#ffffff;">

                    <h2 style="font-family: Times; color: #555555; margin: 0 0 28px 0; text-align: center; mso-line-height-rule:exactly; line-height: 36px; font-size: 30px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">Enquiry submitted</h2>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Title:</strong> {{var data.title}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>First Name:</strong> {{var data.first-name}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Last Name:</strong> {{var data.last-name}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Email address:</strong> {{var data.email}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Phone number:</strong> {{var data.phone}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Country:</strong> {{var data.country}}</p>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;"><strong>Message:</strong> {{var data.message}}</p>
				</td>
			</tr>
	</table>
</td>
</tr>
</table>

{{template config_path="design/email/footer"}}
