<!--@subject Ralph & Russo - Be the first to hear @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}

<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="background-color: #f8f8f8; width: 530px; border-bottom: 1px solid #828282;">
	<tr>
		<td style="padding: 0 0 110px 0;">
			<table  width="460" border="0" cellpadding="0" cellspacing="0" bgcolor="f8f8f8" style="margin: 0px auto;">
	            <tr>
	                <td style="background-color: #f8f8f8; padding: 34px 0 26px 0; width: 400px;">
	                    <h2 style="font-family: Times; color: #555555; margin: 0px; text-align: center; mso-line-height-rule:exactly; line-height: 36px; font-size: 30px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">THANK YOU</h2>
	                </td>
	            </tr>
	        </table>
			<table width="480" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="width: 480px; background-color:#ffffff; border: 1px solid #a87357; margin: 0 25px;font-family: Verdana,Geneva,sans-serif; color: #555555; mso-line-height-rule:exactly; line-height: 22px; letter-spacing: 0.04em; font-size: 12px;">
				<tr>
					<td style="padding: 50px 20px; background-color:#ffffff;">
						<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;padding-bottom: 10px;"><strong>Dear {{var data.first-name}} {{var data.last-name}},</strong></p>
						<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">Thank you for showing interest in this product, you will be the first to hear about the availability of this piece.</p>
						<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">Should your enquiry be urgent, please call us on <a href="tel:00442088785399" style="text-decoration: none;color: #a87357;">+44 (0) 208 878 5399</a>. Lines are open between 9am and 6pm (GMT).</p>
						<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 10px 0px; margin-top:20px; text-align: left; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">Yours Sincerely,<br/>Ralph & Russo</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{{template config_path="design/email/footer"}}
