<!--@subject Newsletter unsubscription success @-->

{{template config_path="design/email/header"}}

<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="background-color: #f8f8f8; width: 530px; border-bottom: 1px solid #828282;">
<tr>
<td style="padding: 110px 0 110px 0;">
	<table width="480" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="width: 480px; background-color:#ffffff; border: 1px solid #a87357; margin: 0 25px;font-family: Verdana,Geneva,sans-serif; color: #555555; mso-line-height-rule:exactly; line-height: 22px; letter-spacing: 0.04em; font-size: 12px;">
		<tr>
			<td style="padding: 50px 20px; background-color:#ffffff;">
					<h2 style="font-family: Times; color: #555555; margin: 0 0 28px 0; text-align: center; mso-line-height-rule:exactly; line-height: 36px; font-size: 30px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">Goodbye</h2>
                    <p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0px 28px 0px; text-align: center; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: left;">You have been unsubscribed from the newsletter.</p>
				</td>
			</tr>
	</table>
</td>
</tr>
</table>

{{template config_path="design/email/footer"}}
