.slick-slider{margin-top:65px;margin-bottom:30px}
@media (min-width:768px){.slick-slider.carousel-without-nav{margin-top:30px}
}
.slick-slider .btn,.slick-slider a.btn,.slick-slider button{min-width:115px}
.slick-slide{outline:0;margin:0 15px;position:relative}
.slick-slide .hover-container{background:rgba(255,255,255,.65);height:100%;position:absolute;top:0;width:100%;left:0;opacity:0;-webkit-transition:.4s opacity;-moz-transition:.4s opacity;-o-transition:.4s opacity;transition:.4s opacity;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.slick-slide .hover-container .btn{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.slick-slide img{margin:0 auto}
.slick-slide:hover .hover-container{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)}
.slick-slide:focus{outline:0}
.slick-next,.slick-prev{top:-49px;left:50%;width:30px;height:30px;min-width:0}
.slick-next:before,.slick-prev:before{color:#555;text-align:center}
button.slick-next,button.slick-prev{min-width:0}
h4.carousel-page-header{font-size:15px;text-align:left;margin-top:10px}
.slick-prev{margin-left:-45px}
.slick-next{right:auto;margin-left:15px}
.custom-slick{text-align:center}
.custom-slick .slick-next,.custom-slick .slick-prev{top:auto;position:relative;margin-left:0;margin-right:0;left:auto;right:auto;display:inline-block!important;padding-top:0;text-align:center;vertical-align:text-top}
.custom-slick .slick-next:before,.custom-slick .slick-prev:before,.custom-slick .slick-slide a{display:block}
.custom-slick .slick-track{display:block;margin-left:auto;margin-right:auto}
.custom-slick span{vertical-align:top;padding-right:10px;padding-left:10px;font-size:12px;font-family:AvenirLTStd-Medium}
.custom-slick .slick-slider{margin-top:15px;margin-bottom:50px}
.custom-slick .slick-slide a img{border:1px solid #fff}
.custom-slick .slick-slide.active a img,.custom-slick .slick-slide.selected a img{border-color:#a87357}
@media (max-width:767px){.custom-slick .slick-slide{margin:0 10px}
.custom-slick .slick-slider{margin-bottom:0}
}