<!-- End Content -->
<div style="display: block; background-color: #ffffff; padding: 40px 0 26px 0; width: 530px;">
	<p style="text-align: center; margin-bottom: 36px;">
		<a href="https://www.facebook.com/ralphandrusso" style="display:inline-block; padding: 0 18px;"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ico-fb.gif" alt="Facebook" width="25" height="21" style="display:inline-block;"></a>
		<a href="https://twitter.com/ralphandrusso"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ico-twitter.gif" alt="Twitter" width="25" height="21" style="display:inline-block;"></a><span style="display:inline-block; width: 36px; height:6px;">&nbsp;</span>
		<a href="https://www.instagram.com/ralphandrusso/"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ico-instagram.gif" alt="Instagram" width="25" height="21" style="display:inline-block;"></a><span style="display:inline-block; width: 36px; height:6px;">&nbsp;</span>
		<a href="http://weibo.com/ralphandrusso"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ico-sth.gif" alt="Sth" width="25" height="21" style="display:inline-block;"></a><span style="display:inline-block; width: 36px; height:6px;">&nbsp;</span>
		<a href="https://www.pinterest.com/ralphandrusso/"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ico-pinterest.gif" alt="Pinterest" width="25" height="21" style="display:inline-block;"></a>
	</p>
	<p style="text-align: center; margin-bottom: 36px;">
		<a href="{{store url="/"}}contact-us"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ftr-contact.gif" alt="Contact us" width="62" height="6" style="display:inline-block;"></a><span style="display:inline-block; width: 32px; height:6px;">&nbsp;</span>
		<a href="{{store url="/"}}terms-conditions"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ftr-terms.gif" alt="Terms & conditions" width="108" height="6" style="display:inline-block;"></a><span style="display:inline-block; width: 32px; height:6px;">&nbsp;</span>
		<a href="{{store url="/"}}"><img src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/ftr-copyright.gif" alt="Copyright Ralph & Russo 2015" width="116" height="6" style="display:inline-block;"></a>
	</p>
</div>

</center>
</body>
</html>
