<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Ralph & Russo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<style type="text/css">
a img
{
    border: 0 none;
}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="40" rightmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<center>

<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="background-color:#ffffff; border-bottom: 1px solid #828282;">
	<tr>
		<td>
			<a href="{{store url="/"}}"><img  src="{{store url="/"}}skin/frontend/RalphAndRusso/default/images/email/logo.gif" alt="{{var logo_alt}}" style="display: block;" width="527" height="115"></a>

		</td>
	</tr>
</table>
<!-- Begin Content -->
