@import (reference) "../../common/_extendableStyles.less";



@media(max-width: 868px) {

	.copyright {
		&.mobile {
			display: block;
			margin-top: 20px;
		}
	}

	.footer {

		.social-links {
			text-align: center;
			padding-top: 0px;
			margin-top: 0px;

		}

		#footer-bottom-links {
			ul {
				margin-top: 35px;
				li {
					&.copyright.desktop, &:last-child {
						display: none;
					}
				}
			}
		}
	}
}

@media(max-width: 961px) and (min-width: @tablet-media-query) {

	.footer {

		#social-media-links-mobile {
			display: none !important;
		}
	}
}




@media (max-width: 959px) and (min-width: @tablet-media-query) {
	.footer {
		#top-footer {
			.parent-container {
				.uk-hidden-medium {
					display: block !important;
				}
			}
		}
	}

}