@import (reference) "../../common/_extendableStyles.less";

@media(max-width: @mobile-media-query) {

    .footer {
        margin: 0px;
        padding-top: 0px;

        a, p {
            font-size: @font-size-small;
        }

        #newsletter-section, #social-section {
            display: none;
        }

        #footer-bottom-links {
            margin: 0 7% 40px;
            margin-bottom: 0px;
            li {
                margin: 10px 0;
                display: block;
                text-align: left;

            }
        }

        .social-media-links  {
            margin: 0 10% 40px;
            margin-bottom: 0px;
            margin: 20px auto;
            margin-top: @med-spacing;

            a {
                margin-right: @med-spacing;

                &:last-child {
                    margin-right: 0px;
                }
            }

        }
    }
}
