@import (reference) "../../common/_extendableStyles.less";

#footer {
	opacity: 0;
}

.footer-container {
	margin-top: 5px;
	border-top: 1px solid #E6E6E6;
	margin-left: @large-small-spacing;
	margin-right: @large-small-spacing;

	#newsletter-modal {
		h3.heading-cluster-4 {
			margin-bottom: 10px;
		}

		button[type=submit] {
			min-width: 183px;
		}
	}
}

p.social-links-follow-us {
	display: none;
}
.copyright.mobile {
	opacity: 0.5;
	display: none;
	font-size: 10px;
	background: @light-grey2;
	text-align: center;
	padding: 12px @med-spacing;
	text-transform: uppercase;
	margin-top: @extra-med-spacing;
	width: 100%;
	.padded-container;
}

.footer {
	text-transform: uppercase;
	padding-top: 35px;
	margin-bottom: 17px;
	font-size: @font-size-extra-small;

	a, p {
		font-size: @font-size-extra-small;
		padding: 10px 0px;
	}

	#social-section {
		padding-left: 0px;
	}

	.uk-width-1-2 {
		text-align: center;
	}

	#top-footer {
		.parent-container {
			max-width: 741px;
			margin: 0px auto;
		}
	}

	#newsletter-section {

		a.btn {
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			max-width: 312px;
		}
	}

	#logo-section {
		a, img {
			margin: 0 auto;
			display: block;
		}
	}

	.social-media-links {

		text-align: center;

		a {
			display: inline-block;
		}
	}

	#footer-bottom-links {

		ul {
			display: block;
			margin-top: 52px;
			text-align: center;
		}

		li {
			display: inline-block;
			margin: 0 25px;
		}
	}
}

@import "_footer_desktop.less";
@import "_footer_tablet.less";
@import "_footer_mobile.less";
