<?php

$category  = Mage::registry('current_category');
$intro = $category->getData('haute_couture_intro_video');

?>

<div id="boutique" class="info-page page-inner-container layout2-page">
    <h2>
        <!-- <span>BOUTIQUES</span> -->
        <?= $category->getName() ?></h2>

        <div id="boutique-grid">

            <?php
            if ($intro)
            echo $intro;
            ?>

            <section class="narrow-container first">
                <?= Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($category->landing_page)->toHtml(); ?>
            </section>
        </div>
</div>
