@media (max-width:767px){body.mobile-nav-active #mobile-menu-trigger span{background-color:transparent}
body.mobile-nav-active #mobile-menu-trigger span:before{-webkit-transform:translateY(0) rotate(45deg) translateZ(0);-moz-transform:translateY(0) rotate(45deg) translateZ(0);-ms-transform:translateY(0) rotate(45deg) translateZ(0);-o-transform:translateY(0) rotate(45deg) translateZ(0);transform:translateY(0) rotate(45deg) translateZ(0)}
body.mobile-nav-active #mobile-menu-trigger span:after{-webkit-transform:translateY(0) rotate(-45deg) translateZ(0);-moz-transform:translateY(0) rotate(-45deg) translateZ(0);-ms-transform:translateY(0) rotate(-45deg) translateZ(0);-o-transform:translateY(0) rotate(-45deg) translateZ(0);transform:translateY(0) rotate(-45deg) translateZ(0)}
body.mobile-nav-active #header{-webkit-transform:translate3d(265px,0,0);-moz-transform:translate3d(265px,0,0);-ms-transform:translate3d(265px,0,0);-o-transform:translate3d(265px,0,0);transform:translate3d(265px,0,0)}
body.mobile-nav-active .main-container{overflow:hidden}
body.mobile-nav-active .mp-menu{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
body.mobile-nav-active #empty-invisible-overlay{position:fixed;top:0;height:100%;left:0;right:0;z-index:100;display:block}
}