@media (max-width:767px){body.mobile-nav-active .main-container{overflow:hidden;position:fixed}
body.mobile-nav-active .mp-menu{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}