<!--@subject {{var storeFrontendName}}: New Order # {{var order.increment_id}} for delivery @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}

<table width="530" border="0" cellpadding="0" cellspacing="0" bgcolor="f8f8f8">
	<tr>
	  <td style="background-color: #f8f8f8; padding: 34px 0 26px 0; width: 530px; border-bottom: 1px solid #828282;">
		  <h2 style="font-family: Times; color: #555555; margin: 0 0 28px 0; text-align: center; mso-line-height-rule:exactly; line-height: 36px; font-size: 30px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">thank you for<br>your order</h2>
	  	<h3 style="font-family: Verdana,Geneva,sans-serif; color: #a87357; margin: 0 0 28px 0; text-align: center; mso-line-height-rule:exactly; line-height: 1em; font-size: 12px; font-weight: normal; text-transform: uppercase; font-variant: normal;">Order confirmation</h3>

	<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: center; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: justify;">Thank you for shopping at Ralph & Russo, your order details may be found below.</p>
	<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: center; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: justify;">Your order will be processed as soon as possible and we will contact you when your parcel has been dispatched.</p>
	<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 54px 28px 54px; text-align: center; mso-line-height-rule:exactly; line-height: 18px; letter-spacing: 0.04em; font-size: 12px; font-weight: normal; font-variant: normal; text-align: justify;">If you have any questions in the meantime, please contact us at clientcare@ralphandrusso.com.</p>

	<table width="480" border="0" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="width: 480px; background-color:#ffffff; border: 1px solid #a87357; margin: 0 25px;">
		<tr>
        	<td width="30">&nbsp;</td>
			<td colspan="4" style="padding: 30px 0 0 0;"><p style="font-family: Times; color: #555555; margin: 0; text-align: center; mso-line-height-rule:exactly; line-height: 21px; font-size: 17px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">ORDER NUMBER<br>
				<span style="color: #680101; font-size: 15px;">{{var order.increment_id}}</span></p>

			</td>
        	<td width="30">&nbsp;</td>
		</tr>

		<tr>
        	<td width="30">&nbsp;</td>
			<td colspan="4"><hr height="1" style="width: 100%; height:1px; border:0 none; color: #c7c7c7; background-color: #c7c7c7; margin: 20px 0 20px 0;"></td>
        	<td width="30">&nbsp;</td>
		</tr>

		<tr style="padding: 0 0 30px 0;">
        	<td width="30">&nbsp;</td>
			<td align="left" valign="top" width="210"><h5 style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 21px; font-size: 10.5px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">BILLING ADDRESS</h5>
				<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 16.5px; font-size: 9px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">{{var order.getBillingAddress().format('html')}}</p>
			</td>
			<td align="left" valign="top" width="210" colspan="3"><h5 style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 21px; font-size: 10.5px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">SHIPPING ADDRESS</h5>
				<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 16.5px; font-size: 9px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">{{var order.getShippingAddress().format('html')}}</p>
			</td>
        	<td width="30">&nbsp;</td>
		</tr>

		<tr>
        	<td width="30">&nbsp;</td>
			<td colspan="4"><hr height="1" style="width: 100%; height:1px; border:0 none; color: #c7c7c7; background-color: #c7c7c7; margin: 20px 0 20px 0;"></td>
        	<td width="30">&nbsp;</td>
		</tr>

		<tr style="padding: 0 0 30px 0;">
        	<td width="30">&nbsp;</td>
			<td align="left" valign="top" width="210"><h5 style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 21px; font-size: 10.5px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">payment method</h5>
				<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 16.5px; font-size: 9px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">{{var payment_html}}</p>
			</td>
			<td align="left" valign="top" width="210" colspan="3"><h5 style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 21px; font-size: 10.5px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">SHIPPING</h5>
				<p style="font-family: Verdana,Geneva,sans-serif; color: #555555; margin: 0 0 10px 0; text-align: left; mso-line-height-rule:exactly; line-height: 16.5px; font-size: 9px; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-variant: normal;">{{var order.shipping_description}}</p>
			</td>
        	<td width="30">&nbsp;</td>
		</tr>

		<tr>
        	<td width="30">&nbsp;</td>
			<td colspan="4"><hr height="1" style="width: 100%; height:1px; border:0 none; color: #c7c7c7; background-color: #c7c7c7; margin:20px 0 10px 0;"></td>
        	<td width="30">&nbsp;</td>
		</tr>

		{{layout handle="sales_email_order_delivery_items" order=$order}}

	</table>
</td>
</tr>
</table>



{{template config_path="design/email/footer"}}
