@import (reference) "../base/_mixins.less";



@media(max-width: @mobile-media-query) {

	#boutique 
	{
		.btn:not(.inverted) {
			display: inline-block;
		}

		#boutique-grid {
			.narrow-container.first .row-1 .uk-width-1-3 {
				padding-left: 0px;
				margin-bottom: 0px;

				p.last-child {
					margin-bottom: @med-spacing;
				}

				.divider {
					margin-bottom: @med-spacing;
				}

				address, h3, .phone-link {
					text-align: center;
				}
			}

			.make-an-appointment-btn {
				margin-left: auto;
				margin-right: auto;
			}

			.row-1 .first-col .introductory-copy {
				padding-right: 0px;
			}

		}


	}

}