@import (reference) "../base/_animate.less";
@import (reference) "../base/_variables.less";

@four-columns: 1545px;
@two-columns: 1000px;
@one-column: 500px;

#boutique {

    img {
        display: block;
    }
    h3 {
        text-align: left;
    }

    a.back-to-btn {
        font-size: @font-size-small;
        line-height: 1em;
    }


    #boutique-grid {
        .make-an-appointment-btn {
            display: block;
            margin-top: @large-small-spacing;
            max-width: 250px;
            width: 100%;
        }

        .row-1 {
            margin-bottom: @extra-med-spacing;

            .first-col {
                .introductory-copy {
                    padding-bottom: @med-spacing;
                    padding-right: @med-spacing;
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
            }

            .uk-width-1-3 {

                p {
                    font-size: @font-size-base;
                    margin-bottom: 25px;
                    text-align: justify;

                    &.last-child {
                        margin-bottom: @extra-med-spacing;
                    }
                }

                .divider {
                    height: 1px;
                    width: 100%;
                    background-color: @grey;
                    margin-bottom: @extra-med-spacing;
                }

                h4 {
                    font-family: @font-family-second-base;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: left;
                    margin-bottom: @small-spacing;
                }

                address, .phone-link {
                    text-align: left;
                }

                .phone-link {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .uk-grid+.uk-grid {
        margin-top: 0px;
    }

}


@import "boutique_mobile.less";
