<?php
/**
 * @var $this Scommerce_UniversalAnalytics_Block_Checkout_Cart
 */
?>

<?php

$helper = Mage::helper('scommerce_universalanalytics');

if (!$helper->isEnabled() || !$helper->isEnhancedEcommerceEnabled()) return;

$_impressionList    = 'Cross Sell';
$_clickLabel        = 'Cross';
$_loop = 1;

$_products = array();
$_productUrls = array();

foreach ($this->getItems() as $_product)
{
    //$_productUrl = $_product->getProductUrl();
    $_productUrls[] = $_product->getProductUrl();

    $_products[] = array(
        'id' => $this->jsQuoteEscape($_product->getSku()),
        'name'  => $this->jsQuoteEscape($_product->getName()),
        'category' => $this->jsQuoteEscape($helper->getProductCategoryName($_product)),
        'brand' => $this->jsQuoteEscape($helper->getBrand($_product)),
        'list'  => $_impressionList,
        'position' => $_loop
    );

    $_loop++;
}

$_JsProducts = json_encode($_products);
$_JsProductUrls = json_encode($_productUrls);
?>

<script type='text/javascript'>
    //<![CDATA[
    var jsProducts = <?php echo $_JsProducts ?>;
    var jsProductUrls = <?php echo $_JsProductUrls ?>;
    var jsClickLabel = '<?php echo $_clickLabel?>';

    jsProducts.each(function(product, index){
        ga('ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });
	
	ga('send', 'pageview');

	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	jsProducts.each(function(product, index){
        ga('<?php echo $helper->getLinkedAccountName()?>.ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });
	
	ga('<?php echo $helper->getLinkedAccountName()?>.send', 'pageview');
	
	<?php endif;?>
    //]]>
</script>

<script type='text/javascript'>
    //<![CDATA[
    jQuery('a').on('click', function(){
        var product;
        var href = jQuery(this).attr('href');
        var index = jsProductUrls.indexOf(href);

        if (index != -1)
        {
            //event.preventDefault();

            product = jsProducts[index];
            ga('ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('ec:setAction', 'click', {list: product.list});
		
			jQuery.cookie('productlist', product.list, { path: '/', domain: '<?php echo $helper->getCookieDomain()?>'});

            ga('send', 'event', 'UX', 'click', jsClickLabel, {
                'hitCallback': function() {
                    document.location = href;
                }
            });
			
			<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
			product = jsProducts[index];
            ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'click', {list: product.list});

			ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', jsClickLabel, {
                'hitCallback': function() {
                    document.location = href;
                }
            });
			<?php endif;?>
        }
    });
    //]]>
</script>