@import (reference) "../base/_mixins.less";
@import (reference) "../base/_variables.less";


.padded-container {
	padding-left: @large-small-spacing;
	padding-right: @large-small-spacing;
}

.none-floated-columns {
	float: none;
	margin-left: 0%;
	width: 100%;
	margin-bottom: @med-spacing;
	padding-left: 0px;
}

.close-character {
	.size(38px, 38px);
	position: absolute;
	z-index: 102;
	background: url("@{cdn}/images/layout/CROSS-DESKTOP@2x.png");
	background-size: cover;
	top: 40px;
	right: 100px;
	cursor: pointer;
}

.close-btn.uk-modal-close {
	.size(38px, 38px);
	background: url("@{cdn}/images/layout/CROSS-DESKTOP@2x.png");
	background-size: cover;
	cursor: pointer;
	display: block;
}

.contraint-container {
	max-width: @max-width;
	.padded-container;
	.horizontally-centered-block-element;
	width: 100%;
}


blockquote {
	text-align: center;
}


.narrow-container {
	width: 100%;
	padding-left: 70px;
	padding-right: 70px;

}


.back-btn {
	color: @brown;
	background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-DESKTOP@2x.png") left center no-repeat;
	padding-left: 20px;
	background-size: 5px 9px;
	font-size: 12px;
	margin-top: 20px;
	text-transform: uppercase;
}

.grey-btn {
	background: @light-grey;
	border: 0px;
	color: @grey;
}

.small-social {
	a {
		width: 16px;
	}
}

.border-bottom {
	border-bottom: 1px solid @dark-grey2;
	padding-bottom: 10px;
	margin-bottom: 7px;
}

.exeptional-page {

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {

		h3, .h3 {
			font-size: @font-size-second-base;
		}
	}

	@media(max-width: @mobile-media-query) {

		h2, .h2 {
			font-size: @font-size-large;
			line-height: 36px !important;
		}

		h3, .h3 {
			font-size: @font-size-second-base;
		}
	}
}
