@import "_extendableStyles.less";
@import "../base/_variables.less";

.social-media-links {
	cursor: default;
	height: 20px;
	position: relative;
	display: block;
	padding: 0px;
	margin: 0px;
	margin-top: 25px;
	font-size: 0px;

	a {
		display: inline-block;
		margin-right: @extra-med-spacing;
		height: 100%;
		width: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&:last-child {
			margin-right: 0px;
		}
	}

	a.facebook {
		background-size: contain;
		background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/FACEBOOK-ICON-DESKTOP@2x.png");
	}

	a.twitter {
		background-size: contain;
		background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/TWITTER-ICON-MOBILE@2x.png");
	}

	a.instagram {
		background-size: contain;
		background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/INSTAGRAM-ICON-MOBILE@2x.png");
	}

	a.weibo {
		background-size: contain;
		background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/WEIBO-ICON-MOBILE@2x.png");
	}

	a.pinterest {
		background-size: contain;
		background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/PINTEREST-ICON-DESKTOP@2x.png");
	}


	&.share {
		a {
			width: 16px;
		}

		a.facebook {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/FACEBOOK-SHARE-ICON-DESKTOP@2x.png");
		}

		a.twitter {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/TWITTER-SHARE-ICON-DESKTOP@2x.png");
		}

		a.instagram {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/INSTAGRAM-ICON-MOBILE@2x.png");
		}

		a.weibo {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/WEIBO-SHARE-ICON-DESKTOP@2x.png");
		}

		a.pinterest {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/PINTEREST-SHARE-ICON-DESKTOP@2x.png");
		}

		a.email {
			background-size: contain;
			background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/social/EMAIL-SHARE-ICON-DESKTOP@2x.png");
		}
	}

}
