@import (reference) "_extendableStyles.less";

@media (max-width: @desktop-media-query) {

	.narrow-container {
		.padded-container;
	}
}


@media(max-width: @desktop-media-query) {
	#scroll-to-top {
		right: -10px !important; 
	}

}




@media(max-width: @exception-desktop-media-query) {

	section .simple-grid-container .overlay, .caption {

		h3 {
			margin-bottom: 5px;
		}

		.btn {
			margin-top: 10px;

			&.last {
				margin-top: @small-spacing;
			}
		}
	}

	.caption {
		margin-top: @small-spacing;
	}

	.hero-img-container section .container h3 {
		margin-bottom: 10px;
	}

}


@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {

	.static-page .static-page-nav .wrapper ul {
		li, a {
			font-size: @font-size-small;
			line-height: 18px;
		}
	}


	.hero-img-container, section, section.grid-section, section.video-section {
		margin-bottom: @extra-med-spacing;
	}



	section .simple-grid-container .overlay, .caption {

		.btn {
			width: 130px;

			&.last {
				line-height: 14px;
			}
		}
	}

	.introductory-copy {
		font-size: @font-size-base;
		line-height: 22px;
	}

	.hero-img-container section .container h3 {
		font-size: @font-size-extra-small;
	}

	section.grey-bg-section {
		padding-top: @extra-med-spacing;
		padding-bottom: @extra-med-spacing;
	}

}
@media(max-width: 960px) {

	.static-page  {
		.static-page-nav {
			width: 40%;
			.wrapper {
				padding-left: 10%;
				padding-right: 10%;
			}
		}

		.uk-width-6-10 {
			width: 60%;

			.wrapper {
				padding-left: 0px;
			}
		}

	}
}





