@import (reference) "_extendableStyles.less";
@media (max-width: @mobile-media-query) {
    #main {
        .static-page {
            .uk-grid {
                .static-page-nav {
                    display: none;
                }
                .uk-width-6-10 .wrapper {
                    padding-left: 0px;
                }
            }
            .uk-table {
                width: 100%;
                display: block;
                overflow-y: hidden;
                background-color: rgba(168, 115, 87, .2);
                [class*=uk-width] {
                    padding-left: @small-spacing;
                    margin: 0px;
                    display: table-cell;
                }
                td,
                th {
                    min-width: 200px;
                }
                thead {
                    background-color: transparent;
                }
            }
        }
        section#runway-looks.carousel-section {
            .btn:not(.inverted) {
                display: inline-block;
            }
        }
    }
    iframe {
        height: 400px;
    }
    .hero-img-container,
    section,
    section.grid-section,
    section.video-section,
    section.grey-bg-section,
    section.reduced-gutter {
        margin-bottom: @med-spacing;
    }
    section.grey-bg-section {
        padding-top: @med-spacing;
        padding-bottom: 0px;
    }
    .simple-grid-container .overlay-container {
        &.restricted-mobile {
            .overlay.centered {
                .transform(translateX(-50%));
                top: 0px;
                margin-top: 0px;
                padding-top: 20%;
                height: 100%;
                div a.btn {
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    .transform(translateX(-50%));
                }
            }
        }
        .overlay {
            margin-top: @small-spacing;
        }
    }
    p.h3,
    .introductory-copy {
        padding-bottom: @med-spacing;
    }
    .info-page {
        section {
            .uk-grid {
                img {
                    .horizontally-centered-block-element;
                }
            }
            .uk-grid + .uk-grid {
                margin-top: 0px;
            }
        }
        .divider {
            margin-bottom: @med-spacing;
        }
        .line-separator {
            margin: 0px 0px @med-spacing 0px;
        }
    }
}
