@import "_extendableStyles.less";
@import "_socialIcons.less";
@import "search/search.less";
@import (inline) "../../css/common/slick/slick-theme.css";
@import (inline) "../../css/common/slick/slick.css";
@import "slick/customSlick.less";
@import "../catalog/view-all-grid.less";
@import "states/states.less";
h2 {
    span {
        .horizontally-centered-block-element;
        font-size: @font-size-small;
        font-family: @font-family-base;
    }
}

p.h3,
.introductory-copy {
    text-align: left;
    .horizontally-centered-block-element;
    max-width: @mid-max-width;
    text-transform: inherit;
    padding-bottom: @extra-med-spacing;
    line-height: 42px;
    margin-bottom: 0px;
    font-family: @font-family-base;
}

.introductory-copy {
    font-size: @font-size-extra-medium;
    line-height: 28px;
    max-width: 800px;
}

h3 {
    span {
        font-size: @font-size-small;
        font-family: @font-family-base;
        .horizontally-centered-block-element;
        line-height: 25px;
    }
}

h2 {
    span {
        margin-bottom: 0px;
        line-height: 20px;
    }
}

section {
    margin-bottom: 55px;
    .horizontally-centered-block-element;
    h3 {
        margin-bottom: @small-spacing;
    }
    &.grid-section,
    &.video-section {
        margin-bottom: 50px;
    }
    &.video-section {
        .caption {
            h3,
            h4 {
                text-align: center;
            }
        }
    }
    &.grey-bg-section {
        padding-top: 55px;
        padding-bottom: 55px;
        background: @bg-light-grey;
    }
    &.reduced-gutter {
        margin-bottom: @extra-med-spacing;
    }
}

.hero-img-container {
    background-color: @light-grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 55px;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
    section {
        margin-bottom: 0px;
        margin-left: 10%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        .container {
            text-align: center;
            max-width: 500px;
            h2 {
                margin-bottom: 0px;
            }
            h3 {
                font-size: @font-size-small;
                line-height: 22px;
                font-family: @font-family-base;
                margin-bottom: 17px;
            }
        }
    }
}

.maginify-icon {
    .size(15px, 15px);
    background: url(https://placehold.it/15x15) no-repeat center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

a.logo {
    display: inline-block;
    width: 100px;
    height: 70px;
}

#scroll-to-top {
    opacity: 0;
    .transition(0.4s opacity);
    position: fixed;
    top: 50%;
    right: 0px;
    padding-top: @med-spacing;
    font-size: @font-size-small;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 18px;
    text-transform: uppercase;
}

.caption {
    text-align: center;
    margin-top: 20px;
    h3 {
        .photoshop-letterspacing-to-pixels(50, 25px);
        margin-bottom: 6px;
        text-align: center;
    }
    .btn {
        margin-top: 8px;
    }
}

div.line-separator {
    border-bottom: 1px solid @light-grey2;
    margin: 25px 0 55px 0;
}

.static-page {
    p,
    ul {
        margin-bottom: @med-spacing;
    }
    ul {
        padding-left: @extra-med-spacing;
        li {
            list-style-type: disc;
        }
    }
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        text-align: left;
    }
    h4 {
        font-size: @font-size-second-base;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .static-page-nav {
        width: 35%;
        .wrapper {
            background: @bg-light-grey;
            padding: @extra-med-spacing 13%;
            ul {
                padding-left: @large-small-spacing;
                padding-top: @large-small-spacing;
                li {
                    list-style-type: decimal;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    a {
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
    .uk-width-6-10 {
        width: 65%;
        .wrapper {
            padding-top: @extra-med-spacing;
            padding-left: 10%;
        }
    }
    .uk-table {
        border-top: 1px solid @very-light-grey;
        border-bottom: 1px solid @very-light-grey;
        [class*=uk-width] {
            padding-left: @small-spacing;
        }
        thead {
            background-color: rgba(168, 115, 87, 0.2);
            text-transform: uppercase;
        }
        td,
        th {
            padding: 8px @small-spacing;
            vertical-align: middle;
        }
        td {
            p {
                margin-bottom: 0px;
            }
        }
    }
    .uk-table-striped tbody tr:nth-of-type(odd) {
        background-color: @white;
    }
    .uk-table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(248, 248, 248, 0.8);
    }
}


#shopping-bag-modal {
    .messages {
        h3 {
            margin-bottom: 10px;
        }
        p {
         padding-bottom: 10px;
         padding-top: @small-spacing;
     }

     .btn-wrapper {
      margin-top: @small-spacing;
      text-align: center;
  }

  .link-wrapper {
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: @large-small-spacing;
  }
}
}




@import "common_desktop.less";
@import "common_mobile.less";
