<?php

$category = Mage::registry('current_category');
// Mage::helper('catalog/product')->setSkipSaleableCheck(true);
$_product = $this->getProduct();
$product = Mage::getSingleton('objectcache/product')->get($_product->getId());
$_isConfigurable = $product->isConfigurable();

$defaultSelectedVariation = $_isConfigurable ? $product->getProductVariation($product, 'Default Selected Variation') : null;
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php

Mage::getSingleton('checkout/session')->setContinueShoppingUrl(Mage::helper('core/url')->getCurrentUrl()); ?>

<script src="<?= Mage::getBaseUrl('skin')  ?>frontend/RalphAndRusso/default/js/uikit-2.23.0/components/accordion.js"></script>
<link rel="stylesheet" type="text/css" href="/skin/frontend/RalphAndRusso/default/css/uikit-2.23.0/components/accordion.css" media="print" />

<script type="text/javascript">
    var defaultDeliveryTime = '<?php echo Mage::helper('shipping/delivery')->getDeliveryTimeTextByGeoIP() ?>';
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    var defaultSelectedVariation = '<?= $product->getData('default_selected_variation');?>'.toLowerCase();
</script>

<?php
$galleryImages = $product->getMediaGalleryImages();

$thumbnails = array();

foreach ($galleryImages as $item) {

    if (strpos($item->getLabel(), 'gallery-thumb')===0) {
        array_push($thumbnails, $item);
    }
}
?>

<div class="page-inner-container layout2-page">
    <div id="product-single-header" data-product-sku="<?php echo $product->getData('operational_sku'); ?>">
        <div class="uk-grid uk-grid-collapse">

            <div class="main-image-container uk-width-4-6-to-be-removed">
                <div class="product-image-thumbnails">
                    <?php if(sizeof($thumbnails)): ?>
                        <?php $hasArrows = (sizeof($thumbnails)>2)?true:false; ?>
                        <?php if($hasArrows): ?>
                            <span class="top-arrow">&nbsp;</span>
                        <?php endif; ?>

                        <ul class="thumbnails-list" data-id="<?php echo $product->getId(); ?>">
                            <?php foreach($thumbnails as $thumb): ?>
                                <li class="<?php echo ''; ?>thumbnail" data-id="<?php echo $thumb['product_id']; ?>-<?php echo $thumb['label']; ?>">
                                    <img width="80" height="80" src="<?php echo $thumb['url']; ?>" />
                                </li>
                            <?php endforeach; ?>
                        </ul>

                        <?php if($hasArrows): ?>
                            <span class="bottom-arrow">&nbsp;</span>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>

                <div id="product-main-image" class="product-img-box">
                    <?php echo $this->getChildHtml('media') ?>
                </div>
            </div>

            <div class="form-container uk-width-large-2-6 uk-width-medium-2-6 uk-width-small-1-1">
                <div class="header-details">
                    <form action="<?php echo $this->getSubmitUrl($product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <div class="no-display">
                            <input type="hidden" name="product" value="<?php echo $product->getId() ?>" />
                            <input type="hidden" name="related_product" id="related-products-field" value="" />
                        </div>

                        <h2 class="product-name"><?php echo $_helper->productAttribute($product, $product->getName(), 'name') ?></h2>
                        <p id="product-variation-name"><?php echo $defaultSelectedVariation; ?></p>
                        <div class="short-spec">
                            <?php echo $product->getShortSpec()?>
                        </div>

                        <?php echo $this->getChildHtml('product_type_data') ?>

                        <?php if ($this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <?php endif;?>

                        <div id="detailed-info-alias" class="product-collateral">
                            <div class="box-collateral">
                                <?php
                                $aliases     = [ ];
                                $htmlContent = [ ];
                                foreach ( $this->getChildGroup( 'detailed_info', 'getChildHtml' ) as $alias => $html ): ?>
                                    <div class="inner-wrapper">
                                        <a data-uk-modal="{target:'#detailed-info-<?= str_replace( " ", "-", $alias ); ?>', center:false}"
                                           href="javascript:void(0)"
                                           class="detailed-nav-item"><span>+</span> <?php echo $this->escapeHtml( $alias ); ?>
                                        </a>
                                    </div>
                                    <?php $htmlContent[ $alias ] = $html; ?>
                                <?php endforeach; ?>

                                <?php foreach ( $htmlContent as $alias => $content ): ?>
                                    <?php array_push( $aliases, $alias ); ?>
                                    <div id="detailed-info-<?= str_replace( " ", "-", $alias ); ?>"
                                         class="detailed-info-pane uk-modal">
                                        <div class="uk-modal-dialog">
                                            <a class="close-btn uk-modal-close"></a>
                                            <h3><?php echo $alias; ?></h3>
                                            <?php echo array_shift( $htmlContent ); ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                                <script>
                                    jQuery(window).load(function () {
                                        <?php foreach ($aliases as $alias): ?>
                                        jQuery("#detailed-info-<?= str_replace( " ", "-", $alias ); ?>").appendTo('.main-container');
                                        <?php endforeach; ?>
                                    });
                                </script>
                            </div>
                        </div>

                        <script>
                            jQuery(window).load(function () {
                                jQuery("#detailed-info-alias").insertBefore(jQuery(".product-options-bottom"));
                            });
                        </script>

                        <div id="out-of-stock" class="border-bottom">
                            <div class="out-of-stock-container">
                                <p class="availability out-of-stock"><span class="h3"><?php echo $this->__('OUT OF STOCK') ?></span></p>

                                <div class="call-us-container out-of-stock">
                                    <a class="btn call-us-btn uk-hidden-small" data-uk-modal="{target:'#call-us-modal', center:false}" href="javascript:void(0)"><img class="call-us-btn-default" src="<?= Mage::getBaseUrl('skin')  ?>frontend/RalphAndRusso/default/images/catalog/single-product/PHONE-DESKTOP@2x.png"><img class="call-us-btn-hover-img" src="<?= Mage::getBaseUrl('skin')  ?>frontend/RalphAndRusso/default/images/catalog/single-product/PHONE-DESKTOP-WHITE@2x.png"><span>ENQUIRE</span></a>
                                    <a class="btn call-us-mobile-btn uk-visible-small" href="tel:00442088785399"><img class="call-us-btn-default" src="<?= Mage::getBaseUrl('skin')  ?>frontend/RalphAndRusso/default/images/catalog/single-product/PHONE-DESKTOP@2x.png"><img class="call-us-btn-hover-img" src="<?= Mage::getBaseUrl('skin')  ?>frontend/RalphAndRusso/default/images/catalog/single-product/PHONE-DESKTOP-WHITE@2x.png"><span>ENQUIRE</span></a>
                                </div>

                            </div>
                        </div>

                        <div id="delivery-returns-short-info" class="border-bottom">
                            <p id="delivery-time"><?php echo $product->getExtraText() ? $product->getExtraText() : Mage::helper('shipping/delivery')->getDeliveryTimeTextByGeoIP(); ?></p>
                            <p>Worldwide delivery</p>
                            <p>Complimentary 14 days exchange & returns</p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="narrow-container">
    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
    <div class="product-view">
        <div class="product-essential">
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function(button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);

                productAddToCartForm.submitLight = function(button, url){
                    if(this.validator) {
                        var nv = Validation.methods;
                        delete Validation.methods['required-entry'];
                        delete Validation.methods['validate-one-required'];
                        delete Validation.methods['validate-one-required-by-name'];
                        // Remove custom datetime validators
                        for (var methodName in Validation.methods) {
                            if (methodName.match(/^validate-datetime-.*/i)) {
                                delete Validation.methods[methodName];
                            }
                        }

                        if (this.validator.validate()) {
                            if (url) {
                                this.form.action = url;
                            }
                            this.form.submit();
                        }
                        Object.extend(Validation.methods, nv);
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        </div>
        <div id="variations-picker" class="custom-slick">
            <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button">Previous</button>
            <span>EXPLORE VARIATIONS</span>
            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button">Next</button>
            <?php if ($this->hasOptions()):?>
                <?php echo $this->getChildHtml('variation') ?>
            <?php else: ?>
                <script>jQuery("#variations-picker").hide();</script>
            <?php endif; ?>
        </div>

        <?php

        $firstBlockImage = $galleryImages->getItemByColumnValue('label','detail-1');
        $secondBlockImage = $galleryImages->getItemByColumnValue('label','detail-2');

        if ($firstBlockImage && $secondBlockImage):
            ?>
            <div id="more-info">

                <div class="uk-grid">

                    <div class="uk-width-4-10">

                        <?php
                        $description = "";

                        if ($product->getTypeId() == 'simple') {

                            $parentIds = Mage::getModel('catalog/product_type_configurable')
                                ->getParentIdsByChild($product->getId());
                            if (!empty($parentIds)) {
                                $parentId = current($parentIds);

                                $parent = Mage::getSingleton('objectcache/product')->get($parentId);
//                                $parent = $product->load($parentId);

                                if ($parent->getDescription()) {
                                    $description = $parent->getDescription();
                                }

                            }


                        } else if ($product->getDescription()) {
                            $description = $product->getDescription();
                        }

                        ?>

                        <p id="more-info-description" class="description">
                            <?= $description ?>
                        </p>
                        <img id="more-info-detail-1" class="visible" src="<?= $firstBlockImage->getUrl() ?>" />
                    </div>

                    <div class="uk-width-6-10">
                        <img id="more-info-detail-2" class="visible" src="<?= $secondBlockImage->getUrl() ?>" />
                    </div>


                </div>

            </div>

        <?php endif; ?>

        <?php if (count($this->getGalleryImages()) > 0): ?>
            <div class="more-views">
                <h2><?php echo $this->__('Colour Options') ?></h2>
                <ul class="product-image-thumbs">
                    <?php $i=0; foreach ($this->getGalleryImages() as $_image): ?>
                        <?php if ($this->isGalleryImageVisible($_image)): ?>
                            <li>
                                <a class="thumb-link" href="javascript:void(0)" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>" data-image-index="<?php echo $i; ?>">
                                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->resize(75); ?>"
                                         width="75" height="75" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" />
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php $i++; endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>


        <?php echo $this->getChildHtml('related_products') ?>
        <?php echo $this->getChildHtml('product_additional_data') ?>
    </div>
</div>
