<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Yoma
 * @package     Yoma_Realex
 * @copyright   Copyright (c) 2014 YOMA LIMITED (http://www.yoma.co.uk)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
    $_code = $this->getMethodCode();
    $tokenCards  = $this->getTokenCards();
    $cTokens  = ($tokenCards->getSize()>0 && $this->canUseToken());
    $realexStyle   = ($cTokens ? ' style=""' : '');
    $realexValidation   = ($cTokens ? ' realex-required-entry ' : ' realex-required-entry ');
?>

    <ul class="form-list paymentrealex" id="payment_form_<?php echo $_code ?>" style="display:none;">

        <li<?php echo $realexStyle; ?>>
            <label for="<?php echo $_code ?>_cc_owner" class="required"><em>*</em><?php echo $this->__('Name on Card') ?></label>
            <div class="input-box">
                <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>" />
            </div>
        </li>
        <li<?php echo $realexStyle; ?>>
            <label for="<?php echo $_code ?>_cc_type"
                   class="required"><em>*</em><?php echo $this->__('Card Type') ?></label>

            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]"
                        class="required-entry validate-cc-type-select">
                    <option value=""><?php echo $this->__('--Please Select--') ?></option>
                    <?php $_ccType = $this->getInfoData('cc_type') ?>
                    <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                        <option
                            value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </li>
        <li<?php echo $realexStyle; ?>>
            <label for="<?php echo $_code ?>_cc_number"
                   class="required"><em>*</em><?php echo $this->__('Card Number') ?></label>

            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]"
                       title="<?php echo $this->__('Card Number') ?>"
                       class="input-text validate-cc-number validate-cc-type" value=""/>
            </div>
        </li>
        <li id="<?php echo $_code ?>_cc_type_exp_div"<?php echo $realexStyle; ?>>
            <label for="<?php echo $_code ?>_expiration"
                   class="required"><em>*</em><?php echo $this->__('End date') ?></label>

            <div class="input-box">
                <div class="v-fix">
                    <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]"
                            class="month validate-cc-exp required-entry">
                        <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                        <?php foreach ($this->getCcMonths() as $k => $v): ?>
                            <option
                                value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <div class="v-fix">
                    <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                    <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]"
                            class="year required-entry">
                        <?php foreach ($this->getCcYears() as $k => $v): ?>
                            <option
                                value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </div>
        </li>
        <?php //echo $this->getChildHtml() ?>
        <?php if ($this->hasVerification()): ?>
            <li id="<?php echo $_code ?>_cc_type_cvv_div"<?php echo $realexStyle; ?>>
                <label for="<?php echo $_code ?>_cc_cid"
                       class="required"><em>*</em><?php echo $this->__('Security Code') ?></label>

                <div class="input-box">
                    <div class="v-fix">
                        <input type="text" title="<?php echo $this->__('Card Verification Number') ?>"
                               class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid"
                               name="payment[cc_cid]" value=""/>
                        <a href="javascript:void(0)" data-uk-modal="{target:'#secure-code-help-modal', center:true}" class="help-icon"></a>
                    </div>
                </div>

            </li>
        <?php endif; ?>
        <?php if($this->canUseToken() && $this->canAddToken($tokenCards)): ?>

            <?php if($this->alwaysSave()): ?>
                <li<?php echo $realexStyle; ?>>
                    <label for="<?php echo $_code ?>_remembertoken-<?php echo $_code; ?>"><?php echo mage::helper('realex')->getConfigData('realvault','auto_store_label'); ?></label>
                    <input type="hidden" name="payment[remembertoken]" value="1" id="<?php echo $_code ?>_remembertoken" />
                </li>
            <?php else: ?>
                <li<?php echo $realexStyle; ?>>
                    <label for="<?php echo $_code ?>_remembertoken-<?php echo $_code; ?>"><?php echo mage::helper('realex')->getConfigData('realvault','store_label'); ?></label>&nbsp;
                    <input checked="checked" type="checkbox" name="payment[remembertoken]" value="1" id="<?php echo $_code ?>_remembertoken" />
                </li>
            <?php endif; ?>

        <?php endif; ?>
        <?php if ($this->hasSsCardType()): ?>
            <li id="<?php echo $_code ?>_cc_type_ss_div"<?php echo $realexStyle; ?>>
                <ul class="inner-form">
                    <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue"
                                                class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?>
                        </label></li>
                    <li>
                        <label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
                <span class="input-box">
                    <input type="text" title="<?php echo $this->__('Issue Number') ?>"
                           class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue"
                           name="payment[cc_ss_issue]" value=""/>
                </span>
                    </li>

                    <li>
                        <label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>

                        <div class="input-box">
                            <div class="v-fix">
                                <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]"
                                        class="validate-cc-ukss month">
                                    <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                        <option
                                            value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                            <div class="v-fix">
                                <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]"
                                        class="validate-cc-ukss year">
                                    <?php foreach ($this->getSsStartYears() as $k => $v): ?>
                                        <option
                                            value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="adv-container">&nbsp;</li>
                </ul>
                <script type="text/javascript">
                    //<![CDATA[
                    var SSChecked<?php echo $_code ?> = function () {
                        var elm = $('<?php echo $_code ?>_cc_type');
                        if (['SS', 'SM', 'SO'].indexOf(elm.value) != -1) {
                            $('<?php echo $_code ?>_cc_type_ss_div').show();
                        } else {
                            $('<?php echo $_code ?>_cc_type_ss_div').hide();
                        }
                    };

                    Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
                    SSChecked<?php echo $_code ?>();
                    //]]>
                </script>
            </li>
        <?php endif; ?>
    </ul>
