@import (reference) "../base/_mixins.less";
@import (reference) "../base/_variables.less";


.btn-hover {
	background: @grey;
	color: @white;
}

.btn-inverted-hover {
	background: transparent;
	color: @grey;
}

.btn-white-hover {
	background: @white;
	color: @grey;
	border-color: @white;
}

.btn-container {
	text-align: center;
}
button, .btn, a.btn {
	background: transparent;
	color: @grey;
	font-size: @font-size-small;
	line-height: 22px;
	text-transform: uppercase;
	vertical-align: middle;
	.transition(background ease 0.4s, color ease 0.4s;);
	cursor: pointer;
	padding: 8px 10px;
	border: 1px solid @grey;
	min-height: @btn-height;
	display: inline-block;
	width: auto;
	-webkit-appearance:none;
	border-radius: 0px;
	text-align: center;
	font-family: @font-family-base;
	.photoshop-letterspacing-to-pixels(150px, @font-size-small);
	outline: none;
	min-width: @min-btn-width;

	&:hover {
		.btn-hover();
	}

	&:focus {
		outline: none;
	}

	&.inverted {
		background: @grey;
		color: @white;

		&:hover {
			background: transparent;
			color: @grey;
		}
	}

	&.white {
		background: none;
		color: @white;
		border-color: @white;

		&:hover {
			.btn-white-hover();
		}
	}


	&.large {
		max-width: 220px;
		width: 100%;
	}

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: @font-size-extra-small;
		min-height: 35px;
		padding-top: 5px;
		padding-bottom: 5px;
		min-width: 130px;
	}


	&.call-us-btn, &.call-us-mobile-btn, &.need-help-btn, &.need-help-mobile-btn, &.brown-btn  {
		border-color: @brown;
		color: @brown;

		img {
			width: 15px;
			height: 15px;
			margin-right: 8px;
			vertical-align: text-bottom;
			.transition(opacity ease 0.25s);
			opacity: 1;
		}

		img.call-us-btn-hover-img {
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}

		&:hover {
			background-color: @brown;
			color: @white;


			img.call-us-btn-hover-img {
				opacity: 1;
				visibility: visible;
				position: relative;
			}

			img.call-us-btn-default {
				opacity: 0;
				visibility: hidden;
				position: absolute;
			}
		}
	}

}

button.btn {
	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: @font-size-small;
	}
}

.remove a {
	color: @brown;
	background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/REMOVE-DESKTOP@2x.png") 0% 50% no-repeat;
	background-size: 9px 9px;
	padding-left: 14px;
	text-transform: uppercase;
}
