
@import (reference) "../common/_extendableStyles.less";
@import (reference) "_buttons.less";

@media (max-width: @exception-desktop-media-query) and (min-width: @tablet-media-query) {

    form {
        input,
        select {
            height: @input-tablet-height;
        }

        input,
        button,
        textarea,
        select {
            margin-bottom: @input-tablet-btm-spacing;
        }

    }

}
