
@import (reference) "../common/_extendableStyles.less";
@import (reference) "_buttons.less";

@media (max-width: @mobile-media-query) {

    form {
        input,
        button,
        textarea,
        select {
            width: 100%;
            background-position-x: 95%;
            margin-bottom: @input-mobile-btm-spacing;
            max-width: 100%;

            &#title {
                width: 100%;
                background-position-x: 95%;
            }
        }

        input[type=text], 
        input[type=password],
        input[type=email], 
        input[type=tel],
        select,
        button {
            max-width: 100%;
        }

    }

}
