
@import (reference) "../common/_extendableStyles.less";
@import (reference) "_buttons.less";

form {

    font-family: @font-family-base;
    font-size: @font-size-small;
    color: @grey;

    label {
        text-transform: uppercase;
    }

    em {
        color: @grey;
    }

    .validation-advice {
        margin-top: -11px;
        margin-bottom: 5px;
    }

    input,
    button,
    textarea,
    select,
    .select
    {
        display: inline-block;
        -webkit-appearance:none;
        margin-bottom: @input-standard-btm-spacing;
        outline: none;
        box-shadow: none;
        border: 1px solid @grey;
        padding: 0 12px;
        font-family: inherit;
        font-size: inherit;
        color: @grey;
        border-radius: 0px;
        letter-spacing: .7px;

        &.validation-failed {
            .transition(0.5s all);
        }

        &::-webkit-input-placeholder
        {
            color: @grey;
        }

        &:-moz-placeholder
        {
            /* Firefox 18- */
            color: @grey;
        }

        &::-moz-placeholder
        {
            /* Firefox 19+ */
            color: @grey;
        }

        &:-ms-input-placeholder
        {
            color: @grey;
        }

        &:focus
        {
            outline: none;
        }

    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    button {
        max-width: @max-width-input;
        width: 100%;
    }


    input[type="radio"] {
        .size(16px, 16px);
        min-width: 0px;
        -webkit-appearance: radio;
        vertical-align: top;
        border: 3px solid @grey;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        min-width: 0px;
        -webkit-appearance: checkbox;
        vertical-align: top;
    }

    button, input, select, textarea, a {
        -webkit-tap-highlight-color: transparent;
    }

    textarea {
        resize: none;
        min-height: 60px;
        padding: 12px;
    }

    input {
        height: @input-standard-height;
    }

    input[type="submit"], button[type="submit"] {
        .btn;
    }

    select {
        height: @input-standard-height;
        background-color: @white;
        min-width: 293px;
        padding-right: 24px;
        background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/form/select-arrow.png") no-repeat 95% 50%;
        -moz-appearance: none;


        &.short {
            background-position-x: 80%;
        }

        &.full-width {
            width: 100%;
            background-position-x: 95%;
        }

        // Title / prefix, Mr, Mrs..
        &#title, &#appointment-title, &#enquiry-title, &[name="billing[prefix]"] {
            min-width: 168px;
            background-position-x: 90%;
        }

    }

    select::-ms-expand { display: none; }

}


.validation-advice, .error {
    color: @brown;
}

.validation-failed {
    border-color: @brown;
}

form#bookAnAppointmentForm, form#bookAnEnquiryForm  {

    textarea {
        width: 100%;
    }

    // select#appointment-title, select#enquiry-title {
    //     max-width: 0px;
    //     min-width: 168px;
    //     background-position-x: 90%;
    // }

}

@import "_forms_desktop.less";
@import "_forms_mobile.less";
