@import (reference) "../common/_extendableStyles.less";
@import (reference) "../base/_typography.less";


.hero-img-container, [class*='uk-width'] {

	a:hover {
		.btn {
			.btn-hover();

			&.inverted {
				.btn-inverted-hover();
			}
		}
	}

	a:hover {
		.btn.white {
			.btn-white-hover();
		}
	}
}

.simple-grid-container {
	margin-left: -@grid-gutter;

	[class*='uk-width'] {
		padding-left: @grid-gutter;

		a:not(.btn) {
			display: block;
		}
	}




	img {
		width: 100%;
		max-width: 100%;
	}

	.overlay-container {
		position: relative;
		overflow: hidden;
	}

	h4 {
		font-family: @font-family-base-book;
	}


	.blockquote-container {
		height: 100%;
	}

	.uk-grid {
		margin-left: -@grid-gutter;
	}

	.overlay {
		position: absolute;
		text-align: center;
		top: @large-spacing;
		transform: translateX(-50%);
		left: 50%;
		width: 100%;
		padding: 0px @small-spacing;
		margin-top: 0px;

		h3 {
			margin-bottom: 7px;
		}

		h3, h4 {
			max-width: 362px;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}

		.btn {
			margin-top: 16px;

			&.last {
				margin-top: 20px;
			}
		}

		&.centered {
			top: 50%;
			.transform(translate(-50%, -50%));
		}

		&.right {
			right: 0px;
			left: auto;
			transform: translate(25%,-50%);
		}

		&.left {
			right: auto;
			left: 0px;
			transform: translate(-30%,-50%);
		}
	}

}


.grid-container {
	//max-width: 100%;
	margin-left: -@grid-gutter;

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}

}

.grid {
	padding-left: @grid-gutter;
	padding-bottom: 80px;
	width: 100%;
	float: left;

	img {
		display: block;
	}

	a {
		display: block;
	}

	&.text-grid {
		display: table;
		min-height: 480px;

		.text {
			display: table-cell;
			vertical-align: middle;
			padding: 55px 0px;

			p {
				padding-bottom: @med-spacing;
				&:last-child {
					padding-bottom: 0px;
				}
			}
			h3 {
				margin-bottom: 20px;
			}

			h3, p {
				max-width: 360px;
				.horizontally-centered-block-element;
			}
		}
	}

}




@media (min-width: @mobile-media-query-max) {
	.grid-container  {
		.grid, .grid-sizer {
			width: 33.35%;

			&.wider-grid {
				width: 66.65%;
			}

			&.max-grid {
				width: 100%;
			}
		}
	}

	.simple-grid-container {
		.uk-width-3-10 {
			width: 33.35%;
		}
		.uk-width-7-10 {
			width: 66.65%;
		}
	}
}


@media (max-width: @mobile-media-query) {
	.grid-container {
		width: 100%;
		margin-left: auto;

		.grid {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
			top: auto !important;
			position: relative !important;

			&.wider-grid {
				width: 100%;
			}

			&.max-grid {
				width: 100%;
			}
			&.text-grid {
				display: table;
				min-height: 0px;
			}

			a {
				width: 100%;
			}
		}
	}

	.btn:not(.inverted) {
		display: none;
	}

	.simple-grid-container {

		.overlay:not(.mobile-overlay), .overlay.right:not(.mobile-overlay) {
			position: relative;
			left: auto;
			transform: translateX(0%);
			top: auto;

			h3.h2 {
				.h3();
				margin-bottom: 5px;
			}

		}
		.overlay {

			br {
				display: none;
			}
			h3, h4 {
				width: 100%;
				max-width: 100%;
			}
		}

		.uk-width-3-10 {
			width: 100%;
		}
		.uk-width-7-10 {
			width: 100%;
		}
	}
}

@media (min-width: 1220px) {
	.uk-grid + .uk-grid {
		margin-top: @grid-gutter;
	}
}
