
@media (max-width: @mobile-media-query) {
    .cms-home {

        #main {

            iframe {
                height: 180px
            }
            .uk-grid div[class*=uk-width] {

                margin-bottom: @med-spacing;

                img {
                    display: block;
                }

                .uk-grid {

                    &:last-child {
                        [class*=uk-width] {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }


        #home {

            .main-container {
                padding: 0px;
            }

            .uk-grid {
                margin-top: 0px;
            }

            .mobile-off {
                display: none !important;
            }

            section {
                margin-bottom: 0px;

                &.grey-bg-section {
                    margin-bottom: @med-spacing;
                }
            }

            .btn {
                background: rgba(255, 255, 255, 0.8);
                color: @grey;
                text-align: center;
                width: 100%;

                &:hover {
                    background: @grey;
                    color: @white;
                }

                // &:not(.inverted) {
            	// 	display: inline-block;
            	// }
            }

            #mobile-newsletter {
                display: block;
                .padded-container;

                .overlay-container {
                    position: relative;
                }

                .overlay {
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    width: 100%;
                    padding: 0 15px;
                    .transform(translateX(-50%));

                    .btn:not(.inverted) {
                        margin-top: 0px;
                        display: inline-block;
                    }
                }
            }

            .hero-img-container {
                position: relative;

                h2 {
                    padding-left: 0px;
                    padding-right: 0px;
                    text-align: center;
                    font-size: 25px;
                    line-height: 30px;
                }

                section {
                    position: absolute;
                    bottom: 4% !important;
                    left: 50%;
                    top: auto !important;
                    margin-right: 0px;
                    margin-left: 0px !important;
                    .transform(translate(-50%, 0));
                    width: 100%;
                    .padded-container;

                }

                .container, .container * {
                   text-align: center;
                   color: #FFF;
                   max-width: 100%;
                   width: 100%;

                   .btn {
                    background: rgba(255, 255, 255, 0.8);
                    color: @grey;
                    text-align: center;
                    width: @min-btn-width;

                    &:hover {
                        background: @grey;
                        color: @white;
                    }

                    &:not(.inverted) {
                      display: inline-block;
                  }
              }
          }
      }

      .btn, button {
        width: @min-btn-width;
    }

    #the-maison {
        .btn:not(.inverted) {
            display: inline-block;
        }

        .btn.inverted {
            background: @grey;
            color: @white;

            &:hover {
                background: rgba(255, 255, 255, 0.8);
                color: @grey;
            }
        }
    }
}
}
}
