#mobile-splash {

    width: 100%;
    height: 100%;
    position: fixed;
    background: @light-grey2;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 12222;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }

    .loader {
        width: 60px;
        height: 30px; /* as the half of the width */
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-top-right-radius: 110px; /* 100px of height + 10px of border */
        border: 8px solid @grey;
        border-bottom: 0;
        animation-duration: 2s;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        text-align: center;
        transform-origin: 30px 30px;
        display: block;
        margin: 0 auto;
        opacity: 0.6;
        margin-top: 60px;
    }

    @keyframes rotate {
        from {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


}
