
@import (reference) "../common/_extendableStyles.less";
@import (reference) "_buttons.less";

.uk-modal {

    .uk-modal-close {
        margin: 0 auto 40px auto;
    }

    button[type="submit"] {
        background-color: @grey;
        color: @white;
        max-width: @modal-input-max-width;
        width: 100%;
        margin: 0 auto;
        display: block;

        &:disabled {
            cursor: default;
        }
    }

    form select {
        width: auto;
        max-width: @modal-input-max-width;
    }

    form button, form input, form select {
       max-width: @modal-input-max-width;
       width: 100%;
   }
}


.uk-modal-dialog {
  padding: @extra-med-spacing 60px 60px 60px;
  text-align: center;
  max-width: 438px;

  .uk-grid {
    margin-left: 0px;

    [class*=uk-width] {
        padding-left: 0px;
    }
}

p {
    text-align: left;
}

a {
    color: @gold;
}

form {
    text-align: center;
    padding: 0px;
    .horizontally-centered-block-element;

    .field {
        text-align: left;
    }
}

.success-message p {
    text-align: center;
}


}


#newsletter-modal {
    .uk-modal-dialog {
        #newsletterForm {
            .buttons-set {
                margin-top: 10px;
            }
        }
    }
}


@import "_modals_mobile.less";
