
@import (reference) "../common/_extendableStyles.less";
@import (reference) "_buttons.less";

@gold: #a87357;

@media (max-width: @mobile-media-query) {

    .uk-modal {

        margin-top: @mobile-header-height - 1;
        background: @white;

        .uk-modal-dialog {
            margin: 0;
            max-width: 100%;
            .padded-container;
        }

        button[type="submit"] {
            width: 100%;
            max-width: 100%;
        }

        form select {
            max-width: 100%;
            width: 100%;
        }

        form button, form input, form select, form textarea {
            max-width: 100%;
            min-width: 0px;
        }

    }

    #newsletter-modal {
        .uk-modal-dialog {
            text-align: center;
            max-width: 100%;

            #newsletterForm {
                max-width: 100%;
            }
        }
    }

    #lookbook-pane-modal {
        .uk-modal-dialog {
            padding: 20px 30px 20px 30px;

            .social-links-follow-us {
                display: none;
            }

            .social-media-links {
                margin-bottom: 30px;
            }

            #lookbook-roller-detail-description {
                margin-bottom: 30px;
            }

            .img-container {
                position: relative;
                margin-bottom: 25px;

                a.zoom-btn {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 29px;
                    height: 29px;
                    background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-MOBILE@2x.png") no-repeat;
                    background-size: 29px 29px;
                }
            }

            img#lookbook-roller-image {
                display: block;
            }
            button.appointment-btn {
                margin-bottom: 20px;
                background-color: @grey;
                color: @white;
                width: 100%;
            }

            .lookbook-enquiries {
                text-align: center;

                a {
                    color: @gold;
                }
            }

            a.uk-modal-close {
                color: @gold;
                text-transform: uppercase;
            }
        }

        &.close-btn-color-dark {
            .img-container {
                a.zoom-btn {
                    background-image: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DARK-MOBILE@2x.png");
                }
            }
        }
    }


}
