@import (reference) "../common/_extendableStyles.less";


#main {
	min-height: 800px
}

.cms-no-route {
	height: 100%;

	.main-container {
		height: 100%;
	}

	#mp-pusher {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	#main {
		background: @bg-light-grey;
		margin: 0px @large-small-spacing;
		width: auto;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;

		.page {
			display: table;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			.transform(translate(-50%, -50%));
			max-width: 932px;
		}
		.error-page-container {

			.error-page {
				.horizontally-centered-block-element; 
				max-width: 650px;
				text-align: center;

				h2 {
					line-height: 47px;
				}
				p {
					max-width: 385px;
					text-align: center;
					.horizontally-centered-block-element; 
				}

				a.btn {
					margin-top: @med-spacing;
				}
			}
		}
	}

	.footer-container {
		margin-top: 0px;
	}
}


@media (max-width: 1060px) and (min-width: @tablet-media-query) {
	.cms-no-route #main .error-page-container .error-page h2 {
		line-height: 38px;
	}
}

@media (max-width: @mobile-media-query) {
	.cms-no-route #main {
		margin: 0px;
		.padded-container;
	}
}