@import (reference) "../common/_extendableStyles.less";
#main {

	.page {
		padding-top: 0px;
	}

	iframe {
		height: 610px;
	}

	.uk-grid div[class*=uk-width] {
		img {
			display: block;
		}
	}

}

.cms-home {
	#home {
		#mobile-newsletter {
			display: none;
			position: relative;
        }
        
        .content-container.white {
            h2, h3, h4 {
                color: #FFF;

                @media (max-width:768px) {
                    color: @grey;
                }
            }
        }

		.hero-img-container section .container {

			&.white {
				h2, h3 {
					color: @white;
				}
			}
		}
	}
}

.box-up-sell {
    margin:0px 20px 60px 20px;
    text-align:center;

    &.carousel-with-navigation {
        h3 {
            margin-bottom:60px;
        }
    }
    img {
        width:100%;
    }
    h3 {
        margin-bottom:38px;
    }
    .slick-slider {
        margin-top:0
    }
    .product-description {
        font-family:AvenirLTStd-Medium;
        font-size:12px;
    }
}
@media (max-width:768px){
    .box-up-sell {
        margin-bottom:60px;
        .slick-slide {
            margin:0 8px;
        }
    }
}

@import  "_home_mobile.less";
