@import (reference) "../common/_extendableStyles.less";

@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
	.breadcrumbs {
		a, span, li {
			font-size: @font-size-extra-small;
		}
	}

}