@import (reference) "../common/_extendableStyles.less";

@media (max-width: @mobile-media-query) {

	.main-container {
		padding-left: 0px;
		padding-right: 0px;
	}


	#main {
		padding-top: @mobile-header-height;

		.page-inner-container {
			.narrow-container {
				padding-left: 0px;
				padding-right: 0px;
			}

			&.layout2-page {
				padding-left: 0px;
				padding-right: 0px;

				.narrow-container, h2 {
					.padded-container;
				}
			}

		}

		.uk-grid {
			margin-left: 0px;

			[class*='uk-width'] {
				.none-floated-columns;
				.horizontally-centered-block-element;
			}

		}
	}

	#mobile-scroll-top  {
		display: block;
	}

	#notice-cookie-block #cookie-inner-container {
		max-width: 568px;
		.close-character {
			left: auto;
			right: 0px;
			top: 50%;
			margin-top: -18px;
		}
	}
}


@media (max-width: 480px) {
	#notice-cookie-block #cookie-inner-container {
		.uk-width-9-10 {
			width: 85%;
		}
		.uk-width-1-10 {
			width: 15%;
		}
	}

}