@import "header/_header.less";
@import "footer/_footer.less";
@import "_forms.less";
@import "_buttons.less";
@import "_links.less";
@import "_grid.less";
@import "_modals.less";
@import "ie/_ie.less";
@import "_mobile-splash.less";

@import (reference) "../common/_extendableStyles.less";

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-smoothing: antialiased;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	-webkit-tap-highlight-color: transparent;
	background: @white;
	font-size: @font-size-base;
	font-family: @font-family-base;
	color: @grey;
	line-height: 24px;
	letter-spacing: 0.5px;
}

img {
	min-height: 1px;
	min-width: 1px;
}

.main-container {
	padding: 0px;
	width: 100%;
	position: relative;
	.contraint-container;
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#main {
	position: relative;
	padding-top: @header-height;
	width: 100%;
}

@media (max-width: @tablet-media-query-mini-max) {
	html.uk-modal-page.uk-touch {
		#main {
			display: none;
		}
		.main-container {
			position: absolute;
			top: 0;
		}
	}
}

.mp-pusher {
	min-height: 100%;
	transform: none !important;
}

.page-inner-container {
	.padded-container;
}

.page {
	position: relative;
	padding-top: @med-spacing;
}

.dropdown-container {
	position: relative;
	.dropdown-toggle {
		padding-right: 45px;
		background: url(http://placehold.it/10x10) no-repeat center;
		background-size: contain;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
	}
}

[class$="btn"] {
	cursor: pointer;
}

#notice-cookie-block {
	position: fixed;
	bottom: 0px;
	background: #FFF;
	text-align: center;

	.notice-inner {
		margin: 20px;
	}

	button {
		margin-top: 20px;
		margin-bottom: 0px;
	}
}

.make-an-appointment-centered {
	display: block;
	margin: 0 auto;
}

.breadcrumbs {

	margin-top: 20px;

	a, span, li {
		font-size: @font-size-small;
	}

	li {
		display: inline-block;
		text-transform: uppercase;

		&.Home a, &.home a {
			color: @very-grey3;
		}
	}

	@media (max-width:@mobile-media-query-max) {
		// Not sure if true for all pages yet, assumption
		display: none;
	}
}
.video-container {
	position: relative;

	.cinema-screen-play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -40px;
		margin-top: -40px;
		z-index: 400;
		font-size: 50px;
		.size(80px, 80px);
		background: url("@{cdn}/images/layout/PLAY-DEFAULT@2x.png") top left no-repeat;
		background-size: 80px 80px;
	}

	&:hover {
		.cinema-screen-play-btn {
			background-image: url("@{cdn}/images/layout/PLAY-HOVER@2x.png");
		}
	}
}


.cinema-screen {
	margin-bottom: 40px;
	height: 360px;
	max-height: 490px !important;
	overflow: hidden;

	position: relative;
	cursor: pointer;
	.transition(all 0.5s);
	@media (max-width:@mobile-media-query-max) {

		height: 225px;
	}

	.cinema-screen-play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -40px;
		margin-top: -40px;
		z-index: 400;
		font-size: 50px;
		.size(80px, 80px);
		background: url("@{cdn}/images/layout/PLAY-DEFAULT@2x.png") top left no-repeat;
		background-size: 80px 80px;
	}

	&:hover {
		.cinema-screen-play-btn {
			background-image: url("@{cdn}/images/layout/PLAY-HOVER@2x.png");
		}
	}

	iframe {
		display: none;
		position: absolute;
	}

	img {
		position: absolute;
		width: 100%;
	}

	&.open {

		max-height: 685px !important;

		.cinema-screen-play-btn {
			display: none;
		}

		&.hide-image {
			iframe {
				// display: block;
			}
		}
	}
}


.uk-grid {
	margin-left: -@grid-gutter;

	[class*='uk-width'] {
		padding-left: @grid-gutter;
	}

}

#mobile-scroll-top {
	text-align: center;
	.horizontally-centered-block-element;
	display: none;
	margin-top: 10px;

	.inner-container {
		cursor: pointer;
		display: inline-block;
		margin-bottom: @large-small-spacing;

		h4 {
			font-family: @font-family-base-medium;
			margin-top: 10px;
		}
		img {
			.horizontally-centered-block-element;
			.size(16px, 9px);
			.rotate(-180deg);
		}
	}
}


.transparent-bg-overlay {
	position: fixed;
	background: rgba(0,0,0,0.6);
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	.transition(opacity .4s, visibility 0.4s;);

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

#notice-cookie-block {
	background: rgba(85,85,85,0.9);
	color: @white;
	width: 100%;
	min-height: 48px;

	.notice-inner {
		margin: 12px @large-small-spacing;
	}

	#cookie-inner-container {
		max-width: 697px;
		margin: 0 auto;
		position: relative;

		a {
			color: @white;
			text-decoration: underline;
		}

		p, a {
			font-size: @font-size-small;
		}

		.uk-width-1-10 {
			position: relative;
		}


		.close-character {
			top: 0%;
			margin-top: -6px;
			right: auto;
			left: @med-spacing;
			.size(38px, 38px);
			background-image: url("@{cdn}/images/layout/CROSS-WHITE-DESKTOP@2x.png");
		}
	}


}

#cart-empty-page {
	.h2 {
		line-height: 47px;
	}

	.cart-empty {
		.horizontally-centered-block-element;
		margin-top: 0px;
		margin-bottom: 0px;
		a {
			margin-top: @med-spacing;
		}
	}
}

@import "error.less";
@import "layout_desktop.less";
@import "layout_tablet.less";
@import "layout_mobile.less";
