#detailed-info{text-align:center;height:200px;margin-bottom:40px}
#detailed-info li{font-size:12px;color:#a87357;font-family:AvenirLTStd-Medium;text-transform:uppercase;list-style:none;margin:0 10px;display:inline-block;cursor:pointer}
#detailed-info li .highlighter{height:2px;background:#a87357;margin-top:8px;margin-left:auto;margin-right:auto;width:15px;display:block;opacity:0;-webkit-transition:.5s opacity;-moz-transition:.5s opacity;-o-transition:.5s opacity;transition:.5s opacity}
#detailed-info li.active{color:#363636}
#detailed-info li.active .highlighter{opacity:1}
#detailed-info .detailed-info-pane{width:600px;margin-top:20px;position:absolute;left:50%;margin-left:-300px;opacity:0;text-align:justify;-webkit-transition:.5s opacity;-moz-transition:.5s opacity;-o-transition:.5s opacity;transition:.5s opacity}
#detailed-info .detailed-info-pane.visible{opacity:1}