#product-single-header .product-name{font-family:AvenirLTStd-Black;font-size:20px;text-align:left}
#product-single-header .short-description{font-family:AvenirLTStd-Medium;font-size:14px;text-align:left;text-transform:uppercase}
#product-single-header .price{font-family:AvenirLTStd-Roman;font-size:20px}
#product-single-header .sizing-info{font-family:AvenirLTStd-Roman;font-size:14px;color:#a87357;text-transform:uppercase;display:inline-block}
#product-single-header .vat-note{font-family:AvenirLTStd-Roman;font-size:10px;color:#939597;margin-top:2px}