#more-info{padding-bottom:140px;margin-bottom:82px;border-bottom:solid 1px #565656}
#more-info p.description{text-align:center;font-size:24px;line-height:34px;font-family:DidotLTPro-Italic;margin:100px 0}