.box-up-sell{text-align:center}
.box-up-sell img{width:100%}
.box-up-sell h3{font-family:AvenirLTStd-Black;font-size:12px;margin-bottom:0}
.box-up-sell .product-description{font-family:AvenirLTStd-Medium;font-size:12px}
.box-up-sell .price{font-family:AvenirLTStd-Medium;margin-top:5px;color:#939597}
.box-up-sell .product-description,.box-up-sell .product-name{margin:0 20%}