#delivery-returns-short-info, .size-btns {
  clear: both
}

#detailed-info li.detailed-nav-item:hover, #detailed-info-alias a:hover {
  font-weight: 700
}

#product-main-image {
  position: relative;
  height: 100%
}

#product-main-image img {
  position: absolute;
  top: 25px;
  left: -1.2%;
  width: 100%;
  max-width: 725px
}

@media (max-width:1139px) {
  #product-main-image img {
    bottom: 70%;
    display: block;
    left: 12%;
    margin: 0 auto;
    width: auto;
    height: 80%
  }
}

@media (max-width:1139px) and (max-width:563px) {
  #product-main-image img {
    left: -1%
  }
}

@media (max-width:1139px) and (max-width:400px) {
  #product-main-image img {
    left: -5%
  }
}

.border-bottom {
  border-bottom-width: 0px;
}

#detailed-info-alias {
  margin-bottom: 25px;
}

#product-main-image .gallery-image {
  opacity: 0;
  -webkit-transition: .5s opacity;
  -moz-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity
}

#product-main-image .gallery-image.visible {
  opacity: 1
}

#product-main-image #image-main {
  display: none
}

#product-single-header .product-name {
  font-family: AvenirLTStd-Roman;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
  line-height: 21px
}

@media (max-width:400px) {
  #product-single-header .product-name {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 27px
  }
}

#product-single-header .short-description {
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase
}

#product-single-header .price {
  font-family: AvenirLTStd-Roman;
  font-size: 20px
}

#product-single-header .sizing-info {
  font-family: AvenirLTStd-Roman;
  display: inline-block
}

#product-single-header .vat-note {
  font-family: AvenirLTStd-Roman;
  font-size: 10px;
  color: #939597;
  margin-top: 2px;
  margin-bottom: 10px;
  line-height: 14px
}

@media (max-width:768px) {
  #product-single-header .vat-note {
    margin-bottom: 20px
  }
}

strong {
  font-family: AvenirLTStd-Black
}

.box-up-sell {
  margin-bottom: 60px;
  text-align: center
}

.box-up-sell img {
  width: 100%
}

.box-up-sell h3 {
  margin-bottom: 38px
}

.box-up-sell.carousel-with-navigation h3 {
  margin-bottom: 60px
}

.box-up-sell .slick-slider {
  margin-top: 0
}

.box-up-sell .product-description {
  font-family: AvenirLTStd-Medium;
  font-size: 12px
}

.box-up-sell .price {
  font-family: AvenirLTStd-Medium;
  margin-top: 5px;
  color: #939597
}

.box-up-sell .product-description, .box-up-sell .product-name {
  margin: 0 20%
}

@media (max-width:768px) {
  .box-up-sell {
    margin-bottom: 60px
  }

  .box-up-sell .slick-slide {
    margin: 0 8px
  }
}

#detailed-info {
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: .5s height;
  -moz-transition: .5s height;
  -o-transition: .5s height;
  transition: .5s height;
  height: 32px
}

#detailed-info ul {
  margin-top: 12px;
  margin-bottom: 12px
}

#detailed-info .box-collateral p, #detailed-info li {
  margin-bottom: 3px
}

#detailed-info li {
  margin-left: 15px;
  list-style: disc;
  font-size: 13px;
  text-align: left
}

#detailed-info .box-collateral {
  line-height: 22px
}

#detailed-info .box-collateral a, #detailed-info .box-collateral p {
  font-size: 13px
}

#detailed-info .box-collateral>li, #detailed-info .uk-accordion-title {
  font-size: 12px;
  color: #a87357;
  font-family: AvenirLTStd-Medium;
  text-transform: uppercase;
  list-style: none;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer
}

#detailed-info .box-collateral>li .highlighter, #detailed-info .uk-accordion-title .highlighter {
  height: 2px;
  background: #a87357;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  display: block;
  opacity: 0;
  -webkit-transition: .5s opacity;
  -moz-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity
}

#detailed-info .box-collateral>li.active, #detailed-info .uk-accordion-title.active {
  color: #363636
}

#detailed-info .box-collateral>li.active .highlighter, #detailed-info .uk-accordion-title.active .highlighter {
  opacity: 1
}

#detailed-info .detailed-info-pane, #detailed-info .uk-accordion-content {
  margin-top: 20px;
  text-align: justify
}

#detailed-info .detailed-info-pane {
  opacity: 0;
  width: 600px;
  left: 50%;
  margin-left: -280px;
  position: absolute;
  -webkit-transition: .5s opacity;
  -moz-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity
}

#detailed-info .detailed-info-pane.visible {
  opacity: 1;
  z-index: 999
}

#detailed-info .detailed-info-pane ul.ul1 {
  margin-left: 15px
}

#detailed-info .detailed-info-pane ul.ul1 li {
  float: left;
  width: 33.33%;
  margin-left: 0;
  padding-right: 30px
}

@media (max-width:767px) {
  #detailed-info {
    height: auto !important;
    margin-bottom: 0
  }

  #detailed-info .uk-accordion-content p {
    margin-bottom: 3px
  }

  #detailed-info .uk-accordion-title {
    border-bottom: solid 1px #a87357;
    display: block;
    margin: 15px 0 0;
    text-align: left;
    width: 100%;
    background: url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/form/select-arrow-brown.png) 95% 50% no-repeat
  }

  #detailed-info .uk-accordion-title.uk-active {
    color: #565656;
    border-bottom-color: #565656;
    background-image: url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/form/select-arrow.png)
  }

  #detailed-info .uk-accordion-title p {
    margin: 0
  }
}

#more-info {
  padding-bottom: 60px;
  margin-bottom: 56px;
  border-bottom: solid 1px #ececec
}

@media (max-width:768px) {
  #more-info {
    margin-bottom: 60px;
    padding-bottom: 60px
  }
}

@media (max-width:767px) {
  #more-info {
    margin-bottom: 30px;
    padding-bottom: 10px
  }
}

#more-info p.description {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-family: DidotLTPro-Italic;
  margin: 100px 0
}

@media (max-width:767px) {
  #more-info img.mobile-large-image {
    width: 120%;
    max-width: 120%;
    margin-left: -10%
  }

  #more-info p.description {
    margin: 40px 0
  }
}

@media (max-width:768px) {
  #colour-options {
    margin-bottom: 60px
  }

  #colour-options .slick-slide {
    margin: 0 8px
  }
}

#product-single-header #hidden-span {
  margin-bottom: 12px;
  outline: 0;
  padding: 0 12px;
  font-family: inherit;
  font-size: inherit;
  color: #555;
  letter-spacing: .7px
}

#main {
  margin: 0 20px;
  width: auto
}

#main .page {
  padding-top: 0
}

#main .breadcrumbs {
  position: absolute;
  left: 70px
}

#main .breadcrumbs li, #main .breadcrumbs li a {
  color: #ccc
}

#main .breadcrumbs li.product {
  color: #555
}

body.catalog-product-view .page-inner-container {
  padding: 0;
  padding-top: 30px;
}

#product-single-header {
  height: 490px !important;
  margin-bottom: 40px;
  overflow: hidden
}

@media (max-width:1139px) {
  #main .page-inner-container.layout2-page #product-single-header h2.product-name {
    padding-left: 0;
    padding-right: 0
  }

  #main .page-inner-container.layout2-page .uk-grid {
    margin-left: 0
  }

  #product-single-header {
    height: auto !important;
    margin-bottom: 0
  }
}

#product-single-header #product-variation-name {
  text-transform: uppercase;
  margin-top: 2px
}

#product-single-header .prod-description {
  text-transform: uppercase
}

#product-single-header #configurable_swatch_rr_color, #product-single-header .thumb-link img, #product-single-header select.no-display {
  display: none
}

#product-single-header .size-select .validation-advice {
  display: none !important
}

#product-single-header #attribute186 {
  width: 35%;
  min-width: 0;
  margin-bottom: 10px
}

#product-single-header .product-options {
  position: relative
}

#product-single-header #attribute234 {
  width: 70%
}

@media (max-width:767px) {
  #main {
    margin: 0;
    background-position-y: -180px !important
  }

  #product-single-header {
    height: auto !important;
    margin-bottom: 0
  }

  #product-single-header #attribute186 {
    width: 45%;
    margin-bottom: 10px
  }

  #product-single-header #attribute234 {
    width: 100%
  }
}

#product-single-header .form-container {
  padding-right: 25px;
  padding-left: 25px
}

@media (max-width:1139px) {
  #product-single-header .form-container {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0
  }
}

#product-single-header .form-container form {
  margin-right: 20%;
  width: 100%
}

@media (max-width:1139px) {
  #product-single-header .form-container form {
    margin: 0 auto 7px;
    max-width: 572px;
    width: 100%;
    border-bottom: 1px solid #898989;
    padding-bottom: 10px
  }

  #product-single-header .main-image-container {
    float: none;
    width: 66%;
    margin-bottom: 15px;
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
  }
}

#product-single-header .price {
  margin-top: 10px;
  padding-bottom: 5px
}

#product-single-header .main-image-container {
  height: 538px;
  width: 66%;
}

#product-single-header .main-image-container div {
  height: 100%
}

#product-single-header .main-image-container .slick-list {
  min-height: 320px;
  max-height: 335px;
}

@media (max-width:1139px) {
  #product-single-header .main-image-container {
    height: 442px;
    padding-bottom: 0
  }

  #product-single-header .main-image-container .product-image-thumbnails {
    display: none
  }
}

@media (max-width:768px) {
  #product-single-header .main-image-container {
    height: 442px;
    padding-bottom: 0;
    margin-bottom: 10px !important
  }

  #product-single-header .main-image-container {
    max-height: 600px;
  }
}

@media (max-width:400px) {
  #main {
    background-position-y: -290px !important
  }

  #product-single-header .main-image-container {
    height: 272px;
    margin-bottom: 15px !important
  }
}

#product-single-header .social-links-follow-us {
  display: none
}

#product-single-header #hidden-span {
  position: absolute;
  opacity: 0;
  z-index: -1;
  height: auto !important
}

#product-single-header #hidden-span, #product-single-header select {
  -webkit-appearance: none;
  border: none;
  border-bottom: solid 1px #555;
  background-color: none;
  display: block;
  height: 28px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-position-x: 93%;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-right: 50px;
  min-width: 100px;
  margin-right: 20px;
  text-transform: uppercase
}

@media (min-width:767px) {
  #product-single-header #hidden-span, #product-single-header select {
    padding-left: 0
  }
}

#product-single-header .add-to-cart {
  margin-top: 0;
  overflow: hidden;
  display: table;
  width: 100%;
  padding-bottom: 7px
}

#product-single-header .add-to-cart #btn-cart-container {
  display: table-cell;
  float: left;
  width: 100%;
  padding-right: 12px
}

#product-single-header .add-to-cart #btn-cart-container button#product-addtocart-button {
  margin-bottom: 0;
  margin-top: 0;
  min-width: 100px
}

@media (max-width:1200px) {
  #product-single-header .add-to-cart #btn-cart-container button#product-addtocart-button {
    padding: 0 7px
  }
}

#product-single-header .add-to-cart #btn-cart-container button#product-addtocart-button[disabled] {
  cursor: default;
  opacity: .8
}

@media (max-width:767px) {
  #product-single-header #hidden-span, #product-single-header select {
    border: 1px solid #555
  }

  #product-single-header .add-to-cart #btn-cart-container button#product-addtocart-button {
    max-width: 100%
  }

  #product-single-header .call-us-container {
    width: 40%
  }
}

#product-single-header .call-us-container {
  display: table-cell;
  width: 100px;
  vertical-align: top
}

@media (max-width:767px) {
  #product-single-header .call-us-container {
    max-width: 100%;
    width: 100%
  }
}

@media (max-width:1139px) {
  #product-single-header .call-us-container {
    width: 42%
  }
}

#product-single-header .call-us-container a.btn.call-us-btn, #product-single-header .call-us-container a.btn.call-us-mobile-btn {
  padding-left: 5px;
  padding-right: 0;
  width: 100%;
  min-width: 0;
  letter-spacing: .7px;
  font-size: 12px
}

@media (max-width:910px) {
  #product-single-header .call-us-container a.btn.call-us-btn, #product-single-header .call-us-container a.btn.call-us-mobile-btn {
    text-align: center;
    padding-left: 0
  }

  #product-single-header .call-us-container a.btn.call-us-btn img, #product-single-header .call-us-container a.btn.call-us-mobile-btn img {
    margin-right: 0
  }

  #product-single-header .call-us-container a.btn.call-us-btn span, #product-single-header .call-us-container a.btn.call-us-mobile-btn span {
    display: none
  }
}

@media (max-width:767px) {
  #product-single-header .call-us-container a.btn.call-us-btn, #product-single-header .call-us-container a.btn.call-us-mobile-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding-left: 0
  }

  #product-single-header .call-us-container a.btn.call-us-btn span, #product-single-header .call-us-container a.btn.call-us-mobile-btn span {
    display: inline
  }
}

@media (max-width:1139px) {
  #product-single-header .call-us-container a.btn.call-us-btn, #product-single-header .call-us-container a.btn.call-us-mobile-btn {
    max-width: 400px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px
  }

  #product-single-header .call-us-container a.btn.call-us-btn span, #product-single-header .call-us-container a.btn.call-us-mobile-btn span {
    display: inline;
    padding-left: 13px
  }
}

#product-single-header .input-box {
  position: relative
}

#product-single-header .input-box .ellipsis {
  display: none
}

#product-single-header .input-box.with-ellipsis .ellipsis {
  width: auto;
  display: inline;
  position: absolute;
  right: 37px;
  height: 100%;
  line-height: 28px
}

#product-single-header .sizing-info {
  background-image: url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/catalog/single-product/sizing-info.png);
  background-repeat: no-repeat;
  vertical-align: top;
  line-height: 13px;
  overflow: hidden;
  padding: 4px 8px 4px 26px;
  background-position: 5px center;
  -moz-background-size: 13px;
  -o-background-size: 13px;
  background-size: 13px;
  min-height: 0;
  min-width: 0;
  letter-spacing: .5px;
  font-size: 12px
}

#product-single-header .sizing-info:hover {
  background-image: url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/catalog/single-product/sizing-info_white.png)
}

@media (max-width:767px) {
  #product-single-header .sizing-info {
    float: none;
    width: auto;
    vertical-align: top;
    line-height: 13px;
    margin-top: 0;
    top: 0;
    left: auto;
    right: auto
  }
}

#product-single-header .social-media-links {
  margin: 16px 0 0
}

@media (min-width:767px) {
  #product-single-header .social-media-links a {
    width: 16px;
    margin-right: 10%
  }
}

#product-single-header .out-of-stock-container {
  padding-top: 0
}

#product-single-header .out-of-stock-container a, #product-single-header .out-of-stock-container p {
  font-size: 12px
}

@media (max-width:880px) {
  #product-single-header .out-of-stock-container p br {
    display: none
  }
}

@media (max-width:767px) {
  #product-single-header .out-of-stock-container p br {
    display: block
  }
}

#product-single-header .out-of-stock-container .availability.out-of-stock {
  color: #a87357;
  padding: 0
}

#product-single-header .out-of-stock-container .availability.out-of-stock .h3 {
  color: #a87357;
  margin-top: 0;
  display: block;
  text-align: left;
  margin-bottom: 8px
}

#product-single-header .call-us-container.out-of-stock {
  display: block !important;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0
}

#product-single-header .call-us-container.out-of-stock a.call-us-btn {
  display: block;
  width: 100%;
  text-align: center
}

#product-single-header .uk-grid {
  position: relative
}

@media (min-width:1140px) {
  #product-single-header .uk-grid .form-container {
    position: relative;
    right: 0
  }
}

#product-single-header .uk-grid #product-main-image #image-main {
  display: block
}

#product-single-header .uk-grid #product-main-image .product-image-gallery {
  /* background: url(../../images/catalog/single-product/header-bg-update.jpg) repeat-x; */
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%
}

#product-single-header .uk-grid #product-main-image .product-image-gallery.mobile {
  display: none
}

#product-single-header .uk-grid #product-main-image .product-image-gallery.desktop {
  display: block
}

@media (max-width:1139px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery {
    background: 0 0
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile {
    display: block;
    position: relative
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-slider {
    margin: 0
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li {
    margin-left: 0;
    margin-right: 0
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li.non-styleshot {
    /* background: url(../../images/catalog/single-product/header-bg-update.jpg) repeat-x; */
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img {
    opacity: 1;
    position: inherit;
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    height: auto
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.desktop, #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-arrow:before {
    display: none
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.non-styleshot {
    height: auto;
    width: auto;
    margin: 20px auto 0;
    left: -50px;
    top: 0;
    max-height: 394px
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-arrow {
    width: 20px;
    height: 45px;
    top: 50%;
    margin: -23px 0 0;
    /* background: url(../../images/catalog/single-product/control-slider-mb.png) no-repeat; */
    -moz-background-size: auto 38px;
    -o-background-size: auto 38px;
    background-size: auto 38px;
    z-index: 1;
    opacity: .8;
    font-size: 0;
    position: absolute
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-arrow:hover {
    opacity: 1
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-arrow.prev-arrow {
    left: 10px
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-arrow.next-arrow {
    left: auto;
    right: 10px;
    background-position: top right
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile.slick-slider {
    margin: 0
  }
}

@media (max-width:767px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.non-styleshot {
    height: auto;
    width: auto;
    left: -50px
  }

  .social-media-links {
    text-align: center
  }
}

@media (max-width:1139px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li {
    overflow: hidden;
    height: 442px
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.styleshot {
    position: relative;
    max-width: none;
    max-height: none;
    width: auto;
    left: 50%;
    bottom: 0;
    top: auto;
    right: auto;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin: 0;
    height: 442px
  }
}

@media (max-width:768px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile .slick-list {
    min-height: 0
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li, #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.styleshot {
    height: 442px
  }
}

@media screen and (max-width:599px) and (min-width:401px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li {
    height: 442px
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.non-styleshot {
    position: absolute;
    bottom: 50px;
    top: auto;
    left: -50px
  }
}

@media (max-width:400px) {
  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li, #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.styleshot {
    height: 272px
  }

  #product-single-header .uk-grid #product-main-image .product-image-gallery.mobile li img.non-styleshot {
    position: absolute;
    bottom: 0;
    top: auto;
    left: -50px
  }
}

#product-single-header .uk-grid #product-main-image img.styleshot {
  max-width: none;
  top: 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: auto;
  height: 491px
}

#product-single-header .uk-grid .product-image-thumbnails {
  position: absolute;
  z-index: 999;
  width: 110px;
  margin-left: 20px;
  margin-top: 0px;
  top: 45%;
  transform: translateY(-50%);
  height: auto !important;
}

#product-single-header .uk-grid .product-image-thumbnails .top-arrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  margin-left: 44px;
  margin-top: 23px
}

#product-single-header .uk-grid .product-image-thumbnails .bottom-arrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  margin-left: 44px;
  margin-top: 4px
}

#product-single-header .uk-grid .product-image-thumbnails .thumbnails-list {
  margin: -5px 0
}

#product-single-header .uk-grid .product-image-thumbnails .thumbnails-list li {
  opacity: .5;
  border: 0px solid #ccc;
  padding: 0;
  margin: 5px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#product-single-header .uk-grid .product-image-thumbnails .thumbnails-list li.slick-current {
  opacity: 1
}

.header-details {
  margin-right: 0;
  opacity: 0;
  background: #fff;
  padding: 20px
}

@media (max-width:1139px) {
  .header-details {
    margin-top: 0 !important;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0
  }
}

.breadcrumbs {
  padding-top: 20px
}

.product_option_loader_bg {
  display: none !important
}

#extra-text {
  margin-top: 10px;
  display: none;
  text-transform: uppercase
}

#more-info-detail-1, #more-info-detail-2 {
  -webkit-transition: .5s opacity;
  -moz-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity;
  opacity: 0;
  display: block
}

#more-info-detail-1.visible, #more-info-detail-2.visible {
  opacity: 1
}

#variations-picker {
  max-width: 705px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#variations-picker .configurable-swatch-list li a img {
  max-width: 90px;
  height: auto;
  display: block;
  padding: 2px;
  width: 100%
}

#delivery-returns-short-info p {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: AvenirLTStd-Medium
}

.size-btns {
  font-size: 0;
  display: block;
  margin: 5px -3px 0 0
}

.size-btns .inner-wrapper {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  padding-right: 3px;
  float: left
}

.size-btns .inner-wrapper .sizing-btn {
  color: #fff;
  padding: 2px;
  width: 32px;
  border: 1px solid #555;
  background: #555;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  -webkit-transition: background ease .4s, color ease .4s;
  -moz-transition: background ease .4s, color ease .4s;
  -o-transition: background ease .4s, color ease .4s;
  transition: background ease .4s, color ease .4s;
  display: block;
  line-height: 17px;
  text-align: center
}

@media (max-width:399px) {
  .size-btns .inner-wrapper .sizing-btn {
    width: 38px
  }
}

.size-btns .inner-wrapper.not-available {
  position: relative
}

.size-btns .inner-wrapper.not-available .sizing-btn {
  color: #E6E6E6;
  border-color: #aaa;
  background: #aaa;
  cursor: default
}

.size-btns .inner-wrapper.not-available:after, .size-btns .inner-wrapper.not-available:before {
  position: absolute;
  left: 50%;
  content: ' ';
  height: 210%;
  width: 2px;
  margin-left: -3px;
  top: -12px;
  background-color: #fff;
  z-index: 2
}

.size-btns .inner-wrapper.not-available:before {
  -webkit-transform: rotate(60deg) translateZ(0);
  -moz-transform: rotate(60deg) translateZ(0);
  -ms-transform: rotate(60deg) translateZ(0);
  -o-transform: rotate(60deg) translateZ(0);
  transform: rotate(60deg) translateZ(0)
}

.size-btns .inner-wrapper.not-available:after {
  -webkit-transform: rotate(-60deg) translateZ(0);
  -moz-transform: rotate(-60deg) translateZ(0);
  -ms-transform: rotate(-60deg) translateZ(0);
  -o-transform: rotate(-60deg) translateZ(0);
  transform: rotate(-60deg) translateZ(0)
}

.size-btns .inner-wrapper.selected .sizing-btn {
  background: #a87357;
  color: #fff;
  border-color: #a87357
}

.size-btns .inner-wrapper.selected.not-available {
  position: relative
}

.size-btns .inner-wrapper.selected.not-available .sizing-btn {
  color: #E6E6E6;
  border-color: #aaa;
  background: #aaa;
  cursor: default
}

.size-btns.configurable-swatch-list:after {
  content: none;
  display: none;
  clear: none
}

.uk-notouch .size-btns .inner-wrapper .sizing-btn:hover {
  background: 0 0;
  color: #555
}

.uk-notouch .size-btns .inner-wrapper.not-available .sizing-btn:hover {
  color: #E6E6E6;
  border-color: #aaa;
  background: #aaa
}

.uk-notouch .size-btns .inner-wrapper.selected .sizing-btn:hover {
  background: 0 0;
  color: #555;
  border-color: #555
}

.uk-notouch .size-btns .inner-wrapper.selected.not-available .sizing-btn:hover {
  color: #E6E6E6;
  border-color: #aaa;
  background: #aaa;
  cursor: default
}

#detailed-info-alias a, #sizing-error-popup p {
  color: #a87357;
  text-transform: uppercase
}

#detailed-info-alias a {
  color: rgb(85, 85, 85);
}

#detailed-info-alias .inner-wrapper {
  line-height: 20px
}

#detailed-info-alias a {
  font-size: 12px;
  font-family: AvenirLTStd-Medium
}

#sizing-info-modal h4 {
  font-family: AvenirLTStd-Roman
}

#out-of-stock {
  display: none;
  padding-bottom: 7px
}

#out-of-stock .out-of-stock-container {
  display: table;
  width: 100%
}

#out-of-stock .out-of-stock-container .availability.out-of-stock {
  padding-bottom: 0;
  vertical-align: middle;
  display: table-cell;
  width: auto;
  padding-right: 12px;
  padding-top: 9px
}

#out-of-stock .out-of-stock-container .availability.out-of-stock .h3 {
  text-align: left;
  margin-bottom: 0;
  line-height: normal;
  vertical-align: sub;
  font-size: 20px
}

@media (max-width:1154px) and (min-width:1140px) {
  #out-of-stock .out-of-stock-container .availability.out-of-stock {
    padding-top: 5px
  }
}

#out-of-stock .call-us-container.out-of-stock {
  width: 100px;
  display: table-cell !important;
  padding-right: 0
}

@media (max-width:1139px) {
  #out-of-stock .call-us-container.out-of-stock {
    width: 50%
  }
}

@media (max-width:400px) {
  #out-of-stock .out-of-stock-container .availability.out-of-stock .h3 {
    font-size: 18px
  }

  #out-of-stock .call-us-container.out-of-stock {
    width: 40%
  }
}

#out-of-stock .call-us-container.out-of-stock a.call-us-btn {
  padding-right: 5px
}

@media (max-width:972px) and (min-width:1140px) {
  #out-of-stock .call-us-container.out-of-stock {
    width: 91px
  }

  #out-of-stock .call-us-container.out-of-stock a.call-us-btn {
    padding-left: 2px;
    padding-right: 2px
  }
}

#sizing-info-modal p {
  text-align: center
}

#detailed-info-Product-Care p, #detailed-info-Product-Care ul li {
  text-align: left
}

#detailed-info-Product-Care ul li {
  line-height: 22px;
  font-size: 14px;
  list-style-type: disc;
  margin: 10px 0 10px 15px
}

@media (min-width:768px) and (max-width:1060px) {
  #detailed-info-Product-Care ul li {
    font-size: 12px;
    line-height: 18px
  }
}

body.out-of-stock #out-of-stock {
  display: block
}

body.out-of-stock #product-addtocart-button, body.out-of-stock #product-single-header .add-to-cart .call-us-container a.btn.call-us-btn, body.out-of-stock #product-single-header .add-to-cart .call-us-container a.call-us-mobile-btn, body.out-of-stock .call-us-btn, body.out-of-stock .call-us-mobile-btn {
  display: none
}

body.out-of-stock #product-single-header .add-to-cart.border-bottom {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0
}
