.catalog-category-view #style-options-section.grid-section{margin-bottom:0}
.catalog-category-view #style-options-section h4{font-size:14px;font-family:AvenirLTStd-Black;display:block;margin-left:auto;margin-right:auto;line-height:25px;margin-bottom:30px}
.multiple-items-carousel.view-all,.style-listing-grid.view-all{overflow:hidden;margin-bottom:5px}
.multiple-items-carousel .view-all-item,.style-listing-grid .view-all-item{outline:0;margin:0 15px 30px;position:relative;float:left;height:100%;min-height:1px}
.multiple-items-carousel .view-all-item img,.style-listing-grid .view-all-item img{margin:0 auto 15px;display:block}
.multiple-items-carousel .view-all-item div.price,.style-listing-grid .view-all-item div.price{font-size:12px;line-height:1em;text-align:left}
.multiple-items-carousel .view-all-item div.price span,.style-listing-grid .view-all-item div.price span{padding-top:6px;display:inline-block}
.multiple-items-carousel .view-all-item div.order-btn,.style-listing-grid .view-all-item div.order-btn{text-align:right}
.multiple-items-carousel .view-all-item div.order-btn .btn,.style-listing-grid .view-all-item div.order-btn .btn{position:relative;top:auto;left:auto;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;min-width:0;min-height:0;padding:0 5px}
.multiple-items-carousel .view-all-item a.hover-container,.style-listing-grid .view-all-item a.hover-container{height:100%;position:absolute;top:0;width:100%;left:0;opacity:0;-webkit-transition:.4s opacity;-moz-transition:.4s opacity;-o-transition:.4s opacity;transition:.4s opacity}
.catalog-category-view #main .style-listing-grid .view-all-item .wrapper:hover .hover-container,.multiple-items-carousel .view-all-item:hover .hover-container{opacity:1}
.multiple-items-carousel .view-all-item .btn,.style-listing-grid .view-all-item .btn{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);min-width:115px}
.multiple-items-carousel .view-all-item:hover div.order-btn .btn,.style-listing-grid .view-all-item:hover div.order-btn .btn{background:#555;color:#fff}
.catalog-category-view #main .style-listing-grid .view-all-item{margin-left:0;margin-right:0;width:25%;padding-left:30px}
.catalog-category-view #main .style-listing-grid .view-all-item .wrapper{position:relative}
html.uk-touch .catalog-category-view #main .style-listing-grid .view-all-item .wrapper:hover .hover-container{opacity:0}
@media (max-width:767px){.catalog-category-view #main .style-listing-grid{margin-left:-30px}
.catalog-category-view #main .style-listing-grid .view-all-item{float:left;width:50%;margin-left:0;margin-right:0;padding-left:30px}
.catalog-category-view #style-options-section h4{margin-bottom:15px}
.style-listing-grid .view-all-item{margin:0 15px 25px}
#main .style-listing-grid .uk-grid{margin-left:-10px}
#main .style-listing-grid .uk-grid div.order-btn,#main .style-listing-grid .uk-grid div.price{width:50%;float:left;padding-left:10px}
#main .style-listing-grid .uk-grid div.order-btn .btn{display:inline-block}
}
@media (max-width:400px){#main .style-listing-grid .uk-grid div.order-btn .btn{padding-left:2px;padding-right:2px}
}