@import (reference) "_variables.less";
@import (reference) "_mixins.less";
@font-face {
	font-family: @font-family-second-base;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_0_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_0_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_0_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_0_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_0_0.ttf') format('truetype');
}

@font-face {
	font-family: @font-family-base;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_6_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_6_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_6_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_6_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_6_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-second-base-headline;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_1_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_1_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_1_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_1_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_1_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-second-base-italic;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_2_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_2_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_2_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_2_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_2_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-base-black-oblique;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_3_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_3_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_3_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_3_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_3_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-base-medium;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_4_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_4_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_4_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_4_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_4_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-base-oblique;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_5_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_5_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_5_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_5_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_5_0.ttf') format('truetype');
}



@font-face {
	font-family: @font-family-base-book-oblique;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_7_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_7_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_7_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_7_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_7_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-base-book;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_8_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_8_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_8_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_8_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_8_0.ttf') format('truetype');
}


@font-face {
	font-family: @font-family-base-black;
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_9_0.eot');
	src: url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_9_0.eot?#iefix') format('embedded-opentype'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_9_0.woff2') format('woff2'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_9_0.woff') format('woff'),url('@{cdn}/skin/frontend/RalphAndRusso/default/css/fonts/2FBAA1_9_0.ttf') format('truetype');
}



p {
	line-height: 22px;
	font-size: @font-size-base;
	margin: 0px;
	.photoshop-letterspacing-to-pixels(50px, @font-size-base);

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: @font-size-small;
		line-height: 18px;
	}

}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	text-align: center;
	color: @grey;
	font-family: @font-family-second-base;
}


h1, .h1 {
	.font(@font-size-h1);
}

h2, .h2 {
	font-size: @font-size-h2;
	margin-bottom: 20px;
	line-height: 55px;
	letter-spacing: 1.58px;

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: @font-size-large;
		line-height: 30px;
	}

	@media(max-width: @mobile-media-query) {
		line-height: 42px;
	}

}


h3, .h3 {
	font-size: @font-size-h3;
	line-height: 35px;
	margin-bottom: 20px;
	// .photoshop-letterspacing-to-pixels(150px, @font-size-h3);
	letter-spacing: 0.5px;

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: 20px;
		line-height: 25px;
	}

	@media(max-width: @mobile-media-query) {
		line-height: 32px;
	}

}

h4, .h4 {
	.font(@font-size-h4);
	letter-spacing: 0.5px;

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		font-size: @font-size-extra-small;
	}

}

h5, .h5 {
	.font(@font-size-h5);
}

h6, .h6 {
	.font(@font-size-h6);
}

h3.h2 {
	line-height: 43px;
	margin-bottom: 5px;

	@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
		line-height: 30px;
	}

	@media(max-width: @mobile-media-query) {
		line-height: 32px;
	}
}

strong {
	font-family: @font-family-base-black;
}
