@cdn: "https://dbl3m9kv9sfip.cloudfront.net";


// Colors
// -------------------------

// Red
// -------------------------
@red: #a41d37;

// White
// -------------------------
@white: #fff;

// Black
// -------------------------
@black: #000;

// Grey
// -------------------------
@grey: #555555;
@dark-grey: #363636;
@light-grey: #ececec;
@dark-grey2: #898989;
@very-light-grey: #939597;
@light-grey2: #E6E6E6;
@very-grey3: #ccc;

@bg-light-grey: #f8f8f8;

@semi-transparent-grey: rgba(230,230,230,0.95);



@brown: #a87357;



// Font-family
// -------------------------
@font-family-base: 'AvenirLTStd-Roman';
@font-family-base-black-oblique: 'AvenirLTStd-BlackOblique';
@font-family-base-medium: 'AvenirLTStd-Medium';
@font-family-base-oblique: 'AvenirLTStd-Oblique';
@font-family-base-book-oblique: 'AvenirLTStd-BookOblique';
@font-family-base-book: 'AvenirLTStd-Book';
@font-family-base-black: 'AvenirLTStd-Black';

@font-family-second-base: 'DidotLTPro-Roman';
@font-family-second-base-headline: 'DidotLTPro-Headline';
@font-family-second-base-italic: 'DidotLTPro-Italic';



// Font-size
// -------------------------
@font-size-base: 14px;
@font-size-second-base: 18px;
@font-size-small: 12px;
@font-size-smaller:    11px;
@font-size-extra-small: 10px;
@font-size-medium:          15px;
@font-size-extra-medium:    16px;
@font-size-small-larger:    20px;
@font-size-small-large:     22px;
@font-size-large:           25px;
@font-size-larger: 35px;
@font-size-extra-large: 40px;


@font-size-h1: @font-size-base;
@font-size-h2: @font-size-larger;
@font-size-h3: @font-size-large;
@font-size-h4: @font-size-small;
@font-size-h5: @font-size-base;
@font-size-h6: @font-size-base;


// Container paddings/margins
// -------------------------
@small-spacing: 15px;
@large-small-spacing: 20px;
@med-spacing: 30px;
@extra-med-spacing: 40px;
@large-spacing: 80px;

@grid-gutter: 30px;

// Mobile Nav
// -------------------------
@mobileNavWidth: 265px;

// Header Height
// -------------------------
@header-height: 122px;
@mobile-header-height: 60px;
@sticky-header-height: 110px;
@custom-menu-max-width: 760px;


// Media Query Point
// -------------------------
@mobile-media-query: @tablet-media-query-mini-max;
@mobile-small-media-query: 400px;
@tablet-media-query: 768px;
@desktop-media-query: 1024px;
@exception-media-query: 940px;
@exception-desktop-media-query: 1060px;
@product-detail-exception-media-query: 1139px;

@mobile-media-query-max:       (@mobile-media-query + 1);
@tablet-media-query-mini-max:  (@tablet-media-query - 1);
@tablet-media-query-max:       (@tablet-media-query + 1);



// Max-widths
// -------------------------
@max-width: 1260px;
@large-max-width: 1520px + (@med-spacing * 2);
@mid-max-width: 1006px;
@text-container-max-width: 623px;

// Hero Image Container
// -------------------------
@desktop-hero-max-height: 600px;
@mobile-hero-max-height: 500px;



@btn-height: 40px;
@modal-input-max-width: 317px;



// Forms
// -------------------------
@input-standard-height: 37px;
@input-tablet-height: 32px;
@input-standard-btm-spacing: 12px;
@input-tablet-btm-spacing: 10px;
@input-mobile-btm-spacing: 16px;

@max-width-input: 317px;

@min-btn-width: 201px;
