@import (reference) "../common/_extendableStyles.less";

@media (max-width: @mobile-media-query) {
	#checkout-steps {
		border: 0px;
		margin-top: 25px;
		margin-bottom: @extra-med-spacing;
		ol {
			margin-top: 10px;
			li {
				font-family: @font-family-base-black;
				font-size: @font-size-medium;
				color: @grey;

				a {
					display: inline-block;
					color: #a4a4a4;
				}
				a.step-number {
					border-radius: 50%;
					.size(40px, 40px);
					font-family: @font-family-base-black;
					font-size: @font-size-medium;
					color: #a4a4a4;
					border: 1px solid #a4a4a4;
					line-height: 39px;
				}

				a.step-title {
					display: block;
					max-width: 80px;
					margin-top: 10px;
					line-height: 1.3em;
				}

				&.active {
					a.step-number {
						background: @grey;
						color: @white;
					}
				}

				&.active:not(.completed) {
					a.step-number {
						background: #a87357;
						border-color: #a87357;
					}
				}

				&.completed {
					a.step-number {
						color: @white;
						background-color: @grey;
					}

					a.step-title {
						color: @grey;
					}

	                a {
	                    cursor: pointer;
	                }
	            }

			}

		}

	}
}
