

#checkout-steps {

    border-bottom: solid 1px @grey;
    margin: 40px 0;

    ol {

        width: 100%;
        margin: 30px auto;
        text-align: center;

        li {
            text-align: center;
            font-size: @font-size-small;
            font-family: @font-family-base-medium;
            .photoshop-letterspacing-to-pixels(120, @font-size-small);
            text-transform: uppercase;
            display: inline-block;
            color: #a4a4a4;
            vertical-align: top;
            margin: 0px;
            margin-right: 5%;

            a {
                font-size: @font-size-small;
                color: #a4a4a4;
                cursor: text;
            }

            &:last-child {
                margin-right: 0%;
            }

            &.active {
                color: @brown;

                a {
                    color: @brown;
                }
            }

            &.completed {
                color: @grey;

                a {
                    color: @grey;
                    cursor: pointer;
                }
            }
        }
    }

}


@import "_checkout-steps_mobile.less";
