@import (reference) "../common/_extendableStyles.less";

@media (max-width: 1220px) and (min-width: @tablet-media-query) {
	#cart {

		.uk-grid#label-container {
			.uk-width-3-10 {
				width: 20%;
			}

			.uk-width-1-10#price-label, .uk-width-1-10#price-total-label {
				width: 15%;
				padding-left: 20px;
			}
		}
		#product-main-container {
			.uk-width-3-10 {
				width: 20%;
			}

			.uk-width-1-10.price-container {
				width: 15%;
				padding-left: 20px;
			}
		}

		#total-price {
			.uk-width-1-4 {
				padding-left: 0px;
			}
		}

	}
}
