@import (reference) "../common/_extendableStyles.less";


// product-main-container is used at checkout process, on ORDER SUMMARY step
//
// #checkout-review-table-wrapper {
// 	.uk-grid [class*=uk-width] {
// 		&#quantity-label, &#price-label, &#price-total-label {
// 			padding-left: 10px;
// 		}
// 	}
// }

#cart, #checkout-step-review {
	text-transform: uppercase;
	font-size: @font-size-small;
	margin-bottom: 20px;

	.vertical-flex-grid-container {
		padding-left: 35px;
		-ms-flex-align: flex-start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: flex-start;
		align-content: flex-start;
	}

	.close-character {
		top: 50px;
		right: 20px;
	}

	p, p span {
		font-size: @font-size-small;
	}

	#basket-container {

		margin-bottom: 0;

		#label-container {
			padding-bottom: @small-spacing;
		}
	}

	#product-main-container {
		border-bottom: 1px solid @grey;
		border-top: 1px solid @grey;
		.product-container {
			border-bottom: 1px solid @light-grey;
			padding-bottom: @extra-med-spacing;
			padding-top: @extra-med-spacing;
			.product-img, .product-name {
				display: inline-block;
				vertical-align: middle;
			}
			.product-img-container {
				.product-img {
					width: 100%;
				}
			}

			.product-name {
				max-width: 212px;
				padding: 0px;

				span {
					display: block;

					&:first-child {
						font-family: @font-family-base-black;
						font-size: @font-size-base;
					}
				}
			}

			&:last-child {
				border-bottom: 0px;
			}
		}
	}

	#total-price {
		padding-top: @extra-med-spacing;

		#payment-methods {
			span {
				display: inline-block;
				margin-right: @small-spacing;
				.size(53px, 37px);

				img {
					.size(100%, 100%);
				}
			}

			p {
				padding-bottom: @extra-med-spacing;

				&.label {
					max-width: 100%;
					margin-left: 0px;

				}
			}
		}

		.last {
			// text-align: right;
			.uk-grid+.uk-grid {
				margin-top: @med-spacing;

				&#tax, &#delivery-cost {
					margin-top: 0;
				}
			}

		}

		.button-container {
			padding-left: 0;
			text-align: center;
			max-width: 290px;
			width: 100%;
			float: right;

			a.btn {
				width: 100%;
				max-width: 100%;
			}
		}

		.label {
			font-family: @font-family-base-black;
			padding: 0px;
			color: @grey;
			font-weight: normal;
			font-size: @font-size-small;
			display: block;
			text-align: left;
			white-space: normal;
			margin-left: auto;
		}

		#total {
			span {
				font-size: @font-size-base;
				font-family: @font-family-base-black;
			}
		}
	}

	#grand-total, #subtotal {
		.label {
			margin-left: 0px;
		}
	}
}

#cart {

	h2 {
		font-size: 30px;
		line-height: 50px;
		padding-top: @extra-med-spacing;
	}

	.price {
		word-break: break-all;
	}

	#total-price {
		.uk-width-3-4 {
			width: 67%;
		}

		.uk-width-1-4 {
			width: 33%;
		}
	}

	.button-container {
		margin-top: 40px;
	}

}

#checkout-step-review {

	#total-price {
		padding-top: 0px;
	}
}


.help-icon {
	background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/layout/QUESTION-MARK-DESKTOP@2x.png") 0% 50% no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
	float: right;

}

.cart-empty {
	margin: @extra-med-spacing 0;
	text-align: center;
}

#checkout-step-shipping_method, #secure-code-help-modal {

	.uk-modal-dialog {
		max-width: initial;

		p {
			margin-bottom: 30px;
		}
	}

}

#delivery-info-modal {
	.uk-modal-dialog p {
		text-align: justify;
	}
}

#shopping-bag-modal {
	.messages {
		text-align: left;
	}
}

@import "cart_desktop.less";
@import "cart_mobile.less";
