@import (reference) "../common/_extendableStyles.less";

@media (max-width: @mobile-media-query) {

	#cart, #checkout-step-review {
		.back-btn {
			background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-MOBILE@2x.png") left center no-repeat;
			background-size: 10px 18px;
		}

		.close-character {
			top: 30px;
			right: 20px;
			width: 24px;
			height: 24px;
		}

		#product-main-container {

			border-top: 0;

			.product-container {

				padding-top: 0px;
				padding-bottom: 22px;
				margin-bottom: 22px;

				.remove-container-mobile {
					width: 60%;
					float: left;
					margin-left: 0;
					padding-left: 0;
					margin-bottom: 0px;

					div.remove a {
						background: url("@{cdn}/skin/frontend/RalphAndRusso/default/images/cart/REMOVE-MOBILE@2x.png") 0% 50% no-repeat;
						background-size: 17px 17px;
						padding-left: 28px;
					}
				}

				.product-name {
					display: block;
				}

				&:last-child {
					border-bottom: 0px;
					padding-bottom: 0px;
				}
			}
		}
	}

	#cart {

		margin-bottom: 50px;

		.quantity {
			padding-top: 17px;
		}

		.price {
			padding-top: 17px;
			margin-bottom: 17px;
		}

		.mobile-top-checkout-btn {
			margin-bottom: 35px;

			&.button-container {
				padding-left: 0;
				text-align: center;
				width: 100%;
				max-width: 100%;
				float: none;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 35px;
				a.btn {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		h2 {
			padding-top: 3px;
			line-height: 24px;
			margin-bottom: 35px;
			font-size: 24px;
			text-align: left;
		}

		#product-main-container {
			border: 0px;
			.uk-grid [class*=uk-width] {
				float: none;
				&.product-img-container {
					width: 40%;
					margin-left: 0px;
					margin-bottom: 0;
				}

				&.uk-width-3-10 {
					width: 60%;
					padding-left: @med-spacing;
					margin-bottom: 0;
				}
			}
		}

		#total-price {
			border-top: 1px solid @light-grey;
			padding-top: 22px;

			.uk-grid [class*=uk-width] {
				margin-bottom: 0px;
			}

			.label {
				line-height: 1em;
			}

			.price {
				padding-top: 0;
				margin-bottom: 0;
			}

			.button-container {
				float: none;
				margin-left: auto;
				margin-right: auto;
				margin-top: @med-spacing;
				margin-bottom: @med-spacing;
				max-width: 100%;
			}

			.uk-grid+.uk-grid {
				margin-top: @large-small-spacing;
			}

			.uk-grid {
				line-height: 1em;
			}

			.last {
				.uk-grid+.uk-grid {
					margin-top: 22px;
				}
			}
		}

		#payment-methods {
			order: 1;
		}

		#basket-container {
			margin-bottom: 0;

			#label-container {
				display: none;
			}
		}
	}
}


@media (max-width: @mobile-small-media-query) {
	#cart #total-price {
		#payment-methods {
			span {
				margin-right: 9px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}
