@import (reference) "../common/_extendableStyles.less";

@media (max-width: 320px) {
	.checkout {
		#checkout-step-payment {

			#realexdirect_cc_type_exp_div {
				.v-fix:first-child {
					margin-right: 8px;
				}
			}
		}
	}
}

@media (max-width: @mobile-media-query) {

	#main {
		background-color: @bg-light-grey;
		padding-bottom: 0px;

		.page {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
			padding-top: 12px;
		}

		#checkout-container {
			padding: 35px 32px 0;
			background: @white;


			#checkout-step-payment {
				ul.agreements-list {
					display: none;
				}
			}

			#checkout-step-buttons-container .step {
				display: none;
			}

			.uk-width-4-6 {
				order: 2;
			}

			.progress-container {
				display: block;
				margin-bottom: 0px;
				order: 1;

				#progressReview {
					margin: 0 -32px;
					padding: 0px;
					background: @bg-light-grey;

					#progress-steps, #client-service {
						background: @bg-light-grey;
						width: 100%;
						padding-left: 32px;
						padding-right: 32px;
						padding-top: 30px;
						padding-bottom: 30px;

						.block-title span {
							font-size: @font-size-small-larger;
						}

						#progress-review-minicart {

							.uk-grid [class*=uk-width] {
								margin-bottom: 0px;
							}

							&.uk-grid [class*=uk-width] {
								float: left;
								margin: 0;
							}

							.item {
								margin-bottom: 0px;
							}

							.uk-width-6-10 {
								width: 60%;
							}

							.uk-width-4-10:first-child {
								padding-left: 0px;
							}

							.product-image {
								width: 100%;
							}

							[class*=uk-width] {
								padding-left: 25px;
							}

							.uk-grid {
								margin-left: 0px;

								[class*=uk-width]:first-child {
									padding-left: 0px;
								}
							}

							.cost-summary {

								.uk-grid.total [class*=uk-width] {
									.uk-width-6-10 {
										width: 60%;
									}
								}

							}

							#cart-sidebar {
								.uk-grid+.uk-grid {
									margin-top: @large-small-spacing;
								}
							}


							.variation {
								line-height: 18px;
								font-size: 13px;
								margin-bottom: 10px;
							}

							.to-send-as-gift {
								font-family: @font-family-base-black;
							}

							.truncated {
								margin-top: 0;

								.truncated_full_value {
									margin-bottom: 10px;

									.item-options {
										line-height: 1.6em;
									}
								}


							}

							.remove a {
								font-size: @font-size-small;
								margin-top: 7px;
								display: block;
								padding-left: 16px;
							}

							.price {
								display: block;
								font-family: @font-family-base-black;
								margin: 0;
								font-size: @font-size-small;

							}

							.product-name {
								font-family: @font-family-base-black;

								a {
									font-family: @font-family-base-black;
								}
							}

							dd, dt {
								display: inline;
								line-height: 1em;
							}

							.info-wrapper {
								margin-bottom: 0.5em;
							}
							.info-wrapper th {
								text-transform: uppercase;
								padding-right: 10px;
							}
							.info-wrapper td {
								color: #3399cc;
								clear: right;
							}
							.info-wrapper .qty-wrapper td {
								height: 33px;
								line-height: 33px;
							}
							.info-wrapper .qty {
								padding-left: 4px;
								padding-right: 4px;
								margin-right: 2px;
								width: 3.2em;
								text-align: center;
								height: 30px;
							}
							.info-wrapper .quantity-button {
								opacity: 0;
								-webkit-transition-property: opacity;
								-moz-transition-property: opacity;
								-o-transition-property: opacity;
								transition-property: opacity;
								-webkit-transition-duration: 100ms;
								-moz-transition-duration: 100ms;
								-o-transition-duration: 100ms;
								transition-duration: 100ms;
							}
							.info-wrapper .quantity-button[disabled] {
								cursor: default;
							}
							.info-wrapper .quantity-button.visible {
								opacity: 1;
							}
							.subtotal {
								background-color: #DDDDDD;
								text-align: center;
								line-height: 2em;
							}
							.subtotal .label {
								color: white;
								text-transform: uppercase;
							}
							.subtotal .price {
								color: #3399cc;
							}
						}

						#client-service {
							margin-bottom: @med-spacing;
						}
					}

					#checkout-mini-shopping-bag {
						display: block;
						padding-bottom: 10px;
						padding-top: @large-small-spacing;

						h3.block-subtitle {
							display: none;
						}
						.mini-products-list {
							border-top: 0px;
							padding-top: 0px;

							li.item {
								padding-bottom: 0px;
								border-bottom: 0px;
								margin-top: 0px;
							}

							li .product-details {
								width: 60%;
								margin-bottom: @small-spacing;
							}

							.remove {
								display: none;
							}
						}
						.block-content {
							display: none;
						}
						&.bottom-border {
							border-bottom: 1px solid #a4a4a4;
							margin-bottom: 25px;
							padding-bottom: 0px;
							position: relative;

							&:after {
								content: "";
								position: absolute;
								left: 50%;
								bottom: -13px;
								.translate(0px, -50%);
								width: 0; 
								height: 0; 
								border-left: 8px solid transparent;
								border-right: 8px solid transparent;
								border-top: 8px solid #a4a4a4;
							}
						}
					}
				}


			}

		}

		#total-price {


			[class*=uk-width] {
				margin-bottom: 0px;
			}


			.uk-width-10-10 {
				display: block;
			}

		}

		.uk-grid [class*=uk-width] {
			float: left;


			.uk-width-1-10 {
				width: 10%;
			}

			.uk-width-2-10 {
				width: 20%;
			}

			.uk-width-3-10 {
				width: 30%;
			}

			.uk-width-4-10 {
				width: 40%;
			}

			.product-container .price-container:last-child {
				display: none;
			}


		}

		.checkout {
			padding: 15px 0px 0px;
			padding-top: 0px;

			.page-title {
				padding: 0;
			}

			h2.h3 {
				font-size: @font-size-small-larger;
				margin-bottom: 10px;
			}

			#checkout-progress-wrapper {
				margin-top: 0px;
			}

			form select {
				min-width: 0;
			}

			.additional-info-container {
				margin-bottom: 25px;
				padding-bottom: @small-spacing;
			}

			button {
				max-width: 100%;
				width: 100%;
				margin-bottom: 35px;
			}


			.uk-grid .last {
				display: none;
			}

			.back-btn {
				display: block;
				margin-left: 32px;
				position: relative;
				margin-bottom: @small-spacing;
				margin-top: 0px;
				font-size: @font-size-extra-small;
				text-transform: inherit;
				color: @grey;

				&.checkout-billing-back-btn {
					display: block;
					margin-left: 0px;
					margin-bottom: 0px;
					margin-top: 6px;
					font-size: @font-size-small;
					text-transform: uppercase;
					color: @brown;
				}
			}

			.back-btn:not(.checkout-billing-back-btn) {
				background: url(/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-GREY@2x.png) left center no-repeat;
				background-size: 5px 9px;
			}

			.step  {

				p.sub-instruction {
					max-width: 100%;
				}

				.buttons-set, ul.form-list {
					max-width: 520px;
					margin: 20px auto;;
				}
				ul.form-list {
					margin: 25px auto 0;

					&.mobile-agreement-form-list {
						margin-top: 0;
					}

					li.fields, .wide {
						div.input-box {
							display: block;
						}
					}
				}

			}

			#billing_cp_button_div_id, #shipping_cp_button_div_id {
				margin-right: 0px;

				button {
					padding: 0;
				}
			}

		}

		#checkoutSteps {
			padding: 0px;

			#checkout-step-payment {
				margin-bottom: 30px;
			}
		}

		#label-container {
			display: none;
		}
	}

	#checkout-step-review {

		margin-bottom: 0;

		section#basket-container {
			margin-bottom: 0;
		}

		.exotic-skin-info-container {
			margin: 0 -32px;
			padding: 32px;
			border-bottom: 0;
			background-color: rgba(247, 242, 240, 0.9);
		}

		#total-price {
			border-top: 1px solid @grey;
			padding-top: 25px;
			padding-bottom: 25px;

			&.exotic-skin-info-displayed {
				margin-top: 36px;
				padding-top: 0;
				border-top: 0;
			}

			.uk-width-3-10 {
				width: 50%;
				line-height: 1em;
			}

			#delivery-cost {
				span {
					line-height: 1em;
				}
			}

			#grand-total {
				margin-top: 18px !important;

				span {
					line-height: 1em;
				}
			}

			.button-container {
				float: none;
				max-width: 100%;
			}
		}





		#product-main-container {

			border-bottom: 0;

			.product-container {

				&:nth-last-child(2) {
					border-bottom: 0;
					margin-bottom: 0;
				}

				margin-bottom: 25px;
				padding-bottom: 23px;

				.uk-grid [class*=uk-width] {
					margin-bottom: 0px;
				}

				.uk-grid + .uk-grid {
					margin-top: 10px;
				}

				&.uk-grid [class*=uk-width] {
					float: left;
					margin: 0;
				}

				.item {
					margin-bottom: 0px;
				}

				.uk-width-6-10 {
					width: 60%;
				}

				.uk-width-4-10:first-child {
					padding-left: 0px;
				}

				.product-image {
					width: 100%;
				}

				[class*=uk-width] {
					padding-left: 25px;
				}

				.uk-grid {
					margin-left: 0px;

					[class*=uk-width]:first-child {
						padding-left: 0px;
					}
				}

				#cart-sidebar {
					.uk-grid+.uk-grid {
						margin-top: @large-small-spacing;
					}
				}


				.variation {
					line-height: 18px;
					font-size: 13px;
					margin-bottom: 10px;
				}

				.to-send-as-gift {
					font-family: @font-family-base-black;
				}

				.truncated {
					margin-top: 0;

					.truncated_full_value {
						margin-bottom: 10px;

						.item-options {
							line-height: 1.6em;
						}
					}


				}

				.remove a {
					font-size: @font-size-small;
					margin-top: 7px;
					display: block;
					padding-left: 16px;
				}

				.price {
					display: block;
					font-family: @font-family-base-black;
					margin: 0;
					font-size: @font-size-small;

				}

				.product-name {
					font-family: @font-family-base-black;
					font-size: @font-size-medium;

					a {
						font-family: @font-family-base-black;
					}
				}

				dd, dt {
					display: inline;
					line-height: 1em;
				}

				.info-wrapper {
					margin-bottom: 0.5em;
				}
				.info-wrapper th {
					text-transform: uppercase;
					padding-right: 10px;
				}
				.info-wrapper td {
					color: #3399cc;
					clear: right;
				}
				.info-wrapper .qty-wrapper td {
					height: 33px;
					line-height: 33px;
				}
				.info-wrapper .qty {
					padding-left: 4px;
					padding-right: 4px;
					margin-right: 2px;
					width: 3.2em;
					text-align: center;
					height: 30px;
				}
				.info-wrapper .quantity-button {
					opacity: 0;
					-webkit-transition-property: opacity;
					-moz-transition-property: opacity;
					-o-transition-property: opacity;
					transition-property: opacity;
					-webkit-transition-duration: 100ms;
					-moz-transition-duration: 100ms;
					-o-transition-duration: 100ms;
					transition-duration: 100ms;
				}
				.info-wrapper .quantity-button[disabled] {
					cursor: default;
				}
				.info-wrapper .quantity-button.visible {
					opacity: 1;
				}
				.subtotal {
					background-color: #DDDDDD;
					text-align: center;
					line-height: 2em;
				}
				.subtotal .label {
					color: white;
					text-transform: uppercase;
				}
				.subtotal .price {
					color: #3399cc;
				}

				.gift-message-container {
					margin-top: 10px;

					.uk-width-2-10 {
						width: 0;
					}

					.uk-width-8-10 {
						width: 100%;
						padding-left: 0;
					}

					.gift-message-instruction {
						margin-top: 10px;
					}

					textarea {
						margin-bottom: 10px;
					}

					input[type="checkbox"] {
						margin-bottom: 0;
					}
				}
			}

		}

	}
	.checkout {
		#checkout-mini-shopping-bag {
			.uk-grid {
				[class*=uk-width] {
					margin-bottom: 10px;
				}
			}
		}
	}

}


@media (max-width: @mobile-media-query) and (min-width: @mobile-small-media-query) {

	.checkout {
		#checkout-mini-shopping-bag {
			.uk-grid {
				.uk-width-4-10 {
					max-width: 140px;
				}
			}
			.product-image {
				width: 140px;
				img {
					width: 140px;
				}
			}
		}
	}

}

@media (max-width: (@mobile-small-media-query - 1px)) {
	.checkout #checkout-mini-shopping-bag .mini-products-list li .product-details .item-options>div, 
	.checkout #checkout-mini-shopping-bag .mini-products-list dd, 
	.checkout #checkout-mini-shopping-bag .mini-products-list dt {
		line-height: 12px;
	}
}





