@import (reference) "../common/_extendableStyles.less";

@media(max-width: @max-width) {
	#header {
		padding-left: 0;
		padding-right: 0;
	}

	#footer {
		.footer-container {
			margin-left: auto;
			margin-right: auto;
			max-width: 1220px;
		}
	}
}

@media(max-width: 1220px) {
	#header {

		#secondary-nav {
			left: 20px;
			right: 20px;
		}

	}
}

@media (max-width: @exception-desktop-media-query) and (min-width: @tablet-media-query) {
	#billing_cp_button_div_id button, #shipping_cp_button_div_id button {
		height: @input-tablet-height;
	}
}


@media (max-width: 977px) and (min-width: @tablet-media-query) {
	#checkout-steps ol li {
		margin-right: 2.5%;

		&:last-child {
			margin-right: 0%;
		}
	}
}

@media (max-width: 950px) and (min-width: @tablet-media-query) {
	#checkout-steps ol li {
		width: 25%;
	}

	#checkout-container {
		.uk-width-4-6 {
			width: 58.33%;

			#checkoutSteps {
				padding-left: 30px;
				padding-right: 30px;

				#checkout-step-review {
					#total-price {

						.uk-width-4-10 {
							display: none;
						}
						.uk-width-3-10 {
							width: 50%;
							line-height: 1em;
						}
						.uk-width-6-10 {
							width: 100%;
						}
					}
				}
			}
		}

		.uk-width-2-6 {
			width: 41.66%;
		}
	}

	.checkout {
		#progress-steps {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media(max-width: 878px) {
	#checkout-step-review {

		.uk-grid#label-container {
			[class*=uk-width] {
				padding-left: 15px;

				&.product-img-container, &.restricted-column {
					padding-left: 30px;
				}
			}
		}
		#product-main-container {
			.uk-grid [class*=uk-width] {
				padding-left: 15px;

				&.product-img-container {
					padding-left: 30px;
				}
			}
		}
	}
}
