@import (reference) "../common/_extendableStyles.less";
@import "_checkout-steps.less";

#main {
	background: @bg-light-grey;
	padding-bottom: 60px;
	max-width: @max-width - (@large-small-spacing * 2);
	margin: 0 auto;

	// .page {
	// 	// .padded-container;
	// 	// background: @bg-light-grey;
	// 	// padding-bottom: 60px;
	// 	margin-left: 20px;
	// 	margin-right: 20px;
	// 	padding-left: 0;
	// 	padding-right: 0;
	// }
}

.footer-container {
	margin-top: 0px;
}

#checkoutSteps {
	background: #FFF;
	padding: 40px 10%;
}

#billing-new-address-form {

	margin-top: 20px;

	.name-prefix select {
		width: 100px;
		min-width: 100px;
	}
}

#checkout-shipping-method-load {
	display: none;
}

#rr-simplified-shipping  {
	margin-bottom: 50px;

	p {
		margin-bottom: 20px;
	}
}

#allow-gift-message-container {
	display: block !important;
}

.gift-message-instruction {
	margin-bottom: 20px;
}


.please-wait {
	display: none !important;
}


.checkout {
	.horizontally-centered-block-element;
	padding-left: 30px;
	padding-right: 30px;

	.back-btn {
		position: absolute;
		margin-top: 6px;

		&.checkout-billing-back-btn {
			display: none;
		}
	}

	#checkout-step-buttons-container {
		display: none;
	}

	#progress-steps,  #client-service {
		margin-top: -40px;
		padding: 40px 25px;
		background: @white;

		#progress-review-minicart {
			padding: 0px;

			div {
				padding: 0;
				font-size: 13px;
			}

			.uk-grid {
				margin-left: 0;
			}

			.cost-summary {

				[class*=uk-width] {
					padding-left: 25px;
				}

				.uk-grid {
					margin-left: 0px;

					[class*=uk-width]:first-child {
						padding-left: 0px;
					}
				}

				.label {
					font-family: @font-family-base-medium;
				}
			}

			#progress-review-cart-sidebar {

				.product-image {
					width: 100%;
				}

				[class*=uk-width] {
					padding-left: 25px;
				}

				.uk-grid {
					margin-left: 0px;

					[class*=uk-width]:first-child {
						padding-left: 0px;
					}

				}

				#cart-sidebar {
					.uk-grid+.uk-grid {
						margin-top: @large-small-spacing;
					}
				}

				.variation {
					line-height: 18px;
					font-size: 13px;
				}

				.to-send-as-gift {
					font-family: @font-family-base-black;
					margin-bottom: 4px;
				}

				&.mini-products-list {
					padding: 0px;
					text-align: left;
					padding-top: 0px;
					text-transform: uppercase;
					margin-bottom: 30px;

					p {
						font-size: 13px;
						margin-bottom: 4px;
					}

					dt, dd {
						display: inline-block;
						font-size: 13px;
					}

					dd {
						font-family: @font-family-base-medium;
					}

					.truncated {
						margin-top: 0;
						margin-bottom: 4px;
					}

					.remove a {
						font-size: @font-size-small;
						margin-top: 7px;
						display: block;
						padding-left: 16px;
					}

					.price {
						display: block;
						font-family: @font-family-base-black;
						margin: 0;
						font-size: @font-size-small;

					}

					li.item {
						padding-bottom: @large-small-spacing;
						border-right: none !important;
						border-bottom: 1px solid #DDDDDD;
						position: relative;
						display: block !important;
						margin-left: 0px;

						.uk-width-1-2:first-child {
							padding-left: 0px;
						}

					}

					li .product-details {
						position: relative;

						.item-options > div {
							margin-bottom: 4px;
						}
					}
					.product-details .product-name {
						font-family: @font-family-base-black;
					}
					.product-details .product-name a {
						font-family: @font-family-base-black;
					}
					.info-wrapper {
						margin-bottom: 0.5em;
					}
					.info-wrapper th {
						text-transform: uppercase;
						padding-right: 10px;
					}
					.info-wrapper td {
						color: #3399cc;
						clear: right;
					}
					.info-wrapper .qty-wrapper td {
						height: 33px;
						line-height: 33px;
					}
					.info-wrapper .qty {
						padding-left: 4px;
						padding-right: 4px;
						margin-right: 2px;
						width: 3.2em;
						text-align: center;
						height: 30px;
					}
					.info-wrapper .quantity-button {
						opacity: 0;
						-webkit-transition-property: opacity;
						-moz-transition-property: opacity;
						-o-transition-property: opacity;
						transition-property: opacity;
						-webkit-transition-duration: 100ms;
						-moz-transition-duration: 100ms;
						-o-transition-duration: 100ms;
						transition-duration: 100ms;
					}
					.info-wrapper .quantity-button[disabled] {
						cursor: default;
					}
					.info-wrapper .quantity-button.visible {
						opacity: 1;
					}
					.subtotal {
						background-color: #DDDDDD;
						text-align: center;
						line-height: 2em;
					}
					.subtotal .label {
						color: white;
						text-transform: uppercase;
					}
					.subtotal .price {
						color: #3399cc;
					}
				}
			}
		}
	}


	#checkout-progress-wrapper #client-service {
		margin-top: 30px;
		padding: 18px 25px;

		dl div {
			padding: 0px;
		}

		.changelink a {
			float: none;
		}
	}

	#checkout-mini-shopping-bag {
		margin-top: -40px;
		padding: 40px 25px;
		background: @white;

		h3.block-subtitle {
			text-align: left;
			margin-bottom: 22px;
		}

		.product-image {
			width: 100%;
		}

		[class*=uk-width] {
			padding-left: 25px;
		}

		.uk-grid {
			margin-left: 0px;

			[class*=uk-width]:first-child {
				padding-left: 0px;
			}
		}

		#cart-sidebar {
			.uk-grid+.uk-grid {
				margin-top: @large-small-spacing;
			}
		}


		.variation {
			line-height: 18px;
			font-size: 13px;
		}

		.mini-products-list {
			padding: 0px;
			text-align: left;
			padding-top: 0px;
			text-transform: uppercase;

			padding-top: @large-small-spacing;
			border-top: 1px solid #DDDDDD;

			dt, dd {
				display: inline-block;
				font-size: @font-size-extra-small;
			}

			dd {
				font-family: @font-family-base-medium;
			}

			.truncated {
				margin-top: 10px;
			}

			.remove a {
				font-size: @font-size-small;
				margin-top: 7px;
				display: block;
				padding-left: 16px;
			}

			.price {
				display: block;
				font-family: @font-family-base-black;
				margin: 0;
				font-size: @font-size-small;

			}

			li.item {
				padding-bottom: @large-small-spacing;
				border-right: none !important;
				border-bottom: 1px solid #DDDDDD;
				position: relative;
				display: block !important;
				margin-left: 0px;

				.uk-width-1-2:first-child {
					padding-left: 0px;
				}

			}

			li .product-details {
				position: relative;

				.item-options > div {
					margin-bottom: 4px;
				}
			}
			.product-details .product-name {
				font-family: @font-family-base-black;
			}
			.product-details .product-name a {
				font-family: @font-family-base-black;
			}
			.info-wrapper {
				margin-bottom: 0.5em;
			}
			.info-wrapper th {
				text-transform: uppercase;
				padding-right: 10px;
			}
			.info-wrapper td {
				color: #3399cc;
				clear: right;
			}
			.info-wrapper .qty-wrapper td {
				height: 33px;
				line-height: 33px;
			}
			.info-wrapper .qty {
				padding-left: 4px;
				padding-right: 4px;
				margin-right: 2px;
				width: 3.2em;
				text-align: center;
				height: 30px;
			}
			.info-wrapper .quantity-button {
				opacity: 0;
				-webkit-transition-property: opacity;
				-moz-transition-property: opacity;
				-o-transition-property: opacity;
				transition-property: opacity;
				-webkit-transition-duration: 100ms;
				-moz-transition-duration: 100ms;
				-o-transition-duration: 100ms;
				transition-duration: 100ms;
			}
			.info-wrapper .quantity-button[disabled] {
				cursor: default;
			}
			.info-wrapper .quantity-button.visible {
				opacity: 1;
			}
			.subtotal {
				background-color: #DDDDDD;
				text-align: center;
				line-height: 2em;
			}
			.subtotal .label {
				color: white;
				text-transform: uppercase;
			}
			.subtotal .price {
				color: #3399cc;
			}
		}

	}


	button {
		max-width: @max-width-input;
		width: 100%;
	}

	form textarea {
		width: 100%;
	}

	.validate-zip-international {
		width: 54% !important;
	}

	.back-link {
		display: none;
	}

	.page-title {
		padding: 5px 0px 5px;

		h2.h3 {
			margin-bottom: 0;
			line-height: 1em;
		}
	}

	.col2-set {
		.narrow-container;
	}

	p.sub-instruction {
		margin-bottom: 35px;
	}

	#checkout-progress-wrapper {
		margin-top: @extra-med-spacing;

		.block-title span {
			font-size: @font-size-small-larger;
			font-family: @font-family-second-base;
			text-transform: uppercase;
		}

		.changelink a {
			color: @brown;
			float: right;
			font-size: @font-size-small;
		}

		.block-title {
			padding-bottom: 5px;

			span {
				line-height: 1em;
			}
		}

		.block-content {

			dt.top-bordered {
				border-top: 1px solid rgba(0,0,0,0.3);
				padding-top: 20px;
			}

			dd.complete {
				padding-top: 20px;
				font-size: 13px;
				line-height: 20px;
				padding-left: 10px;

				span {
					font-family: @font-family-base-black;
				}

				th {
					text-align: left;
				}

			}
			dl div {
				text-transform: uppercase;
				font-size: @font-size-base;
				.photoshop-letterspacing-to-pixels(150, @font-size-base);
				padding: @large-small-spacing 0px 0px;


			}
		}

	}

	.step {

		form, ul.form-list {
			label {
				.photoshop-letterspacing-to-pixels(150, @font-size-small);
			}

			.fields, .wide, li {
				label {
					display: block;
				}

				div.input-box {
					display: block;
				}
			}
		}

		h2 {
			text-align: left;
		}

		p.sub-instruction {
			max-width: 360px;
		}
		ul.form-list {
			max-width: @max-width-input;
			margin-top: 30px;
			&.billing-address-list {
				margin-top: 25px;
			}

			div.input-box {
				display: inline-block;
			}

			input, select {
				width: 100%;

				&.radio, &.checkbox {
					width: auto;
					margin-right: 10px;
				}

				&.radio {
					width: 16px;
				}
			}

			#remember-me-box, li.control  {
				margin-top: 10px;

				label, .input-box {
					display: inline-block;
				}
			}

		}

		.buttons-set {
			margin-top: @med-spacing;
			display: table;
			width: 100%;
			max-width: 317px;

			.button-container {
				padding-right: 12px;
				display: table-cell;
				float: left;
				width: 100%;

				button {
					min-width: 100px;
					margin: 0;
					padding-bottom: 0;
					padding-top: 0;

					@media (max-width: 1060px) {
						span {
							font-size: @font-size-small;
						}
					}
				}

				@media (max-width:@tablet-media-query-mini-max) {
					padding-right: 0px;
					display: block;
					float: none;
				}
			}


			.need-help-container {
				display: table-cell;
				width: 120px;
				vertical-align: top;

				@media (max-width:@tablet-media-query-mini-max) {
					max-width: 100%;
					width: 100%;
					display: block;
					float: none;
				}

				a.btn.need-help-btn, a.btn.need-help-mobile-btn {
					padding-left: 8px;
					padding-right: 0;
					width: 120px;
					min-width: 0;
					text-align: left;
					letter-spacing: .7px;
					font-size: 12px;


					@media (max-width:@tablet-media-query-mini-max) {
						width: 100%;
						display: block;
						text-align: center;
						padding-left: 0;

						img {
							margin-right: 8px;
						}

						span {
							display: inline;
						}

					}

				}
			}

		}

	}

	#checkout-step-login {
		// border-top: 1px solid @grey;
		.col {
			.wrapper {
				background: @white;
				width: 100%;
				padding-top: 80px;
				padding-bottom: 80px;
				padding-left: 40px;
				padding-right: 40px;
				display: table;
				.content {
					max-width: 360px;
					.horizontally-centered-block-element;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}


		.form-list, .buttons-set {
			max-width: 297px;
			.horizontally-centered-block-element;
		}

		.buttons-set {
			margin-top: @small-spacing;
			.button {
				width: 100%;
				display: table-cell;
				float: left;
			}

			#need-help-container {
				display: table-cell;
				width: 100px;
				vertical-align: top;
			}

		}

		#forgotten-password {
			margin-top: @small-spacing;

			a {
				color: @dark-grey2;
			}
		}
	}

	#checkout-step-shipping {
		#shipping-new-address-form {
			padding-top: 10px;
		}
	}
	#checkout-step-shipping_method {
		p.sub-instruction {
			max-width: 100%;
		}
	}
	#checkout-step-payment {

		p.sub-instruction {
			max-width: 100%;
		}
		#realexdirect_cc_type_exp_div {

			.v-fix {
				max-width: 122px;
				display: inline-block;
				width: 100%;

				&:first-child {
					margin-right: 15px;
				}

				select {
					min-width: 0px;
				}
			}
		}

		#realexdirect_cc_type_cvv_div {

			.v-fix {

				input {
					max-width: 200px;
					margin-right: 10px;
				}

				.help-icon {
					display: inline-block;
					text-align: left;
					float: none;
					vertical-align: middle;
					margin-top: -4px;
				}
			}
		}
	}
}

.validate-zip-international {
	min-width:inherit;
	width: 35%;
}

#shipping_cp_result_display, #billing_cp_result_display {
}

#billing_cp_button_id, #shipping_cp_button_id {
	.grey-btn;
}

#billing_cp_button_div_id, #shipping_cp_button_div_id {
	right: 0px;
	margin-right: -4px;
	left: auto !important;
}

#billing_cp_button_div_id, #shipping_cp_button_div_id {
	width: 43% !important;

	button {
		min-width: 0px;
		height: @input-standard-height;
		min-height: inherit;
		width: 96.5%;
	}
}

#billing_cp_result_display.error {
	margin-bottom: 10px;
}

.payment-method-review-instruction {
	margin-top: 15px;
	font-size: 11px;
}

#checkout-success {
	background: @bg-light-grey;
}

.agreement-content {
	display: none;
}
#grand-total {
	margin-top: 10px !important;
	margin-bottom: 20px;
}
.duty-fee {
	margin-bottom: 20px;
	text-transform: none;

	strong {
		font-family: @font-family-base-black;
	}
}

.checkout-agreements {
	input {
		margin-left: 0px;
		margin-bottom: 0px;
		height: 12px !important;
		vertical-align: baseline !important;
		line-height: 22px;
	}
	label {
		font-size: 12px;
		display: inline !important;
		letter-spacing: 1px !important;
		a {
			font-size: inherit;
			color: @brown;
		}
	}
}

#realexdirect_cc_type_cvv_div .help-icon {
	margin-right: 5px
}

.btn-checkout {
	width: 100%;
}

.additional-info-container {
	border-bottom: 1px solid @grey;
	margin-bottom: 15px;
	padding: 0 0 30px 0;
	text-transform: none;

	a {
		font-size: @font-size-small;
		color: @brown;
	}
}

#checkout-step-billing {

	.additional-info-container {
		margin-bottom: 30px;
	}

}

#checkout-step-billing, #checkout-step-review {

	h2.h3 {
		margin-bottom: 22px;
		line-height: 1em;
	}

}

#checkout-step-review {

	section#basket-container {
		margin-bottom: 30px;


		.delivery-time {
			margin-top: 0px;
		}

	}

	.exotic-skin-info-container {
		border-bottom: 1px solid @grey;
		padding: 0 0 30px 0;
		margin-bottom: 30px;
		text-transform: none;
	}

	.gift-message-container {
		margin-top: 30px;
	}

	#total-price {

		.label {
			font-family: @font-family-base;
		}

		.price-container {
			text-align: left;

			span.price {
				padding-left: 15px;
				font-family: @font-family-base-black;
			}

		}

	}

}


#tax-info-popup-btn {
	color: @brown;
	text-transform: initial;
	font-size: 13px;
	margin-left: 3px;
}

.tax-info-modal {
	a {
		color: @brown;
	}
}

.gift-message-counter {
	margin-top: -13px;
	display: block;
}


#opc-payment {
	form #dt_method_realexdirect {
		clear: both;
		input[type=radio] {
			float: left;
		}
	}
}

@import "checkout_desktop.less";
@import "checkout_mobile.less";
