@import (reference) "../common/_extendableStyles.less";

html {
	height: 100%;
}
body.checkout-onepage-failure {

	height: 100%;

	.main-container {
		height: 100%;
	}
	#mp-pusher {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	#main {
		background: @bg-light-grey;
		margin: 0px @large-small-spacing;
		width: auto;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding-top: 0px;
		padding-bottom: 0px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;

		@media (max-width: @mobile-media-query) {
			margin: 0px;
			.padded-container;
			padding-top: @mobile-header-height + 40px;
			padding-bottom: @mobile-header-height;

			-webkit-box-align: baseline;
			-webkit-align-items: baseline;
			-ms-flex-align: baseline;
			align-items: baseline;
			-webkit-box-pack: baseline;
			-webkit-justify-content: baseline;
			-ms-flex-pack: baseline;
			justify-content: baseline;
			-webkit-align-content: baseline;
			-ms-flex-line-pack: baseline;
			align-content: baseline;

			min-height: 1px;
		}

		.page {
			max-width: 850px;
			@media (max-width: @mobile-media-query) {
				padding-top: 0px;
				h2 {
					line-height: 50px;
					word-break: break-word;
				}
			}

			h3 {
				font-family: @font-family-base;
				font-size: @font-size-small-larger;
				margin-bottom: @med-spacing;

				@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {

					font-size: @font-size-second-base;
				}

				@media(max-width: @mobile-media-query) {
					font-size: @font-size-second-base;
				}
			}

			#order-no-block {
				margin-bottom: 10px;
				margin-top: 45px;
			}
			.page-inner-container {
				.padded-container;
			}
		}

		@media (max-width: @mobile-media-query) {
			margin: 0px;
		}

	}

	.footer-container {
		margin-top: 0px;
	}

}