@import (reference) "../common/_extendableStyles.less";


.checkout-onepage-success {

	height: 100%;

	.main-container {
		height: 100%;
	}

	#mp-pusher {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -moz-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
	}

	#main {
		background: @bg-light-grey;
		padding-bottom: 5px;
		position: relative;
		margin: 0px @large-small-spacing;
		width: auto;
		width: auto;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		-moz-box-flex: 1;
		flex: 1;

		.page {
			display: table;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			.transform(translate(-50%, -50%));
			max-width: 932px;
			padding-top: 0px;
			#checkout-success {
				text-align: left;
				margin: 0px auto;
				padding: 50px 10%;
				background: @white;

				.buttons-set {
					text-align: center;
					margin-top: @extra-med-spacing;

					.btn {
						max-width: 317px;
						width: 100%;
					}

					@media(max-width: @mobile-media-query) {
						margin-top: 25px;
					}
				}

				h2 {
					text-align: left;
				}

				h3 {
					font-family: @font-family-base;
					font-size: 20px;
					margin-bottom: @large-small-spacing;
					text-align: left;

					span {
						font-family: @font-family-base-black;
						font-size: 20px;
						color: @brown;
						display: inline;
					}

					@media(min-width: @tablet-media-query) and (max-width: @exception-desktop-media-query) {
						font-size: @font-size-second-base;
						span {
							font-size: @font-size-second-base;
						}
					}

					@media(max-width: @mobile-media-query) {
						font-size: @font-size-second-base;
						span {
							font-size: @font-size-second-base;
						}
					}
				}
			}
			@media(max-width: @mobile-media-query) {
				position: relative;
				top: auto;
				left: auto;
				.transform(translate(0, 0));
			}
		}

		@media(max-width: @mobile-media-query) {
			margin-left: 0px;
			margin-right: 0px;
			min-height: 0px;
			.page {
				#checkout-success {
					margin: 0px;
					.padded-container;
					margin-top: @large-small-spacing;
					margin-bottom: @small-spacing;
					padding-bottom: @med-spacing;
					padding-top: @med-spacing;
				}
			}
		}
	}

	.footer-container {
		margin-top: 0px;
	}
}
