<?php

$_helper    = $this->helper('catalog/output');
$category  = Mage::registry('current_category');
$introVideo = $category->getData('haute_couture_intro_video');
$productCount = $category->getProductCount();

?>

<style>

	#no-route .std {
		display: none;
	}

	.breadcrumbs {
		display: none;
	}

</style>

<div id="haute-couture" class="info-page page-inner-container layout2-page">
	<h2><?= $category->getName() ?></h2>
	<?php
	if ($introVideo):
		?>

	<section class="reduced-gutter cinema-screen">
		<div class="cinema-screen-play-btn"></div>

		<?= $introVideo ?>

		<script>

			if (window.location.hash == "#short-cinema-screen") {
				jQuery(".cinema-screen").height(350).on("click", function() {
					jQuery(".cinema-screen").removeAttr("style")
				})
			}

		</script>
	</section>

<?php endif; ?>

<?php if ($productCount): ?>
	<div class="narrow-container">
		<section id="runway-looks" class="carousel-section">
			<h3> <span> <?= $category->getMetaTitle() ?> </span>
				runway looks </h3>
				<?php echo $this->getLayout()->getBlock('runway-looks')->toHtml(); ?>
			</section>
		</div>

		<?php if ($category->landing_page)
		echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($category->landing_page)->toHtml();
		?>





	<?php else: ?>

		<div class="no-products">



			<?php if ($category->landing_page)
			echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($category->landing_page)->toHtml();
			?>
		</div>

	<?php endif; ?>




</div>
