<div class="page-inner-container">
    <?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>
</div>

<?php

$category  = Mage::registry('current_category');
$parentCategory =  $category->getParentCategory();

$products = Mage::getModel('catalog/product')
->getCollection()
->addAttributeToSelect('description')
->addAttributeToSelect('name')
->addAttributeToSelect('small_image')
->addAttributeToSelect('image')
->addAttributeToSelect('short_spec')
->addCategoryFilter($category)
->load();

$closeBtnColor = $category->getData('close_btn_color');
$closeBtnColor = $closeBtnColor == 275 ? 'dark' : 'light';

?>

<div id="lookbook" class="close-btn-color-<?= $closeBtnColor ?> page-inner-container">

    <h4 id="fashion-season"><?= $parentCategory->getMetaTitle() ?></h4>
    <h3>RUNWAY LOOKS</h3>
    <div id="lookbook-grid" >
        <div data-uks-grid="{gutter: 20, animation: true}" class="lookbook-row uk-grid">

            <div id="lookbook-roller" class="uk-grid roller-hidden uk-panel">
                <div class="lookbook-content uk-width-1-1 uk-grid-collapse uk-grid">
                    <div class="uk-width-4-10" id="lookbook-content-image-container">
                        <figure>
                            <a href="/skin/frontend/RalphAndRusso/default/images/dummy/lookbook/AW15-Look-1.jpg" title="" class="zoom-btn lightbox-image"></a>
                            <img src="" class="lightbox-large-image" style="display:none;">
                        </figure>
                        <img id="lookbook-roller-image" src="<?= Mage::getBaseUrl('media')  ?>skin/frontend/RalphAndRusso/default/images/dummy/Look-1-large.png" />
                    </div>

                    <div class="uk-width-6-10 lookbook-roller-detail uk-vertical-align">
                        <div class="uk-vertical-align-middle">
                            <div class="close-btn close-character"></div>
                            <h4><?= $parentCategory->getMetaTitle() ?></h4>
                            <h3 id="lookbook-roller-detail-title"></h3>
                            <div id="lookbook-roller-detail-short-spec"></div>
                            <?=  $this->getLayout()->createBlock('cms/block')->setBlockId('social_share_links')->toHtml(); ?>
                            <p id="lookbook-roller-detail-description"></p>

                            <p class="lookbook-enquiries">Client Service: <a href="tel:00442088785399">+44 (0) 20 8878 5399</a></p>

                            <button class="uk-button btn make-an-appointment-btn" data-uk-modal="{target:'#make-an-enquiry-modal', center:false}">Make an enquiry</button>
                        </div>
                    </div>
                </div>

            </div>

            <?php

            $i = 0;

            $productWidth = null;
            $productHeight = null;
            foreach ($products as $product):
                $productImage = $this->helper('catalog/image')->init($product, 'image');

            if ($productWidth == null)
                $productWidth =  $productImage->getOriginalWidth();

            if ($productHeight == null)
                $productHeight =  $productImage->getOriginalHeight();

            ?>

            <div data-id="<?= ++$i ?>"
                 data-product-id="<?php echo $product->getEntityId(); ?>"
                 data-name="<?= $product->getName() ?>"
                 data-h4="<?= $parentCategory->getMetaTitle() ?>"
                 data-description="<?= $product->getDescription() ?>"
                 data-short-spec="<?php echo htmlentities($product->getData('short_spec')); ?>"
                 class="lookbook-pane">
                <img data-large-image="<?= $productImage ?>" data-large-image-width="<?= $productWidth ?>" data-large-image-height="<?= $productHeight ?>" alt="" src="<?= $this->helper('catalog/image')->init($product, 'small_image') ?>" alt="Couture">
            </div>


        <?php endforeach; ?>


    </div>

    <div  class="lookbook-row uk-grid">


    </div>

</div>
</div>

<?php echo $this->getChildHtml('bookEnquiry') ?>
