<?php
$_productCollection=$this->getLoadedProductCollection();

// TODO http://stackoverflow.com/questions/2854110/magento-limiting-number-of-returned-items-in-product-collection-call
$_productCollection->clear()
->setPageSize(1000)
->load();

$_helper = $this->helper('catalog/output');

$category  = Mage::registry('current_category');

?>

<div class="multiple-items-carousel">

    <?php

    $i = 0;
    foreach ($_productCollection as $product):

        if ($product->getImage() == 'no_selection')
        continue;
        ?>


        <div><img alt="" src="<?= $this->helper('catalog/image')->init($product, 'small_image') ?>" alt="Couture">
            <a href="<?= $category->getUrl() ?>/lookbook?look=<?= ++$i ?>" class="hover-container"></a>
        </div>




    <?php endforeach; ?>

</div>
<div class="btn-container"><a href="<?= $category->getUrl() ?>/lookbook" class="btn">VIEW ALL</a></div>
