.uk-modal .uk-modal-dialog-lightbox{padding:0;max-width:initial}
.uk-modal .uk-modal-dialog-lightbox .uk-close:first-child{top:15px;right:15px;width:38px;height:38px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/layout/CROSS-DESKTOP@2x.png);-moz-background-size:cover;-o-background-size:cover;background-size:cover;cursor:pointer;display:block}
.uk-modal .uk-modal-dialog-lightbox .uk-close:first-child:after{content:""}
.uk-modal.uk-open .uk-lightbox-content{opacity:1!important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;filter:alpha(opacity=100)!important}