.uk-modal#lightbox-modal{background:rgba(230,230,230,.95)}
.uk-modal .uk-modal-dialog-lightbox{width:100%!important;margin:0!important;top:0!important;max-width:100%!important;height:auto!important;padding:0;background:rgba(230,230,230,.95)}
.uk-modal .uk-modal-dialog-lightbox .uk-lightbox-content .uk-responsive-width{max-width:none!important;width:100%!important;display:block;margin-left:auto;margin-right:auto}
.uk-modal .uk-modal-dialog-lightbox .uk-close:first-child{top:15px;right:15px;width:38px;height:38px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/layout/CROSS-DESKTOP@2x.png);-moz-background-size:cover;-o-background-size:cover;background-size:cover;cursor:pointer;display:block}
.uk-modal .uk-modal-dialog-lightbox .uk-close:first-child:after{content:""}
.uk-modal.uk-open .uk-lightbox-content{opacity:1!important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;filter:alpha(opacity=100)!important}
@media (max-width:767px){.uk-modal{margin-top:0}
}