.carousel-section{margin-bottom:150px}
.slick-slide{outline:0;margin:0 15px;position:relative}
.slick-slide .hover-container{background:rgba(255,255,255,.65);height:100%;position:absolute;top:0;width:100%;left:0;opacity:0;-webkit-transition:.4s opacity;-moz-transition:.4s opacity;-o-transition:.4s opacity;transition:.4s opacity}
.slick-slide:hover .hover-container{opacity:1}
.slick-slide:focus{outline:0}
.slick-next,.slick-prev{top:-38px;min-width:0;left:50%;width:30px;height:30px}
.slick-next:before,.slick-prev:before{color:#555;text-align:center}
.slick-prev{margin-left:-45px}
.slick-next{right:auto;margin-left:15px}