@import (reference) "../../common/_extendableStyles.less";


.slick-slider {
	margin-top: 65px;
	margin-bottom: @grid-gutter;

	&.carousel-without-nav {
		@media(min-width: @tablet-media-query) {
			margin-top: @med-spacing;
		}
	}

	.btn, a.btn, button {
		min-width: 115px;
	}
}
.slick-slide
{
	outline: none;
	margin: 0px @small-spacing;
	position: relative;

	.hover-container {
		background: rgba(255,255,255,0.65);
		height: 100%;
		position: absolute;
		position: absolute;
		top: 0px;
		width: 100%;
		left: 0px;
		opacity: 0;
		.transition(0.4s opacity);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);

		.btn {
			position: absolute;
			left: 50%;
			top: 50%;
			.transform(translate(-50%,-50%));
		}
	}

	img {
		margin: 0 auto;
	}

	&:hover {
		.hover-container {
			opacity: 1;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}
	}
}

.slick-slide:focus {
	outline: none;
}


.slick-prev, .slick-next {
	top: -49px;
	min-width: 0px;
	left: 50%;
	width: 30px;
	height: 30px;
	min-width: 0px;

	&:before {
		color: @grey;
		text-align: center;
	}

}

button.slick-prev, button.slick-next {
	min-width: 0px;
}

h4.carousel-page-header {
	font-size: 15px;
	text-align: left;
	margin-top: 10px;
}

.slick-prev {
	// margin-left: -@med-spacing * 2;
	margin-left: -45px;
}

.slick-next {
	right: auto;
	margin-left: 15px;
}

.custom-slick {
	text-align: center;

	.slick-prev, .slick-next {
		top: auto;
		position: relative;
		margin-left: 0px;
		margin-right: 0px;
		left: auto;
		right: auto;
		display: inline-block !important;
		padding-top: 0px;
		text-align: center;
		vertical-align: text-top;

		&:before {
			display: block;
		}
	}

	.slick-track {
		.horizontally-centered-block-element;
	}

	span {
		vertical-align: top;
		padding-right: 10px;
		padding-left: 10px;
		font-size: @font-size-small;
		font-family: @font-family-base-medium;
	}

	.slick-slider {
		margin-top: @small-spacing;
		margin-bottom: 50px;
	}
	.slick-slide {
		a {
			display: block;

			img {
				border: 1px solid @white;
			}
		}
		&.active, &.selected {
			a {
				img {
					border-color: @brown;
				}
			}
		}
	}

	@media(max-width: @mobile-media-query) {
		.slick-slide {
			margin: 0px 10px;
		}
		.slick-slider {
			margin-bottom: 0px;
		}
	}
}
