#lookbook #lookbook-roller-detail-title{margin-bottom:12px}
#lookbook .social-media-links{margin-top:35px}
#lookbook #lookbook-roller.uk-grid .social-media-links{margin-bottom:50px}
@media (max-width:768px){#lookbook #lookbook-roller.uk-grid .social-media-links{margin-bottom:35px}
}
#lookbook .lookbook-pane{text-align:center;position:relative}
#lookbook .lookbook-pane .zoom-btn{display:none;position:absolute;top:15px;right:15px;width:29px;height:29px;background:url(/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-MOBILE@2x.png) no-repeat;-moz-background-size:29px 29px;-o-background-size:29px 29px;background-size:29px 29px}
#lookbook.close-btn-color-dark .lookbook-pane .zoom-btn{display:none;position:absolute;top:15px;right:15px;width:29px;height:29px;-moz-background-size:29px 29px;-o-background-size:29px 29px;background-size:29px 29px;background-image:url(/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DARK-MOBILE@2x.png)}
.uk-touch #lookbook .lookbook-pane.btn-active .zoom-btn,.uk-touch #lookbook.close-btn-color-dark .lookbook-pane.btn-active .zoom-btn{display:block}
#lookbook-roller-detail-short-description,#product-variation-name{text-transform:uppercase;margin-top:5px;text-align:center}
#lookbook-roller-detail-short-description{margin-bottom:20px}
@media (max-width:767px){#lookbook-pane-modal .uk-modal-dialog .img-container a.zoom-btn,#main #mobile-scroll-top{display:none}
}