@media (max-width:767px){#header #secondary-nav .parent .first,#header #secondary-nav .parent .last ul.links li{display:none}
#header{height:110px}
#header #secondary-nav{top:50%;height:20px;margin-top:-10px}
#header #secondary-nav .parent .last{width:100%}
#header #secondary-nav .parent .last ul.links li.last{display:block}
#header #secondary-nav .parent .last ul.links li.last a.top-link-cart{margin-right:0}
#header .wrapper{display:none}
#header a.logo{margin-bottom:0;margin-top:5px;height:60px}
#header a.logo img{top:0}
}