@media (min-width:768px){#empty-invisible-overlay,#mobile-menu-trigger,.mp-menu,.scroller{display:none}
.mp-pusher{-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important}
body{overflow:visible}
}