
<?php

$category  = Mage::registry('current_category');
$intro = $category->getData('haute_couture_intro_video');

?>

<style>

	#no-route .std {
		display: none;
	}

	.breadcrumbs {
		display: none;
	}

</style>

<div id="the-house" class="info-page page-inner-container layout2-page">

	<h2>OUR STORY</h2>

	<?php
	if ($intro)
		echo $intro;
	?>

	<?= Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($category->landing_page)->toHtml(); ?>

</div>
