
body {
background: red !important;
}

.product_option_loader_bg {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.product_option_loader_bg .product_option_loader{
    border-radius: 27px;
    height: 28px;
    left: 47%;
    opacity: 0.8;
    position: relative;
    top: 45%;
    width: 28px;
}
.option_container_bg {
    background: none repeat scroll 0 0 rgba(13, 11, 11, 0.72);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.option_container_wrapper
{
    position:relative;
    top: 75px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 42em;
    max-height: 30em;
    overflow: auto;
    overflow-x:hidden;
    border: 10px solid #7f8c8d;
    background: none repeat scroll 0 0 #fff;
    padding:5px;
    z-index: 99;

}
.option_container_wrapper .product-options {
     width: 280px;
}
.option_container tr td{
    padding:5px;
}

.close_option_container{
    background: #2c3e50;
    color:#fff;
    font-weight: bold;
    float: right;
    /*height: 20px;*/
    font-size: 14px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 999999;
}


.option_container_wrapper .option_product_image_bg .option_product_image{
    /*height:200px;*/
    width: 150px;
}
.cart_wrap .add-to-cart-buttons .btn-cart
{
    /*background: #1abc9c;*/
    margin: 10px;
}
.cart_wrap .add-to-cart .qty-wrapper{
    display: inline;
}
.cart_wrap .add-to-cart .add-to-cart-buttons{
    display: inline;
}
@media screen and (max-width: 795px){
    .option_container_wrapper .option_product_image_bg .option_product_image{
        width:150px;
    }
    .option_container_wrapper{
        width:500px;
    }
}
@media screen and (max-width: 550px){
    .option_container_wrapper .option_product_image_bg .option_product_image{
        width:100px;
    }
    .option_container_wrapper{
        width:350px;
    }
    td .product_name{
        font-size: 15px;
        width: 180px !important;
    }
    .option_container_wrapper .product-options{
         width: 200px;

    }

}
.cart_container_bg{
    background: none repeat scroll 0 0 rgba(13, 11, 11, 0.72);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.cart_container_bg .cart_wrapper{
    position:relative;
    top: 75px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 51em;
    max-height: 31em;
    overflow:auto;
    overflow-x:hidden;
    border: 10px solid #7f8c8d;
    background: none repeat scroll 0 0 #fff;
    padding:5px;
    z-index: 99;
    /*display: none;*/
}
.cart_container_bg .cart_wrapper .cart_table{
    width: 600px;
    text-align: left;
    border-spacing: 16px;
    border-collapse: separate;
}


.cart_table td, .cart_table th {
    vertical-align: top;
    border:5px;
}
.cart_wrapper > div {
    width: 620px;
    margin-bottom: 35px;
}
.cart_wrapper h1 {
    display: inline;
    margin-bottom: 10px;
}
.cart_table th {
    font-size: 15px;
    font-weight: bold;
}

.checkout-types {
    float: right;
    margin-right: 10px;
}
.cart_wrap .add-to-cart {
    margin-top:10px;
}
.option_container_wrapper > h2{
    text-align: center;
}


@media screen and (max-width: 795px){
    .cart_container_bg .cart_wrapper .cart_table {
        width: 490px;
    }
    .cart_container_bg .cart_wrapper {
        width:40em;
    }
    .cart_table th {
        font-size: 13px;
        font-weight: bold;
    }
}

@media screen and (max-width: 550px){
    .cart_container_bg .cart_wrapper {
        width: 33em;
    }

    .cart_container_bg .cart_wrapper .cart_table {
        font-size: 10px;
        padding: 0;
        width: 407px;
    }

    .product-image > img {
        width: 40px;
    }

    .cart_wrapper h1 {
        display: inline;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .cart_table button.button{
        width: 120px;
    }
    .cart_table button.button span{
        font-size: 10px;
    }
}
    .cart_table td.a-center > a{
        display: none;
    }

    .cart_table td.a-center a.btn-remove.btn-remove2 {
        display: block;
    }
