@import (reference) "../base/_animate.less";
@import (reference) "../base/_variables.less";

@media (max-width: @mobile-media-query) {
    #contact {
        #show-rooms-map {
            display: none;
        }

        form#contactForm {

            input, select, button, .btn {
                max-width: 100%;
            }

            select#contact-title {
                max-width: 50%;
            }

        }

        h3 {
            text-align: center;
        }


        .uk-width-4-10.last {
            order: 1;
            margin-bottom: 40px !important;

            .wrapper {
                max-width: none;
                margin-right: auto;
            }
        }

        .uk-width-6-10 {
            order: 2;
        }

        .location {
            margin-bottom: 20px;
        }

        button[type="submit"] {
            width: 100%;
        }

    }
}
