@import (reference) "../base/_animate.less";
@import (reference) "../common/_extendableStyles.less";

@gold: #a87357;

#contact {
    h3, h4 {
        text-align: left;
    }

    h4 {
        font-size: @font-size-second-base;
        line-height: 30px;
        margin-bottom: 10px;
    }

     h4.country {
    font-size: 14px;
    font-family: AvenirLTStd-Black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

    #show-rooms-map {
        display: block;
        height: 605px;
        margin-bottom: @extra-med-spacing;
    }

    a.show-on-map {
        color: @gold;
        display: inline-block;
        margin-top: 15px;
        line-height: 20px;
        .photoshop-letterspacing-to-pixels(150, @font-size-small);
        font-size: @font-size-small;
    }

    #contact-messages {
        .messages {
            margin-bottom: 22px;
        }
    }

    .last .wrapper {
        max-width: 388px;
        margin-left: auto;
    }

    form#contactForm {

        input, select, button, .btn {
            min-width: 0px;
            max-width: 293px;
            width: 100%;
        }

        textarea {
            width: 100%;
        }

        select#contact-title {
            max-width: 0px;
            min-width: 168px;
        }
    }

    .location {
        margin-bottom: @extra-med-spacing;

        address, p {
            font-size: @font-size-small;
            line-height: 18px;
        }

        address {
            margin-bottom: 10px;
        }
    }

    .google-map-marker {
        width: 45px;
    }
}

#contact-us-modal {
    h3 {
        text-transform: initial;
    }
}

@import "contact_mobile.less";
