<?php
$productIds = explode(',', $this->getProductIds());
?>
<section id="colour-options" class="carousel-section box-collateral box-up-sell">
	<h3>GIFT IDEAS<span>FOR HER </span></h3>

	<div class="multiple-items-carousel">
		<?php foreach ( $productIds as $id ): ?>
			<?php $_item = Mage::getModel('catalog/product')->load($id); ?>
			<div>
				<a href="<?php echo $_item->getProductUrl() ?>" >
					<img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image') ?>" alt="<?php echo $this->escapeHtml($_item->getName()) ?>">
				</a>
			</div>
		<?php endforeach; ?>
	</div>
</section>
<script type="text/javascript">
	jQuery("#colour-options .multiple-items-carousel").slick({
		infinite: true,
		slidesToShow: 4,
		slidesToScroll: 1,
		centerPadding: '30px',
		responsive: [
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 2,
					centerPadding: '0px',
					slidesToScroll: 2
				}
			}
		]
	});
</script>