<style type="text/css">
.option_container .price-box .price-as-configured {
    display: none;
}
</style>
<div class="product_option_loader_bg"><div class="product_option_loader"></div></div>
<div class="option_container_bg"><div class="option_container_wrapper"></div></div>
<div class="cart_container_bg"><div class="cart_wrapper"></div></div>
<?php
	$_productCollection=$this->_getProductCollection();
	$product_data=array();
	$i=0;
	foreach ($_productCollection as $_product){
			$product_data[$i]['id']=$_product->getEntityId();
			$product_data[$i]['url']=$_product->getProductUrl();
			$i++;
	}
	$product_json=json_encode($product_data);
?>


<script type="text/javascript">
    if (typeof jQuery == 'undefined'){
        document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<script type="text/javascript">
        var optionData="";
        var cart_url='';
        var product_id="";
        var message="";
		jQuery.noConflict();
		jQuery('.btn-cart').removeAttr('onClick');
		if (jQuery('.button').parent('.actions').length > 0){
			jQuery('.button').removeAttr('href');
		}
		(function($wk_jq){
			$wk_jq('.button').on('click',function(e){
				var product_url=$wk_jq(this).parents('li').find('.product-name a').attr('href');
				if (typeof product_url !== typeof undefined && product_url !== false) {
					$wk_jq('.product_option_loader_bg').show();
					var json =JSON.parse('<?php echo $product_json ?>');
					$wk_jq.each(json,function(index,element){
							if(element.url==product_url){
								product_id=element.id;
							}
						});
	                $wk_jq('.product_option_loader').html("<img src=<?php echo $this->getSkinUrl('ajaxcart/images/ajax-loader-32.gif'); ?> >loading...");
					$wk_jq.ajax({
						url:"<?php echo  Mage::getUrl('ajaxcart/index/productdetail'); ?>",
						type:'post',
	                    dataType:'json',
						data:{
	                       product_id:product_id 
	                    },
						success:function(htmlData){
	                        var cart_url=htmlData.cart_url;
	                        if(htmlData.has_option==1){
		                        $wk_jq('.product_option_loader_bg').hide();
		                        $wk_jq('.option_container_bg').show();
	                            if(htmlData.hasOwnProperty('custom_option')){
                                    optionData=htmlData.option_Price;
                                    var optionsPrice = new Product.OptionsPrice(optionData);
                                    window.optionsPrice=optionsPrice;
	                            }
	                                $wk_jq('.option_container_wrapper').html("<h2 class=product_name><span class=close_option_container>X</span>"+htmlData.product_name+"</h2><form id=product_addtocart_form  enctype=multipart/form-data><div class=product_container><div class=option_container><table><tr><td class=image_con><p class=option_product_image_bg><img class=option_product_image src="+htmlData.image_url+"></p></td><td><div class=product_option>"+htmlData.custom_option+"</div><div class=cart_container><span>"+htmlData.price+"</span><span class=cart_wrap>"+htmlData.add_to_cart+"<span></div></td></tr></table></div></div><form>");
	                                var customForm = new VarienForm(product_addtocart_form,true);
	                                window.customForm=customForm;

	                                $wk_jq('.option_container_wrapper').find('.btn-cart').attr('onClick','addprotocart(\"'+cart_url+'\")');
	                        }else{
                                $wk_jq.ajax({
                                    url : cart_url,
                                    type : "POST",
                                    data :{
                                        qty:1
                                    },
                                    success : function(data){
											$wk_jq('.product_option_loader_bg').hide();
											var cartTable = $wk_jq(data).find("#shopping-cart-table").html();
											var chekoutBtn = $wk_jq(data).find(".title-buttons").html();
											if($wk_jq(data).find(".messages").html().length > 0){
												var message = $wk_jq(data).find(".messages").html();
											}
											var links = $wk_jq(data).find(".links").html();
											$wk_jq('.links').html(links);
											$wk_jq('.cart_container_bg').show();
											$wk_jq('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><span>"+message+"</span><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");

											$wk_jq('.cart_table').find('.btn-continue').removeAttr('onClick');
                                    },
                                    error:function(a,b,c){
                                        console.log('error');
                                    }
                                });      
	                        }
						},
						error:function(a,b,c){
							console.log('error');
						}
					});
				}
			});

            $wk_jq('body').on('click','.close_option_container',function(){
                $wk_jq('.product_container').remove();
                $wk_jq('.option_container_bg').hide();
                $wk_jq('.cart_table_con').remove();
                $wk_jq('.cart_container_bg').hide();
            });
		})(jQuery);

	function addprotocart(submit_url){
			if(customForm.validator.validate()){
	                jQuery(".product_option_loader_bg").show();
	                jQuery.ajax({
	                    url : submit_url,
	                    type : "POST",
	                    data : jQuery("#product_addtocart_form").serialize(),
	                    success : function(data){
	                        jQuery('.product_option_loader_bg').hide();
	                        jQuery('.option_container_bg').hide();
	                        var links = jQuery(data).find(".links").html();
							jQuery('.links').html(links);
	                        var cartTable = jQuery(data).find("#shopping-cart-table").html();
	                        var chekoutBtn = jQuery(data).find(".title-buttons").html();
	                        var message = jQuery(data).find(".messages").html();
							jQuery('.cart_container_bg').show();
							if(typeof cartTable != 'undefined' && typeof chekoutBtn != 'undefined'){
							 	jQuery('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><span>"+message+"</span><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");

				            jQuery('.cart_table').find('.btn-continue').removeAttr('onClick');
							 }else{
								jQuery('.cart_wrapper').html("<span>"+message+"</span>");
							 	setTimeout(function(){
									jQuery('.cart_container_bg').hide();
								},1000);
							}
	                    },
	                    error:function(a,b,c){
	                        console.log('error');
	                    }
	                });
	        }else
	        return false;
	}

	(function($wk_jq){
		$wk_jq('body').on('click','.btn-remove',function(e){
			$wk_jq('.product_option_loader_bg').show();
			var removeItemUrl=$wk_jq(this).attr('href');
			$wk_jq(this).removeAttr('href');
			$wk_jq.ajax({
				url:removeItemUrl,
				type:'post',
				success:function(cartData){
					$wk_jq('.product_option_loader_bg').hide();
					var links = $wk_jq(cartData).find(".links").html();
					$wk_jq('.links').html(links);
					if ($wk_jq(cartData).find("#shopping-cart-table").length > 0) {
						var cartTable = $wk_jq(cartData).find("#shopping-cart-table").html();
						var chekoutBtn = $wk_jq(cartData).find(".title-buttons").html();
						$wk_jq('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");
						$wk_jq('.cart_table').find('.btn-continue').removeAttr('onClick');
					}else{
						// var cartTable = jQuery(cartData).find(".col-main").html();
						$wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
						setTimeout(function(){
							$wk_jq('.cart_container_bg').hide();
						},1000);
					}
				},
				error:function(a,b,c){
					console.log('error');
				}
			});
		});
		
		$wk_jq('body').on('click','#empty_cart_button',function(event){
			$wk_jq(".product_option_loader_bg").show();
			event.preventDefault();
			$wk_jq.ajax({
				url:"<?php echo  Mage::getUrl('checkout/cart/updatePost'); ?>",
				type:'post',
				data : {update_cart_action:'empty_cart',form_key:"<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>"},
				success:function(clearAllItem){
					$wk_jq('.product_option_loader_bg').hide();
					var links = $wk_jq(clearAllItem).find(".links").html();
					$wk_jq('.links').html(links);
					// var cartTable = $wk_jq(clearAllItem).find(".col-main").html();
					$wk_jq('.cart_container_bg').show();
					$wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
					setTimeout(function(){
				         $wk_jq('.cart_container_bg').hide();
				    },1000);
				},
				error:function(a,b,c){
					console.log('error');
				}
			});

		});

		$wk_jq('body').on('click','.btn-update',function(event){
			$wk_jq(".product_option_loader_bg").show();
			event.preventDefault();
			$wk_jq.ajax({
				url:"<?php echo  Mage::getUrl('checkout/cart/updatePost'); ?>",
				type:'post',
				data :$wk_jq('#cart_form').serialize(),
				success:function(updateItem){
					$wk_jq('.product_option_loader_bg').hide();
					var links = $wk_jq(updateItem).find(".links").html();
					$wk_jq('.links').html(links);
					if ($wk_jq(updateItem).find("#shopping-cart-table").length > 0) {
						var cartTable = $wk_jq(updateItem).find("#shopping-cart-table").html();
						var chekoutBtn = $wk_jq(updateItem).find(".title-buttons").html();
						$wk_jq('.cart_wrapper').html("<span class=close_option_container>X</span><div>"+chekoutBtn+"</div><hr><div class=cart_table_con><form id=cart_form method=post><input type=hidden name=form_key value=<?php echo Mage::getSingleton('core/session')->getFormKey(); ?> ><table class=cart_table>"+cartTable+"</table></form></div>");
						$wk_jq('.cart_table').find('.btn-continue').removeAttr('onClick');
					}else{
						// var cartTable = jQuery(updateItem).find(".col-main").html();
						$wk_jq('.cart_wrapper').html("<div class=cart_table_con><h4>Your cart is empty</h4></div>");
						setTimeout(function(){
							$wk_jq('.cart_container_bg').hide();
						},1000);
					}
				},
				error:function(a,b,c){
					console.log('error');
				}
			});
		});

		$wk_jq('body').on('click','.btn-continue',function(){
			$wk_jq('.cart_container_bg').hide();
		});
	})(jQuery);

</script>