.btn,.btn-container,a.btn,button{text-align:center}
.btn,a.btn,button{background:0 0;color:#565656;font-size:12px;line-height:25px;text-transform:uppercase;vertical-align:middle;-webkit-transition:background ease .4s,color ease .4s;-moz-transition:background ease .4s,color ease .4s;-o-transition:background ease .4s,color ease .4s;transition:background ease .4s,color ease .4s;cursor:pointer;padding:10px 30px;border:1px solid #565656;height:45px;display:inline-block;width:auto;-webkit-appearance:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font-family:AvenirLTStd-Roman;letter-spacing:1.8px;outline:0}
.btn.inverted,.btn:hover,a.btn.inverted,a.btn:hover,button.inverted,button:hover{background:#565656;color:#fff}
.btn:focus,a.btn:focus,button:focus{outline:0}
.btn.inverted:hover,a.btn.inverted:hover,button.inverted:hover{background:0 0;color:#565656}