form{font-family:AvenirLTStd-Roman;font-size:12px;color:#565656}
form label{text-transform:uppercase}
form em{color:#565656}
form .validation-advice{margin-top:-15px;margin-bottom:5px;height:24px}
form input,form select{height:37px}
form button,form input,form select,form textarea{display:inline-block;-webkit-appearance:none;width:100%;margin-bottom:25px;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:1px solid #565656;padding:0 12px;font-family:inherit;font-size:inherit;color:#565656;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;letter-spacing:.7px}
form button.validation-failed,form input.validation-failed,form select.validation-failed,form textarea.validation-failed{-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;transition:.5s all}
form button::-webkit-input-placeholder,form input::-webkit-input-placeholder,form select::-webkit-input-placeholder,form textarea::-webkit-input-placeholder{color:#565656}
form button:-moz-placeholder,form input:-moz-placeholder,form select:-moz-placeholder,form textarea:-moz-placeholder{color:#565656}
form button::-moz-placeholder,form input::-moz-placeholder,form select::-moz-placeholder,form textarea::-moz-placeholder{color:#565656}
form button:-ms-input-placeholder,form input:-ms-input-placeholder,form select:-ms-input-placeholder,form textarea:-ms-input-placeholder{color:#565656}
form button:focus,form button[type=submit]:focus,form input:focus,form input[type=submit]:focus,form select:focus,form textarea:focus{outline:0}
form a,form button,form input,form select,form textarea{-webkit-tap-highlight-color:transparent}
form textarea{resize:none;min-height:60px;padding:12px}
form button[type=submit],form input[type=submit]{background:0 0;color:#565656;font-size:12px;line-height:25px;text-transform:uppercase;vertical-align:middle;-webkit-transition:background ease .4s,color ease .4s;-moz-transition:background ease .4s,color ease .4s;-o-transition:background ease .4s,color ease .4s;transition:background ease .4s,color ease .4s;cursor:pointer;padding:10px 30px;border:1px solid #565656;height:45px;display:inline-block;width:auto;-webkit-appearance:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-align:center;font-family:AvenirLTStd-Roman;letter-spacing:1.8px;outline:0}
form button[type=submit].inverted,form button[type=submit]:hover,form input[type=submit].inverted,form input[type=submit]:hover{background:#565656;color:#fff}
form button[type=submit].inverted:hover,form input[type=submit].inverted:hover{background:0 0;color:#565656}
form select{background-color:#fff;width:auto;padding-right:24px}