.grid-container,.simple-grid-container,.simple-grid-container .uk-grid{margin-left:-40px}
.grid a,.simple-grid-container [class*=uk-width] a:not(.btn){display:block}
.simple-grid-container [class*=uk-width]{padding-left:40px}
.simple-grid-container img{width:100%;max-width:100%}
.simple-grid-container .overlay-container{position:relative}
.simple-grid-container h4{font-family:AvenirLTStd-Book}
.simple-grid-container .wider-img .caption,.simple-grid-container .wider-img .caption h3,.simple-grid-container .wider-img .caption h4{text-align:center}
.simple-grid-container .blockquote-container{height:100%}
.simple-grid-container .overlay{position:absolute;text-align:center;top:80px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);left:50%;width:100%;padding:0 15px}
.simple-grid-container .overlay h3{font-size:27px;margin-bottom:6px}
.simple-grid-container .overlay .btn{margin-top:40px}
.simple-grid-container .overlay .btn.last{margin-top:15px}
.simple-grid-container .overlay.centered{top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.simple-grid-container .overlay.centered h3{font-size:40px}
.simple-grid-container .overlay.right{right:10%}
.grid-container:after{content:' ';display:block;clear:both}
.grid{padding-left:40px;padding-bottom:80px;width:100%;float:left}
.grid.text-grid{display:table;min-height:480px}
.grid.text-grid .text{display:table-cell;vertical-align:middle;padding:55px 0}
.grid.text-grid .text p{padding-bottom:30px}
.grid.text-grid .text p:last-child{padding-bottom:0}
.grid.text-grid .text h3{margin-bottom:20px}
.grid.text-grid .text h3,.grid.text-grid .text p{max-width:360px;display:block;margin-left:auto;margin-right:auto}
@media (min-width:768px){.grid-container .grid,.grid-container .grid-sizer{width:33.35%}
.grid-container .grid-sizer.wider-grid,.grid-container .grid.wider-grid{width:66.65%}
.simple-grid-container .uk-width-3-10{width:33.35%}
.simple-grid-container .uk-width-7-10{width:66.65%}
}
@media (max-width:767px){.grid-container,.grid-container .grid a,.grid-container .grid.wider-grid,.simple-grid-container .uk-width-3-10,.simple-grid-container .uk-width-7-10{width:100%}
.grid-container{margin-left:auto}
.grid-container .grid{width:100%;padding-left:0;padding-right:0;top:auto!important;position:relative!important}
.grid-container .grid.text-grid{display:table;min-height:0}
}
@media (min-width:1220px){.uk-grid+.uk-grid{margin-top:40px}
}