#main{min-height:800px}
.cms-no-route,.cms-no-route .main-container{height:100%}
.cms-no-route #mp-pusher{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}
.cms-no-route #main{background:#f8f8f8;margin:0 20px;width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1}
.cms-no-route #main .page{display:table;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-width:932px}
.cms-no-route #main .error-page-container .error-page{display:block;margin-left:auto;margin-right:auto;max-width:650px;text-align:center}
.cms-no-route #main .error-page-container .error-page h2{line-height:47px}
.cms-no-route #main .error-page-container .error-page p{max-width:385px;text-align:center;display:block;margin-left:auto;margin-right:auto}
.cms-no-route #main .error-page-container .error-page a.btn{margin-top:30px}
.cms-no-route .footer-container{margin-top:0}
@media (max-width:1060px) and (min-width:768px){.cms-no-route #main .error-page-container .error-page h2{line-height:38px}
}
@media (max-width:767px){.cms-no-route #main{margin:0;padding-left:20px;padding-right:20px}
}