#main .page{padding-top:0}
#main iframe{height:610px}
#main .uk-grid div[class*=uk-width] img{display:block}
.cms-home #home #mobile-newsletter{display:none;position:relative}
.cms-home #home .content-container.white h2,.cms-home #home .content-container.white h3,.cms-home #home .content-container.white h4{color:#FFF}
@media (max-width:768px){.cms-home #home .content-container.white h2,.cms-home #home .content-container.white h3,.cms-home #home .content-container.white h4{color:#555}
}
.cms-home #home .hero-img-container section .container.white h2,.cms-home #home .hero-img-container section .container.white h3{color:#fff}
.box-up-sell{margin:0 20px 60px;text-align:center}
.box-up-sell.carousel-with-navigation h3{margin-bottom:60px}
.box-up-sell img{width:100%}
.box-up-sell h3{margin-bottom:38px}
.box-up-sell .slick-slider{margin-top:0}
.box-up-sell .product-description{font-family:AvenirLTStd-Medium;font-size:12px}
@media (max-width:768px){.box-up-sell{margin-bottom:60px}
.box-up-sell .slick-slide{margin:0 8px}
}
@media (max-width:767px){.cms-home #main iframe{height:180px}
.cms-home #main .uk-grid div[class*=uk-width]{margin-bottom:30px}
.cms-home #home section,.cms-home #main .uk-grid div[class*=uk-width] .uk-grid:last-child [class*=uk-width]{margin-bottom:0}
.cms-home #main .uk-grid div[class*=uk-width] img{display:block}
.cms-home #home .main-container{padding:0}
.cms-home #home .uk-grid{margin-top:0}
.cms-home #home .mobile-off{display:none!important}
.cms-home #home section.grey-bg-section{margin-bottom:30px}
.cms-home #home .btn{background:rgba(255,255,255,.8);color:#555;text-align:center}
.cms-home #home .btn:hover{background:#555;color:#fff}
.cms-home #home #mobile-newsletter{display:block;padding-left:20px;padding-right:20px}
.cms-home #home #the-maison .btn:not(.inverted),.cms-home #home .hero-img-container .container * .btn:not(.inverted),.cms-home #home .hero-img-container .container .btn:not(.inverted){display:inline-block}
.cms-home #home #mobile-newsletter .overlay-container{position:relative}
.cms-home #home #mobile-newsletter .overlay{position:absolute;top:10%;left:50%;width:100%;padding:0 15px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.cms-home #home #mobile-newsletter .overlay .btn:not(.inverted){margin-top:0;display:inline-block}
.cms-home #home .hero-img-container{position:relative}
.cms-home #home .hero-img-container h2{padding-left:0;padding-right:0;text-align:center;font-size:25px;line-height:30px}
.cms-home #home .hero-img-container section{position:absolute;bottom:4%!important;left:50%;top:auto!important;margin-right:0;margin-left:0!important;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0);width:100%;padding-left:20px;padding-right:20px}
.cms-home #home .hero-img-container .container,.cms-home #home .hero-img-container .container *{text-align:center;color:#FFF;max-width:100%;width:100%}
.cms-home #home .hero-img-container .container * .btn,.cms-home #home .hero-img-container .container .btn{background:rgba(255,255,255,.8);color:#555;text-align:center;width:201px}
.cms-home #home #the-maison .btn.inverted,.cms-home #home .hero-img-container .container * .btn:hover,.cms-home #home .hero-img-container .container .btn:hover{background:#555;color:#fff}
.cms-home #home .btn,.cms-home #home button{width:201px}
.cms-home #home #the-maison .btn.inverted:hover{background:rgba(255,255,255,.8);color:#555}
}