*,::before,:after,body,form a,form button,form input,form select,form textarea,html{-webkit-tap-highlight-color:transparent}
#header{position:fixed;top:0;background:#fff;z-index:1000;width:100%;text-align:center;left:0;right:0;color:#555;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;height:122px;padding-left:20px;padding-right:20px}
#header .section-wrapper{border-bottom:1px solid #E6E6E6;padding-top:7px;padding-bottom:7px;height:100%;display:block;margin-left:auto;margin-right:auto;position:relative;max-width:1220px}
#header a.logo{margin-bottom:6px;margin-top:0;overflow:hidden;position:relative}
#header a.logo img{display:block;margin:0 auto;height:100%}
#header a.logo #desktop-logo{opacity:1}
#header a.top-link-cart{padding-left:21px;line-height:20px;width:11px;height:17px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/BAG-EMPTY-DESKTOP@2x.png) center no-repeat;-moz-background-size:contain;-o-background-size:contain;background-size:contain}
#header a.top-link-cart.items-present{padding-left:21px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/BAG-FULL-DESKTOP@2x.png) center no-repeat;-moz-background-size:contain;-o-background-size:contain;background-size:contain}
#header .nav-container #custommenu div.wp-custom-menu-popup{background:#fff;padding:40px 0 0;top:122px!important;position:fixed;right:0;display:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin-top:0}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid .images a,#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid.active a{background:#e6e6e6}
@media screen and (min-width:767px){#header .nav-container #custommenu div.wp-custom-menu-popup{max-height:-webkit-calc(100% - 122px);max-height:-moz-calc(100% - 122px);max-height:calc(100% - 122px);overflow-y:auto}
}
#header .nav-container #custommenu div.wp-custom-menu-popup a{-webkit-transition:0s;-moz-transition:0s;-o-transition:0s;transition:0s}
#header .nav-container #custommenu div.wp-custom-menu-popup .custom-menu-wrapper{max-width:1260px;display:block;margin-left:auto;margin-right:auto;width:100%;padding:0;position:relative}
#header .nav-container #custommenu div.wp-custom-menu-popup .custom-menu-wrapper .close-character{top:0;right:20px}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container{display:block;margin-left:auto;margin-right:auto;width:100%;max-width:1010px;padding:0 5px}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 .itemMenu{display:table;margin:0 auto}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column{width:100%;padding:0;position:relative}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName{text-align:left;max-width:220px;padding-left:0;width:100%;margin:0 15px}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName:nth-child(4n+1){clear:both}
@media screen and (max-width:1176px){#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName:nth-child(4n+1){clear:none}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName:nth-child(3n+1){clear:both}
}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid{padding:0 0 5px;display:block}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid .categories a{vertical-align:top;display:block;padding:14px 20px 14px 0;color:#FFF}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid .categories a span{text-align:left;margin-left:64%}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid.active img{display:block}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid.active a.name{font-weight:700;color:#555}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid.active .images{height:100%;position:absolute;top:0;right:0}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper.uk-grid.active .images img{max-width:490px;padding:16px 30px 30px}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName a.name span{padding-top:0}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inner-container{max-width:760px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inline-name{width:33.333%;text-align:right;display:block;text-transform:uppercase;font-size:12px;line-height:normal;font-family:AvenirLTStd-Medium;letter-spacing:1.5px;padding:0 15px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inline-name a.archive{font-family:AvenirLTStd-Oblique;color:#939597;cursor:default}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inline-name a.archive:hover{font-family:AvenirLTStd-Oblique}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inline-name a{font-size:12px;line-height:30px;letter-spacing:1.5px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup60 .inline-name a:hover{font-family:AvenirLTStd-Black}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inner-container{max-width:760px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inline-name{width:33.333%;text-align:right;display:block;text-transform:uppercase;font-size:12px;line-height:normal;font-family:AvenirLTStd-Medium;letter-spacing:1.5px;padding:0 15px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inline-name a.archive{font-family:AvenirLTStd-Oblique;color:#939597;cursor:default}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inline-name a.archive:hover{font-family:AvenirLTStd-Oblique}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inline-name a{font-size:12px;line-height:30px;letter-spacing:1.5px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup135 .inline-name a:hover{font-family:AvenirLTStd-Black}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inner-container{max-width:760px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inline-name{width:33.333%;text-align:right;display:block;text-transform:uppercase;font-size:12px;line-height:normal;font-family:AvenirLTStd-Medium;letter-spacing:1.5px;padding:0 15px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inline-name a.archive{font-family:AvenirLTStd-Oblique;color:#939597;cursor:default}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inline-name a.archive:hover{font-family:AvenirLTStd-Oblique}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inline-name a{font-size:12px;line-height:30px;letter-spacing:1.5px}
#header .nav-container #custommenu div.wp-custom-menu-popup#popup175 .inline-name a:hover{font-family:AvenirLTStd-Black}
#header .nav-container #custommenu div.menu{float:none;display:inline-block}
#header .nav-container #custommenu div.menu a{height:auto;font-size:12px;font-family:AvenirLTStd-Medium;text-transform:uppercase;letter-spacing:1px;padding:5px 22px 0}
#header .nav-container #custommenu div.menu a:hover,#header .nav-container #custommenu div.menu a:link,#header .nav-container #custommenu div.menu a:visited{color:#555;background:0 0;padding-left:22px;padding-right:22px}
#header .nav-container #custommenu div.menu a:hover{font-family:AvenirLTStd-Black}
#header .nav-container #custommenu div.menu a span{padding:0 0 3px;height:auto;border-bottom:1px solid transparent;-webkit-transition:border .4s;-moz-transition:border .4s;-o-transition:border .4s;transition:border .4s}
#header .nav-container #custommenu div.menu:before{width:0;content:"";height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:10px solid #b2b3b5;vertical-align:super;-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);transform:rotate(-180deg) translateZ(0);position:absolute;bottom:-7px;left:50%;z-index:10000;margin-left:-6px;opacity:0}
#header .nav-container #custommenu div.menu.active{position:relative}
#header .nav-container #custommenu div.menu.active a{background:0 0!important;font-family:AvenirLTStd-Black}
#header .nav-container #custommenu div.menu.active a span{height:auto;padding-top:0;color:#555}
#header .nav-container #custommenu div.menu.active:before{opacity:1;-webkit-transition:.4s opacity ease-in;-moz-transition:.4s opacity ease-in;-o-transition:.4s opacity ease-in;transition:.4s opacity ease-in}
#header .nav-container #custommenu .block1{display:block;margin-left:auto;margin-right:auto;text-align:center}
#header .nav-container #custommenu .block1 div.column{float:none;display:inline-block;width:34%}
#header .nav-container #custommenu .block1 div.column .itemMenuName a:after{clear:both}
#header .nav-container #custommenu .block1 div.column .itemMenuName span{padding-top:10px;display:block;text-transform:uppercase;font-size:12px;line-height:23px;font-family:AvenirLTStd-Medium;letter-spacing:1.5px;padding-bottom:25px}
#header .nav-container #custommenu .block1 div.column .itemMenuName:hover{background:0 0;color:#555;font-style:normal}
#header .nav-container #custommenu .block1 div.column .itemMenuName:hover span{font-family:AvenirLTStd-Black;font-style:normal}
#header #secondary-nav{left:0;right:0;position:absolute}
#header #secondary-nav a.mobile.phone{display:none}
#header #secondary-nav a.mobile.phone img{width:20px;margin-top:-3px}
#header #secondary-nav .left-menu{text-align:left}
#header #secondary-nav .left-menu a:not(.btn){font-size:10px;font-family:AvenirLTStd-Medium;color:#555;letter-spacing:1px}
#header #secondary-nav .left-menu ul{font-size:0;text-align:left}
#header #secondary-nav .left-menu ul li{display:inline-block;border-right:1px solid #555;line-height:normal}
#header #secondary-nav .left-menu ul li a{padding:0 15px;line-height:normal}
#header #secondary-nav .left-menu ul li:first-child a{padding-left:0}
#header #secondary-nav .left-menu ul li:last-child{border-right:0}
#header #secondary-nav ul.links{text-align:right}
#header #secondary-nav ul.links li{margin-right:30px;vertical-align:middle;display:none}
#header #secondary-nav #header-contact,#header #secondary-nav .dropdown-container,#header #secondary-nav ul.links li:nth-child(4){display:inline-block}
#header #secondary-nav ul.links li:last-child{margin-right:0;display:inline-block}
#header .wrapper{position:relative}
#header .wrapper #search-trigger{position:absolute;right:30px;top:0;opacity:1;-webkit-transition:opacity .6s ease;-moz-transition:opacity .6s ease;-o-transition:opacity .6s ease;transition:opacity .6s ease;display:none}
#header .phone img{vertical-align:middle;width:13px;display:none;margin-top:-2px}
#header .phone span{display:inline-block}
@media (max-width:767px){body.mobile-nav-active .main-container{overflow:hidden;position:fixed}
body.mobile-nav-active .mp-menu{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@media (max-width:940px){#header .nav-container #custommenu div.wp-custom-menu-popup .close-character{top:15px;right:55px}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper{margin-left:0}
#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container .block1 div.column .itemMenuName .custom-menu-wrapper img{right:36px}
}
@media (max-width:1176px){#header .nav-container #custommenu div.wp-custom-menu-popup .inner-container{max-width:760px}
}
@media (max-width:900px){#header .nav-container #custommenu div.wp-custom-menu-popup{padding:65px 0 0}
#header .nav-container #custommenu div.wp-custom-menu-popup .custom-menu-wrapper .close-character{top:-50px}
#header .nav-container #custommenu #popup60{padding:40px 0 0}
#header .nav-container #custommenu #popup60 .inline-name a.archive{margin-top:55px}
#header .nav-container #custommenu #popup60 .custom-menu-wrapper{max-width:760px}
#header .nav-container #custommenu #popup60 .custom-menu-wrapper .close-character{top:0}
#header .nav-container #custommenu #popup135{padding:40px 0 0}
#header .nav-container #custommenu #popup135 .inline-name a.archive{margin-top:55px}
#header .nav-container #custommenu #popup135 .custom-menu-wrapper{max-width:760px}
#header .nav-container #custommenu #popup135 .custom-menu-wrapper .close-character{top:0}
#header .nav-container #custommenu #popup175{padding:40px 0 0}
#header .nav-container #custommenu #popup175 .inline-name a.archive{margin-top:55px}
#header .nav-container #custommenu #popup175 .custom-menu-wrapper{max-width:760px}
#header .nav-container #custommenu #popup175 .custom-menu-wrapper .close-character{top:0}
}
@media (min-width:768px){#mobile-menu-trigger,.mp-menu,.scroller{display:none}
body{overflow:visible}
}
@media (max-width:940px){#header .phone img{display:inline-block}
#header .phone span{display:none}
}
@media (max-width:767px){.scroller{width:28px;height:23px;position:absolute;top:50%;margin-top:-11px;right:15px}
.scroller .scroller-inner{position:relative}
#menu-close-btn,#mobile-menu-trigger{left:0;width:30px;height:30px;cursor:pointer;top:50%;outline:0;display:block;position:absolute;z-index:12;margin-top:-14px}
#menu-close-btn span,#mobile-menu-trigger span{position:absolute;top:50%;left:50%;display:block;width:22px;height:3px;margin-top:-1.5px;background:#555;font-size:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-left:-11px}
#menu-close-btn span:after,#menu-close-btn span:before,#mobile-menu-trigger span:after,#mobile-menu-trigger span:before{position:absolute;left:0;width:100%;height:100%;background:#555;content:''}
#menu-close-btn span:before,#mobile-menu-trigger span:before{top:-6px}
#menu-close-btn span:after,#mobile-menu-trigger span:after{bottom:-6px}
#menu-close-btn{width:30px;height:30px;top:33px;left:auto;right:20px}
#menu-close-btn span{background-color:transparent;width:20px}
.mp-level,.mp-menu{width:100%;height:100%;background:#fff}
#menu-close-btn span:before{-webkit-transform:translateY(0) rotate(45deg) translateZ(0);-moz-transform:translateY(0) rotate(45deg) translateZ(0);-ms-transform:translateY(0) rotate(45deg) translateZ(0);-o-transform:translateY(0) rotate(45deg) translateZ(0);transform:translateY(0) rotate(45deg) translateZ(0);top:auto}
#menu-close-btn span:after{-webkit-transform:translateY(0) rotate(-45deg) translateZ(0);-moz-transform:translateY(0) rotate(-45deg) translateZ(0);-ms-transform:translateY(0) rotate(-45deg) translateZ(0);-o-transform:translateY(0) rotate(-45deg) translateZ(0);transform:translateY(0) rotate(-45deg) translateZ(0);bottom:auto}
.mp-pusher{position:relative;left:0;min-height:100%}
.mp-menu{top:0;z-index:10005;-webkit-transform:translate3d(-100%,0,0);-moz-transform:translate3d(-100%,0,0);-ms-transform:translate3d(-100%,0,0);-o-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);left:0;right:auto;position:fixed;-webkit-overflow-scrolling:touch;overflow:scroll;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;overflow-x:hidden}
.mp-level{position:absolute;top:0;left:auto;right:0;-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);-o-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);padding-top:60px}
.mp-level ul.links{font-size:0;margin-top:50px;display:none}
.mp-level ul.links li{display:inline-block;background:#ececec;width:49.5%}
.mp-level ul.links li:first-child{margin-left:1%;float:right}
.mp-level ul.links li.last{display:none}
.mp-level ul.links li a{padding-left:30px;padding-right:30px;text-align:center;height:50px;line-height:27px}
.mp-level::after,.mp-level::before,.mp-pusher::after{position:absolute;top:0;right:0;width:0;height:0;content:'';opacity:0}
.mp-level::after,.mp-pusher::after{-webkit-transition:opacity .3s,width .1s .3s,height .1s .3s;-moz-transition:opacity .3s,width .1s .3s,height .1s .3s;-o-transition:opacity .3s,width .1s .3s,height .1s .3s;transition:opacity .3s,width .1s .3s,height .1s .3s}
.mp-level::after{z-index:-1}
.mp-level.mp-level-overlay::after,.mp-pusher.mp-pushed::after{width:100%;height:100%;opacity:1;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s}
.mp-level.mp-level-overlay{cursor:pointer}
.mp-level.mp-level-overlay.mp-level::before{width:100%;height:100%;background:0 0;opacity:1}
.icon-arrow-left,.mp-back:before{background-image:url(/images/layout/chevrons/mobile_chevron@2x.png)}
.icon,.icon-arrow-left,.mp-back:before{background-repeat:no-repeat}
.mp-level,.mp-pusher{-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.mp-overlap .mp-level.mp-level-open{-webkit-transform:translate3d(-40px,0,0);-moz-transform:translate3d(-40px,0,0);-ms-transform:translate3d(-40px,0,0);-o-transform:translate3d(-40px,0,0);transform:translate3d(-40px,0,0)}
.mp-menu.mp-overlap>.mp-level,.mp-menu.mp-overlap>.mp-level.mp-level-open,.mp-menu>.mp-level,.mp-menu>.mp-level.mp-level-open{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.mp-cover .mp-level.mp-level-open{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.mp-cover .mp-level.mp-level-open>ul>li>.mp-level:not(.mp-level-open){-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);-o-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);overflow:hidden}
.mp-menu ul{margin:0;padding:0;list-style:none}
.mp-back,.mp-menu ul li span,.mp-menu ul li>a,.mp-menu ul.last-child li ul li a{color:#555;display:block;text-transform:uppercase;padding:13px 15px}
.mp-menu ul li a#span-link span{padding:0}
.mp-back,.mp-menu ul.first-child li>a,.mp-menu ul.last-child li ul li a{display:block;outline:0;border-bottom:1px solid #ececec}
.mp-menu ul.first-child li>a.active,.mp-menu ul.first-child li>a:focus,.mp-menu ul.last-child li ul li a.active,.mp-menu ul.last-child li ul li a:focus{color:#fff}
.mp-menu ul.first-child li>a.icon-arrow-left:focus,.mp-menu ul.last-child li ul li a.icon-arrow-left:focus{background-color:#fff;color:#555}
.mp-menu ul.last-child li>a.icon-arrow-left:focus{color:#555}
.icon{-moz-background-size:12px 18px;-o-background-size:12px 18px;background-size:12px 18px}
.icon-arrow-left{background-position:93% center;-moz-background-size:12px 20px;-o-background-size:12px 20px;background-size:12px 20px}
.mp-back{position:relative;padding-left:50px}
.mp-back::after,.mp-back:before{position:absolute}
.mp-back:before{content:"";-moz-background-size:cover;-o-background-size:cover;background-size:cover;width:12px;height:20px;-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);transform:rotate(-180deg) translateZ(0);background-position:center;left:15px;top:50%;margin-top:-10px}
.mp-menu .mp-level.mp-level-overlay>.mp-back,.mp-menu .mp-level.mp-level-overlay>.mp-back::after{background:0 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:transparent}
.mp-menu .social-media-links{padding:0 15px;margin-top:15px;position:initial;margin-bottom:15px}
.no-csstransforms3d .mp-menu .mp-level,.no-js .mp-menu .mp-level{display:none}
.no-csstransforms3d .mp-menu>.mp-level,.no-js .mp-menu>.mp-level{display:block}
}
.menu-mobile{border-top:1px solid #b1b1b1}
.menu-mobile .HC-archive{padding:30px 30px 5px;border-bottom:1px solid #b1b1b1;font-family:AvenirLTStd-Oblique}
.menu-mobile .HC-archive span{max-width:480px;display:block;margin-left:auto;margin-right:auto}
.menu-mobile .parentMenu{border-bottom:0}
.menu-mobile .parentMenu a,.menu-mobile .parentMenu a:link,.menu-mobile .parentMenu a:visited{margin-right:0;text-transform:uppercase;margin-bottom:0;position:relative;font-size:15px;padding:15px 20px 10px;font-family:AvenirLTStd-Medium;letter-spacing:1px;color:#555;line-height:35px}
.menu-mobile .parentMenu a.static-link,.menu-mobile .parentMenu a:link.static-link,.menu-mobile .parentMenu a:visited.static-link{color:rgba(85,85,85,.8)}
.menu-mobile .parentMenu a.sub-nav span,.menu-mobile .parentMenu a:link.sub-nav span,.menu-mobile .parentMenu a:visited.sub-nav span{display:block;position:relative}
.menu-mobile .parentMenu a.sub-nav span:before,.menu-mobile .parentMenu a:link.sub-nav span:before,.menu-mobile .parentMenu a:visited.sub-nav span:before{position:absolute;content:"";width:16px;height:9px;background:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/MENU-DROPDOWN-ARROW-MOBILE@2x.png) center center no-repeat;-moz-background-size:cover;-o-background-size:cover;background-size:cover;right:0;top:50%;margin-top:-4px}
.menu-mobile .parentMenu a.open,.menu-mobile .parentMenu a.open:hover,.menu-mobile .parentMenu a:link.open,.menu-mobile .parentMenu a:link.open:hover,.menu-mobile .parentMenu a:visited.open,.menu-mobile .parentMenu a:visited.open:hover{background-color:#f8f8f8}
.menu-mobile .parentMenu a.open span,.menu-mobile .parentMenu a:link.open span,.menu-mobile .parentMenu a:visited.open span{color:#a87357;font-family:AvenirLTStd-Black}
.menu-mobile .parentMenu a.open.sub-nav span:before,.menu-mobile .parentMenu a:link.open.sub-nav span:before,.menu-mobile .parentMenu a:visited.open.sub-nav span:before{-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);transform:rotate(-180deg) translateZ(0);background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/MENU-DROPDOWN-ARROW-GOLD-MOBILE@2x.png)}
.menu-mobile .parentMenu a:hover,.menu-mobile .parentMenu a:link:hover,.menu-mobile .parentMenu a:visited:hover{background-color:transparent}
.menu-mobile .parentMenu a img,.menu-mobile .parentMenu a span,.menu-mobile .parentMenu a:link img,.menu-mobile .parentMenu a:link span,.menu-mobile .parentMenu a:visited img,.menu-mobile .parentMenu a:visited span{max-width:480px;display:block;margin-left:auto;margin-right:auto}
.menu-mobile .parentMenu a img,.menu-mobile .parentMenu a:link img,.menu-mobile .parentMenu a:visited img{width:100%}
.menu-mobile .wp-custom-menu-submenu{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;background:#f7f7f7}
.menu-mobile .wp-custom-menu-submenu .itemMenu a{color:#555;font-size:13px}
.menu-mobile .wp-custom-menu-submenu .itemMenu a span{padding:10px 0 0}
.menu-mobile .wp-custom-menu-submenu .itemMenu:hover{background:0 0}
.menu-mobile .wp-custom-menu-submenu .itemMenu:last-child{background:red}
@media (max-width:767px){#header{height:60px;border-bottom:1px solid #E6E6E6;padding-left:20px;padding-right:20px}
#header .section-wrapper{border:none}
#header .header-minicart{margin-top:2px;margin-right:5px}
#header .header-minicart a.top-link-cart.items-present{width:16px;height:17px;line-height:17px;background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/cart/BAG-EMPTY-MOBILE@2x.png);margin-top:14px}
#header .header-minicart a.top-link-cart.items-present span.count{vertical-align:middle;line-height:16px;display:inline-block;font-size:14px}
#header .header-minicart a.top-link-cart.items-present.items-present{width:16px;height:17px;margin-top:0;background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/cart/BAG-FULL-MOBILE@2x.png)}
#header #secondary-nav{top:50%;height:20px;margin-top:-10px}
#header #secondary-nav a.mobile.phone{display:inline-block;margin-right:14px}
#header #secondary-nav .parent .last ul.links li,#header #secondary-nav .parent .left-menu{display:none}
#header #secondary-nav .parent .last{width:100%;text-align:right}
#header #secondary-nav .parent .last ul.links li.last{display:block}
#header #secondary-nav .parent .last ul.links li.last a.top-link-cart{padding-left:60px;font-size:30px;line-height:40px;margin-right:16px;margin-top:-14px;width:32px;height:37px;background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/cart/BAG-FULL-DESKTOP@2x.png)}
#header #desktop-logo,#header .wrapper{display:none}
#header #mobile-logo{display:block}
#header a.logo{margin-bottom:0;margin-top:4px;height:40px}
#header a.logo img{top:0}
}
.header-minicart{display:inline-block;line-height:16px;vertical-align:middle;float:right}
.header-minicart .top-link-cart{float:right}
#header-cart{top:115px;position:absolute;right:0;width:331px;padding:0 40px 20px;background:#fff;z-index:10000}
#header-cart .product-image{width:100%}
#header-cart [class*=uk-width]{padding-left:25px}
#header-cart .uk-grid{margin-left:0}
#header-cart .uk-grid [class*=uk-width]:first-child{padding-left:0}
#header-cart #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
#header-cart .variation{line-height:18px;font-size:13px}
@media only screen and (max-width:770px){.header-minicart{display:block}
}
.header-minicart .minicart-message{display:block;padding:10px}
.header-minicart .empty{padding:10px;text-align:center}
.header-minicart .minicart-wrapper{clear:both;position:relative}
.header-minicart .minicart-wrapper:after,.header-minicart .minicart-wrapper:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;display:none}
.header-minicart .minicart-wrapper:before{background-color:#fff;opacity:.8;z-index:2}
.header-minicart .minicart-wrapper:after{background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/opc-ajax-loader.gif);background-repeat:no-repeat;background-position:center;z-index:3}
.header-minicart .minicart-wrapper.loading{position:relative}
.header-minicart .minicart-wrapper.loading:after,.header-minicart .minicart-wrapper.loading:before{display:block}
.header-minicart .block-cart{display:none}
.header-minicart a.skip-link-close{width:38px;height:38px;display:block;margin:20px auto}
.header-minicart .close-character{position:relative;margin:auto;display:block;top:auto;right:auto}
.header-minicart .mini-products-list{padding:0;text-align:left;text-transform:uppercase}
.header-minicart .mini-products-list dd,.header-minicart .mini-products-list dt{display:inline-block;font-size:10px}
.header-minicart .mini-products-list dd{font-family:AvenirLTStd-Medium}
#cost-summary #cost-summary-total span,.header-minicart .mini-products-list .price{font-family:AvenirLTStd-Black}
.header-minicart .mini-products-list .truncated{margin-top:10px}
.header-minicart .mini-products-list .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
.header-minicart .mini-products-list .price{display:block;margin:10px 0;font-size:12px}
#cost-summary{margin-top:20px;margin-bottom:20px;text-align:left}
#progress-review-minicart .total.label{font-family:AvenirLTStd-Black!important}
.header-minicart .mini-products-list li.item a.more-items-link,.header-minicart .product-details .product-name a{font-family:AvenirLTStd-Black}
.header-minicart .mini-products-list li.item{padding-bottom:20px;border-right:none!important;border-bottom:1px solid #DDD;position:relative;display:block!important;margin-left:0}
.header-minicart .mini-products-list li.item .uk-width-1-2:first-child{padding-left:0}
.header-minicart .mini-products-list li.item.more-items{margin-top:20px;text-align:center}
.header-minicart .mini-products-list li .product-details{position:relative}
.header-minicart .mini-products-list li .product-details .item-options>div{margin-bottom:4px}
.header-minicart .product-details .product-name{font-size:12px}
.header-minicart .info-wrapper{margin-bottom:.5em}
.header-minicart .info-wrapper th{text-transform:uppercase;padding-right:10px}
.header-minicart .info-wrapper td{color:#39c;clear:right}
.header-minicart .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
.header-minicart .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
.header-minicart .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.header-minicart .info-wrapper .quantity-button[disabled]{cursor:default}
.header-minicart .info-wrapper .quantity-button.visible{opacity:1}
.header-minicart .subtotal{background-color:#DDD;text-align:center;line-height:2em}
.header-minicart .subtotal .label{color:#fff;text-transform:uppercase}
.header-minicart .subtotal .price{color:#39c}
.header-minicart .minicart-actions{padding:0;overflow:hidden;position:relative;text-align:center}
.header-minicart .minicart-actions .btn{margin-bottom:20px;width:100%}
.header-minicart .minicart-actions a{color:#a87357}
.header-minicart .minicart-actions .checkout-button{min-width:145px}
.header-minicart .minicart-actions .cart-link{height:33px;line-height:39px;text-transform:uppercase;font-size:12px}
.header-minicart .minicart-actions .paypal-logo .paypal-or{line-height:1.6}
.header-minicart #minicart-error-message{text-align:center;color:red;display:none}
.header-minicart #minicart-success-message{text-align:center;color:green;display:none}
.header-minicart .jcarousel-control-next,.header-minicart .jcarousel-control-prev{display:none}
.checkout-types.minicart{float:none;text-align:center}
@media only screen and (max-width:479px){.header-minicart a.skip-cart{z-index:1}
}
@media only screen and (max-width:770px){.header-minicart .subtotal .label{color:#636363}
.header-minicart .minicart-wrapper:before{background-color:#EDEDED}
.header-minicart .quantity-button{float:none}
.header-minicart .header-minicart .block-cart{padding:15px}
.header-minicart .header-minicart .block-subtitle{padding-top:59px}
.header-minicart .minicart-actions{padding-bottom:33px}
.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo>a{display:inline}
.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .bml_button{display:inline-block;vertical-align:top}
.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or{width:auto;float:none;display:inline;margin:0 10px 5px;line-height:40px}
}
@media only screen and (max-width:740px){.header-minicart .minicart-actions .cart-link{right:auto;left:0;text-align:center;width:100%}
.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-button,.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or{width:100%;display:block;margin-left:0}
.header-minicart .minicart-actions .checkout-types.minicart li .paypal-logo .paypal-or{line-height:1.6}
}
@media only screen and (max-width:599px){.header-minicart .minicart-actions .checkout-button{width:100%}
}
@media (max-width:767px){#header-cart{width:100%;left:0;position:fixed;top:60px}
#cart-sidebar div,#cart-sidebar dl,#cart-sidebar p,#cart-sidebar span{text-align:left}
#header #secondary-nav .header-minicart .mini-products-list li.item.more-items.last{text-align:center}
}
.copyright.mobile,.footer .social-media-links,.footer .uk-width-1-2{text-align:center}
#footer{opacity:0}
.footer-container{margin-top:5px;border-top:1px solid #E6E6E6;margin-left:20px;margin-right:20px}
.footer-container #newsletter-modal h3.heading-cluster-4{margin-bottom:10px}
.footer-container #newsletter-modal button[type=submit]{min-width:183px}
p.social-links-follow-us{display:none}
.copyright.mobile{opacity:.5;display:none;font-size:10px;background:#E6E6E6;padding:12px 20px;text-transform:uppercase;margin-top:40px;width:100%}
.footer{text-transform:uppercase;padding-top:35px;margin-bottom:17px;font-size:10px}
.footer a,.footer p{font-size:10px;padding:10px 0}
.footer #social-section{padding-left:0}
.footer #top-footer .parent-container{max-width:741px;margin:0 auto}
.footer #newsletter-section a.btn{display:block;margin:10px auto 0;max-width:312px}
.footer #logo-section a,.footer #logo-section img{margin:0 auto;display:block}
.footer .social-media-links a{display:inline-block}
.footer #footer-bottom-links ul{display:block;margin-top:52px;text-align:center}
.footer #footer-bottom-links li{display:inline-block;margin:0 25px}
@media (max-width:868px){.copyright.mobile{display:block;margin-top:20px}
.footer .social-links{text-align:center;padding-top:0;margin-top:0}
.footer #footer-bottom-links ul{margin-top:35px}
.footer #footer-bottom-links ul li.copyright.desktop,.footer #footer-bottom-links ul li:last-child{display:none}
}
@media (max-width:961px) and (min-width:768px){.footer #social-media-links-mobile{display:none!important}
}
@media (max-width:959px) and (min-width:768px){.footer #top-footer .parent-container .uk-hidden-medium{display:block!important}
}
@media (max-width:767px){.footer{margin:0;padding-top:0}
.footer a,.footer p{font-size:12px}
.footer #newsletter-section,.footer #social-section{display:none}
.footer #footer-bottom-links{margin:0 7%}
.footer #footer-bottom-links li{margin:10px 0;display:block;text-align:left}
.footer .social-media-links{margin:30px auto 20px}
.footer .social-media-links a{margin-right:30px}
.footer .social-media-links a:last-child{margin-right:0}
}
.simple-grid-container,.simple-grid-container .uk-grid{margin-left:-30px}
form{font-family:AvenirLTStd-Roman;font-size:12px;color:#555}
form label{text-transform:uppercase}
form em{color:#555}
form .validation-advice{margin-top:-11px;margin-bottom:5px}
form .select,form button,form input,form select,form textarea{display:inline-block;-webkit-appearance:none;margin-bottom:12px;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:1px solid #555;padding:0 12px;font-family:inherit;font-size:inherit;color:#555;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;letter-spacing:.7px}
form .select.validation-failed,form button.validation-failed,form input.validation-failed,form select.validation-failed,form textarea.validation-failed{-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;transition:.5s all}
form .select::-webkit-input-placeholder,form button::-webkit-input-placeholder,form input::-webkit-input-placeholder,form select::-webkit-input-placeholder,form textarea::-webkit-input-placeholder{color:#555}
form .select:-moz-placeholder,form button:-moz-placeholder,form input:-moz-placeholder,form select:-moz-placeholder,form textarea:-moz-placeholder{color:#555}
form .select::-moz-placeholder,form button::-moz-placeholder,form input::-moz-placeholder,form select::-moz-placeholder,form textarea::-moz-placeholder{color:#555}
form .select:-ms-input-placeholder,form button:-ms-input-placeholder,form input:-ms-input-placeholder,form select:-ms-input-placeholder,form textarea:-ms-input-placeholder{color:#555}
form .select:focus,form button:focus,form input:focus,form select:focus,form textarea:focus{outline:0}
form button,form input[type=text],form input[type=password],form input[type=email],form input[type=tel],form select{max-width:317px;width:100%}
form input[type=radio]{width:16px;height:16px;min-width:0;-webkit-appearance:radio;vertical-align:top;border:3px solid #555}
form input[type=checkbox]{width:20px;height:20px;min-width:0;-webkit-appearance:checkbox;vertical-align:top}
.btn,a.btn,button,form button[type=submit],form input[type=submit]{line-height:22px;cursor:pointer;-webkit-appearance:none;font-family:AvenirLTStd-Roman;letter-spacing:1.8px;outline:0;text-align:center;text-transform:uppercase}
form textarea{resize:none;min-height:60px;padding:12px}
form input{height:37px}
form button[type=submit],form input[type=submit]{background:0 0;color:#555;font-size:12px;vertical-align:middle;-webkit-transition:background ease .4s,color ease .4s;-moz-transition:background ease .4s,color ease .4s;-o-transition:background ease .4s,color ease .4s;transition:background ease .4s,color ease .4s;padding:8px 10px;border:1px solid #555;min-height:40px;display:inline-block;width:auto;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;min-width:201px}
form button[type=submit].inverted,form button[type=submit]:hover,form input[type=submit].inverted,form input[type=submit]:hover{background:#555;color:#fff}
form button[type=submit]:focus,form input[type=submit]:focus{outline:0}
form button[type=submit].inverted:hover,form input[type=submit].inverted:hover{background:0 0;color:#555}
form button[type=submit].white,form input[type=submit].white{background:0 0;color:#fff;border-color:#fff}
form button[type=submit].white:hover,form input[type=submit].white:hover{background:#fff;color:#555;border-color:#fff}
form button[type=submit].large,form input[type=submit].large{max-width:220px;width:100%}
@media (min-width:768px) and (max-width:1060px){form button[type=submit],form input[type=submit]{font-size:10px;min-height:35px;padding-top:5px;padding-bottom:5px;min-width:130px}
}
form button[type=submit].brown-btn,form button[type=submit].call-us-btn,form button[type=submit].call-us-mobile-btn,form button[type=submit].need-help-btn,form button[type=submit].need-help-mobile-btn,form input[type=submit].brown-btn,form input[type=submit].call-us-btn,form input[type=submit].call-us-mobile-btn,form input[type=submit].need-help-btn,form input[type=submit].need-help-mobile-btn{border-color:#a87357;color:#a87357}
form button[type=submit].brown-btn img,form button[type=submit].call-us-btn img,form button[type=submit].call-us-mobile-btn img,form button[type=submit].need-help-btn img,form button[type=submit].need-help-mobile-btn img,form input[type=submit].brown-btn img,form input[type=submit].call-us-btn img,form input[type=submit].call-us-mobile-btn img,form input[type=submit].need-help-btn img,form input[type=submit].need-help-mobile-btn img{width:15px;height:15px;margin-right:8px;vertical-align:text-bottom;-webkit-transition:opacity ease .25s;-moz-transition:opacity ease .25s;-o-transition:opacity ease .25s;transition:opacity ease .25s;opacity:1}
form button[type=submit].brown-btn img.call-us-btn-hover-img,form button[type=submit].call-us-btn img.call-us-btn-hover-img,form button[type=submit].call-us-mobile-btn img.call-us-btn-hover-img,form button[type=submit].need-help-btn img.call-us-btn-hover-img,form button[type=submit].need-help-mobile-btn img.call-us-btn-hover-img,form input[type=submit].brown-btn img.call-us-btn-hover-img,form input[type=submit].call-us-btn img.call-us-btn-hover-img,form input[type=submit].call-us-mobile-btn img.call-us-btn-hover-img,form input[type=submit].need-help-btn img.call-us-btn-hover-img,form input[type=submit].need-help-mobile-btn img.call-us-btn-hover-img{opacity:0;visibility:hidden;position:absolute}
form button[type=submit].brown-btn:hover,form button[type=submit].call-us-btn:hover,form button[type=submit].call-us-mobile-btn:hover,form button[type=submit].need-help-btn:hover,form button[type=submit].need-help-mobile-btn:hover,form input[type=submit].brown-btn:hover,form input[type=submit].call-us-btn:hover,form input[type=submit].call-us-mobile-btn:hover,form input[type=submit].need-help-btn:hover,form input[type=submit].need-help-mobile-btn:hover{background-color:#a87357;color:#fff}
form button[type=submit].brown-btn:hover img.call-us-btn-hover-img,form button[type=submit].call-us-btn:hover img.call-us-btn-hover-img,form button[type=submit].call-us-mobile-btn:hover img.call-us-btn-hover-img,form button[type=submit].need-help-btn:hover img.call-us-btn-hover-img,form button[type=submit].need-help-mobile-btn:hover img.call-us-btn-hover-img,form input[type=submit].brown-btn:hover img.call-us-btn-hover-img,form input[type=submit].call-us-btn:hover img.call-us-btn-hover-img,form input[type=submit].call-us-mobile-btn:hover img.call-us-btn-hover-img,form input[type=submit].need-help-btn:hover img.call-us-btn-hover-img,form input[type=submit].need-help-mobile-btn:hover img.call-us-btn-hover-img{opacity:1;visibility:visible;position:relative}
form button[type=submit].brown-btn:hover img.call-us-btn-default,form button[type=submit].call-us-btn:hover img.call-us-btn-default,form button[type=submit].call-us-mobile-btn:hover img.call-us-btn-default,form button[type=submit].need-help-btn:hover img.call-us-btn-default,form button[type=submit].need-help-mobile-btn:hover img.call-us-btn-default,form input[type=submit].brown-btn:hover img.call-us-btn-default,form input[type=submit].call-us-btn:hover img.call-us-btn-default,form input[type=submit].call-us-mobile-btn:hover img.call-us-btn-default,form input[type=submit].need-help-btn:hover img.call-us-btn-default,form input[type=submit].need-help-mobile-btn:hover img.call-us-btn-default{opacity:0;visibility:hidden;position:absolute}
form select{height:37px;min-width:293px;padding-right:24px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/form/select-arrow.png) 95% 50% no-repeat;-moz-appearance:none}
form select.short{background-position-x:80%}
form select.full-width{width:100%;background-position-x:95%}
form select#appointment-title,form select#enquiry-title,form select#title,form select[name="billing[prefix]"]{min-width:168px;background-position-x:90%}
form select::-ms-expand{display:none}
.error,.validation-advice{color:#a87357}
.validation-failed{border-color:#a87357}
form#bookAnAppointmentForm textarea,form#bookAnEnquiryForm textarea{width:100%}
@media (max-width:1060px) and (min-width:768px){form input,form select{height:32px}
form button,form input,form select,form textarea{margin-bottom:10px}
}
@media (max-width:767px){form button,form input,form select,form textarea{width:100%;background-position-x:95%;margin-bottom:16px;max-width:100%}
form button#title,form input#title,form select#title,form textarea#title{width:100%;background-position-x:95%}
form button,form input[type=email],form input[type=password],form input[type=tel],form input[type=text],form select{max-width:100%}
}
.btn-hover{background:#555;color:#fff}
.btn-inverted-hover{background:0 0;color:#555}
.btn-white-hover{background:#fff;color:#555;border-color:#fff}
.btn-container{text-align:center}
.btn,a.btn,button{background:0 0;color:#555;font-size:12px;vertical-align:middle;-webkit-transition:background ease .4s,color ease .4s;-moz-transition:background ease .4s,color ease .4s;-o-transition:background ease .4s,color ease .4s;transition:background ease .4s,color ease .4s;padding:8px 10px;border:1px solid #555;min-height:40px;display:inline-block;width:auto;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;min-width:201px}
.btn.inverted,.btn:hover,a.btn.inverted,a.btn:hover,button.inverted,button:hover{background:#555;color:#fff}
.grid a,.grid img,.simple-grid-container [class*=uk-width] a:not(.btn){display:block}
.btn:focus,a.btn:focus,button:focus{outline:0}
.btn.inverted:hover,a.btn.inverted:hover,button.inverted:hover{background:0 0;color:#555}
.btn.white,a.btn.white,button.white{background:0 0;color:#fff;border-color:#fff}
.btn.white:hover,a.btn.white:hover,button.white:hover{background:#fff;color:#555;border-color:#fff}
.btn.large,a.btn.large,button.large{max-width:220px;width:100%}
.btn.brown-btn,.btn.call-us-btn,.btn.call-us-mobile-btn,.btn.need-help-btn,.btn.need-help-mobile-btn,a.btn.brown-btn,a.btn.call-us-btn,a.btn.call-us-mobile-btn,a.btn.need-help-btn,a.btn.need-help-mobile-btn,button.brown-btn,button.call-us-btn,button.call-us-mobile-btn,button.need-help-btn,button.need-help-mobile-btn{border-color:#a87357;color:#a87357}
.btn.brown-btn img,.btn.call-us-btn img,.btn.call-us-mobile-btn img,.btn.need-help-btn img,.btn.need-help-mobile-btn img,a.btn.brown-btn img,a.btn.call-us-btn img,a.btn.call-us-mobile-btn img,a.btn.need-help-btn img,a.btn.need-help-mobile-btn img,button.brown-btn img,button.call-us-btn img,button.call-us-mobile-btn img,button.need-help-btn img,button.need-help-mobile-btn img{width:15px;height:15px;margin-right:8px;vertical-align:text-bottom;-webkit-transition:opacity ease .25s;-moz-transition:opacity ease .25s;-o-transition:opacity ease .25s;transition:opacity ease .25s;opacity:1}
.btn.brown-btn img.call-us-btn-hover-img,.btn.call-us-btn img.call-us-btn-hover-img,.btn.call-us-mobile-btn img.call-us-btn-hover-img,.btn.need-help-btn img.call-us-btn-hover-img,.btn.need-help-mobile-btn img.call-us-btn-hover-img,a.btn.brown-btn img.call-us-btn-hover-img,a.btn.call-us-btn img.call-us-btn-hover-img,a.btn.call-us-mobile-btn img.call-us-btn-hover-img,a.btn.need-help-btn img.call-us-btn-hover-img,a.btn.need-help-mobile-btn img.call-us-btn-hover-img,button.brown-btn img.call-us-btn-hover-img,button.call-us-btn img.call-us-btn-hover-img,button.call-us-mobile-btn img.call-us-btn-hover-img,button.need-help-btn img.call-us-btn-hover-img,button.need-help-mobile-btn img.call-us-btn-hover-img{opacity:0;visibility:hidden;position:absolute}
.btn.brown-btn:hover,.btn.call-us-btn:hover,.btn.call-us-mobile-btn:hover,.btn.need-help-btn:hover,.btn.need-help-mobile-btn:hover,a.btn.brown-btn:hover,a.btn.call-us-btn:hover,a.btn.call-us-mobile-btn:hover,a.btn.need-help-btn:hover,a.btn.need-help-mobile-btn:hover,button.brown-btn:hover,button.call-us-btn:hover,button.call-us-mobile-btn:hover,button.need-help-btn:hover,button.need-help-mobile-btn:hover{background-color:#a87357;color:#fff}
.btn.brown-btn:hover img.call-us-btn-hover-img,.btn.call-us-btn:hover img.call-us-btn-hover-img,.btn.call-us-mobile-btn:hover img.call-us-btn-hover-img,.btn.need-help-btn:hover img.call-us-btn-hover-img,.btn.need-help-mobile-btn:hover img.call-us-btn-hover-img,a.btn.brown-btn:hover img.call-us-btn-hover-img,a.btn.call-us-btn:hover img.call-us-btn-hover-img,a.btn.call-us-mobile-btn:hover img.call-us-btn-hover-img,a.btn.need-help-btn:hover img.call-us-btn-hover-img,a.btn.need-help-mobile-btn:hover img.call-us-btn-hover-img,button.brown-btn:hover img.call-us-btn-hover-img,button.call-us-btn:hover img.call-us-btn-hover-img,button.call-us-mobile-btn:hover img.call-us-btn-hover-img,button.need-help-btn:hover img.call-us-btn-hover-img,button.need-help-mobile-btn:hover img.call-us-btn-hover-img{opacity:1;visibility:visible;position:relative}
.btn.brown-btn:hover img.call-us-btn-default,.btn.call-us-btn:hover img.call-us-btn-default,.btn.call-us-mobile-btn:hover img.call-us-btn-default,.btn.need-help-btn:hover img.call-us-btn-default,.btn.need-help-mobile-btn:hover img.call-us-btn-default,a.btn.brown-btn:hover img.call-us-btn-default,a.btn.call-us-btn:hover img.call-us-btn-default,a.btn.call-us-mobile-btn:hover img.call-us-btn-default,a.btn.need-help-btn:hover img.call-us-btn-default,a.btn.need-help-mobile-btn:hover img.call-us-btn-default,button.brown-btn:hover img.call-us-btn-default,button.call-us-btn:hover img.call-us-btn-default,button.call-us-mobile-btn:hover img.call-us-btn-default,button.need-help-btn:hover img.call-us-btn-default,button.need-help-mobile-btn:hover img.call-us-btn-default{opacity:0;visibility:hidden;position:absolute}
@media (min-width:768px) and (max-width:1060px){.btn,a.btn,button{font-size:10px;min-height:35px;padding-top:5px;padding-bottom:5px;min-width:130px}
button.btn{font-size:12px}
}
a,body,html{font-size:14px}
.remove a{color:#a87357;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/REMOVE-DESKTOP@2x.png) 0 50% no-repeat;-moz-background-size:9px 9px;-o-background-size:9px 9px;background-size:9px 9px;padding-left:14px;text-transform:uppercase}
a,a:hover{color:#555}
.hero-img-container a:hover .btn,[class*=uk-width] a:hover .btn{background:#555;color:#fff}
.hero-img-container a:hover .btn.inverted,[class*=uk-width] a:hover .btn.inverted{background:0 0;color:#555}
.hero-img-container a:hover .btn.white,[class*=uk-width] a:hover .btn.white{background:#fff;color:#555;border-color:#fff}
.simple-grid-container [class*=uk-width]{padding-left:30px}
.simple-grid-container img{width:100%;max-width:100%}
.simple-grid-container .overlay-container{position:relative;overflow:hidden}
.simple-grid-container h4{font-family:AvenirLTStd-Book}
.simple-grid-container .blockquote-container{height:100%}
.simple-grid-container .overlay{position:absolute;text-align:center;top:80px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);left:50%;width:100%;padding:0 15px;margin-top:0}
.simple-grid-container .overlay h3{margin-bottom:7px}
.simple-grid-container .overlay h3,.simple-grid-container .overlay h4{max-width:362px;margin-left:auto;margin-right:auto;width:50%}
.simple-grid-container .overlay .btn{margin-top:16px}
.simple-grid-container .overlay .btn.last{margin-top:20px}
.simple-grid-container .overlay.centered{top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.simple-grid-container .overlay.right{right:0;left:auto;-webkit-transform:translate(25%,-50%);-moz-transform:translate(25%,-50%);-ms-transform:translate(25%,-50%);-o-transform:translate(25%,-50%);transform:translate(25%,-50%)}
.simple-grid-container .overlay.left{right:auto;left:0;-webkit-transform:translate(-30%,-50%);-moz-transform:translate(-30%,-50%);-ms-transform:translate(-30%,-50%);-o-transform:translate(-30%,-50%);transform:translate(-30%,-50%)}
.grid-container{margin-left:-30px}
.grid-container:after{content:' ';display:block;clear:both}
.grid{padding-left:30px;padding-bottom:80px;width:100%;float:left}
.grid.text-grid{display:table;min-height:480px}
.grid.text-grid .text{display:table-cell;vertical-align:middle;padding:55px 0}
.grid.text-grid .text p{padding-bottom:30px}
.grid.text-grid .text p:last-child{padding-bottom:0}
.grid.text-grid .text h3{margin-bottom:20px}
.grid.text-grid .text h3,.grid.text-grid .text p{max-width:360px;display:block;margin-left:auto;margin-right:auto}
@media (min-width:768px){.grid-container .grid,.grid-container .grid-sizer{width:33.35%}
.grid-container .grid-sizer.wider-grid,.grid-container .grid.wider-grid{width:66.65%}
.grid-container .grid-sizer.max-grid,.grid-container .grid.max-grid{width:100%}
.simple-grid-container .uk-width-3-10{width:33.35%}
.simple-grid-container .uk-width-7-10{width:66.65%}
}
@media (max-width:767px){.grid-container,.grid-container .grid,.grid-container .grid a,.grid-container .grid.max-grid,.grid-container .grid.wider-grid,.simple-grid-container .uk-width-3-10,.simple-grid-container .uk-width-7-10{width:100%}
.grid-container{margin-left:auto}
.grid-container .grid{padding-left:0;padding-right:0;top:auto!important;position:relative!important}
.grid-container .grid.text-grid{display:table;min-height:0}
.btn:not(.inverted),.simple-grid-container .overlay br{display:none}
.simple-grid-container .overlay.right:not(.mobile-overlay),.simple-grid-container .overlay:not(.mobile-overlay){position:relative;left:auto;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);top:auto}
.simple-grid-container .overlay.right:not(.mobile-overlay) h3.h2,.simple-grid-container .overlay:not(.mobile-overlay) h3.h2{margin:0 0 5px;padding:0;text-transform:uppercase;text-align:center;color:#555;font-family:DidotLTPro-Roman;font-size:25px;line-height:35px;letter-spacing:.5px}
.simple-grid-container .overlay h3,.simple-grid-container .overlay h4{width:100%;max-width:100%}
}
@media (max-width:767px) and (min-width:768px) and (max-width:1060px){.simple-grid-container .overlay.right:not(.mobile-overlay) h3.h2,.simple-grid-container .overlay:not(.mobile-overlay) h3.h2{font-size:20px;line-height:25px}
}
@media (max-width:767px) and (max-width:767px){.simple-grid-container .overlay.right:not(.mobile-overlay) h3.h2,.simple-grid-container .overlay:not(.mobile-overlay) h3.h2{line-height:32px}
}
@media (min-width:1220px){.uk-grid+.uk-grid{margin-top:30px}
}
.uk-modal .uk-modal-close{margin:0 auto 40px}
.uk-modal button[type=submit]{background-color:#555;color:#fff;max-width:317px;width:100%;margin:0 auto;display:block}
.uk-modal button[type=submit]:disabled{cursor:default}
.cinema-screen,[class$=btn]{cursor:pointer}
.uk-modal form select{max-width:317px}
.uk-modal form button,.uk-modal form input,.uk-modal form select{max-width:317px;width:100%}
.uk-modal-dialog{padding:40px 60px 60px;text-align:center;max-width:438px}
.uk-modal-dialog .uk-grid{margin-left:0}
.uk-modal-dialog .uk-grid [class*=uk-width]{padding-left:0}
.uk-modal-dialog p{text-align:left}
.uk-modal-dialog a{color:#a87357}
.uk-modal-dialog form{text-align:center;padding:0;display:block;margin-left:auto;margin-right:auto}
.uk-modal-dialog form .field{text-align:left}
.uk-modal-dialog .success-message p{text-align:center}
#newsletter-modal .uk-modal-dialog #newsletterForm .buttons-set{margin-top:10px}
@media (max-width:767px){.uk-modal{margin-top:59px;background:#fff}
.uk-modal .uk-modal-dialog{margin:0;max-width:100%;padding-left:20px;padding-right:20px}
.uk-modal button[type=submit]{width:100%;max-width:100%}
.uk-modal form select{width:100%}
.uk-modal form button,.uk-modal form input,.uk-modal form select,.uk-modal form textarea{max-width:100%;min-width:0}
#newsletter-modal .uk-modal-dialog{text-align:center;max-width:100%}
#newsletter-modal .uk-modal-dialog #newsletterForm{max-width:100%}
#lookbook-pane-modal .uk-modal-dialog{padding:20px 30px}
#lookbook-pane-modal .uk-modal-dialog .social-links-follow-us{display:none}
#lookbook-pane-modal .uk-modal-dialog #lookbook-roller-detail-description,#lookbook-pane-modal .uk-modal-dialog .social-media-links{margin-bottom:30px}
#lookbook-pane-modal .uk-modal-dialog .img-container{position:relative;margin-bottom:25px}
#lookbook-pane-modal .uk-modal-dialog .img-container a.zoom-btn{position:absolute;top:15px;right:15px;width:29px;height:29px;background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-MOBILE@2x.png) no-repeat;-moz-background-size:29px 29px;-o-background-size:29px 29px;background-size:29px 29px}
#lookbook-pane-modal .uk-modal-dialog img#lookbook-roller-image{display:block}
#lookbook-pane-modal .uk-modal-dialog button.appointment-btn{margin-bottom:20px;background-color:#555;color:#fff;width:100%}
#lookbook-pane-modal .uk-modal-dialog .lookbook-enquiries{text-align:center}
#lookbook-pane-modal .uk-modal-dialog .lookbook-enquiries a{color:#a87357}
#lookbook-pane-modal .uk-modal-dialog a.uk-modal-close{color:#a87357;text-transform:uppercase}
#lookbook-pane-modal.close-btn-color-dark .img-container a.zoom-btn{background-image:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DARK-MOBILE@2x.png)}
}
#mobile-splash{width:100%;height:100%;position:fixed;background:#E6E6E6;top:0;left:0;display:none;z-index:12222;text-align:center}
#mobile-splash img{display:block;margin:0 auto}
#mobile-splash .loader{width:60px;height:30px;-webkit-border-top-left-radius:110px;-moz-border-radius-topleft:110px;border-top-left-radius:110px;-webkit-border-top-right-radius:110px;-moz-border-radius-topright:110px;border-top-right-radius:110px;border:8px solid #555;border-bottom:0;-webkit-animation-duration:2s;-moz-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;-webkit-animation-name:rotate;-moz-animation-name:rotate;-o-animation-name:rotate;animation-name:rotate;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:normal;-moz-animation-direction:normal;-o-animation-direction:normal;animation-direction:normal;-webkit-animation-timing-function:linear;-moz-animation-timing-function:linear;-o-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;animation-fill-mode:forwards;text-align:center;-webkit-transform-origin:30px 30px;-moz-transform-origin:30px 30px;-ms-transform-origin:30px 30px;-o-transform-origin:30px 30px;transform-origin:30px 30px;display:block;margin:60px auto 0;opacity:.6}
#main,.main-container{position:relative;width:100%}
@-webkit-keyframes rotate{from{-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}
@-o-keyframes rotate{from{-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotate{from{-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}
*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-smoothing:antialiased;font-smooth:always;-webkit-font-smoothing:antialiased}
body,html{background:#fff;font-family:AvenirLTStd-Roman;color:#555;line-height:24px;letter-spacing:.5px}
#cart-empty-page .h2,.cms-no-route #main .error-page-container .error-page h2{line-height:47px}
img{min-height:1px;min-width:1px}
.main-container{padding:0;max-width:1260px;display:block;margin-left:auto;margin-right:auto;height:100%}
#main{padding-top:122px}
@media (max-width:767px){html.uk-modal-page.uk-touch #main{display:none}
html.uk-modal-page.uk-touch .main-container{position:absolute;top:0}
}
.dropdown-container,.page{position:relative}
.mp-pusher{min-height:100%;-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important}
.page-inner-container{padding-left:20px;padding-right:20px}
.page{padding-top:30px}
.dropdown-container .dropdown-toggle{padding-right:45px;background:url(http://placehold.it/10x10) center no-repeat;-moz-background-size:contain;-o-background-size:contain;background-size:contain}
.dropdown-container .dropdown-menu{display:none;position:absolute}
#notice-cookie-block{position:fixed;bottom:0;text-align:center}
#notice-cookie-block button{margin-top:20px;margin-bottom:0}
.make-an-appointment-centered{display:block;margin:0 auto}
.breadcrumbs{margin-top:20px}
.breadcrumbs a,.breadcrumbs li,.breadcrumbs span{font-size:12px}
.cinema-screen .cinema-screen-play-btn,.video-container .cinema-screen-play-btn{left:50%;top:50%;margin-left:-40px;margin-top:-40px;z-index:400;font-size:50px;width:80px}
.breadcrumbs li{display:inline-block;text-transform:uppercase}
.breadcrumbs li.Home a,.breadcrumbs li.home a{color:#ccc}
.video-container{position:relative}
.video-container .cinema-screen-play-btn{position:absolute;height:80px;background:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/PLAY-DEFAULT@2x.png) top left no-repeat;-moz-background-size:80px 80px;-o-background-size:80px 80px;background-size:80px 80px}
.video-container:hover .cinema-screen-play-btn{background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/PLAY-HOVER@2x.png)}
.cinema-screen{margin-bottom:40px;height:360px;max-height:490px!important;overflow:hidden;position:relative;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
@media (max-width:768px){.breadcrumbs{display:none}
.cinema-screen{height:225px}
}
.cinema-screen .cinema-screen-play-btn{position:absolute;height:80px;background:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/PLAY-DEFAULT@2x.png) top left no-repeat;-moz-background-size:80px 80px;-o-background-size:80px 80px;background-size:80px 80px}
.cinema-screen:hover .cinema-screen-play-btn{background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/PLAY-HOVER@2x.png)}
.cinema-screen iframe{display:none;position:absolute}
.cinema-screen img{position:absolute;width:100%}
.cinema-screen.open{max-height:685px!important}
.cinema-screen.open .cinema-screen-play-btn{display:none}
.uk-grid{margin-left:-30px}
.uk-grid [class*=uk-width]{padding-left:30px}
#mobile-scroll-top{text-align:center;margin-left:auto;margin-right:auto;display:none;margin-top:10px}
#mobile-scroll-top .inner-container{cursor:pointer;display:inline-block;margin-bottom:20px}
#mobile-scroll-top .inner-container h4{font-family:AvenirLTStd-Medium;margin-top:10px}
#mobile-scroll-top .inner-container img{display:block;margin-left:auto;margin-right:auto;width:16px;height:9px;-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0);-o-transform:rotate(-180deg) translateZ(0);transform:rotate(-180deg) translateZ(0)}
.transparent-bg-overlay{position:fixed;background:rgba(0,0,0,.6);left:0;right:0;bottom:0;top:0;z-index:100;opacity:0;visibility:hidden;-webkit-transition:opacity .4s,visibility .4s;-moz-transition:opacity .4s,visibility .4s;-o-transition:opacity .4s,visibility .4s;transition:opacity .4s,visibility .4s}
.transparent-bg-overlay.active{opacity:1;visibility:visible}
#notice-cookie-block{background:rgba(85,85,85,.9);color:#fff;width:100%;min-height:48px}
#notice-cookie-block .notice-inner{margin:12px 20px}
#notice-cookie-block #cookie-inner-container{max-width:697px;margin:0 auto;position:relative}
#notice-cookie-block #cookie-inner-container a{color:#fff;text-decoration:underline}
#notice-cookie-block #cookie-inner-container a,#notice-cookie-block #cookie-inner-container p{font-size:12px}
#notice-cookie-block #cookie-inner-container .uk-width-1-10{position:relative}
#notice-cookie-block #cookie-inner-container .close-character{top:0;margin-top:-6px;right:auto;left:30px;width:38px;height:38px;background-image:url(https://dbl3m9kv9sfip.cloudfront.net/images/layout/CROSS-WHITE-DESKTOP@2x.png)}
#cart-empty-page .cart-empty{display:block;margin:0 auto}
#cart-empty-page .cart-empty a{margin-top:30px}
#main{min-height:800px}
.cms-no-route,.cms-no-route .main-container{height:100%}
.cms-no-route #mp-pusher{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}
.cms-no-route #main{background:#f8f8f8;margin:0 20px;width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1}
.cms-no-route #main .page{display:table;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-width:932px}
.cms-no-route #main .error-page-container .error-page{display:block;margin-left:auto;margin-right:auto;max-width:650px;text-align:center}
.cms-no-route #main .error-page-container .error-page p{max-width:385px;text-align:center;display:block;margin-left:auto;margin-right:auto}
.cms-no-route #main .error-page-container .error-page a.btn{margin-top:30px}
.cms-no-route .footer-container{margin-top:0}
@media (max-width:1060px) and (min-width:768px){.cms-no-route #main .error-page-container .error-page h2{line-height:38px}
}
@media (min-width:768px) and (max-width:1060px){.breadcrumbs a,.breadcrumbs li,.breadcrumbs span{font-size:10px}
}
@media (max-width:767px){.cms-no-route #main{margin:0;padding-left:20px;padding-right:20px}
#main .page-inner-container .narrow-container,#main .page-inner-container.layout2-page,.main-container{padding-left:0;padding-right:0}
#main{padding-top:60px}
#main .page-inner-container.layout2-page .narrow-container,#main .page-inner-container.layout2-page h2{padding-left:20px;padding-right:20px}
#main .uk-grid{margin-left:0}
#main .uk-grid [class*=uk-width]{float:none;width:100%;margin-bottom:30px;padding-left:0;display:block;margin-left:auto;margin-right:auto}
#mobile-scroll-top{display:block}
#notice-cookie-block #cookie-inner-container{max-width:568px}
#notice-cookie-block #cookie-inner-container .close-character{left:auto;right:0;top:50%;margin-top:-18px}
}
@media (max-width:480px){#notice-cookie-block #cookie-inner-container .uk-width-9-10{width:85%}
#notice-cookie-block #cookie-inner-container .uk-width-1-10{width:15%}
}
