@media (max-width:767px){#main .page-inner-container .narrow-container,#main .page-inner-container.layout2-page,.main-container{padding-left:0;padding-right:0}
#main{padding-top:60px}
#main .page-inner-container.layout2-page .narrow-container,#main .page-inner-container.layout2-page h2{padding-left:20px;padding-right:20px}
#main .uk-grid{margin-left:0}
#main .uk-grid [class*=uk-width]{float:none;width:100%;margin-bottom:30px;padding-left:0;display:block;margin-left:auto;margin-right:auto}
#mobile-scroll-top{display:block}
#notice-cookie-block #cookie-inner-container{max-width:568px}
#notice-cookie-block #cookie-inner-container .close-character{left:auto;right:0;top:50%;margin-top:-18px}
}
@media (max-width:480px){#notice-cookie-block #cookie-inner-container .uk-width-9-10{width:85%}
#notice-cookie-block #cookie-inner-container .uk-width-1-10{width:15%}
}