<div class="product_option_loader_bg"><div class="product_option_loader"></div></div>
<div class="option_container_bg"><div class="option_container_wrapper"></div></div>
<?php
	$_productCollection=$this->getLoadedProductCollection();
	$product_data=array();
	$i=0;
	foreach ($_productCollection as $_product){
			$product_data[$i]['id']=$_product->getEntityId();
			$product_data[$i]['url']=$_product->getProductUrl();
			$i++;
	}
	$product_json=json_encode($product_data);
?>


<script type="text/javascript">

    // if (typeof jQuery == 'undefined'){
    //     document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    // }
</script>
<script type="text/javascript">
        var optionData="";
        var cart_url='';
        var product_id="";
		jQuery.noConflict();
		// jQuery('.btn-cart').removeAttr('onClick');
		// jQuery('.button').removeAttr('href');
		(function($wk_jq){
			$wk_jq('.button').on('click',function(e){
				var product_url=$wk_jq(this).parents('li').find('.product-name a').attr('href');
				if (typeof product_url !== typeof undefined && product_url !== false) {
					$wk_jq('.product_option_loader_bg').show();
					var json =JSON.parse('<?php echo $product_json ?>');
					$wk_jq.each(json,function(index,element){
							if(element.url==product_url){
								product_id=element.id;
							}
						});
	                $wk_jq('.product_option_loader').html("<img src=<?php echo $this->getSkinUrl('ajaxcart/images/ajax-loader-32.gif'); ?> >loading...");
					$wk_jq.ajax({
						url:"<?php echo  Mage::getUrl('ajaxcart/index/productdetail'); ?>",
						type:'post',
	                    dataType:'json',
						data:{
	                       product_id:product_id
	                    },
						success:function(htmlData){
	                        var cart_url=htmlData.cart_url;
	                        if(htmlData.has_option==1){
		                        $wk_jq('.product_option_loader_bg').hide();
		                        $wk_jq('.option_container_bg').show();
		                        $wk_jq('.option_container_wrapper').show();
	                            if(htmlData.hasOwnProperty('custom_option')){
                                    optionData=htmlData.option_Price;
                                    var optionsPrice = new Product.OptionsPrice(optionData);
                                    window.optionsPrice=optionsPrice;
	                            }
	                                $wk_jq('.option_container_wrapper').html("<form id=product_addtocart_form  enctype=multipart/form-data><div class=product_container><span class=close_option_container>X</span><div class=option_container><table><tr><td class=image_con><p class=option_product_image_bg><img class=option_product_image src="+htmlData.image_url+"></p></td><td><h2 class=product_name>"+htmlData.product_name+"</h2><div class=product_option>"+htmlData.custom_option+"</div><div class=cart_container><span>"+htmlData.price+"</span><span class=cart_wrap>"+htmlData.add_to_cart+"<span></div></td></tr></table></div></div><form>");
	                                var customForm = new VarienForm(product_addtocart_form,true);
	                                window.customForm=customForm;

	                                $wk_jq('.option_container_wrapper').find('.btn-cart').attr('onClick','addprotocart(\"'+cart_url+'\")');
	                        }else{
                                $wk_jq.ajax({
                                    url : cart_url,
                                    type : "POST",
                                    data :{
                                        qty:1
                                    },
                                    success : function(data){

				                        var success = $wk_jq(data).find(".header-minicart").html();
				                        $wk_jq('.header-minicart').html(success);
				                        $wk_jq("html, body").animate({
										        scrollTop: 0
										    },2000,function(){
										    	$wk_jq('.product_option_loader_bg').hide();
                                                $wk_jq('#header-cart').addClass('skip-active');
										    });

                                    },
                                    error:function(a,b,c){
                                        console.log('error');
                                    }
                                });
	                        }
						},
						error:function(a,b,c){
							console.log('error');
						}
					});
				}
			});

            $wk_jq('body').on('click','.close_option_container',function(){
                $wk_jq('.product_container').remove();
                $wk_jq('.option_container_bg').hide();
            });
            $wk_jq(document).on('click','.skip-link-close',function(){
                $wk_jq('#header-cart').removeClass('skip-active');
            });
		})(jQuery);

	function addprotocart(submit_url){
			if(customForm.validator.validate()){
	                jQuery(".product_option_loader_bg").show();
	                jQuery.ajax({
	                    url : submit_url,
	                    type : "POST",
	                    data : jQuery("#product_addtocart_form").serialize(),
	                    success : function(data){
	                        jQuery('.option_container_bg').hide();
	                        var success = jQuery(data).find(".header-minicart").html();
				            jQuery('.header-minicart').html(success);
				            jQuery('.header-minicart').trigger('click');
				            jQuery("html, body").animate({
								scrollTop: 0
								},2000,function(){
									jQuery('.product_option_loader_bg').hide();
                                    jQuery('#header-cart').addClass('skip-active');
                                });
	                    },
	                    error:function(a,b,c){
	                        console.log('error');
	                    }
	                });
	        }else
	        return false;
	}

</script>
