<?php $_helper = $this->helper('catalog/output'); ?>
<?php
    $_product = $this->getProduct();
?>
<div class="product-preview-popup">
    <div class="product-view product-view-compact">
        <a href="javascript:jQuery.fancybox.close();" class="close-view"><span class="icon-cancel-3"></span></a>
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <?php echo $this->getChildHtml('media') ?>
            </div>
            <div class="info-cell col-sm-7 col-md-7 col-lg-7">
                <h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></p>
                 <span class="rating">
                    <?php echo Mage::helper('megatronconfig')->getStars($_product)?>
                </span>
                <div class="line-divider"></div>

                <div class="price-part">
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                </div>
                <div class="clearfix"></div>
                <a href="<?php echo $_product->getProductUrl()  ?>" class="btn btn-mega"><?php echo $this->__('View full info') ?></a>
                <?php if(Mage::getStoreConfig('megatronconfig/options/qr')):?>
                <div class="product-qr-code hidden-xs">
                    <img src="//api.qrserver.com/v1/create-qr-code/?size=100x100&data=<?php echo $_product->getProductUrl()  ?>" alt="QR:  <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"/>
                </div>
               <?php endif;?>
            </div>
        </div>
    </div>
</div>