#search-popup #search_autocomplete,#search-running{text-align:center;top:auto!important;left:auto!important}
#search-popup #search_autocomplete,#search-popup #search_autocomplete ul,#search-popup .block1,#search-popup .form-group,#search-running{margin-left:auto;margin-right:auto}
#search-popup{display:none;position:absolute;z-index:1000;text-align:center;background:#fff;padding:45px 0 0;border-top:0;width:100%;margin-top:-1px;left:0;opacity:0;-webkit-transition:opacity .6s ease;-moz-transition:opacity .6s ease;-o-transition:opacity .6s ease;transition:opacity .6s ease}
#search-popup .block1{display:block;text-align:center;width:100%}
#search-popup .form-group{margin-bottom:0;display:block;text-align:center;max-width:164px;padding-bottom:50px}
#search-popup .form-group input{width:auto;vertical-align:middle;margin-bottom:0;border:0;padding:0 10px}
#search-popup #search_autocomplete{position:absolute!important;display:block!important;width:100%!important;background:#fff}
#search-popup #search_autocomplete #no-result{background:rgba(255,255,255,.5);width:100%;text-align:center;padding:15px 0;position:absolute;top:0}
#search-popup #search_autocomplete ul{max-width:910px;text-align:center;padding-left:20px;padding-right:20px}
#search-popup #search_autocomplete ul li{max-width:265px;display:inline-block;margin-bottom:45px}
#search-popup #search_autocomplete ul li img{display:block;margin-left:auto;margin-right:auto;width:100%}
#search-popup #search_autocomplete ul li .title{padding-top:20px;max-width:215px;display:block;margin-left:auto;margin-right:auto}
#search-running{position:relative!important;display:block;padding-bottom:100px;padding-top:60px}