<div>
    <p style="margin-bottom:10px;font-weight:bold;">Try your purchase on in the comfort of your own home and should you be dissatisfied, you have 14 days from the date you received your order to exchange or return for a full refund. We will collect from your home or an alternative address for free.</p>
    <p style="margin-bottom:10px;">You will not be charged the cost of delivery or return as we offer a complimentary delivery service worldwide. Please be reminded however, that if you are based outside the EU you may also be required to pay taxes and duties on your product.</p>
    <p style="margin-bottom:10px;">To arrange a return please email <a href="mailto:enquiries@ralphandrusso.com" style="color:#a87357;">enquiries@ralphandrusso.com</a> with your order confirmation and reason for returning. We shall endeavour to respond within one working day.</p>
    <p style="margin-bottom:10px;">Please ensure that your items are returned unused with all Ralph & Russo packaging and labels attached. Returns that do not meet our policy will not be accepted and will be sent back to the customer.</p>
    <p style="font-style:italic;">Please note, online purchases will not be accepted if returned to a Ralph & Russo boutique. All online returns must be processed via the method outlined above.</p>
</div>
