<p>Payment is due at the time you order any product(s) using our site. We accept all major credit and debit cards and PayPal. The price includes any applicable VAT or sales tax. For further information regarding payment please see section 12 of our <a href="/terms-conditions">Terms</a>.</p>
