<?php
$_product    = $this->getProduct();
$_attributes  = $_product->getTypeInstance(true)->getConfigurableAttributes($_product);
$_isConfigurable = $_product->isConfigurable();

if($_isConfigurable) {
    $block2 = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
    $block2->setProduct($_product);

    $_jsonConfig = $block2->getJsonConfig();
    $_config = json_decode($_jsonConfig);

    if (count($_attributes)):

        $_swatchArray = null;

        foreach($_attributes as $_attribute):
            $_attr = $_attribute->getProductAttribute();
            $_attrLabel = $_attr->getStoreLabel();
            $_id = $_attribute->getAttributeId();
            $_attrCode = $_attr->getAttributeCode();

            if($_attrLabel != 'Variation')
                continue;

            $_swatchArray = $_config->attributes->$_id;

        endforeach;

        ?>
        <ul id="configurable_swatch_<?php echo $_attrCode ?>" class="multiple-items-carousel configurable-swatch-list size-btns clearfix">
        <?php

        if ($_swatchArray != null) {
            foreach ($_swatchArray->options as $_option):
                $_optionCode = Mage::helper('configurableswatches')->getHyphenatedString($_option->label);
                $_swatchUrl = Mage::helper('configurableswatches/productimg')->getSwatchUrl($_product, $_option->label, 430, 287, $_swatchType, '.jpg');
                $_hasImage = !empty($_swatchUrl);
                ?>
                <li class="option-<?php echo $_optionCode; ?>" data-id="option<?php echo $_option->id; ?>">
                    <a href="javascript:void(0);" data-id="swatch<?php echo $_option->id; ?>"
                       data-select-id="<?php echo $_id; ?>" data-option-value="<?php echo $_option->id; ?>"
                       data-variation-name="<?php echo $_option->label; ?>">
                        <?php if ($_hasImage): ?>
                            <img src="<?php echo $_swatchUrl; ?>" alt="<?php echo $_option->label; ?>"
                                 title="<?php echo $_option->label; ?>">
                        <?php endif; ?>
                    </a>
                </li>
            <?php
            endforeach;
        }
        ?>
        </ul>
        <?php
        if($_swatchArray != null && count($_swatchArray->options) < 2):
        ?>
        <script>jQuery("#variations-picker").hide();</script>
        <?php
        endif;
        ?>
        <script>
        // jQuery('#configurable_swatch_<?php echo $_attrCode ?>').slick('slickToGo', parseInt());
        </script>
        <?php
    endif;
}

?>
