
<div id="make-an-appointment-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <a class="close-btn uk-modal-close" href="#lookbook-pane-modal"></a>
                <div class="success-message"></div>
                <div class="form-section">
                    <h3>BOOK AN APPOINTMENT</h3>
                    <p><br></p>
                    <form action="<?php echo $this->getUrl("appointments/index/post", array(
          "_secure" => true
          )) ?>" id="bookAnAppointmentForm" method="post">
                        <div class="fieldset">
                            <div class="field">
                                <label for="appointment-title" class="required"><?php echo Mage::helper('contacts')->__('Title') ?></label>
                                <div class="input-box">
                                    <select id="appointment-title" name="title" class="select short required-entry validate-select">
                                        <option value=""><?php echo Mage::helper('contacts')->__('Please select') ?></option>
                                        <option value="Mr"><?php echo Mage::helper('contacts')->__('Mr') ?></option>
                                        <option value="Ms"><?php echo Mage::helper('contacts')->__('Ms') ?></option>
                                        <option value="Mrs"><?php echo Mage::helper('contacts')->__('Mrs') ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-first-name" class="required"><?php echo Mage::helper('contacts')->__('First Name') ?></label>
                                <div class="input-box">
                                    <input name="first-name" id="appointment-first-name" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('First Name')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUsername()) ?>" class="input-text required-entry" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-last-name" class="required"><?php echo Mage::helper('contacts')->__('Last Name') ?></label>
                                <div class="input-box">
                                    <input name="last-name" id="appointment-last-name" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Last Name')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getLastName()) ?>" class="input-text required-entry" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-email" class="required"><?php echo Mage::helper('contacts')->__('Email Address') ?></label>
                                <div class="input-box">
                                    <input name="email" id="appointment-email" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Email Address')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-phone" class="required"><?php echo Mage::helper('contacts')->__('Phone Number') ?></label>
                                <div class="input-box">
                                    <input name="phone" id="appointment-phone" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Phone Number')) ?>" value="" class="input-text required-entry validate-phonenumber-custom" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-country" class="required"><?php echo Mage::helper('contacts')->__('Country') ?></label>
                                <div class="input-box">
                                    <select id="appointment-country" name="country" class="select required-entry validate-select">
                                        <?php $_countries = Mage::getSingleton('objectcache/countrycollection')->get() ?>
                                        <?php if (count($_countries) > 0): ?>
                                            <option value=""><?php echo Mage::helper('contacts')->__('Please select') ?></option>
                                            <?php foreach($_countries as $_country): ?>
                                                <option value="<?php echo $_country['label'] ?>"><?php echo $_country['label'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="preferred_contact_method" class="required">Preferred Contact Method</label>
                                <div class="input-box">
                                    <select id="" name="preferred_contact_method" class="select required-entry validate-select">
                                            <option value="">Please Select A Contact Method</option>
                                            <option value="preferred_contact_method_whatsapp">WhatsApp</option>
                                            <option value="preferred_contact_method_email">Email</option>
                                            <option value="preferred_contact_method_phone">Telephone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="request_appointment" class="required">Appointment Service</label>
                                <div class="input-box">
                                    <select id="" name="request_appointment" class="select required-entry validate-select">
                                            <option value="">Please Select A Service</option>
                                            <option value="request_appointment_couture">Couture</option>
                                            <option value="request_appointment_ready-to-wear">Ready To Wear</option>
                                            <option value="request_appointment_shoes">Shoes</option>
                                            <option value="request_appointment_handbags">Handbags</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="appointment-message" class="required"><?php echo Mage::helper('contacts')->__('Message') ?></label>
                                <div class="input-box">
                                    <textarea name="message" id="appointment-message" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Message')) ?>" class="input-text required-entry" cols="5" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-set">
                            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Submit')) ?>" class="button inverted"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
    var bookAnAppointmentForm = new VarienForm('bookAnAppointmentForm', false, '.field');
    var bookAnAppointmentSubmitButton = jQuery('#bookAnAppointmentForm .buttons-set button[type=submit]');

    jQuery(document).on('submit', '#bookAnAppointmentForm', function(e) {
        e.preventDefault();
        if(!bookAnAppointmentSubmitButton.prop('disabled'))
            processAppointmentForm();
        return false;
    })

	function processAppointmentForm() {
	    if (bookAnAppointmentForm.validator.validate()) {
            bookAnAppointmentSubmitButton.prop('disabled', true).text('SUBMITTING...');

	        new Ajax.Updater(
	            { success:'formSuccess' }, '<?php echo $this->getUrl("appointments/index/post", array(
          "_secure" => true
          )) ?>', {
	            	method:'post',
	            	asynchronous:true,
	                evalScripts:false,
	                onComplete:function(response) {
                        var json = response.responseText.evalJSON(true);
                        if(json.response == 'SUCCESS') {
                            jQuery('#make-an-appointment-modal .success-message').html(json.message).show();
                            jQuery('#make-an-appointment-modal .form-section').hide();
                        }
                        bookAnAppointmentSubmitButton.removeProp('disabled').text('SUBMIT');
                    },
	                parameters: jQuery('#bookAnAppointmentForm').serialize(true),
	            }
	        );
	    }
	}

    jQuery('#make-an-appointment-modal').on({
        'hide.uk.modal': function(){
            jQuery('#make-an-appointment-modal .success-message').hide();
            jQuery('#make-an-appointment-modal .form-section').show();

            jQuery('#bookAnAppointmentForm #appointment-title').val('');
            jQuery('#bookAnAppointmentForm #appointment-first-name').val('');
            jQuery('#bookAnAppointmentForm #appointment-last-name').val('');
            jQuery('#bookAnAppointmentForm #appointment-email').val('');
            jQuery('#bookAnAppointmentForm #appointment-phone').val('');
            jQuery('#bookAnAppointmentForm #appointment-country').val('');
            jQuery('#bookAnAppointmentForm #appointment-message').val('');

            bookAnAppointmentForm.validator.reset();
            bookAnAppointmentSubmitButton.removeProp('disabled').text('SUBMIT');
        }
    });


//]]>
</script>
