
<div id="make-an-enquiry-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <a class="close-btn uk-modal-close" href="#lookbook-pane-modal"></a>
                <div class="success-message"></div>
                <div class="form-section">
                    <h3>MAKE AN ENQUIRYs</h3>
                    <p><br></p>
                    <form action="<?php echo $this->getUrl("enquiries/index/postenquiry", array(
          "_secure" => true
          )) ?>" id="bookAnEnquiryForm" method="post">
                        <div class="fieldset">
                            <div class="field">
                                <label for="enquiry-title" class="required"><?php echo Mage::helper('contacts')->__('Title') ?></label>
                                <div class="input-box">
                                    <select id="enquiry-title" name="title" class="select short required-entry validate-select">
                                        <option value=""><?php echo Mage::helper('contacts')->__('Please select') ?></option>
                                        <option value="Mr"><?php echo Mage::helper('contacts')->__('Mr') ?></option>
                                        <option value="Ms"><?php echo Mage::helper('contacts')->__('Ms') ?></option>
                                        <option value="Mrs"><?php echo Mage::helper('contacts')->__('Mrs') ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-first-name" class="required"><?php echo Mage::helper('contacts')->__('First Name') ?></label>
                                <div class="input-box">
                                    <input name="first-name" id="enquiry-first-name" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('First Name')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUsername()) ?>" class="input-text required-entry" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-last-name" class="required"><?php echo Mage::helper('contacts')->__('Last Name') ?></label>
                                <div class="input-box">
                                    <input name="last-name" id="enquiry-last-name" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Last Name')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getLastName()) ?>" class="input-text required-entry" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-email" class="required"><?php echo Mage::helper('contacts')->__('Email Address') ?></label>
                                <div class="input-box">
                                    <input name="email" id="enquiry-email" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Email Address')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-phone" class="required"><?php echo Mage::helper('contacts')->__('Phone Number') ?></label>
                                <div class="input-box">
                                    <input name="phone" id="enquiry-phone" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Phone Number')) ?>" value="" class="input-text required-entry validate-phonenumber-custom" type="text" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="preferred_contact_method" class="required">Preferred Contact Method</label>
                                <div class="input-box">
                                    <select id="" name="preferred_contact_method" class="select required-entry validate-select">
                                            <option value="">Please Select A Contact Method</option>
                                            <option value="preferred_contact_method_whatsapp">WhatsApp</option>
                                            <option value="preferred_contact_method_email">Email</option>
                                            <option value="preferred_contact_method_phone">Telephone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-country" class="required"><?php echo Mage::helper('contacts')->__('Country') ?></label>
                                <div class="input-box">
                                    <select id="enquiry-country" name="country" class="select required-entry validate-select">
                                        <?php $_countries = Mage::getSingleton('objectcache/countrycollection')->get() ?>
                                        <?php if (count($_countries) > 0): ?>
                                            <option value=""><?php echo Mage::helper('contacts')->__('Please select') ?></option>
                                            <?php foreach($_countries as $_country): ?>
                                                <option value="<?php echo $_country['label'] ?>"><?php echo $_country['label'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label for="enquiry-message" class="required"><?php echo Mage::helper('contacts')->__('Message') ?></label>
                                <div class="input-box">
                                    <textarea name="message" id="enquiry-message" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Message')) ?>" class="input-text required-entry" cols="5" rows="6"></textarea>
                                </div>
                            </div>

                            <input id="geolocate" name="geolocation" value="geolocation" class="input-text" type="text" style="display: none !important;"/>
                            <input id="lookbook-runway-type" name="lookbook-runway-type" value="" style="display: none !important;" type="text" />
                            <input id="lookbook-season" name="lookbook-season" value="" style="display: none !important;" type="text" />
                            <input id="lookbook-look" name="lookbook-look" value="" style="display: none !important;" type="text" />
                        </div>
                        <div class="buttons-set">
                            <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Submit')) ?>" class="button inverted"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
    var bookAnEnquiryForm = new VarienForm('bookAnEnquiryForm', false, '.field');

    var bookAnEnquirySubmitButton = jQuery('#bookAnEnquiryForm .buttons-set button[type=submit]');

    jQuery(document).on('submit', '#bookAnEnquiryForm', function(e) {
        e.preventDefault();
        if(!bookAnEnquirySubmitButton.prop('disabled'))
            processEnquiryForm();
        return false;
    })

	function processEnquiryForm() {
	    if (bookAnEnquiryForm.validator.validate()) {
            bookAnEnquirySubmitButton.prop('disabled', true).text('SUBMITTING...');

	        new Ajax.Updater(
	            { success:'formSuccess' }, '<?php echo $this->getUrl("enquiries/index/postenquiry", array(
          "_secure" => true
          )) ?>', {
	            	method:'post',
	            	asynchronous:true,
	                evalScripts:false,
	                onComplete:function(response) {
                        var json = response.responseText.evalJSON(true);
                        if(json.response == 'SUCCESS') {
                            jQuery('#make-an-enquiry-modal .success-message').html(json.message).show();
                            jQuery('#make-an-enquiry-modal .form-section').hide();
                        }
                        bookAnEnquirySubmitButton.removeProp('disabled').text('SUBMIT');
                    },
	                parameters: jQuery('#bookAnEnquiryForm').serialize(true),
	            }
	        );
	    }
	}

    jQuery('#make-an-enquiry-modal').on({
        'hide.uk.modal': function(){
            jQuery('#make-an-enquiry-modal .success-message').hide();
            jQuery('#make-an-enquiry-modal .form-section').show();

            jQuery('#bookAnEnquiryForm #enquiry-title').val('');
            jQuery('#bookAnEnquiryForm #enquiry-first-name').val('');
            jQuery('#bookAnEnquiryForm #enquiry-last-name').val('');
            jQuery('#bookAnEnquiryForm #enquiry-email').val('');
            jQuery('#bookAnEnquiryForm #enquiry-phone').val('');
            jQuery('#bookAnEnquiryForm #enquiry-country').val('');
            jQuery('#bookAnEnquiryForm #enquiry-message').val('');

            bookAnEnquiryForm.validator.reset();
            bookAnEnquirySubmitButton.removeProp('disabled').text('SUBMIT');
        }
    });






//]]>
</script>
