<div id="newsletter-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <a class="close-btn uk-modal-close"></a>
                <div class="success-message"></div>
                <div class="form-section">
                    <h3 class="heading-cluster-4">NEWSLETTER</h3>
                    <p class="uk-hidden-small">Exclusive videos, fashion shows, product launches and more - receive the latest on Ralph & Russo direct to your inbox.</p>
                    <p class="uk-hidden-small"><br></p>
                    <p><br></p>
                    <form action="<?php echo $this->getUrl("newsletter/index/subscribe", array(
                        '_secure' => true
                    )) ?>" id="newsletterForm" method="post">
                    <div class="fieldset">
                        <div class="field">
                            <label for="newsletter-name" class="required"><?php echo Mage::helper('contacts')->__('Name') ?></label>
                            <div class="input-box">
                                <input name="name" id="newsletter-name" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Name')) ?>" value="" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="newsletter-email" class="required"><?php echo Mage::helper('contacts')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="email" id="newsletter-email" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Email')) ?>" value="" class="input-text required-entry validate-email" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="newsletter-country" class="required"><?php echo Mage::helper('contacts')->__('Country') ?></label>
                            <div class="input-box">
                                <select id="newsletter-country" name="country" class="select full-width required-entry validate-select">

                                    <?php $_countries = Mage::getSingleton('objectcache/countrycollection')->get() ?>
                                    <?php if (count($_countries) > 0): ?>
                                        <option value=""><?php echo Mage::helper('contacts')->__('Please select') ?></option>
                                        <?php foreach($_countries as $_country): ?>
                                            <option value="<?php echo $_country['value'] ?>"><?php echo $_country['label'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-set">
                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Subscribe')) ?>" class="button inverted"><span><span><?php echo Mage::helper('contacts')->__('Subscribe') ?></span></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
var newsletterForm = new VarienForm('newsletterForm', false, '.field');

var newsletterSubmitButton = jQuery('#newsletterForm .buttons-set button[type=submit]');

jQuery(document).on('submit', '#newsletterForm', function(e) {
    e.preventDefault();
    if(!newsletterSubmitButton.prop('disabled'))
    processNewsletterForm();
    return false;
})

function processNewsletterForm() {
    if (newsletterForm.validator.validate()) {
        newsletterSubmitButton.prop('disabled', true).text('SUBMITTING...');

        new Ajax.Updater(
            { success:'formSuccess' }, '<?php echo $this->getUrl("newsletter/index/subscribe", array(
                "_secure" => true
            )) ?>', {
                method:'post',
                asynchronous:true,
                evalScripts:false,
                onComplete:function(response) {
                    var json = response.responseText.evalJSON(true);
                    if(json.response == 'SUCCESS') {
                        jQuery('#newsletter-modal .success-message').html(json.message).show();
                        jQuery('#newsletter-modal .form-section').hide();
                        jQuery('#newsletter-modal .validation-advice').remove();
                    }
                    if(json.response == 'ERROR') {
                        jQuery.each(json.errors, function(i, error) {
                            var parentInputBox = jQuery('#newsletterForm #' + error.field).parent();
                            jQuery('.validation-advice', parentInputBox).hide();
                            jQuery('#newsletterForm #' + error.field).removeClass('validation-passed').addClass('validation-failed');
                            jQuery('#newsletterForm #' + error.field).parent().append('<div class="validation-advice" id="advice-' + error.type + '-' + error.field + '">' + error.message + '</div>');
                        });
                    }
                    newsletterSubmitButton.removeProp('disabled').text('SUBMIT');
                },
                parameters: jQuery('#newsletterForm').serialize(true),
            }
        );
    }
}

jQuery('#newsletter-modal').on({
    'hide.uk.modal': function(){
        jQuery('#newsletter-modal .success-message').hide();
        jQuery('#newsletter-modal .form-section').show();

        jQuery('#newsletterForm #newsletter-name').val('');
        jQuery('#newsletterForm #newsletter-email').val('');
        jQuery('#newsletterForm #newsletter-country').val('');

        newsletterForm.validator.reset();
        newsletterSubmitButton.removeProp('disabled').text('SUBMIT');
    }
});


//]]>
</script>
