<div id="header">
	<div class="section-wrapper">
		<div class="quick-access" id="secondary-nav">
			<div class="uk-grid uk-grid-medium first parent">
				<div class="uk-width-1-2 left-menu">
					<?php echo $this->getChildHtml('header_contact') ?>
					<?php echo $this->getChildHtml('store_language') ?>
				</div>
				<div class="uk-width-1-2 last">
					<?php /// echo $this->getChildHtml('topLinks') ?>
					<a href="<?php echo $this->getUrl('contacts') ?>" class="mobile phone">
						<img src="<?= Mage::getBaseUrl('media')  ?>skin/frontend/RalphAndRusso/default/images/layout/phone-mobile@2x.png" data-pin-nopin="true">
					</a>
					<div class="header-minicart">
						<?php echo $this->getChildHtml('minicart_head'); ?>
					</div>
				</div>
			</div>
		</div>
		<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
			<img data-retina="true" id="desktop-logo" src="<?= Mage::getBaseUrl('media')  ?>skin/frontend/RalphAndRusso/default/images/LOGO-HEADER@2x.png" alt="<?php echo $this->getLogoAlt() ?>" />
			<img data-retina="true" id="mobile-logo" src="<?= Mage::getBaseUrl('media')  ?>skin/frontend/RalphAndRusso/default/images/LOGO-ICON-MOBILE@2x.png" alt="<?php echo $this->getLogoAlt() ?>" />
		</a>
		<a href="javascript:void(0)" id="mobile-menu-trigger" class="bt-menu-trigger"><span>Menu</span></a>
		<div class="wrapper">
			<?php echo $this->getChildHtml('topMenu') ?>
			<div id="search-trigger" class="maginify-icon" data-uk-toggle="{target:'body', cls:'search-active'}"> </div>
		</div>

		<div id="search-popup">
			<div class="block1">
				<div class="close-character" data-uk-toggle="{target:'body', cls:'search-active'}"></div>
				<?php echo $this->getChildHtml('topSearch') ?>
			</div>
		</div>
	</div>
</div>
