
<!-- mp-menu -->
<div id="mp-menu" class="mp-menu">
	<div id="menu-close-btn"><span></span></div>
	<div class="mp-level">
		<?php echo Mage::helper('custommenu')->getMobileMenuContent(); ?>

		<?php echo $this->getLayout()->getBlock('top.links')->toHtml(); ?>
	</div>
</div>
<!-- /mp-menu -->
