<?php

$product = Mage::registry('current_product');

$productName = $product ? $product->getName() : "";
$productDesc = $product ?  $product->getShortDescription() : "";

$productUrl = $product ? urlencode($product->getProductUrl()) : "";
$mediaImage = $product ? Mage::helper('catalog/image')->init($product, 'image') : "";
?>


<div class="social-links">
	<div class="social-media-links share">
		<a target="_blank" href="http://www.facebook.com/sharer.php?u=<?php echo $productUrl . '&&p[title] = ' . urlencode("Ralph & Russo - " . $productName)  ?>" class="facebook"></a>

		<a target="_blank" href="https://twitter.com/intent/tweet?url=<?php echo $productUrl . '%2F&text=' . urlencode("Ralph & Russo - " . $productName) ?>" class="twitter"></a>

		<a target="_blank" href="http://service.weibo.com/share/share.php?url=<?php echo $productUrl; ?>&pic=<?php echo $mediaImage; ?>&title=<?php echo urlencode("Ralph & Russo - " . $productName); ?>" class="weibo"></a>

		<a target="_blank"  data-pin-do="buttonPin" data-pin-custom="true" href="//www.pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl) ?>&media=<?php echo $mediaImage ?>&description=<?php echo strip_tags($productDesc); ?>" class="pinterest"></a>

		<a href="mailto:?subject=&body=<?php echo urlencode($productUrl); ?>" class="email"></a>
	</div>
</div>



<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
