@media (max-width:767px){#cart .back-btn,#checkout-step-review .back-btn{background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-MOBILE@2x.png) left center no-repeat;-moz-background-size:10px 18px;-o-background-size:10px 18px;background-size:10px 18px}
#cart .close-character,#checkout-step-review .close-character{top:30px;right:20px;width:24px;height:24px}
#cart #product-main-container,#checkout-step-review #product-main-container{border-top:0}
#cart #product-main-container .product-container,#checkout-step-review #product-main-container .product-container{padding-top:0;padding-bottom:22px;margin-bottom:22px}
#cart .price,#cart .quantity{padding-top:17px}
#cart #product-main-container .product-container .remove-container-mobile,#checkout-step-review #product-main-container .product-container .remove-container-mobile{width:60%;float:left;margin-left:0;padding-left:0;margin-bottom:0}
#cart #product-main-container .product-container .remove-container-mobile div.remove a,#checkout-step-review #product-main-container .product-container .remove-container-mobile div.remove a{background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/REMOVE-MOBILE@2x.png) 0 50% no-repeat;-moz-background-size:17px 17px;-o-background-size:17px 17px;background-size:17px 17px;padding-left:28px}
#cart #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-name{display:block}
#cart #product-main-container .product-container:last-child,#checkout-step-review #product-main-container .product-container:last-child{border-bottom:0;padding-bottom:0}
#cart{margin-bottom:50px}
#cart .price{margin-bottom:17px}
#cart .mobile-top-checkout-btn,#cart h2{margin-bottom:35px}
#cart .mobile-top-checkout-btn.button-container{padding-left:0;text-align:center;width:100%;max-width:100%;float:none;margin-left:auto;margin-right:auto;margin-bottom:35px}
#cart .mobile-top-checkout-btn.button-container a.btn{width:100%;max-width:100%}
#cart h2{padding-top:3px;line-height:24px;font-size:24px;text-align:left}
#cart #total-price .label,#cart #total-price .uk-grid{line-height:1em}
#cart #product-main-container{border:0}
#cart #product-main-container .uk-grid [class*=uk-width]{float:none}
#cart #product-main-container .uk-grid [class*=uk-width].product-img-container{width:40%;margin-left:0;margin-bottom:0}
#cart #product-main-container .uk-grid [class*=uk-width].uk-width-3-10{width:60%;padding-left:30px;margin-bottom:0}
#cart #total-price{border-top:1px solid #ececec;padding-top:22px}
#cart #total-price .uk-grid [class*=uk-width]{margin-bottom:0}
#cart #total-price .price{padding-top:0;margin-bottom:0}
#cart #total-price .button-container{float:none;max-width:100%;margin:30px auto}
#cart #total-price .uk-grid+.uk-grid{margin-top:20px}
#cart #total-price .last .uk-grid+.uk-grid{margin-top:22px}
#cart #payment-methods{-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1}
#cart #basket-container{margin-bottom:0}
#cart #basket-container #label-container{display:none}
}
@media (max-width:400px){#cart #total-price #payment-methods span{margin-right:9px}
#cart #total-price #payment-methods span:last-child{margin-right:0}
}