#cart,#checkout-step-review{text-transform:uppercase;font-size:12px;margin-bottom:20px}
#cart .vertical-flex-grid-container,#checkout-step-review .vertical-flex-grid-container{padding-left:35px;-ms-flex-align:flex-start;-webkit-justify-content:flex-start;-ms-flex-pack:flex-start;-webkit-box-pack:start;-moz-box-pack:start;justify-content:flex-start;-webkit-align-content:flex-start;-ms-flex-line-pack:flex-start;align-content:flex-start}
#cart .close-character,#checkout-step-review .close-character{top:50px;right:20px}
#cart p,#cart p span,#checkout-step-review p,#checkout-step-review p span{font-size:12px}
#cart #basket-container,#checkout-step-review #basket-container{margin-bottom:0}
#cart #basket-container #label-container,#checkout-step-review #basket-container #label-container{padding-bottom:15px}
#cart #product-main-container,#checkout-step-review #product-main-container{border-bottom:1px solid #555;border-top:1px solid #555}
#cart #product-main-container .product-container,#checkout-step-review #product-main-container .product-container{border-bottom:1px solid #ececec;padding-bottom:40px;padding-top:40px}
#cart #product-main-container .product-container .product-img,#cart #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-img,#checkout-step-review #product-main-container .product-container .product-name{display:inline-block;vertical-align:middle}
#cart #product-main-container .product-container .product-img-container .product-img,#checkout-step-review #product-main-container .product-container .product-img-container .product-img{width:100%}
#cart #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-name{max-width:212px;padding:0}
#cart #product-main-container .product-container .product-name span,#checkout-step-review #product-main-container .product-container .product-name span{display:block}
#cart #product-main-container .product-container .product-name span:first-child,#checkout-step-review #product-main-container .product-container .product-name span:first-child{font-family:AvenirLTStd-Black;font-size:14px}
#cart #product-main-container .product-container:last-child,#checkout-step-review #product-main-container .product-container:last-child{border-bottom:0}
#cart #total-price,#checkout-step-review #total-price{padding-top:40px}
#cart #total-price #payment-methods span,#checkout-step-review #total-price #payment-methods span{display:inline-block;margin-right:15px;width:53px;height:37px}
#cart #total-price #payment-methods span img,#checkout-step-review #total-price #payment-methods span img{width:100%;height:100%}
#cart #total-price #payment-methods p,#checkout-step-review #total-price #payment-methods p{padding-bottom:40px}
#cart #total-price #payment-methods p.label,#checkout-step-review #total-price #payment-methods p.label{max-width:100%;margin-left:0}
#cart #total-price .last .uk-grid+.uk-grid,#checkout-step-review #total-price .last .uk-grid+.uk-grid{margin-top:30px}
#cart #total-price .last .uk-grid+.uk-grid#delivery-cost,#cart #total-price .last .uk-grid+.uk-grid#tax,#checkout-step-review #total-price .last .uk-grid+.uk-grid#delivery-cost,#checkout-step-review #total-price .last .uk-grid+.uk-grid#tax{margin-top:0}
#cart #total-price .button-container,#checkout-step-review #total-price .button-container{padding-left:0;text-align:center;max-width:290px;width:100%;float:right}
#cart #total-price .button-container a.btn,#checkout-step-review #total-price .button-container a.btn{width:100%;max-width:100%}
#cart #total-price .label,#checkout-step-review #total-price .label{font-family:AvenirLTStd-Black;padding:0;color:#555;font-weight:400;font-size:12px;display:block;text-align:left;white-space:normal;margin-left:auto}
#cart #total-price #total span,#checkout-step-review #total-price #total span{font-size:14px;font-family:AvenirLTStd-Black}
#cart #grand-total .label,#cart #subtotal .label,#checkout-step-review #grand-total .label,#checkout-step-review #subtotal .label{margin-left:0}
#cart h2{font-size:30px;line-height:50px;padding-top:40px}
#cart .price{word-break:break-all}
#cart #total-price .uk-width-3-4{width:67%}
#cart #total-price .uk-width-1-4{width:33%}
#cart .button-container{margin-top:40px}
#checkout-step-review #total-price{padding-top:0}
.help-icon{background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/layout/QUESTION-MARK-DESKTOP@2x.png) 0 50% no-repeat;-moz-background-size:24px 24px;-o-background-size:24px 24px;background-size:24px 24px;width:24px;height:24px;display:inline-block;float:right}
.cart-empty{margin:40px 0;text-align:center}
#checkout-step-shipping_method .uk-modal-dialog,#secure-code-help-modal .uk-modal-dialog{max-width:initial}
#checkout-step-shipping_method .uk-modal-dialog p,#secure-code-help-modal .uk-modal-dialog p{margin-bottom:30px}
#delivery-info-modal .uk-modal-dialog p{text-align:justify}
#shopping-bag-modal .messages{text-align:left}
@media (max-width:1220px) and (min-width:768px){#cart .uk-grid#label-container .uk-width-3-10{width:20%}
#cart .uk-grid#label-container .uk-width-1-10#price-label,#cart .uk-grid#label-container .uk-width-1-10#price-total-label{width:15%;padding-left:20px}
#cart #product-main-container .uk-width-3-10{width:20%}
#cart #product-main-container .uk-width-1-10.price-container{width:15%;padding-left:20px}
#cart #total-price .uk-width-1-4{padding-left:0}
}
@media (max-width:767px){#cart .back-btn,#checkout-step-review .back-btn{background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-MOBILE@2x.png) left center no-repeat;-moz-background-size:10px 18px;-o-background-size:10px 18px;background-size:10px 18px}
#cart .close-character,#checkout-step-review .close-character{top:30px;right:20px;width:24px;height:24px}
#cart #product-main-container,#checkout-step-review #product-main-container{border-top:0}
#cart #product-main-container .product-container,#checkout-step-review #product-main-container .product-container{padding-top:0;padding-bottom:22px;margin-bottom:22px}
#cart .price,#cart .quantity{padding-top:17px}
#cart #product-main-container .product-container .remove-container-mobile,#checkout-step-review #product-main-container .product-container .remove-container-mobile{width:60%;float:left;margin-left:0;padding-left:0;margin-bottom:0}
#cart #product-main-container .product-container .remove-container-mobile div.remove a,#checkout-step-review #product-main-container .product-container .remove-container-mobile div.remove a{background:url(https://dbl3m9kv9sfip.cloudfront.net/skin/frontend/RalphAndRusso/default/images/cart/REMOVE-MOBILE@2x.png) 0 50% no-repeat;-moz-background-size:17px 17px;-o-background-size:17px 17px;background-size:17px 17px;padding-left:28px}
#cart #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-name{display:block}
#cart #product-main-container .product-container:last-child,#checkout-step-review #product-main-container .product-container:last-child{border-bottom:0;padding-bottom:0}
#cart{margin-bottom:50px}
#cart .price{margin-bottom:17px}
#cart .mobile-top-checkout-btn,#cart h2{margin-bottom:35px}
#cart .mobile-top-checkout-btn.button-container{padding-left:0;text-align:center;width:100%;max-width:100%;float:none;margin-left:auto;margin-right:auto;margin-bottom:35px}
#cart .mobile-top-checkout-btn.button-container a.btn{width:100%;max-width:100%}
#cart h2{padding-top:3px;line-height:24px;font-size:24px;text-align:left}
#cart #total-price .label,#cart #total-price .uk-grid{line-height:1em}
#cart #product-main-container{border:0}
#cart #product-main-container .uk-grid [class*=uk-width]{float:none}
#cart #product-main-container .uk-grid [class*=uk-width].product-img-container{width:40%;margin-left:0;margin-bottom:0}
#cart #product-main-container .uk-grid [class*=uk-width].uk-width-3-10{width:60%;padding-left:30px;margin-bottom:0}
#cart #total-price{border-top:1px solid #ececec;padding-top:22px}
#cart #total-price .uk-grid [class*=uk-width]{margin-bottom:0}
#cart #total-price .price{padding-top:0;margin-bottom:0}
#cart #total-price .button-container{float:none;max-width:100%;margin:30px auto}
#cart #total-price .uk-grid+.uk-grid{margin-top:20px}
#cart #total-price .last .uk-grid+.uk-grid{margin-top:22px}
#cart #payment-methods{-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1}
#cart #basket-container{margin-bottom:0}
#cart #basket-container #label-container{display:none}
}
@media (max-width:400px){#cart #total-price #payment-methods span{margin-right:9px}
#cart #total-price #payment-methods span:last-child{margin-right:0}
}