@media (max-width:320px){.checkout #checkout-step-payment #realexdirect_cc_type_exp_div .v-fix:first-child{margin-right:8px}
}
@media (max-width:767px){#checkout-step-review #product-main-container .product-container .price,#checkout-step-review #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-name a,#checkout-step-review #product-main-container .product-container .to-send-as-gift,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-name,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-name a,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .to-send-as-gift,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-name,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-name a,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .to-send-as-gift{font-family:AvenirLTStd-Black}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button[disabled],#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button[disabled],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button[disabled]{cursor:default}
#main{background-color:#f8f8f8;padding-bottom:0}
#main .page{padding-left:0;padding-right:0;margin-left:0;margin-right:0;padding-top:12px}
#main #checkout-container{padding:35px 32px 0;background:#fff}
#main #checkout-container #checkout-step-buttons-container .step,#main #checkout-container #checkout-step-payment ul.agreements-list{display:none}
#main #checkout-container .uk-width-4-6{-webkit-box-ordinal-group:3;-webkit-order:2;-moz-box-ordinal-group:3;-ms-flex-order:2;order:2}
#main #checkout-container .progress-container{display:block;margin-bottom:0;-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1}
#main #checkout-container .progress-container #progressReview{margin:0 -32px;padding:0;background:#f8f8f8}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .item,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .item,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid [class*=uk-width]{margin-bottom:0}
#main #checkout-container .progress-container #progressReview #client-service,#main #checkout-container .progress-container #progressReview #progress-steps{background:#f8f8f8;width:100%;padding:30px 32px}
#main #checkout-container .progress-container #progressReview #client-service .block-title span,#main #checkout-container .progress-container #progressReview #progress-steps .block-title span{font-size:20px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart.uk-grid [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart.uk-grid [class*=uk-width]{float:left;margin:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-width-6-10,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-width-6-10{width:60%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-width-4-10:first-child,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-width-4-10:first-child{padding-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-image,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-image{width:100%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart [class*=uk-width]{padding-left:25px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid{margin-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid [class*=uk-width]:first-child,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid [class*=uk-width]:first-child{padding-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .cost-summary .uk-grid.total [class*=uk-width] .uk-width-6-10,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .cost-summary .uk-grid.total [class*=uk-width] .uk-width-6-10{width:60%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart #cart-sidebar .uk-grid+.uk-grid,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .variation,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .variation{line-height:18px;font-size:13px;margin-bottom:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated{margin-top:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated .truncated_full_value,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated .truncated_full_value{margin-bottom:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated .truncated_full_value .item-options,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated .truncated_full_value .item-options{line-height:1.6em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .remove a,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .price,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .price{display:block;font-family:AvenirLTStd-Black;margin:0;font-size:12px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart dd,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart dt,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart dd,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart dt{display:inline;line-height:1em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper{margin-bottom:.5em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper th,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper th{text-transform:uppercase;padding-right:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper td,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper td{color:#39c;clear:right}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .qty-wrapper td,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .qty,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button.visible,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button.visible{opacity:1}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal{background-color:#DDD;text-align:center;line-height:2em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal .label,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal .label{color:#fff;text-transform:uppercase}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal .price,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal .price{color:#39c}
#main #checkout-container .progress-container #progressReview #client-service #client-service,#main #checkout-container .progress-container #progressReview #progress-steps #client-service{margin-bottom:30px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag{display:block;padding-bottom:10px;padding-top:20px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .block-content,#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list .remove,#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag h3.block-subtitle{display:none}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list{border-top:0;padding-top:0}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list li.item{padding-bottom:0;border-bottom:0;margin-top:0}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list li .product-details{width:60%;margin-bottom:15px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag.bottom-border{border-bottom:1px solid #a4a4a4;margin-bottom:25px;padding-bottom:0;position:relative}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag.bottom-border:after{content:"";position:absolute;left:50%;bottom:-13px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #a4a4a4}
#main #total-price [class*=uk-width]{margin-bottom:0}
#main #total-price .uk-width-10-10{display:block}
#main .checkout .uk-grid .last,#main .uk-grid [class*=uk-width] .product-container .price-container:last-child{display:none}
#main .uk-grid [class*=uk-width]{float:left}
#main .uk-grid [class*=uk-width] .uk-width-1-10{width:10%}
#main .uk-grid [class*=uk-width] .uk-width-2-10{width:20%}
#main .uk-grid [class*=uk-width] .uk-width-3-10{width:30%}
#main .uk-grid [class*=uk-width] .uk-width-4-10{width:40%}
#main .checkout,#main .checkout .page-title{padding:0}
#main .checkout h2.h3{font-size:20px;margin-bottom:10px}
#main .checkout #checkout-progress-wrapper{margin-top:0}
#main .checkout form select{min-width:0}
#main .checkout .additional-info-container{margin-bottom:25px;padding-bottom:15px}
#main .checkout button{max-width:100%;width:100%;margin-bottom:35px}
#main .checkout .back-btn{display:block;margin-left:32px;position:relative;margin-bottom:15px;margin-top:0;font-size:10px;text-transform:inherit;color:#555}
#main .checkout .back-btn.checkout-billing-back-btn{display:block;margin-left:0;margin-bottom:0;margin-top:6px;font-size:12px;text-transform:uppercase;color:#a87357}
#main .checkout .back-btn:not(.checkout-billing-back-btn){background:url(/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-GREY@2x.png) left center no-repeat;-moz-background-size:5px 9px;-o-background-size:5px 9px;background-size:5px 9px}
#main .checkout .step p.sub-instruction{max-width:100%}
#main .checkout .step .buttons-set,#main .checkout .step ul.form-list{max-width:520px;margin:20px auto}
#main .checkout .step ul.form-list{margin:25px auto 0}
#main .checkout .step ul.form-list.mobile-agreement-form-list{margin-top:0}
#main .checkout .step ul.form-list .wide div.input-box,#main .checkout .step ul.form-list li.fields div.input-box{display:block}
#main .checkout #billing_cp_button_div_id,#main .checkout #shipping_cp_button_div_id{margin-right:0}
#main #checkoutSteps,#main .checkout #billing_cp_button_div_id button,#main .checkout #shipping_cp_button_div_id button{padding:0}
#main #checkoutSteps #checkout-step-payment{margin-bottom:30px}
#main #label-container{display:none}
#checkout-step-review,#checkout-step-review section#basket-container{margin-bottom:0}
#checkout-step-review .exotic-skin-info-container{margin:0 -32px;padding:32px;border-bottom:0;background-color:rgba(247,242,240,.9)}
#checkout-step-review #total-price{border-top:1px solid #555;padding-top:25px;padding-bottom:25px}
#checkout-step-review #total-price.exotic-skin-info-displayed{margin-top:36px;padding-top:0;border-top:0}
#checkout-step-review #total-price .uk-width-3-10{width:50%;line-height:1em}
#checkout-step-review #total-price #delivery-cost span,#checkout-step-review #total-price #grand-total span{line-height:1em}
#checkout-step-review #total-price #grand-total{margin-top:18px!important}
#checkout-step-review #total-price .button-container{float:none;max-width:100%}
#checkout-step-review #product-main-container{border-bottom:0}
#checkout-step-review #product-main-container .product-container{margin-bottom:25px;padding-bottom:23px}
#checkout-step-review #product-main-container .product-container .item,#checkout-step-review #product-main-container .product-container .uk-grid [class*=uk-width]{margin-bottom:0}
#checkout-step-review #product-main-container .product-container:nth-last-child(2){border-bottom:0;margin-bottom:0}
#checkout-step-review #product-main-container .product-container .uk-grid+.uk-grid{margin-top:10px}
#checkout-step-review #product-main-container .product-container.uk-grid [class*=uk-width]{float:left;margin:0}
#checkout-step-review #product-main-container .product-container .uk-width-6-10{width:60%}
#checkout-step-review #product-main-container .product-container .uk-width-4-10:first-child{padding-left:0}
#checkout-step-review #product-main-container .product-container .product-image{width:100%}
#checkout-step-review #product-main-container .product-container [class*=uk-width]{padding-left:25px}
#checkout-step-review #product-main-container .product-container .uk-grid{margin-left:0}
#checkout-step-review #product-main-container .product-container .uk-grid [class*=uk-width]:first-child{padding-left:0}
#checkout-step-review #product-main-container .product-container #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
#checkout-step-review #product-main-container .product-container .variation{line-height:18px;font-size:13px;margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .truncated{margin-top:0}
#checkout-step-review #product-main-container .product-container .truncated .truncated_full_value{margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .truncated .truncated_full_value .item-options{line-height:1.6em}
#checkout-step-review #product-main-container .product-container .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
#checkout-step-review #product-main-container .product-container .price{display:block;margin:0;font-size:12px}
#checkout-step-review #product-main-container .product-container .gift-message-container,#checkout-step-review #product-main-container .product-container .gift-message-container .gift-message-instruction{margin-top:10px}
#checkout-step-review #product-main-container .product-container .product-name{font-size:15px}
#checkout-step-review #product-main-container .product-container dd,#checkout-step-review #product-main-container .product-container dt{display:inline;line-height:1em}
#checkout-step-review #product-main-container .product-container .info-wrapper{margin-bottom:.5em}
#checkout-step-review #product-main-container .product-container .info-wrapper th{text-transform:uppercase;padding-right:10px}
#checkout-step-review #product-main-container .product-container .info-wrapper td{color:#39c;clear:right}
#checkout-step-review #product-main-container .product-container .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
#checkout-step-review #product-main-container .product-container .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button.visible{opacity:1}
#checkout-step-review #product-main-container .product-container .subtotal{background-color:#DDD;text-align:center;line-height:2em}
#checkout-step-review #product-main-container .product-container .subtotal .label{color:#fff;text-transform:uppercase}
#checkout-step-review #product-main-container .product-container .subtotal .price{color:#39c}
#checkout-step-review #product-main-container .product-container .gift-message-container .uk-width-2-10{width:0}
#checkout-step-review #product-main-container .product-container .gift-message-container .uk-width-8-10{width:100%;padding-left:0}
#checkout-step-review #product-main-container .product-container .gift-message-container textarea{margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .gift-message-container input[type=checkbox]{margin-bottom:0}
.checkout #checkout-mini-shopping-bag .uk-grid [class*=uk-width]{margin-bottom:10px}
}
@media (max-width:767px) and (min-width:400px){.checkout #checkout-mini-shopping-bag .uk-grid .uk-width-4-10{max-width:140px}
.checkout #checkout-mini-shopping-bag .product-image,.checkout #checkout-mini-shopping-bag .product-image img{width:140px}
}
@media (max-width:399px){.checkout #checkout-mini-shopping-bag .mini-products-list dd,.checkout #checkout-mini-shopping-bag .mini-products-list dt,.checkout #checkout-mini-shopping-bag .mini-products-list li .product-details .item-options>div{line-height:12px}
}