#checkout-steps{border-bottom:solid 1px #555;margin:40px 0}
#checkout-steps ol{width:100%;margin:30px auto;text-align:center}
#checkout-steps ol li{text-align:center;font-size:12px;font-family:AvenirLTStd-Medium;letter-spacing:1.44px;text-transform:uppercase;display:inline-block;color:#a4a4a4;vertical-align:top;margin:0 5% 0 0}
#checkout-steps ol li a{font-size:12px;color:#a4a4a4;cursor:text}
#checkout-steps ol li:last-child{margin-right:0}
#checkout-steps ol li.active,#checkout-steps ol li.active a{color:#a87357}
#checkout-steps ol li.completed{color:#555}
#checkout-steps ol li.completed a{color:#555;cursor:pointer}
@media (max-width:767px){#checkout-steps ol li,#checkout-steps ol li a.step-number{font-family:AvenirLTStd-Black;font-size:15px}
#checkout-steps{border:0;margin-top:25px;margin-bottom:40px}
#checkout-steps ol{margin-top:10px}
#checkout-steps ol li{color:#555}
#checkout-steps ol li a{display:inline-block;color:#a4a4a4}
#checkout-steps ol li a.step-number{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:40px;height:40px;color:#a4a4a4;border:1px solid #a4a4a4;line-height:39px}
#checkout-steps ol li a.step-title{display:block;max-width:80px;margin-top:10px;line-height:1.3em}
#checkout-steps ol li.active a.step-number{background:#555;color:#fff}
#checkout-steps ol li.active:not(.completed) a.step-number{background:#a87357;border-color:#a87357}
#checkout-steps ol li.completed a.step-number{color:#fff;background-color:#555}
#checkout-steps ol li.completed a.step-title{color:#555}
#checkout-steps ol li.completed a{cursor:pointer}
}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper .quantity-button[disabled],.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button[disabled],.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button[disabled]{cursor:default}
#main{background:#f8f8f8;padding-bottom:60px;max-width:1220px;margin:0 auto}
.footer-container{margin-top:0}
#checkoutSteps{background:#FFF;padding:40px 10%}
#billing-new-address-form{margin-top:20px}
#billing-new-address-form .name-prefix select{width:100px;min-width:100px}
#checkout-shipping-method-load{display:none}
#rr-simplified-shipping{margin-bottom:50px}
#rr-simplified-shipping p,.gift-message-instruction{margin-bottom:20px}
#allow-gift-message-container{display:block!important}
.please-wait{display:none!important}
.checkout{display:block;margin-left:auto;margin-right:auto;padding-left:30px;padding-right:30px}
.checkout .back-btn{position:absolute;margin-top:6px}
.checkout #checkout-step-buttons-container,.checkout .back-btn.checkout-billing-back-btn{display:none}
.checkout #client-service,.checkout #progress-steps{margin-top:-40px;padding:40px 25px;background:#fff}
.checkout #client-service #progress-review-minicart,.checkout #progress-steps #progress-review-minicart{padding:0}
.checkout #client-service #progress-review-minicart div,.checkout #progress-steps #progress-review-minicart div{padding:0;font-size:13px}
.checkout #client-service #progress-review-minicart .uk-grid,.checkout #progress-steps #progress-review-minicart .uk-grid{margin-left:0}
.checkout #client-service #progress-review-minicart .cost-summary [class*=uk-width],.checkout #progress-steps #progress-review-minicart .cost-summary [class*=uk-width]{padding-left:25px}
.checkout #client-service #progress-review-minicart .cost-summary .uk-grid,.checkout #progress-steps #progress-review-minicart .cost-summary .uk-grid{margin-left:0}
.checkout #client-service #progress-review-minicart .cost-summary .uk-grid [class*=uk-width]:first-child,.checkout #progress-steps #progress-review-minicart .cost-summary .uk-grid [class*=uk-width]:first-child{padding-left:0}
.checkout #client-service #progress-review-minicart .cost-summary .label,.checkout #progress-steps #progress-review-minicart .cost-summary .label{font-family:AvenirLTStd-Medium}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar .product-image,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar .product-image{width:100%}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar [class*=uk-width],.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar [class*=uk-width]{padding-left:25px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar .uk-grid,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar .uk-grid{margin-left:0}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar .uk-grid [class*=uk-width]:first-child,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar .uk-grid [class*=uk-width]:first-child{padding-left:0}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar #cart-sidebar .uk-grid+.uk-grid,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar .variation,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar .variation{line-height:18px;font-size:13px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar .to-send-as-gift,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar .to-send-as-gift{font-family:AvenirLTStd-Black;margin-bottom:4px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list{padding:0;text-align:left;text-transform:uppercase;margin-bottom:30px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list p,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list p{font-size:13px;margin-bottom:4px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dd,.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dt,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dd,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dt{display:inline-block;font-size:13px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dd,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list dd{font-family:AvenirLTStd-Medium}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .truncated,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .truncated{margin-top:0;margin-bottom:4px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .remove a,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .price,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .price{display:block;font-family:AvenirLTStd-Black;margin:0;font-size:12px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li.item,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li.item{padding-bottom:20px;border-right:none!important;border-bottom:1px solid #DDD;position:relative;display:block!important;margin-left:0}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li.item .uk-width-1-2:first-child,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li.item .uk-width-1-2:first-child{padding-left:0}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li .product-details,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li .product-details{position:relative}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li .product-details .item-options>div,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list li .product-details .item-options>div{margin-bottom:4px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .product-details .product-name,.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .product-details .product-name a,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .product-details .product-name,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .product-details .product-name a{font-family:AvenirLTStd-Black}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper{margin-bottom:.5em}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper th,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper th{text-transform:uppercase;padding-right:10px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper td,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper td{color:#39c;clear:right}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .qty-wrapper td,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .qty,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button.visible,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .info-wrapper .quantity-button.visible{opacity:1}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal{background-color:#DDD;text-align:center;line-height:2em}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal .label,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal .label{color:#fff;text-transform:uppercase}
.checkout #client-service #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal .price,.checkout #progress-steps #progress-review-minicart #progress-review-cart-sidebar.mini-products-list .subtotal .price{color:#39c}
.checkout #checkout-progress-wrapper #client-service{margin-top:30px;padding:18px 25px}
.checkout #checkout-progress-wrapper #client-service dl div{padding:0}
.checkout #checkout-progress-wrapper #client-service .changelink a{float:none}
.checkout #checkout-mini-shopping-bag{margin-top:-40px;padding:40px 25px;background:#fff}
.checkout #checkout-mini-shopping-bag h3.block-subtitle{text-align:left;margin-bottom:22px}
.checkout #checkout-mini-shopping-bag .product-image{width:100%}
.checkout #checkout-mini-shopping-bag [class*=uk-width]{padding-left:25px}
.checkout #checkout-mini-shopping-bag .uk-grid{margin-left:0}
.checkout #checkout-mini-shopping-bag .uk-grid [class*=uk-width]:first-child{padding-left:0}
.checkout #checkout-mini-shopping-bag #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
.checkout #checkout-mini-shopping-bag .variation{line-height:18px;font-size:13px}
.checkout #checkout-mini-shopping-bag .mini-products-list{padding:20px 0 0;text-align:left;text-transform:uppercase;border-top:1px solid #DDD}
.checkout #checkout-mini-shopping-bag .mini-products-list dd,.checkout #checkout-mini-shopping-bag .mini-products-list dt{display:inline-block;font-size:10px}
.checkout #checkout-mini-shopping-bag .mini-products-list dd{font-family:AvenirLTStd-Medium}
.checkout #checkout-mini-shopping-bag .mini-products-list .truncated{margin-top:10px}
.checkout #checkout-mini-shopping-bag .mini-products-list .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
.checkout #checkout-mini-shopping-bag .mini-products-list .price{display:block;font-family:AvenirLTStd-Black;margin:0;font-size:12px}
.checkout #checkout-mini-shopping-bag .mini-products-list li.item{padding-bottom:20px;border-right:none!important;border-bottom:1px solid #DDD;position:relative;display:block!important;margin-left:0}
.checkout #checkout-mini-shopping-bag .mini-products-list li.item .uk-width-1-2:first-child{padding-left:0}
.checkout #checkout-mini-shopping-bag .mini-products-list li .product-details{position:relative}
.checkout #checkout-mini-shopping-bag .mini-products-list li .product-details .item-options>div{margin-bottom:4px}
.checkout #checkout-mini-shopping-bag .mini-products-list .product-details .product-name,.checkout #checkout-mini-shopping-bag .mini-products-list .product-details .product-name a{font-family:AvenirLTStd-Black}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper{margin-bottom:.5em}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper th{text-transform:uppercase;padding-right:10px}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper td{color:#39c;clear:right}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.checkout #checkout-mini-shopping-bag .mini-products-list .info-wrapper .quantity-button.visible{opacity:1}
.checkout #checkout-mini-shopping-bag .mini-products-list .subtotal{background-color:#DDD;text-align:center;line-height:2em}
.checkout #checkout-progress-wrapper .block-content dd.complete th,.checkout .step h2{text-align:left}
.checkout #checkout-mini-shopping-bag .mini-products-list .subtotal .label{color:#fff;text-transform:uppercase}
.checkout #checkout-mini-shopping-bag .mini-products-list .subtotal .price{color:#39c}
.checkout button{max-width:317px;width:100%}
.checkout form textarea{width:100%}
.checkout .validate-zip-international{width:54%!important}
.checkout .back-link{display:none}
.checkout .page-title{padding:5px 0}
.checkout .page-title h2.h3{margin-bottom:0;line-height:1em}
.checkout .col2-set{width:100%;padding-left:70px;padding-right:70px}
.checkout p.sub-instruction{margin-bottom:35px}
.checkout #checkout-progress-wrapper{margin-top:40px}
.checkout #checkout-progress-wrapper .block-title span{font-size:20px;font-family:DidotLTPro-Roman;text-transform:uppercase;line-height:1em}
.checkout #checkout-progress-wrapper .block-content dd.complete span,.duty-fee strong{font-family:AvenirLTStd-Black}
.checkout #checkout-progress-wrapper .changelink a{color:#a87357;float:right;font-size:12px}
.checkout #checkout-progress-wrapper .block-title{padding-bottom:5px}
.checkout #checkout-progress-wrapper .block-content dt.top-bordered{border-top:1px solid rgba(0,0,0,.3);padding-top:20px}
.checkout #checkout-progress-wrapper .block-content dd.complete{padding-top:20px;font-size:13px;line-height:20px;padding-left:10px}
.checkout #checkout-progress-wrapper .block-content dl div{text-transform:uppercase;font-size:14px;letter-spacing:2.1px;padding:20px 0 0}
.checkout .step form label,.checkout .step ul.form-list label{letter-spacing:1.8px}
.checkout .step form .fields div.input-box,.checkout .step form .fields label,.checkout .step form .wide div.input-box,.checkout .step form .wide label,.checkout .step form li div.input-box,.checkout .step form li label,.checkout .step ul.form-list .fields div.input-box,.checkout .step ul.form-list .fields label,.checkout .step ul.form-list .wide div.input-box,.checkout .step ul.form-list .wide label,.checkout .step ul.form-list li div.input-box,.checkout .step ul.form-list li label{display:block}
.checkout .step ul.form-list #remember-me-box .input-box,.checkout .step ul.form-list #remember-me-box label,.checkout .step ul.form-list div.input-box,.checkout .step ul.form-list li.control .input-box,.checkout .step ul.form-list li.control label{display:inline-block}
.checkout .step p.sub-instruction{max-width:360px}
.checkout .step ul.form-list{max-width:317px;margin-top:30px}
.checkout .step ul.form-list.billing-address-list{margin-top:25px}
.checkout .step ul.form-list input,.checkout .step ul.form-list select{width:100%}
.checkout .step ul.form-list input.checkbox,.checkout .step ul.form-list input.radio,.checkout .step ul.form-list select.checkbox,.checkout .step ul.form-list select.radio{width:auto;margin-right:10px}
.checkout .step ul.form-list input.radio,.checkout .step ul.form-list select.radio{width:16px}
.checkout .step ul.form-list #remember-me-box,.checkout .step ul.form-list li.control{margin-top:10px}
.checkout .step .buttons-set{margin-top:30px;display:table;width:100%;max-width:317px}
.checkout .step .buttons-set .button-container{padding-right:12px;display:table-cell;float:left;width:100%}
.checkout .step .buttons-set .button-container button{min-width:100px;margin:0;padding-bottom:0;padding-top:0}
.checkout #checkout-step-login #forgotten-password,.checkout #checkout-step-login .buttons-set{margin-top:15px}
@media (max-width:1060px){.checkout .step .buttons-set .button-container button span{font-size:12px}
}
@media (max-width:767px){.checkout .step .buttons-set .button-container{padding-right:0;display:block;float:none}
}
.checkout .step .buttons-set .need-help-container{display:table-cell;width:120px;vertical-align:top}
@media (max-width:767px){.checkout .step .buttons-set .need-help-container{max-width:100%;width:100%;display:block;float:none}
}
.checkout .step .buttons-set .need-help-container a.btn.need-help-btn,.checkout .step .buttons-set .need-help-container a.btn.need-help-mobile-btn{padding-left:8px;padding-right:0;width:120px;min-width:0;text-align:left;letter-spacing:.7px;font-size:12px}
@media (max-width:767px){.checkout .step .buttons-set .need-help-container a.btn.need-help-btn,.checkout .step .buttons-set .need-help-container a.btn.need-help-mobile-btn{width:100%;display:block;text-align:center;padding-left:0}
.checkout .step .buttons-set .need-help-container a.btn.need-help-btn img,.checkout .step .buttons-set .need-help-container a.btn.need-help-mobile-btn img{margin-right:8px}
.checkout .step .buttons-set .need-help-container a.btn.need-help-btn span,.checkout .step .buttons-set .need-help-container a.btn.need-help-mobile-btn span{display:inline}
}
.checkout #checkout-step-login .col .wrapper{background:#fff;width:100%;display:table;padding:80px 40px}
.checkout #checkout-step-login .col .wrapper .content{max-width:360px;margin-left:auto;margin-right:auto;display:table-cell;vertical-align:middle}
.checkout #checkout-step-login .buttons-set,.checkout #checkout-step-login .form-list{max-width:297px;display:block;margin-left:auto;margin-right:auto}
.checkout #checkout-step-login .buttons-set .button{width:100%;display:table-cell;float:left}
.checkout #checkout-step-login .buttons-set #need-help-container{display:table-cell;width:100px;vertical-align:top}
.checkout #checkout-step-login #forgotten-password a{color:#898989}
.checkout #checkout-step-shipping #shipping-new-address-form{padding-top:10px}
.checkout #checkout-step-payment p.sub-instruction,.checkout #checkout-step-shipping_method p.sub-instruction{max-width:100%}
.checkout #checkout-step-payment #realexdirect_cc_type_exp_div .v-fix{max-width:122px;display:inline-block;width:100%}
.checkout #checkout-step-payment #realexdirect_cc_type_exp_div .v-fix:first-child{margin-right:15px}
.checkout #checkout-step-payment #realexdirect_cc_type_exp_div .v-fix select{min-width:0}
.checkout #checkout-step-payment #realexdirect_cc_type_cvv_div .v-fix input{max-width:200px;margin-right:10px}
.checkout #checkout-step-payment #realexdirect_cc_type_cvv_div .v-fix .help-icon{display:inline-block;text-align:left;float:none;vertical-align:middle;margin-top:-4px}
.validate-zip-international{min-width:inherit;width:35%}
#billing_cp_button_id,#shipping_cp_button_id{background:#ececec;border:0;color:#555}
#billing_cp_button_div_id,#shipping_cp_button_div_id{right:0;margin-right:-4px;left:auto!important;width:43%!important}
#billing_cp_button_div_id button,#shipping_cp_button_div_id button{min-width:0;height:37px;min-height:inherit;width:96.5%}
#billing_cp_result_display.error{margin-bottom:10px}
.payment-method-review-instruction{margin-top:15px;font-size:11px}
#checkout-success{background:#f8f8f8}
.agreement-content{display:none}
#grand-total{margin-top:10px!important;margin-bottom:20px}
.duty-fee{margin-bottom:20px;text-transform:none}
.checkout-agreements input{margin-left:0;margin-bottom:0;height:12px!important;vertical-align:baseline!important;line-height:22px}
.checkout-agreements label{font-size:12px;display:inline!important;letter-spacing:1px!important}
.checkout-agreements label a{font-size:inherit;color:#a87357}
#realexdirect_cc_type_cvv_div .help-icon{margin-right:5px}
.btn-checkout{width:100%}
.additional-info-container{border-bottom:1px solid #555;margin-bottom:15px;padding:0 0 30px;text-transform:none}
.additional-info-container a{font-size:12px;color:#a87357}
#checkout-step-billing .additional-info-container{margin-bottom:30px}
#checkout-step-billing h2.h3,#checkout-step-review h2.h3{margin-bottom:22px;line-height:1em}
#checkout-step-review section#basket-container{margin-bottom:30px}
#checkout-step-review section#basket-container .delivery-time{margin-top:0}
#checkout-step-review .exotic-skin-info-container{border-bottom:1px solid #555;padding:0 0 30px;margin-bottom:30px;text-transform:none}
#checkout-step-review .gift-message-container{margin-top:30px}
#checkout-step-review #total-price .label{font-family:AvenirLTStd-Roman}
#checkout-step-review #total-price .price-container{text-align:left}
#checkout-step-review #total-price .price-container span.price{padding-left:15px;font-family:AvenirLTStd-Black}
#tax-info-popup-btn{color:#a87357;text-transform:initial;font-size:13px;margin-left:3px}
.tax-info-modal a{color:#a87357}
.gift-message-counter{margin-top:-13px;display:block}
#opc-payment form #dt_method_realexdirect{clear:both}
#opc-payment form #dt_method_realexdirect input[type=radio]{float:left}
@media (max-width:1260px){#header{padding-left:0;padding-right:0}
#footer .footer-container{margin-left:auto;margin-right:auto;max-width:1220px}
}
@media (max-width:1220px){#header #secondary-nav{left:20px;right:20px}
}
@media (max-width:1060px) and (min-width:768px){#billing_cp_button_div_id button,#shipping_cp_button_div_id button{height:32px}
}
@media (max-width:977px) and (min-width:768px){#checkout-steps ol li{margin-right:2.5%}
#checkout-steps ol li:last-child{margin-right:0}
}
@media (max-width:950px) and (min-width:768px){#checkout-steps ol li{width:25%}
#checkout-container .uk-width-4-6{width:58.33%}
#checkout-container .uk-width-4-6 #checkoutSteps{padding-left:30px;padding-right:30px}
#checkout-container .uk-width-4-6 #checkoutSteps #checkout-step-review #total-price .uk-width-4-10{display:none}
#checkout-container .uk-width-4-6 #checkoutSteps #checkout-step-review #total-price .uk-width-3-10{width:50%;line-height:1em}
#checkout-container .uk-width-4-6 #checkoutSteps #checkout-step-review #total-price .uk-width-6-10{width:100%}
#checkout-container .uk-width-2-6{width:41.66%}
.checkout #progress-steps{padding-left:20px;padding-right:20px}
}
@media (max-width:878px){#checkout-step-review .uk-grid#label-container [class*=uk-width]{padding-left:15px}
#checkout-step-review .uk-grid#label-container [class*=uk-width].product-img-container,#checkout-step-review .uk-grid#label-container [class*=uk-width].restricted-column{padding-left:30px}
#checkout-step-review #product-main-container .uk-grid [class*=uk-width]{padding-left:15px}
#checkout-step-review #product-main-container .uk-grid [class*=uk-width].product-img-container{padding-left:30px}
}
@media (max-width:320px){.checkout #checkout-step-payment #realexdirect_cc_type_exp_div .v-fix:first-child{margin-right:8px}
}
@media (max-width:767px){#checkout-step-review #product-main-container .product-container .price,#checkout-step-review #product-main-container .product-container .product-name,#checkout-step-review #product-main-container .product-container .product-name a,#checkout-step-review #product-main-container .product-container .to-send-as-gift,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-name,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-name a,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .to-send-as-gift,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-name,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-name a,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .to-send-as-gift{font-family:AvenirLTStd-Black}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button[disabled],#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button[disabled],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button[disabled]{cursor:default}
#main{background-color:#f8f8f8;padding-bottom:0}
#main .page{padding-left:0;padding-right:0;margin-left:0;margin-right:0;padding-top:12px}
#main #checkout-container{padding:35px 32px 0;background:#fff}
#main #checkout-container #checkout-step-buttons-container .step,#main #checkout-container #checkout-step-payment ul.agreements-list{display:none}
#main #checkout-container .uk-width-4-6{-webkit-box-ordinal-group:3;-webkit-order:2;-moz-box-ordinal-group:3;-ms-flex-order:2;order:2}
#main #checkout-container .progress-container{display:block;margin-bottom:0;-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1}
#main #checkout-container .progress-container #progressReview{margin:0 -32px;padding:0;background:#f8f8f8}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .item,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .item,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid [class*=uk-width]{margin-bottom:0}
#main #checkout-container .progress-container #progressReview #client-service,#main #checkout-container .progress-container #progressReview #progress-steps{background:#f8f8f8;width:100%;padding:30px 32px}
#main #checkout-container .progress-container #progressReview #client-service .block-title span,#main #checkout-container .progress-container #progressReview #progress-steps .block-title span{font-size:20px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart.uk-grid [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart.uk-grid [class*=uk-width]{float:left;margin:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-width-6-10,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-width-6-10{width:60%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-width-4-10:first-child,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-width-4-10:first-child{padding-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .product-image,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .product-image{width:100%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart [class*=uk-width],#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart [class*=uk-width]{padding-left:25px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid{margin-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .uk-grid [class*=uk-width]:first-child,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .uk-grid [class*=uk-width]:first-child{padding-left:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .cost-summary .uk-grid.total [class*=uk-width] .uk-width-6-10,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .cost-summary .uk-grid.total [class*=uk-width] .uk-width-6-10{width:60%}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart #cart-sidebar .uk-grid+.uk-grid,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .variation,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .variation{line-height:18px;font-size:13px;margin-bottom:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated{margin-top:0}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated .truncated_full_value,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated .truncated_full_value{margin-bottom:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .truncated .truncated_full_value .item-options,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .truncated .truncated_full_value .item-options{line-height:1.6em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .remove a,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .price,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .price{display:block;font-family:AvenirLTStd-Black;margin:0;font-size:12px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart dd,#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart dt,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart dd,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart dt{display:inline;line-height:1em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper{margin-bottom:.5em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper th,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper th{text-transform:uppercase;padding-right:10px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper td,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper td{color:#39c;clear:right}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .qty-wrapper td,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .qty,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .info-wrapper .quantity-button.visible,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .info-wrapper .quantity-button.visible{opacity:1}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal{background-color:#DDD;text-align:center;line-height:2em}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal .label,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal .label{color:#fff;text-transform:uppercase}
#main #checkout-container .progress-container #progressReview #client-service #progress-review-minicart .subtotal .price,#main #checkout-container .progress-container #progressReview #progress-steps #progress-review-minicart .subtotal .price{color:#39c}
#main #checkout-container .progress-container #progressReview #client-service #client-service,#main #checkout-container .progress-container #progressReview #progress-steps #client-service{margin-bottom:30px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag{display:block;padding-bottom:10px;padding-top:20px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .block-content,#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list .remove,#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag h3.block-subtitle{display:none}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list{border-top:0;padding-top:0}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list li.item{padding-bottom:0;border-bottom:0;margin-top:0}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag .mini-products-list li .product-details{width:60%;margin-bottom:15px}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag.bottom-border{border-bottom:1px solid #a4a4a4;margin-bottom:25px;padding-bottom:0;position:relative}
#main #checkout-container .progress-container #progressReview #checkout-mini-shopping-bag.bottom-border:after{content:"";position:absolute;left:50%;bottom:-13px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #a4a4a4}
#main #total-price [class*=uk-width]{margin-bottom:0}
#main #total-price .uk-width-10-10{display:block}
#main .checkout .uk-grid .last,#main .uk-grid [class*=uk-width] .product-container .price-container:last-child{display:none}
#main .uk-grid [class*=uk-width]{float:left}
#main .uk-grid [class*=uk-width] .uk-width-1-10{width:10%}
#main .uk-grid [class*=uk-width] .uk-width-2-10{width:20%}
#main .uk-grid [class*=uk-width] .uk-width-3-10{width:30%}
#main .uk-grid [class*=uk-width] .uk-width-4-10{width:40%}
#main .checkout,#main .checkout .page-title{padding:0}
#main .checkout h2.h3{font-size:20px;margin-bottom:10px}
#main .checkout #checkout-progress-wrapper{margin-top:0}
#main .checkout form select{min-width:0}
#main .checkout .additional-info-container{margin-bottom:25px;padding-bottom:15px}
#main .checkout button{max-width:100%;width:100%;margin-bottom:35px}
#main .checkout .back-btn{display:block;margin-left:32px;position:relative;margin-bottom:15px;margin-top:0;font-size:10px;text-transform:inherit;color:#555}
#main .checkout .back-btn.checkout-billing-back-btn{display:block;margin-left:0;margin-bottom:0;margin-top:6px;font-size:12px;text-transform:uppercase;color:#a87357}
#main .checkout .back-btn:not(.checkout-billing-back-btn){background:url(/skin/frontend/RalphAndRusso/default/images/cart/CONTINUE-SHOPPING-GREY@2x.png) left center no-repeat;-moz-background-size:5px 9px;-o-background-size:5px 9px;background-size:5px 9px}
#main .checkout .step p.sub-instruction{max-width:100%}
#main .checkout .step .buttons-set,#main .checkout .step ul.form-list{max-width:520px;margin:20px auto}
#main .checkout .step ul.form-list{margin:25px auto 0}
#main .checkout .step ul.form-list.mobile-agreement-form-list{margin-top:0}
#main .checkout .step ul.form-list .wide div.input-box,#main .checkout .step ul.form-list li.fields div.input-box{display:block}
#main .checkout #billing_cp_button_div_id,#main .checkout #shipping_cp_button_div_id{margin-right:0}
#main #checkoutSteps,#main .checkout #billing_cp_button_div_id button,#main .checkout #shipping_cp_button_div_id button{padding:0}
#main #checkoutSteps #checkout-step-payment{margin-bottom:30px}
#main #label-container{display:none}
#checkout-step-review,#checkout-step-review section#basket-container{margin-bottom:0}
#checkout-step-review .exotic-skin-info-container{margin:0 -32px;padding:32px;border-bottom:0;background-color:rgba(247,242,240,.9)}
#checkout-step-review #total-price{border-top:1px solid #555;padding-top:25px;padding-bottom:25px}
#checkout-step-review #total-price.exotic-skin-info-displayed{margin-top:36px;padding-top:0;border-top:0}
#checkout-step-review #total-price .uk-width-3-10{width:50%;line-height:1em}
#checkout-step-review #total-price #delivery-cost span,#checkout-step-review #total-price #grand-total span{line-height:1em}
#checkout-step-review #total-price #grand-total{margin-top:18px!important}
#checkout-step-review #total-price .button-container{float:none;max-width:100%}
#checkout-step-review #product-main-container{border-bottom:0}
#checkout-step-review #product-main-container .product-container{margin-bottom:25px;padding-bottom:23px}
#checkout-step-review #product-main-container .product-container .item,#checkout-step-review #product-main-container .product-container .uk-grid [class*=uk-width]{margin-bottom:0}
#checkout-step-review #product-main-container .product-container:nth-last-child(2){border-bottom:0;margin-bottom:0}
#checkout-step-review #product-main-container .product-container .uk-grid+.uk-grid{margin-top:10px}
#checkout-step-review #product-main-container .product-container.uk-grid [class*=uk-width]{float:left;margin:0}
#checkout-step-review #product-main-container .product-container .uk-width-6-10{width:60%}
#checkout-step-review #product-main-container .product-container .uk-width-4-10:first-child{padding-left:0}
#checkout-step-review #product-main-container .product-container .product-image{width:100%}
#checkout-step-review #product-main-container .product-container [class*=uk-width]{padding-left:25px}
#checkout-step-review #product-main-container .product-container .uk-grid{margin-left:0}
#checkout-step-review #product-main-container .product-container .uk-grid [class*=uk-width]:first-child{padding-left:0}
#checkout-step-review #product-main-container .product-container #cart-sidebar .uk-grid+.uk-grid{margin-top:20px}
#checkout-step-review #product-main-container .product-container .variation{line-height:18px;font-size:13px;margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .truncated{margin-top:0}
#checkout-step-review #product-main-container .product-container .truncated .truncated_full_value{margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .truncated .truncated_full_value .item-options{line-height:1.6em}
#checkout-step-review #product-main-container .product-container .remove a{font-size:12px;margin-top:7px;display:block;padding-left:16px}
#checkout-step-review #product-main-container .product-container .price{display:block;margin:0;font-size:12px}
#checkout-step-review #product-main-container .product-container .gift-message-container,#checkout-step-review #product-main-container .product-container .gift-message-container .gift-message-instruction{margin-top:10px}
#checkout-step-review #product-main-container .product-container .product-name{font-size:15px}
#checkout-step-review #product-main-container .product-container dd,#checkout-step-review #product-main-container .product-container dt{display:inline;line-height:1em}
#checkout-step-review #product-main-container .product-container .info-wrapper{margin-bottom:.5em}
#checkout-step-review #product-main-container .product-container .info-wrapper th{text-transform:uppercase;padding-right:10px}
#checkout-step-review #product-main-container .product-container .info-wrapper td{color:#39c;clear:right}
#checkout-step-review #product-main-container .product-container .info-wrapper .qty-wrapper td{height:33px;line-height:33px}
#checkout-step-review #product-main-container .product-container .info-wrapper .qty{padding-left:4px;padding-right:4px;margin-right:2px;width:3.2em;text-align:center;height:30px}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
#checkout-step-review #product-main-container .product-container .info-wrapper .quantity-button.visible{opacity:1}
#checkout-step-review #product-main-container .product-container .subtotal{background-color:#DDD;text-align:center;line-height:2em}
#checkout-step-review #product-main-container .product-container .subtotal .label{color:#fff;text-transform:uppercase}
#checkout-step-review #product-main-container .product-container .subtotal .price{color:#39c}
#checkout-step-review #product-main-container .product-container .gift-message-container .uk-width-2-10{width:0}
#checkout-step-review #product-main-container .product-container .gift-message-container .uk-width-8-10{width:100%;padding-left:0}
#checkout-step-review #product-main-container .product-container .gift-message-container textarea{margin-bottom:10px}
#checkout-step-review #product-main-container .product-container .gift-message-container input[type=checkbox]{margin-bottom:0}
.checkout #checkout-mini-shopping-bag .uk-grid [class*=uk-width]{margin-bottom:10px}
}
@media (max-width:767px) and (min-width:400px){.checkout #checkout-mini-shopping-bag .uk-grid .uk-width-4-10{max-width:140px}
.checkout #checkout-mini-shopping-bag .product-image,.checkout #checkout-mini-shopping-bag .product-image img{width:140px}
}
@media (max-width:399px){.checkout #checkout-mini-shopping-bag .mini-products-list dd,.checkout #checkout-mini-shopping-bag .mini-products-list dt,.checkout #checkout-mini-shopping-bag .mini-products-list li .product-details .item-options>div{line-height:12px}
}