body.checkout-onepage-failure,body.checkout-onepage-failure .main-container,html{height:100%}
body.checkout-onepage-failure #mp-pusher{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}
body.checkout-onepage-failure #main{background:#f8f8f8;margin:0 20px;width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1;padding-top:0;padding-bottom:0;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center}
body.checkout-onepage-failure #main .page{max-width:850px}
@media (max-width:767px){body.checkout-onepage-failure #main{margin:0;-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;-moz-box-align:baseline;align-items:baseline;-webkit-box-pack:baseline;-webkit-justify-content:baseline;-ms-flex-pack:baseline;-moz-box-pack:baseline;justify-content:baseline;-webkit-align-content:baseline;-ms-flex-line-pack:baseline;align-content:baseline;min-height:1px;padding:100px 20px 60px}
body.checkout-onepage-failure #main .page{padding-top:0}
body.checkout-onepage-failure #main .page h2{line-height:50px;word-break:break-word}
}
body.checkout-onepage-failure #main .page h3{font-family:AvenirLTStd-Roman;font-size:20px;margin-bottom:30px}
@media (min-width:768px) and (max-width:1060px){body.checkout-onepage-failure #main .page h3{font-size:18px}
}
body.checkout-onepage-failure #main .page #order-no-block{margin-bottom:10px;margin-top:45px}
body.checkout-onepage-failure #main .page .page-inner-container{padding-left:20px;padding-right:20px}
@media (max-width:767px){body.checkout-onepage-failure #main .page h3{font-size:18px}
body.checkout-onepage-failure #main{margin:0}
}
body.checkout-onepage-failure .footer-container{margin-top:0}