.checkout-onepage-success,.checkout-onepage-success .main-container{height:100%}
.checkout-onepage-success #mp-pusher{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}
.checkout-onepage-success #main{background:#f8f8f8;padding-bottom:5px;position:relative;margin:0 20px;width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;-moz-box-flex:1;flex:1}
.checkout-onepage-success #main .page{display:table;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-width:932px;padding-top:0}
.checkout-onepage-success #main .page #checkout-success{text-align:left;margin:0 auto;padding:50px 10%;background:#fff}
.checkout-onepage-success #main .page #checkout-success .buttons-set{text-align:center;margin-top:40px}
.checkout-onepage-success #main .page #checkout-success .buttons-set .btn{max-width:317px;width:100%}
.checkout-onepage-success #main .page #checkout-success h2{text-align:left}
.checkout-onepage-success #main .page #checkout-success h3{font-family:AvenirLTStd-Roman;font-size:20px;margin-bottom:20px;text-align:left}
.checkout-onepage-success #main .page #checkout-success h3 span{font-family:AvenirLTStd-Black;font-size:20px;color:#a87357;display:inline}
@media (min-width:768px) and (max-width:1060px){.checkout-onepage-success #main .page #checkout-success h3,.checkout-onepage-success #main .page #checkout-success h3 span{font-size:18px}
}
@media (max-width:767px){.checkout-onepage-success #main .page #checkout-success .buttons-set{margin-top:25px}
.checkout-onepage-success #main .page #checkout-success h3,.checkout-onepage-success #main .page #checkout-success h3 span{font-size:18px}
.checkout-onepage-success #main .page{position:relative;top:auto;left:auto;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.checkout-onepage-success #main{margin-left:0;margin-right:0;min-height:0}
.checkout-onepage-success #main .page #checkout-success{margin:20px 0 15px;padding:30px 20px}
}
.checkout-onepage-success .footer-container{margin-top:0}