@media (max-width:767px){#contact #show-rooms-map{display:none}
#contact form#contactForm .btn,#contact form#contactForm button,#contact form#contactForm input,#contact form#contactForm select{max-width:100%}
#contact form#contactForm select#contact-title{max-width:50%}
#contact h3{text-align:center}
#contact .uk-width-4-10.last{-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1;margin-bottom:40px!important}
#contact .uk-width-4-10.last .wrapper{max-width:none;margin-right:auto}
#contact .uk-width-6-10{-webkit-box-ordinal-group:3;-webkit-order:2;-moz-box-ordinal-group:3;-ms-flex-order:2;order:2}
#contact .location{margin-bottom:20px}
#contact button[type=submit]{width:100%}
}