#contact h3,#contact h4{text-align:left}
#contact h4{font-size:18px;line-height:30px;margin-bottom:10px}
#contact h4.country{font-size:14px;font-family:AvenirLTStd-Black;margin-left:auto;margin-right:auto;line-height:25px;display:block;text-align:center;margin-bottom:20px}
#contact #show-rooms-map{display:block;height:605px;margin-bottom:40px}
#contact a.show-on-map{color:#a87357;display:inline-block;margin-top:15px;line-height:20px;letter-spacing:1.8px;font-size:12px}
#contact #contact-messages .messages{margin-bottom:22px}
#contact .last .wrapper{max-width:388px;margin-left:auto}
#contact form#contactForm .btn,#contact form#contactForm button,#contact form#contactForm input,#contact form#contactForm select{min-width:0;max-width:293px;width:100%}
#contact form#contactForm textarea{width:100%}
#contact form#contactForm select#contact-title{max-width:0;min-width:168px}
#contact .location{margin-bottom:40px}
#contact .location address,#contact .location p{font-size:12px;line-height:18px}
#contact .location address{margin-bottom:10px}
#contact .google-map-marker{width:45px}
#contact-us-modal h3{text-transform:initial}
@media (max-width:767px){#contact #show-rooms-map{display:none}
#contact form#contactForm .btn,#contact form#contactForm button,#contact form#contactForm input,#contact form#contactForm select{max-width:100%}
#contact form#contactForm select#contact-title{max-width:50%}
#contact h3{text-align:center}
#contact .uk-width-4-10.last{-webkit-box-ordinal-group:2;-webkit-order:1;-moz-box-ordinal-group:2;-ms-flex-order:1;order:1;margin-bottom:40px!important}
#contact .uk-width-4-10.last .wrapper{max-width:none;margin-right:auto}
#contact .uk-width-6-10{-webkit-box-ordinal-group:3;-webkit-order:2;-moz-box-ordinal-group:3;-ms-flex-order:2;order:2}
#contact .location{margin-bottom:20px}
#contact button[type=submit]{width:100%}
}