body.out-of-stock {
    #out-of-stock {
        display: block;
    }

    #product-addtocart-button, .call-us-btn, .call-us-mobile-btn {
        display: none;
    }

    #product-single-header .add-to-cart.border-bottom {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #product-single-header .add-to-cart .call-us-container a.btn.call-us-btn, #product-single-header .add-to-cart .call-us-container a.call-us-mobile-btn {
        display: none;
    }
}
