<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php
$name=$this->__('Name:');
$email=$this->__('E-Mail:');
$comment=$this->__('Comment');
$url=$this->__('Website:');
?>
<form id="respond" method="post" action="<?php echo $this->getCommentFormAction() ?>">
    <div class="display-none">
        <input type="hidden" name="comment_post_ID" value="<?php echo $this->getPostId() ?>"/>
        <input type="hidden" name="comment_parent" id="comment_parent" value="<?php echo (int)$this->getRequest()->getParam('replytocom', 0) ?>"/>
    </div>
    <div class="fieldset">




        <?php if ($this->customerMustLogin()): ?>
            <p><?php echo $this->__('Sorry, you must be logged in to post a comment.') ?></p>
            <p><button class="button btn-login" type="button" onclick="setLocation('<?php echo $this->getLoginLink() ?>');"><span><span><?php echo $this->__('Login') ?></span></span></button></p>
        <?php else: ?>


            <div class="contacts-form">

                <?php if (!$this->isCustomerLoggedIn()): ?>
                    <div class="col-md-6">
                        <div class="form-group"> <span class="icon icon-user"></span>
                            <input type="text" name="author" class="form-control  required-entry" placeholder="<?php echo $name ?>" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="form-group"> <span class="icon icon-envelop"></span>
                            <input type="text" name="email" class="form-control required-entry validate-email" placeholder="<?php echo $email ?>">
                        </div>
                    </div>
                <?php endif; ?>

                <div class="col-md-12">
                    <div class="form-group"> <span class="icon icon-earth"></span>
                        <input type="text" name="url" class="form-control" placeholder="<?php echo $url ?>">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group"> <span class="icon icon-bubbles-2"></span>
                        <textarea class="form-control required-entry" name="comment"  placeholder="<?php echo $comment ?>"></textarea>
                    </div>

                    <?php echo $this->getChildHtml('before_form_end') ?>

                    <?php if (!$this->customerMustLogin()): ?>


                        <button type="submit" class="btn btn-mega" value="Post your comment" id="post-the-comment"><?php echo $this->__('Leave a comment') ?></button>
                        <span class="please-wait" id="respond-please-wait" style="display:none;">
                            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Please wait...') ?>" class="v-middle" /> <?php echo $this->__('Please wait...') ?>
                        </span>

                    <?php endif; ?>

                </div>
            </div>

        <?php endif; ?>
    </div>

    <?php if (!$this->customerMustLogin()): ?>
        <script type="text/javascript">
            //<![CDATA[
            new fishpig.WP.Comments.Form('respond', '<?php echo $this->getPost()->getPermalink() ?>');
            //]]>
        </script>
    <?php endif; ?>
</form>