html {
    direction: rtl;
    text-align: right
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    float: right;
    margin-left: 5px
}

.pull-right {
    float: left !important
}

.pull-left {
    float: right !important
}

th {
    text-align: right
}

.dropdown-menu {
    left: auto;
    right: 0
}

.dropdown-menu.pull-right {
    left: 0;
    right: auto
}

.caret.min {
    margin-left: 0;
    margin-right: 4px;
    left: 10px;
    right: auto
}

.btn-group .caret.min {
    left: -2px
}

.btn-select .value, .btn-select-wide .btn {
    text-align: right
}

.navbar-main-menu {
    direction: ltr !important;
    margin: 0 -40px 0 0
}

.navbar-main-menu .item {
    float: right
}

.navbar-main-menu .item-content {
    float: none;
    margin-left: 0;
    margin-right: -100%
}

.navbar-secondary-menu .caret {
    margin-left: 4px;
    margin-right: 4px
}

.navbar-secondary-menu .btn-default, .navbar-secondary-menu .open .btn-default {
    border-color: #E7E7E7;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    padding-right: 15px !important;
    padding-left: 0
}

.navbar-secondary-menu .icon {
    float: right;
    margin-right: 0;
    margin-left: 4px
}

.navbar-compact .navbar-secondary-menu .btn-default {
    border-right: 0 none
}

header.variant4 .navbar-secondary-menu {
    direction: ltr
}

header.variant4 .navbar-secondary-menu .btn-default, header.variant4 .navbar-secondary-menu .open .btn-default {
    padding-right: 0 !important;
    padding-left: 15px !important
}

@media (max-width: 991px) and (min-width: 768px) {
    .responsive .navbar-compact .navbar-secondary-menu.pull-right {
        float: left !important;
    }
}

.navbar-compact .navbar-main-menu:before {
    width: 25px;
    float: right
}

.navbar-main-menu .sf-menu > li > a:before {
    border-left: 1px solid #E7E7E7;
    content: " ";
    display: inline;
    right: -15px;
    position: relative;
}

.navbar-compact .navbar-main-menu .item .line:before, .navbar-compact .navbar-main-menu .sf-menu > li > a:before {
    right: -7px !important;
}

.navbar-main-menu .item:first-child {
    margin-left: 0;
    margin-right: 25px
}

.navbar-main-submenu .exclusive li {
    float: right
}

.icon-xcart-animate {
    margin: -5px 10px 0 0
}

.sf-menu > li {
    float: right !important
}

.sf-menu ul {
    left: auto;
    right: 0 !important
}

.sf-menu ul ul {
    left: auto !important;
    right: 100% !important
}

.sf-arrows ul .sf-with-ul:after {
    right: auto !important;
    left: 20px !important;
    content: '\e078' !important
}

.owl-carousel {
    direction: ltr !important
}

.owl-theme .owl-controls {
    left: 10px !important;
    right: auto !important
}

.flex-direction-nav {
    right: auto !important;
    left: 0 !important
}

.input-control .button {
    float: left;
    margin-left: 0;
    margin-right: -34px
}

.input-control input.form-control {
    padding-left: 34px
}

.find-us li {
    display: block;
    float: right;
    margin-left: 28px;
    margin-right: 0
}

.find-us .divider:before {
    border-right: 1px solid #E7E7E7;
    border-left: 0;
    right: -14px;
    left: 0
}

.flex-viewport {
    direction: ltr !important
}

.expander-list .expander {
    float: left
}

.list-info .icon {
    margin: 0 0 3px 5px
}

.styled-list li:before {
    float: right
}

.styled-list.arrow > li {
    margin-right: -15px;
    padding-right: 35px
}

.styled-list.arrow > li:before {
    margin: -1px -20px 0 8px
}

.styled-list .circle li:before, .styled-list.circle li:before {
    margin: -1px 0 0 10px
}

.arrow-list li {
    padding-right: 12px
}

.arrow-list li:before {
    content: "‹";
    left: auto;
    right: 0
}

.small-previews {
    float: left
}

.product-description .option {
    padding: 0 0 40px 15px
}

.accordion-simple {
    text-align: right
}

.accordion-simple .arrow-down, .accordion-simple .arrow-up {
    float: left
}

.accordion-simple .panel-body {
    padding: 0 0 1em 2em
}

.dropcap {
    float: right;
    margin: -2px 0 0 5px
}

.quantity-control .input-group-addon:last-child {
    border-radius: 2px 0 0 2px
}

.quantity-control .input-group-addon:first-child {
    border-radius: 0 2px 2px 0
}

.tabs-left .nav-tabs, .responsive .tabs-left .nav-tabs {
    float: right;
    margin-left: 0;
    padding: 0;
}

.tabs-left .nav-tabs > li > a, .responsive .tabs-left .nav-tabs > li > a {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    margin-right: 0
}

.tabs-left .tab-content-outer, .responsive .tabs-left .tab-content-outer {
    border-color: #EE3B27;
    border-style: none solid none none;
    border-width: 0 3px 0 0
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive .tabs-left .tab-content-outer {
        width: 75%;
    }

    .responsive .tabs-left .nav-tabs {
        width: 25%
    }
}

@media (max-width: 767px) {
    .tabs-left .tab-content-outer, .responsive .tabs-left .tab-content-outer {
        border-color: #EE3B27;
        border-style: none;
        border-width: 0
    }

    .nav-tabs > li > a {
        padding: 8px 5px 5px;
        font-size: 0.9em;
        line-height: 1.2em;
    }
}

.services-block .divider-right:after {
    display: none
}

.services-block .divider-right:before {
    display: block;
    content: " ";
    position: absolute;
    top: 25px;
    bottom: 25px;
    width: 1px;
    right: 0;
    font-size: 0;
    line-height: 0;
    border-left: 1px solid #e7e7e7
}

.services-block .divider-right:first-child:before {
    border-left: none
}

#stcpDiv, .stwrapper {
    left: 0 !important
}

.products-list-in-row .product-preview {
    text-align: right !important
}

.products-list-in-row .list_rating span {
    float: left
}

.products-list-in-row .product-preview .preview {
    float: right;
    margin-right: 0;
    margin-left: 15px
}

@media (min-width: 768px) {
    .responsive .col-sm-1, .responsive .col-sm-10, .responsive .col-sm-11, .responsive .col-sm-12, .responsive .col-sm-2, .responsive .col-sm-3, .responsive .col-sm-4, .responsive .col-sm-5, .responsive .col-sm-6, .responsive .col-sm-7, .responsive .col-sm-8, .responsive .col-sm-9 {
        float: right
    }
}

@media (min-width: 992px) {
    .col-md-2, .responsive .col-md-1, .responsive .col-md-10, .responsive .col-md-11, .responsive .col-md-12, .responsive .col-md-3, .responsive .col-md-4, .responsive .col-md-5, .responsive .col-md-6, .responsive .col-md-7, .responsive .col-md-8, .responsive .col-md-9 {
        float: right
    }
}

@media (min-width: 1200px) {
    .responsive .col-lg-1, .responsive .col-lg-10, .responsive .col-lg-11, .responsive .col-lg-12, .responsive .col-lg-2, .responsive .col-lg-3, .responsive .col-lg-4, .responsive .col-lg-5, .responsive .col-lg-6, .responsive .col-lg-7, .responsive .col-lg-8, .responsive .col-lg-9 {
        float: right
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-secondary-menu .open .btn-default, .responsive .navbar-secondary-menu .btn-default {
        padding-left: 4px;
        padding-right: 7px !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive .navbar-secondary-menu .btn-group:first-child .btn-default {
        padding-right: 0 !important
    }
}

@media (max-width: 767px) {
    .responsive .mobile-nav .nav-item.item-01 > a {
        right: 0
    }

    .responsive .mobile-nav .nav-item.item-02 > a {
        right: 25%
    }

    .responsive .mobile-nav .nav-item.item-03 > a {
        right: 50%
    }

    .responsive .mobile-nav .nav-item.item-04 > a {
        right: 75%
    }

    .responsive .mobile-nav .nav-item > a {
        border-left: none;
        border-right: 1px solid #3f3f3f;
        float: right
    }

    body.off-canvas-menu-open.responsive #outer-canvas {
        margin-left: auto;
        margin-right: 280px
    }

    .responsive #outer-canvas:before {
        left: auto;
        right: -100%
    }

    .responsive #off-canvas-menu {
        left: auto;
        right: -280px
    }

    body.off-canvas-menu-open.responsive #off-canvas-menu {
        left: auto;
        right: 0
    }

    .responsive #off-canvas-menu-close {
        float: left;
        padding: 12px 0 12px 12px
    }

    .responsive #off-canvas-menu .expander-list .name {
        padding: 10px 25px 10px 10px
    }

    .responsive #off-canvas-menu ul li a {
        padding-left: 0
    }

    .responsive #off-canvas-menu-title {
        padding-left: 0;
        padding-right: 25px
    }

    .responsive .collapsed-block .expander {
        float: left
    }
}

@media (max-width: 1199px) {
    .responsive .services-block.small .item {
        padding: .5em 0
    }

    .responsive .services-block .title {
        font-size: 1.6em
    }

    .responsive .services-block .icon {
        width: 65px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive .services-block .item {
        text-align: center
    }

    .responsive .services-block .item .text {
        text-align: right
    }

    .responsive .services-block .icon {
        display: inline-block;
        float: none;
        text-align: center
    }

    .responsive .services-block.vertical.small div:nth-child(odd) .item {
        border-right: 0;
        border-left: 1px solid #e7e7e7
    }
}

@media (max-width: 767px) {
    .responsive .products-list-in-row .list_rating span {
        float: right
    }
}

.jcarousel-skin-previews .jcarousel-prev, .jcarousel-skin-previews .jcarousel-next {
    right: auto;
    left: 0;
}

.jcarousel-skin-previews .jcarousel-prev {
    right: auto;
    left: 20px;
}

.products-widget .name {
    padding-right: 0;
}

.product-view-container .product-view .product-qr-code {
    bottom: 0;
    position: absolute;
    left: 15px !important;
    right: inherit;
}

.product-view .close-view {
    float: left;
}

.social-widgets {
    direction: ltr !important;
}

.carouFredSel .carouFredSel-controls {
	right: auto;
	left: 0;
}

.carouFredSel .carouFredSel-controls .carouFredSel-buttons a {
	float: left;
}
#hoverfold, #hoverfold .hoverfold-item {
	direction: ltr !important;
	text-align: left;
}