@import (reference) "../common/_extendableStyles.less";

#lookbook {

	#lookbook-roller-detail-title {
		margin-bottom: 12px;
	}

	.social-media-links {
		margin-top: 35px;

	}

	#lookbook-roller.uk-grid .social-media-links {
		margin-bottom: 50px;

		@media(max-width: @tablet-media-query) {
			margin-bottom: 35px;
		}
	}

	.lookbook-pane {
		text-align: center;
		position: relative;

		.zoom-btn {
			display: none;
			position: absolute;
			top: 15px;
			right: 15px;
			width: 29px;
			height: 29px;
			background: url(/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-MOBILE@2x.png) no-repeat;
			-webkit-background-size: 29px 29px;
			-moz-background-size: 29px 29px;
			-o-background-size: 29px 29px;
			background-size: 29px 29px;
		}
	}


	&.close-btn-color-dark {
		.lookbook-pane {
			.zoom-btn {
				display: none;
				position: absolute;
				top: 15px;
				right: 15px;
				width: 29px;
				height: 29px;
				-webkit-background-size: 29px 29px;
				-moz-background-size: 29px 29px;
				-o-background-size: 29px 29px;
				background-size: 29px 29px;
				background-image: url(/skin/frontend/RalphAndRusso/default/images/lookbook/EXPAND-ICON-DARK-MOBILE@2x.png);
			}
		}
	}

}

.uk-touch {
	#lookbook, #lookbook.close-btn-color-dark {
		.lookbook-pane {
			&.btn-active {
				.zoom-btn {
					display: block;
				}
			}
		}
	}
}

#product-variation-name, #lookbook-roller-detail-short-description {
	text-transform: uppercase;
	margin-top: 5px;
	text-align: center;
}


#lookbook-roller-detail-short-description {
	margin-bottom: 20px;
}

@media (max-width: @mobile-media-query) {
	#lookbook-pane-modal .uk-modal-dialog .img-container a.zoom-btn {
		display: none;
	}

	#main #mobile-scroll-top {
		display: none;
	}

}

