<?php
$slides = $this->getDataSlides();
if($slides && Mage::getStoreConfig('megatronlayout/options/revolution_slider_init')):
?>

<!-- Slider REVOLUTION-->


<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>etheme/megatron/revolution_advanced/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>etheme/megatron/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>etheme/megatron/revolution_advanced/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" >
    jQuery(function ($) {
        "use strict";
        $("#slider .scroll-down").click(function () {
            $("html, body").animate({
                scrollTop: $("#slider").height()
            }, 400);
        });
        $(window).scroll(function () {
            if ( $(window).scrollTop() > 0) {$("#slider .scroll-down").stop(true.false).fadeOut()}
            else {$("#slider .scroll-down").stop(true.false).fadeIn()}
        })
    });
</script>
    <section id="slider" class="hidden-xs visible-lg visible-md">
        <a class="scroll-down animate-move-down" href="#" style="opacity: 1; display: block;"> <span class="icon icon-arrow-down-5"></span> <?php echo $this->__('scroll to view content') ?> </a>
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <?php
                    $slides = $this->getDataSlides();
                    foreach($slides as $slide)
                    {
                        echo str_replace(array('{{BASE}}media/',"{{LINK}}"), array(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA), $slide['link']),$slide['slide_html_code']);
                    }
                    ?>
                </ul>
            </div>
        </div>
    </section>


    <script type="text/javascript">

        jQuery(document).ready(function() {

            jQuery('.tp-banner').show().revolution(
                {
                    dottedOverlay:"none",
                    delay:16000,
                    startwidth:1170,
                    startheight:795,
                    hideThumbs:200,

                    thumbWidth:100,
                    thumbHeight:50,
                    thumbAmount:5,

                    navigationType:"none",
                    navigationArrows:"solo",
                    navigationStyle:"none",

                    touchenabled:"on",
                    onHoverStop:"on",

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,

                    parallax:"mouse",
                    parallaxBgFreeze:"on",
                    parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

                    keyboardNavigation:"off",

                    navigationHAlign:"center",
                    navigationVAlign:"bottom",
                    navigationHOffset:0,
                    navigationVOffset:20,

                    soloArrowLeftHalign:"left",
                    soloArrowLeftValign:"center",
                    soloArrowLeftHOffset:20,
                    soloArrowLeftVOffset:0,

                    soloArrowRightHalign:"right",
                    soloArrowRightValign:"center",
                    soloArrowRightHOffset:20,
                    soloArrowRightVOffset:0,

                    shadow:0,
                    fullWidth:"off",
                    fullScreen:"on",

                    spinner:"off",

                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,

                    shuffle:"off",

                    autoHeight:"off",
                    forceFullWidth:"off",



                    hideThumbsOnMobile:"off",
                    hideNavDelayOnMobile:1500,
                    hideBulletsOnMobile:"off",
                    hideArrowsOnMobile:"off",
                    hideThumbsUnderResolution:0,
                    hideTimerBar:"on",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    startWithSlide:0,
                    fullScreenOffsetContainer: ".navbar"
                });


        });	//ready

    </script>


    </script>



    <!-- //end Slider REVOLUTION -->
<?php endif;?>