<?php
$slides = $this->getDataSlides();
$use_banners=(Mage::getStoreConfig('megatronlayout/options/simple_slider_banners') && $id=Mage::getStoreConfig('megatronlayout/options/simple_slider_banners_block'));

if($slides && Mage::getStoreConfig('megatronlayout/options/simple_slider_init')):
?>

<!-- Slider SIMPLE-->

    <section class="main-slider container <?php if(Mage::getStoreConfig('megatronlayout/options/slider')=='megatron'):?> visible-xs visible-sm visible-md <?php endif;?>">

        <?php if(!$use_banners && Mage::getStoreConfig('megatronlayout/options/simple_slider_anim')=='fade'):?>
            <div class="ss-slides">
                <?php
                $slides = $this->getDataSlides();
                foreach($slides as $slide)
                {
                    ?>
                    <div class="ss-slide"><a href="<?php echo $slide['link']?>"><img src="<?php echo Mage::getBaseUrl('media') . $slide['image'];?>" alt=""> </a></div>
                <?php } ?>
            </div>
            <script type="text/javascript">
                /* wait for images to load */
                jQuery(window).load( function() {
                    jQuery('.ss-slides').smoothSlides({
                        duration: 5000,
                        nextText: '',
                        prevText: '',
                        effect: 'zoomIn',
                        effectEasing: 'ease-in-out',
                        pagination: 'false'
                    });
                });
            </script>
        <?php else:?>
              <div class="owl-slider-outer">
                <div class="owl-slider">
                  <?php
                    $slides = $this->getDataSlides();
                    foreach($slides as $slide)
                    {
                    ?>
                    <div class="item"><a href="<?php echo $slide['link']?>"><img src="<?php echo Mage::getBaseUrl('media') . $slide['image'];?>" alt=""> </a></div>
                  <?php } ?>
                </div>
              </div>
                <?php if($use_banners):?>
                    <div class="banners-block">
                        <?php

                            echo $this->getLayout()->createBlock("cms/block")->setBlockId($id)->toHtml();

                        ?>
                    </div>
                <?php endif;?>
        <?php endif;?>
    </section>
   <!-- //end Slider SIMPLE-->


<script type="text/javascript" >
    var mainOwlSlider = function () {
            var $containerw = jQuery(".container").width(),
                $owlslider = jQuery(".owl-slider"),
                $bannersblock = $owlslider.parent().next(".banners-block"),
                $owlsliderw = "100%",
                
                $owlsliderh = $bannersblock.height();


            if ($bannersblock.length > 0) $owlsliderw = "70%";
            $owlslider.parent().css({
                width: $owlsliderw
            });
            $owlslider.parent().css({
                height: $owlsliderh
            });
            $owlslider.find(".item img").css({
                width: $containerw
            });
            $owlslider.owlCarousel({
                paginationSpeed : 800,
                slideSpeed: 1000,
                singleItem: true,
                navigation: true,
                rewindNav: true,
                navigationText: ["", ""],
                pagination: false,
                autoPlay: true,
                cycle: true,
                <?php if(Mage::getStoreConfig('megatronlayout/options/simple_slider_anim')=='fade'):?>
                transitionStyle: "fade",
                <?php endif; ?>
                stopOnHover: true
            })
        };

    jQuery(window).load(function () {

        mainOwlSlider();
    })
    jQuery(window).resize(function () {
        mainOwlSlider();
    })
</script>
<?php endif;?>