<?php
$slides = $this->getDataSlides();
if($slides && Mage::getStoreConfig('megatronlayout/options/megatron_slider_init')):
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>etheme/megatron/jquery.rw-slider.js"></script>
<script type="text/javascript" >
    jQuery(function ($) {
        "use strict";
        $( ".rw-slider" ).rwSlider({
            swipe: true
        });

        $( ".rw-slider .scroll-down" ).click(function() {
            $( "html, body" ).animate({
                scrollTop: $(".rw-slider").height()
            }, 400);
        });

        $(window).scroll(function () {
            if ( $(window).scrollTop() > 0) {$(".rw-slider .scroll-down").stop(true.false).fadeOut()}
            else {$(".rw-slider .scroll-down").stop(true.false).fadeIn()}
        })
    });



</script>
<!-- Slider MEGATRON-->
<section class="main-slider rw-slider hidden-xs hidden-sm hidden-md">
    <ul>
        <?php
            $slides = $this->getDataSlides();
            foreach($slides as $slide)
            {
                $left=$slide['leftpos']?$slide['leftpos']:10;
                $top=$slide['toppos']?$slide['toppos']:40;
                $width=$slide['width']?$slide['width']:100;

                ?>
                <li>
                    <a href="<?php echo $slide['link']?>"><img src="<?php echo Mage::getBaseUrl('media') . $slide['image'];?>" data-rw-slider="main: true; move: true;" alt=""></a>
                    <a href="<?php echo $slide['link']?>" style="position: absolute; left:<?php echo $left?>%;top:<?php echo $top?>%;width:<?php echo $width?>%;<?php echo $slide['extra']?>">
                        <?php if($slide['caption'])echo $slide['caption']?>
                    </a>
                </li>
                <?php
            }
        ?>
    </ul>
    <?php if(count($slides)>1 && Mage::getStoreConfig('megatronlayout/options/megatron_slider_arrows')):?>
    <a href="#" class="control prev animate-scale"><span class="icon-arrow-left-5"></span></a>
    <a href="#" class="control next animate-scale"><span class="icon-untitled"></span></a>
    <?php endif;?>
    <?php if(Mage::getStoreConfig('megatronlayout/options/megatron_slider_scroll')):?>
    <a href="#" class="scroll-down animate-move-down"> <span class="icon icon-arrow-down"></span> <?php echo $this->__('scroll to view content') ?> </a>
    <?php endif;?>
</section>
<!-- //end Slider -->
<?php endif;?>