.padded-container{padding-left:30px;padding-right:30px}
.none-floated-columns{float:none;margin-left:0;width:100%;margin-bottom:20px;padding-left:0}
.close-character{width:38px;height:38px;position:absolute;z-index:102;background:url(../images/layout/CROSS-DESKTOP@2x.png);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;top:40px;right:100px;cursor:pointer}
.contraint-container{max-width:1280px;padding-left:30px;padding-right:30px;display:block;margin-left:auto;margin-right:auto;width:100%}
blockquote{text-align:center}
.narrow-container{width:100%;padding-left:70px;padding-right:70px}
.social-media-links{cursor:default;height:20px;position:relative;display:block;padding:0;margin:25px 0 0;font-size:0}
.social-media-links a{display:inline-block;margin-right:30px;height:100%;width:24px;background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.social-media-links a:last-child{margin-right:0}
.social-media-links a.facebook,.social-media-links a.flickr,.social-media-links a.instagram,.social-media-links a.pinterest,.social-media-links a.twitter{background-image:url(http://placehold.it/17x15)}