@media (max-width:1024px){.narrow-container{padding-left:20px;padding-right:20px}
#scroll-to-top{right:-10px!important}
}
@media (max-width:1060px){.caption h3,section .simple-grid-container .overlay h3{margin-bottom:5px}
.caption .btn,section .simple-grid-container .overlay .btn{margin-top:10px}
.caption,.caption .btn.last,section .simple-grid-container .overlay .btn.last{margin-top:15px}
.hero-img-container section .container h3{margin-bottom:10px}
}
@media (min-width:768px) and (max-width:1060px){.static-page .static-page-nav .wrapper ul a,.static-page .static-page-nav .wrapper ul li{font-size:12px;line-height:18px}
.hero-img-container,section,section.grid-section,section.video-section{margin-bottom:40px}
.caption .btn,section .simple-grid-container .overlay .btn{width:130px}
.caption .btn.last,section .simple-grid-container .overlay .btn.last{line-height:14px}
.introductory-copy{font-size:14px;line-height:22px}
.hero-img-container section .container h3{font-size:10px}
section.grey-bg-section{padding-top:40px;padding-bottom:40px}
}
@media (max-width:960px){.static-page .static-page-nav{width:40%}
.static-page .static-page-nav .wrapper{padding-left:10%;padding-right:10%}
.static-page .uk-width-6-10{width:60%}
.static-page .uk-width-6-10 .wrapper{padding-left:0}
}