@media (max-width:767px){#main .static-page .uk-grid .static-page-nav{display:none}
#main .static-page .uk-grid .uk-width-6-10 .wrapper{padding-left:0}
#main .static-page .uk-table{width:100%;display:block;overflow-y:hidden;background-color:rgba(168,115,87,.2)}
#main .static-page .uk-table [class*=uk-width]{padding-left:15px;margin:0;display:table-cell}
.hero-img-container,.info-page .divider,section,section.grey-bg-section,section.grid-section,section.reduced-gutter,section.video-section{margin-bottom:30px}
#main .static-page .uk-table td,#main .static-page .uk-table th{min-width:200px}
#main .static-page .uk-table thead{background-color:transparent}
#main section#runway-looks.carousel-section .btn:not(.inverted){display:inline-block}
iframe{height:400px}
section.grey-bg-section{padding-top:30px;padding-bottom:0}
.simple-grid-container .overlay-container.restricted-mobile .overlay.centered{-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);top:0;margin-top:0;padding-top:20%;height:100%}
.simple-grid-container .overlay-container.restricted-mobile .overlay.centered div a.btn{position:absolute;bottom:10%;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.simple-grid-container .overlay-container .overlay{margin-top:15px}
.introductory-copy,p.h3{padding-bottom:30px}
.info-page section .uk-grid img{display:block;margin-left:auto;margin-right:auto}
.info-page section .uk-grid+.uk-grid{margin-top:0}
.info-page .line-separator{margin:0 0 30px}
}