<h3><?php echo $this->getBlockName();?></h3>
<?php if (($_productCollection = $this->getProductCollection()) && $_productCollection->getSize()): ?>
    <!-- Products list -->

    <div class="row">
        <div class="product-carousel">
            <?php foreach ($_productCollection as $_product): ?>
                <?php  if(!$_product->isSaleable() && !Mage::getStoreConfig('cataloginventory/options/show_out_of_stock'))continue; ?>
                <?php
                $widthBig=283;
            $heightBig=343;
                $price=$this->getPriceHtml($_product, true);
                ?>
                <?php
                /*
                 * Product Preview HTML  is using in many blocks (category listing, shortcodes).
                 * That is why Product Preview HTML generation collected in one function drawProductPreview()
                 * You can edit this function  in file \app\code\local\Etheme\Megatronconfig\Helper\Data.php
                */
                ?>
                <?php  echo Mage::helper('megatronconfig')->drawProductPreview($_product,$this,$widthBig,$heightBig,$price,false,'',true)?>
            <?php endforeach ?>
        </div>
    </div>
<?php endif; ?>